.method-block.method-block--coding
    .section__title-block
        h2.section__title.section__title--bg Медикаментозное кодирование:
    .method-block__inner
        .method-block__text.text
            p #[strong В бытовом простонародном языке – «кодировка».] В виду простоты исполнения часто 
                | используется неспециалистами в области наркологии, или недостаточно подготовленными врачами
                | наркологами, не владеющими методами психотерапии.
            p #[strong Пациенту в лучшем случае читается лекция] о вреде алкоголизма, как бросить пить алкоголь, 
                | и сообщается, что ему сейчас будет введён “супер-препарат”, который отложится в печени или в 
                | мозге, и если он выпьет, то неминуемо умрёт или повредит своё здоровье. Таким образом, всё 
                | внимание пациента привлекается к факту введения препарата и внушению страха перед ним. 
                | Его выбирают в основном со-зависимые родственники – жена, мать, которые надеются, что это 
                | заставит их пьющего мужа-сына бросить пить из страха смерти. 
        .method-block__img.gradient
            img(src="./wp-content/themes/genesis/assets/img/medical-coding.jpg" alt="Медикаментозное кодирование" width="595" height="375") 