section.services--short
    .container
        .services-cards 
            article.service__card
                .card__price.label от 2 000 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/alcoholism.jpg" alt="Лечение алкоголизма" width="391" height="162")
                h3.card__title.card__title--services Лечение алкоголизма
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее
            article.service__card
                .card__price.label от 4 000 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/smoking.jpg" alt="Лечение табакокурения" width="391" height="162")
                h3.card__title.card__title--services Лечение табакокурения
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее
            article.service__card
                .card__price.label от 2 500 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/drug-addiction.jpg" alt="Лечение наркомании" width="391" height="162")
                h3.card__title.card__title--services Лечение наркомании
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее
            article.service__card 
                .card__price.label от 2 000 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/coding.jpg" alt="Кодирование от алкоголизма" width="391" height="162")
                h3.card__title.card__title--services Кодирование от алкоголизма
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее
            article.service__card 
                .card__price.label от 4 000 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/alcohol-intoxication.jpg" alt="Снятие алкогольной интоксикации" width="391" height="162")
                h3.card__title.card__title--services Снятие алкогольной интоксикации
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее
            article.service__card 
                .card__price.label от 2 000 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/binge.jpg" alt="Вывод из запоя" width="391" height="162")
                h3.card__title.card__title--services Вывод из запоя
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее
            article.service__card 
                .card__price.label от 2 000 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/psychologist-services.jpg" alt="Услуги психолога" width="391" height="162")
                h3.card__title.card__title--services Услуги психолога
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее
            article.service__card
                .card__price.label от 2 000 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/psychotherapist-services.jpg" alt="Услуги психотерапевта" width="391" height="162")
                h3.card__title.card__title--services Услуги психотерапевта
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее