section.article 
    .container 
        .article__flex 
            .publications__content
                time 23.04.2021
                .publications__left
                    .publications__content-img
                        img(src="./wp-content/themes/detox-med/assets/img/pochemu-alkogol-schitaetsja-vrednym.jpg", alt="Алкоголь вреден")
                    .tag 
                        a(href="!#") Алкогольная зависимость
                        a(href="!#") Интересное
                        a(href="!#") Полезное
                .publications__content-info
                    time 23.04.2021
                    .tag 
                        a(href="!#") Алкогольная зависимость
                        a(href="!#") Интересное
                        a(href="!#") Полезное
                    a(href="alcoholic-in-family.html"): h3 Почему алкоголь считается вредным?
                    p Многие люди не понимают, чем вреден алкоголь. Распространено мнение, что проблемы могут возникнуть 
                        |только при злоупотреблении спиртными напитками. ...
                        
                    a(href="alcoholic-in-family.html") Читать 
                        i ➔
            .publications__content
                time 17.04.2021
                .publications__left
                    .publications__content-img
                        img(src="./wp-content/themes/detox-med/assets/img/kak-ostatsja-trezvym-v-period-prazdnikov 1.jpg", alt="Как остаться трезвым во время праздников")
                    .tag 
                        a(href="!#") Алкогольная зависимость
                        a(href="!#") Интересное
                        a(href="!#") Полезное
                .publications__content-info
                    time 17.04.2021
                    .tag 
                        a(href="!#") Алкогольная зависимость
                        a(href="!#") Интересное
                        a(href="!#") Полезное
                    a(href="!#"): h3 Как остаться трезвым в период праздников?
                    p Алкоголизм – это болезнь нынешнего и прошлых веков. Приводит к желанию чрезмерно 
                        |употреблять спиртные напитки воспитание человека, закладка убеждений с детства, ...
                    a(href="") Читать 
                        i ➔
            .publications__content
                time 30.03.2021
                .publications__left
                    .publications__content-img
                        img(src="./wp-content/themes/detox-med/assets/img/stop-upotrebleniju-alkogolja.jpg", alt="Стоп употреблению алкоголя")
                    .tag 
                        a(href="!#") Алкогольная зависимость
                        a(href="!#") Кодирование
                        a(href="!#") Алкоголизм
                .publications__content-info
                    time 30.03.2021
                    .tag 
                        a(href="!#") Алкогольная зависимость
                        a(href="!#") Кодирование
                        a(href="!#") Алкоголизм
                    a(href="!#"): h3 Алкоголь и кодирование от спиртного
                    p Кодирование от алкоголя — популярная методика избавления от алкоголизма хотя бы на время. 
                        |Усталость организма от запоев, страдание семьи от пьяного человека, проблемы ...
                    a(href="") Читать 
                        i ➔
            .publications__content
                time 16.03.2021
                .publications__left
                    .publications__content-img
                        img(src="./wp-content/themes/detox-med/assets/img/alkogolnaja-intoksikacija-proishodit-pri-chrezmernom-potreblenii-alkogolja.jpg", alt="Детоксикация")
                    .tag 
                        a(href="!#") Детоксикация
                        a(href="!#") Алкоголизм
                .publications__content-info
                    time 16.03.2021
                    .tag 
                        a(href="!#") Детоксикация
                        a(href="!#") Алкоголизм
                    a(href="!#"): h3 Детоксикация организма после алкогольного опьянения
                    p Отравление организма алкогольными продуктами распада — одна из главных проблем сегодняшнего времени. Если обычные отравления ...
                    a(href="") Читать 
                        i ➔
            .publications__content
                time 23.04.2021
                .publications__left
                    .publications__content-img
                        img(src="./wp-content/themes/detox-med/assets/img/pochemu-alkogol-schitaetsja-vrednym.jpg", alt="Алкоголь вреден")
                    .tag 
                        a(href="!#") Алкогольная зависимость
                        a(href="!#") Интересное
                        a(href="!#") Полезное
                .publications__content-info
                    time 23.04.2021
                    .tag 
                        a(href="!#") Алкогольная зависимость
                        a(href="!#") Интересное
                        a(href="!#") Полезное
                    a(href="!#"): h3 Почему алкоголь считается вредным?
                    p Многие люди не понимают, чем вреден алкоголь. Распространено мнение, что проблемы могут возникнуть 
                        |только при злоупотреблении спиртными напитками. ...
                    a(href="") Читать 
                        i ➔
            .publications__content
                time 17.04.2021
                .publications__left
                    .publications__content-img
                        img(src="./wp-content/themes/detox-med/assets/img/vrach-sergej-kovalev.jpg", alt="Как остаться трезвым во время праздников")
                    .tag 
                        a(href="!#") Алкогольная зависимость
                        a(href="!#") Интересное
                        a(href="!#") Полезное
                .publications__content-info
                    time 17.04.2021
                    .tag 
                        a(href="!#") Алкогольная зависимость
                        a(href="!#") Интересное
                        a(href="!#") Полезное
                    a(href="!#"): h3 Как остаться трезвым в период праздников?
                    p Алкоголизм – это болезнь нынешнего и прошлых веков. Приводит к желанию чрезмерно 
                        |употреблять спиртные напитки воспитание человека, закладка убеждений с детства, ...
                    a(href="") Читать 
                        i ➔