section.article 
    .container 
        .article__flex 
            .publications__content
                time(datetime="2021-04-23") 23.04.2021
                .publications__left
                    .publications__content-img
                        img(src="./wp-content/themes/detox-med/assets/img/pochemu-alkogol-schitaetsja-vrednym.jpg", alt="Алкоголь вреден")
                    .tag 
                        a(href="!#") Алкоголизм
                        a(href="!#") Психология
                        a(href="!#") Кодирование
                .publications__content-info
                    time(datetime="2021-04-23") 23.04.2021
                    .tag 
                        a(href="!#") Алкоголизм
                        a(href="!#") Психология
                        a(href="!#") Кодирование
                    a(href="!#"): h3 Почему алкоголь считается вредным?
                    p Многие люди не понимают, чем вреден алкоголь. Распространено мнение, что проблемы могут возникнуть 
                        |только при злоупотреблении спиртными напитками. ...
                    a(href="") Читать 
                        i ➔
            .publications__content
                time(datetime="2021-04-17") 17.04.2021
                .publications__left
                    .publications__content-img
                        img(src="./wp-content/themes/detox-med/assets/img/kak-ostatsja-trezvym-v-period-prazdnikov1.jpg", alt="Как остаться трезвым во время праздников")
                    .tag 
                        a(href="!#") Алкоголизм
                        a(href="!#") Психология
                        a(href="!#") Кодирование
                .publications__content-info
                    time(datetime="2021-04-17") 17.04.2021
                    .tag 
                        a(href="!#") Алкоголизм
                        a(href="!#") Психология
                        a(href="!#") Кодирование
                    a(href="!#"): h3 Как остаться трезвым в период праздников?
                    p Алкоголизм – это болезнь нынешнего и прошлых веков. Приводит к желанию чрезмерно 
                        |употреблять спиртные напитки воспитание человека, закладка убеждений с детства, ...
                    a(href="") Читать 
                        i ➔
            .publications__content
                time(datetime="2021-03-30") 30.03.2021
                .publications__left
                    .publications__content-img
                        img(src="./wp-content/themes/detox-med/assets/img/stop-upotrebleniju-alkogolja.jpg", alt="Стоп употреблению алкоголя")
                    .tag 
                        a(href="!#") Алкоголизм
                        a(href="!#") Кодирование
                        a(href="!#") Психология
                .publications__content-info
                    time(datetime="2021-03-30") 30.03.2021
                    .tag 
                        a(href="!#") Алкоголизм
                        a(href="!#") Кодирование
                        a(href="!#") Психология
                    a(href="!#"): h3 Алкоголь и кодирование от спиртного
                    p Кодирование от алкоголя — популярная методика избавления от алкоголизма хотя бы на время. 
                        |Усталость организма от запоев, страдание семьи от пьяного человека, проблемы ...
                    a(href="") Читать 
                        i ➔
            .publications__content
                time(datetime="2021-03-16") 16.03.2021
                .publications__left
                    .publications__content-img
                        img(src="./wp-content/themes/detox-med/assets/img/alkogolnaja-intoksikacija-proishodit-pri-chrezmernom-potreblenii-alkogolja.jpg", alt="Детоксикация")
                    .tag 
                        a(href="!#") Кодирование
                        a(href="!#") Алкоголизм
                .publications__content-info
                    time(datetime="2021-03-16") 16.03.2021
                    .tag 
                        a(href="!#") Кодирование
                        a(href="!#") Алкоголизм
                    a(href="!#"): h3 Детоксикация организма после алкогольного опьянения
                    p Отравление организма алкогольными продуктами распада — одна из главных проблем сегодняшнего времени. Если обычные отравления ...
                    a(href="") Читать 
                        i ➔
        button.button Больше статей