section.conclusion-region.conclusion-region--pb
    .container
        h2.section__title Проводимые диагностические мероприятия
        p В работе нашей клиники применён комплексный подход в дистанционном лечении абстинентного синдрома (похмелья), 
            |а также комплексные диагностические мероприятия, которые мы осуществляем в Пушкине и Павловске. 
            |Врачи наркологического центра «ДетоксМед» проводят на месте:
        .steps
            ul 
                li: p Анализ крови, чтобы оценить работу печени
                li: p Содержание глюкозы крови
                li: p Анализ выдыхаемого воздуха на содержание алкоголя
                li: p Электрокардиографическое обследование
                li: p Оценивают насыщенность кислородом крови
                li: p Измерение артериального давления