section.symptoms
    .container
        h2.section__title Когда необходимо незамедлительно вызывать специалиста
        include ./../../bem-blocks/steps/step.pug
        button.btn-send.btn-red.show-modal-2.btn(data-toggle="modal-2") Вызвать нарколога