section.symptoms
    .container
        h2.section__title Когда необходимо незамедлительно вызывать специалиста
        include ./../../bem-blocks/steps/step.pug
        button.btn-send.btn-red.btn-viziv Вызвать нарколога