section.symptoms
    .container
        h2.section__title Когда необходимо незамедлительно вызывать специалиста
        .steps.step
            ul 
                li: p Озноб
                li: p  Бессонница
                li: p  Головная боль
                li: p  Ночные кошмары
                li: p  Бросание в жар
                li: p  Боль в животе
        p Наличие каких-либо клинических признаков обусловлено тем или иным видом зависимости.  
                |Перечень симптомов очень отличается в зависимости от возраста, пола, состояния жизненно-важных систем 
                |организма пациентов.
        p Осложнения разнообразны, особенно опасно поведение неадекватного человека, на фоне галлюцинаций и 
                |бреда. В этом состоянии человек способен  нанести вред себе и окружающим, поскольку не 
                |отличает галлюцинаций от реальности.
        p Также возможно возникновение судорожных припадков с потерей сознания, что само по себе опасно, 
                |поскольку может вызвать остановку сердца и дыхательную недостаточность.
        button.btn-red.btn-viziv Вызвать нарколога
            