section.symptoms
    .container
        h2.section__title Когда необходимо незамедлительно вызывать специалиста
        include ./../../bem-blocks/steps/step.pug
        button.btn-send.btn-red Вызвать нарколога
        p На услуги срочного вывода из запоя цена варьируется в пределах разумного. 
            |Анонимный вызов нарколога на дом предоставляется в условиях конфиденциальности. 
            |Обращение к специалисту – шанс помочь близкому человеку прекратить вести аморальный образ жизни. 
            |Доктор сможет убедить пройти курс психотерапии, мотивировать на отказ от спиртного.