section.post
    .container 
        article 
            .article__header 
                h1.main__title Алкоголик в семье
                p Мало из домочадцев может предположить, что такое несчастье как алкоголизм может 
                    |коснуться и его дома. Вроде всего хватает. Почему же алкогольная зависимость может придти и 
                    |в ваш дом? Почему это заболевание может захватить практически кого угодно?
                img(src="./wp-content/themes/detox-med/assets/img/alkogolik-v-seme.jpg", alt="Алкоголик в семье")
            .article__block 
                .article__block-img
                    img(src="./wp-content/themes/detox-med/assets/img/alkogolik-v-seme-jeto-vsegda-problema-dlja-okruzhajushhih.jpg", alt="")
                .article__block-txt
                    h3 Почему в семье возникают проблемы если есть алкоголик?
                    p Алкоголь приносит много несчастья в семью. Вначале это не кажется каким-то катастрофичным событием. 
                        |Но по мере развития болезни становится очевидным, что в семью пришла беда.
                    p Когда в доме есть алкоголик — это значит будут частые ссоры. Он не сможет контролировать свое 
                        |употребление спиртного и будет, скорей всего, часто напиваться, порой пропуская работу, 
                        |не выполняя домашние поручения по дому — купить что-то в магазине, прибрать дом, сварить ужин, проконтролировать детей.
            .article__block 
                h3 Почему алкоголик не может остановиться в употреблении алкоголя?
                p Алкоголь — это наркотик. Это определение было провозглашено еще в 1975 году Всемирной Организацией Здравоохранения. 
                        |Таким определением уже сказана половина того, почему человеку крайне тяжело отказываться от употребления 
                        |спиртных напитков. Воздействуя на мозг при попадании в организм, спирт заставляет его области, отвечающие 
                        |за радость, удовольствие и счастье, выделять вещества для раздражения этих рецепторов.
                .article__block-img
                    img(src="./wp-content/themes/detox-med/assets/img/pjanyj-chelovek-vsegda-navodit-besporjadok-v-dome.jpg", alt="Пьяный человек")
                .article__block-txt
                    
                    p После выпивания спиртосодержащего напитка, человек попадает в плен искусственно созданных ощущений 
                        |эйфории и удовольствия, причем уровень этих ощущений может намного превышать уровень 
                        |ощущений обычных радостей, которые сопровождают нашу жизнь. Это приводит к плохим результатам. 
                        |Подстроившись под новые уровни, центральная нервная система уже не воспринимает достаточно ярко 
                        |те уровни большого счастья, которые бывают у нас обычно — хорошая погода, красивая природа, 
                        |хорошие отношения в семье и отличные показатели на работе, радость результатами жизни. 
                        |Человеку создается впечатление, что без выпивки алкоголя все время чего-то не хватает. 
                        |И он снова и снова прикладывается к бутылке, чтобы получить сверхдозу эйфории.
                    p Мозг пьющего человека пытается активно заставить повторить алкогольные опьянения, 
                        |в ходе которых образуется такая мощная эйфория, веселье, радость, удовольствие. 
                        |Получается замкнутый круг — алкоголь дает мнимое эйфорическое воздействие на мозг, 
                        |мозг хочет потреблять алкоголь из-за этого эйфорического эффекта. Причем разомкнуть этот замкнутый круг мало кому удается
            