.method-block.method-block--medical
    .section__title-block
        h2.section__title.section__title--bg Медикаментозное лечение:
    .method-block__inner
        .method-block__text.text
            p #[strong Лекарственные препараты], которые используются в наркологии для лечения зависимостей, 
                | в своём составе имеют действующее вещество либо дисульфирам, в виде таблеток с названием «эспераль», 
                | «тетурам», «линдевин», либо цианамид – капли «колме». 
            p #[strong Механизм действия этих веществ] обусловлен блокадой альдегиддегидрогеназы, участвующей в 
                | метаболизме этанола. Блокада этого фермента приводит к повышению концентрации в крови метаболита 
                | этанола – ацетальдегида, вызывающего отрицательные ощущения (в т. ч. приливы крови к лицу, тошнота, 
                | тахикардия, одышка), которые делают чрезвычайно неприятным употребление алкоголя после приема 
                | препарата и приводят к условно-рефлекторному отвращению ко вкусу и запаху спиртных напитков. 
            p В последнее время стали использовать блокатор опиатных рецепторов налтрексон. 
        .method-block__img
            img(src="./wp-content/themes/genesis/assets/img/medical-treatment.jpg" alt="Медикаментозное лечение" width="595" height="375") 
