.logo
    a(href="index.html") 
        img(src="./wp-content/themes/genesis/assets/img/logo.png" alt="Logo")
    .logo__block
        a(href="index.html") 
            i ГЕНЕЗИС
            |
            br 
            |центр наркологии и психотерапии
        .logo__name г. Тольятти 