.logo
    a(href="index.html") 
        img(src="./wp-content/themes/detox-med/assets/img/logo.png" alt="Logo")
        a.logo__name(href="index.html") ДетоксМед
            span Наркологический центр