section.reviews
    .container
        .btn.btn--green Отзывы
        h2.section__title.section__title--reviews Отзывы о нашей работе
        .slider-wrap
            .swiper-container.swiper-reviews
                .swiper-wrapper
                    .swiper-slide.slide-reviews 
                        .slide-reviews__inner
                            .slide-reviews__text.text-italic
                                | "Мой муж, Сергей, последние 5 лет стабильно сильно выпивал и не хотел лечиться. 
                                | Недавно стало все совсем плохо и я потеряла всякую надежду на нормальную жизнь. 
                                | Подруга посоветовала обратиться в вашу частную клинику. Изучив условия и персонал я 
                                | решила обратиться. После первой встречи с Андреем Геннадьевичем муж твердо решил 
                                | изменить свою жизнь и пройти кодирование от алкоголизма. Пройдя курс кодировки от 
                                | алкоголя по цене, доступной для нашей семьи, он уже 7 месяцев не употребляет спиртные 
                                | напитки и категорически не хочет этого. Большое спасибо вам и вашим специалистам..."
                            .slide-reviews__author 
                                .author__avatar
                                    img(src="./wp-content/themes/genesis/assets/img/avatar.jpg" alt="Фото автора отзыва" width="100" height="105")
                                .author__name Кристина
                                .author__city г. Тольятти
                    .swiper-slide.slide-reviews 
                        .slide-reviews__inner
                            .slide-reviews__text.text-italic
                                | "Мой муж, Сергей, последние 5 лет стабильно сильно выпивал и не хотел лечиться. 
                                | Недавно стало все совсем плохо и я потеряла всякую надежду на нормальную жизнь. 
                                | Подруга посоветовала обратиться в вашу частную клинику. Изучив условия и персонал я 
                                | решила обратиться. После первой встречи с Андреем Геннадьевичем муж твердо решил 
                                | изменить свою жизнь и пройти кодирование от алкоголизма. Пройдя курс кодировки от 
                                | алкоголя по цене, доступной для нашей семьи, он уже 7 месяцев не употребляет спиртные 
                                | напитки и категорически не хочет этого. Большое спасибо вам и вашим специалистам..."
                            .slide-reviews__author 
                                .author__avatar
                                    img(src="./wp-content/themes/genesis/assets/img/avatar.jpg" alt="Фото автора отзыва" width="100" height="105")
                                .author__name Кристина
                                .author__city г. Тольятти
                    .swiper-slide.slide-reviews 
                        .slide-reviews__inner
                            .slide-reviews__text.text-italic
                                | "Мой муж, Сергей, последние 5 лет стабильно сильно выпивал и не хотел лечиться. 
                                | Недавно стало все совсем плохо и я потеряла всякую надежду на нормальную жизнь. 
                                | Подруга посоветовала обратиться в вашу частную клинику. Изучив условия и персонал я 
                                | решила обратиться. После первой встречи с Андреем Геннадьевичем муж твердо решил 
                                | изменить свою жизнь и пройти кодирование от алкоголизма. Пройдя курс кодировки от 
                                | алкоголя по цене, доступной для нашей семьи, он уже 7 месяцев не употребляет спиртные 
                                | напитки и категорически не хочет этого. Большое спасибо вам и вашим специалистам..."
                            .slide-reviews__author 
                                .author__avatar
                                    img(src="./wp-content/themes/genesis/assets/img/avatar.jpg" alt="Фото автора отзыва" width="100" height="105")
                                .author__name Кристина
                                .author__city г. Тольятти
            .swiper-button-prev--reviews
            .swiper-button-next--reviews
