section.reviews
    .container 
        .reviews__flex 
            .reviews__flex-box
                h3 Вероника
                    time(datetime="2020-03-12") 12.03.2021 г.
                p Наша семья просто молится на вас! Спасибо за спасение мужа от алкогольной
                    | зависимости. А также за чуткое и доброе отношение к нам и нашей проблеме. 
                    |Всем тем, кто живет с этой бедой, рекомендую обращаться в эту клинику
            .reviews__flex-box
                h3 Воронин Игнат
                    time(datetime="2020-12-03") 03.12.2020 г.
                p Спасибо за помощь и человеческое отношение. Муж не выходил из запоев, 
                    |уносил все деньги из семьи… Что только не пробовали… После лечения в клинике стал другим человеком!
            .reviews__flex-box
                h3 Воронин Игнат Игнатьевич
                    time(datetime="2020-12-03") 03.12.2020 г.
                p Спасибо за помощь и человеческое отношение.
            .reviews__flex-box
                h3 Вероника
                    time(datetime="2020-03-12") 12.03.2021 г.
                p Наша семья просто молится на вас! Спасибо за спасение мужа от алкогольной
                    | зависимости. А также за чуткое и доброе отношение к нам и нашей проблеме. 
                    |Всем тем, кто живет с этой бедой, рекомендую обращаться в эту клинику
            .reviews__flex-box
                h3 Воронин Игнат
                    time(datetime="2020-12-03") 03.12.2020 г.
                p Спасибо за помощь и человеческое отношение. Муж не выходил из запоев, 
                    |уносил все деньги из семьи… Что только не пробовали… После лечения в клинике стал другим человеком!
            .reviews__flex-box
                h3 Воронин Игнат Игнатьевич
                    time(datetime="2020-12-03") 03.12.2020 г.
                p Спасибо за помощь и человеческое отношение.
        button.button Больше отзывов