.reviews.revievs-page
    .containers
        blockquote
            em "Мой муж, Сергей, последние 5 лет стабильно сильно выпивал и не хотел лечиться. 
                |Недавно стало все совсем плохо и я потеряла всякую надежду на нормальную жизнь. 
                |Подруга посоветовала обратиться в вашу частную клинику. Изучив условия и персонал я 
                |решила обратиться. После первой встречи с Андреем Геннадьевичем муж твердо решил изменить 
                |свою жизнь и пройти кодирование от алкоголизма. Пройдя курс кодировки от алкоголя по цене, 
                |доступной для нашей семьи, он уже 7 месяцев не употребляет спиртные напитки и категорически не хочет этого. 
                |Большое спасибо вам и вашим специалистам.."
            figure 
                img(src="../wp-content/themes/genesis/assets/img/avatar.jpg", alt="Фото автора отзыва")
                figcaption 
                    strong Кристина 
                    | г. Тольятти
        blockquote
            em "Мой муж, Сергей, последние 5 лет стабильно сильно выпивал и не хотел лечиться. 
                |Недавно стало все совсем плохо и я потеряла всякую надежду на нормальную жизнь. 
                |Подруга посоветовала обратиться в вашу частную клинику. Изучив условия и персонал я 
                |решила обратиться. После первой встречи с Андреем Геннадьевичем муж твердо решил изменить 
                |свою жизнь и пройти кодирование от алкоголизма. Пройдя курс кодировки от алкоголя по цене, 
                |доступной для нашей семьи, он уже 7 месяцев не употребляет спиртные напитки и категорически не хочет этого. 
                |Большое спасибо вам и вашим специалистам.."
            figure 
                img(src="../wp-content/themes/genesis/assets/img/avatar.jpg", alt="Фото автора отзыва")
                figcaption 
                    strong Кристина 
                    | г. Тольятти
        blockquote
            em "Мой муж, Сергей, последние 5 лет стабильно сильно выпивал и не хотел лечиться. 
                |Недавно стало все совсем плохо и я потеряла всякую надежду на нормальную жизнь. 
                |Подруга посоветовала обратиться в вашу частную клинику. Изучив условия и персонал я 
                |решила обратиться. После первой встречи с Андреем Геннадьевичем муж твердо решил изменить 
                |свою жизнь и пройти кодирование от алкоголизма. Пройдя курс кодировки от алкоголя по цене, 
                |доступной для нашей семьи, он уже 7 месяцев не употребляет спиртные напитки и категорически не хочет этого. 
                |Большое спасибо вам и вашим специалистам.."
            figure 
                img(src="../wp-content/themes/genesis/assets/img/avatar.jpg", alt="Фото автора отзыва")
                figcaption 
                    strong Кристина 
                    | г. Тольятти
        blockquote
            em "Мой муж, Сергей, последние 5 лет стабильно сильно выпивал и не хотел лечиться. 
                |Недавно стало все совсем плохо и я потеряла всякую надежду на нормальную жизнь. 
                |Подруга посоветовала обратиться в вашу частную клинику. Изучив условия и персонал я 
                |решила обратиться. После первой встречи с Андреем Геннадьевичем муж твердо решил изменить 
                |свою жизнь и пройти кодирование от алкоголизма. Пройдя курс кодировки от алкоголя по цене, 
                |доступной для нашей семьи, он уже 7 месяцев не употребляет спиртные напитки и категорически не хочет этого. 
                |Большое спасибо вам и вашим специалистам.."
            figure 
                img(src="../wp-content/themes/genesis/assets/img/avatar.jpg", alt="Фото автора отзыва")
                figcaption 
                    strong Кристина 
                    | г. Тольятти
        button.btn.btn--blue Показать ещё