section.reviews-top
    .container
        h1.main__title.main__titles Отзывы
        //- главный контейнер слайдера 
        .swiper-container.slider-reviews
            //- обязательная оболочка
            .swiper-wrapper.slider-reviews__wrapper
                //- слайды
                .swiper-slide.slider-reviews__slide
                    .slider-reviews__img
                        img.minimized(src="./wp-content/themes/detox-med/assets/img/reviews.jpg" data-full="./wp-content/themes/detox-med/assets/img/reviews-max.jpg" width="316" height="474", alt="Отзыв" )
                        .img__overlay
                .swiper-slide.slider-reviews__slide
                    .slider-reviews__img
                        img.minimized(src="./wp-content/themes/detox-med/assets/img/reviews.jpg" data-full="./wp-content/themes/detox-med/assets/img/reviews-max.jpg" width="316" height="474", alt="Отзыв" )
                        .img__overlay
                .swiper-slide.slider-reviews__slide
                    .slider-reviews__img
                        img.minimized(src="./wp-content/themes/detox-med/assets/img/reviews.jpg" data-full="./wp-content/themes/detox-med/assets/img/reviews-max.jpg" width="316" height="474", alt="Отзыв" )
                        .img__overlay
                .swiper-slide.slider-reviews__slide
                    .slider-reviews__img
                        img.minimized(src="./wp-content/themes/detox-med/assets/img/reviews.jpg" data-full="./wp-content/themes/detox-med/assets/img/reviews-max.jpg" width="316" height="474", alt="Отзыв" )
                        .img__overlay
                .swiper-slide.slider-reviews__slide
                    .slider-reviews__img
                        img.minimized(src="./wp-content/themes/detox-med/assets/img/pochemu-alkogol-schitaetsja-vrednym.jpg" data-full="./wp-content/themes/detox-med/assets/img/reviews-max.jpg" width="316" height="474", alt="Отзыв" )
                        .img__overlay
                .swiper-slide.slider-reviews__slide
                    .slider-reviews__img
                        img.minimized(src="./wp-content/themes/detox-med/assets/img/baner-home1.jpg" data-full="./wp-content/themes/detox-med/assets/img/reviews-max.jpg" width="316" height="474", alt="Отзыв" )
                        .img__overlay
            .swiper-scrollbar
        .reviews-prev ➔ 
        .reviews-next ➔
