section.alcoholism-treatment
    .container
        .btn.btn--green Лечение алкоголизма
        h2.section__title.section__title--alcoholism-treatment Лечение от алкоголизма в центре "Генезис"
        .content-block
            .content-block__img.content-block__img--alcoholism-causes.gradient
                img(src="./wp-content/themes/genesis/assets/img/treatment.jpg" alt="Лечение от алкоголизма в центре Генезис" width="579" height="381")
            .content-block__text.text
                p Современные методы нацеленные на лечение алкогольной зависимости, в том числе пивного 
                    | алкоголизма, применяемые в наркологическом центре "Генезис", позволяют:
                ul
                    li Нормализовать физическое и психоэмоциональное состояние;
                    li Устранить тягу к алкоголю – психическую зависимость;
                    li Выработать умение без спиртного сохранять душевный комфорт и позитивное мировосприятие.
                p В результате, вы сможете избавиться от зависимости, улучшите здоровье и повысите качество своей жизни!
                .alcoholism-treatment__btns
                    button.btn.btn--blue.btn-consult Получить консультацию
                    button.btn.btn--blue.btn-call Заказать звонок
        include ./../../bem-blocks/advantages/advantages.pug