section.section-contacts
    .container
        h2.section__title Контакты
        h3 Кодирование от алкоголизма
        .contacts-addres
            a(href="coding-saint-petersburg.html") Санкт-Петербург
            a(href="coding-vsevolozhsk.html") Всеволожск
            a(href="kolpino-coding.html") Колпино
            a(href="tosno-coding.html") Тосно
        .section-contacts__block
            .map 
                script(defer type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab0563fdf16958b3d6795230c20acbc6a54ce2ac774425edc80fad5bcf90ba731&amp;width=652&amp;height=400&amp;lang=ru_RU&amp;scroll=true")
            .txt
                p Наркологический центр «ДетоксМед» — лечение алкогольной зависимости по европейским стандартам. 
                p Мы собрали воедино команду профессиональных специалистов, современные и уникальные методики лечения. 
                    |Наш медицинский центр ориентирован на инновационные методы лечения всех видов зависимости, 
                    |а коллектив высококлассных специалистов подберёт наиболее эффективные методы восстановительной 
                    |терапии и индивидуальный план лечения. Оперативно и круглосуточно реагируем на вызов врача на дом
                    | и вывод из запоя с выездом в СПб и по области.