section.contacts-map 
    .container 
        h1.main__title.main__titles Контакты клиники
        p Наркологический центр «ДетоксМед» обеспечивает круглосуточную медицинскую помощь при запоях, 
            |абстинентном синдроме, в проведении процедур при необходимости быстрого отрезвления, а также в 
            |борьбе с зависимостями. Услуги могут предоставляться как на дому, так и в стационаре. Применение 
            |самых современных методик, препаратов, диагностической и лабораторной медицинской аппаратуры позволяет 
            |обеспечит качество услуг до мирового уровня.
        .contacts-map__flex
            .contacts-map__flex-map 
                script(defer type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa098e2537f67db617fbcb578dff4a379f3674ac92e2d1ad8e3e5d88fe0068d4c&amp;width=100%25&amp;height=521&amp;lang=ru_RU&amp;scroll=true")
            .contacts-map__flex-txt
                h3 Адрес и телефон в Санкт-Петербурге
                p Для записи на медицинские услуги и лечение в Санкт-Петербурге обращаться по адресу:
                p 191014, г. Санкт-Петербург, ул. Радищева, 39в.
                p Телефон: 
                    a(href="tel:+78129008902") +7 (812) 900 89 02
        .contacts-map__flex.contacts-map__flex--order
            .contacts-map__flex-map 
                script(defer type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa098e2537f67db617fbcb578dff4a379f3674ac92e2d1ad8e3e5d88fe0068d4c&amp;width=100%25&amp;height=521&amp;lang=ru_RU&amp;scroll=true")
            .contacts-map__flex-txt
                h3 Клиника в Тосно Ленинградской области
                p Для записи на медицинские услуги и лечение в Санкт-Петербурге обращаться по адресу:
                p 187000, Ленинградская область, Тосненский район, г. Тосно, пр. Ленина д. 60, офис 48.
                p Телефон: 
                    a(href="tel:+78129008902") +7 (812) 900 89 02