section.services.servis
    .container 
        h1.main__title.main__titles Услуги
        .services__flex
            .services__flex-block 
                h3: a(href="!#")  Вывод из запоя на дому
                p Выведение из запоя на дому (приезд врача от 15-ти минут). 
                    |Эффект через 5 минут от начала лечения. Применение капельниц 
                    |для быстрого восстановления состояния больного. Вывод из запоя на дому 
                    |- это возможность остановить запойное состояние не выходя из дома.
                a(href="!#") Подробнее  
                    i ➔
            .services__flex-block 
                h3: a(href="!#") Лечение наркомании
                p Снятие явления абстиненции в максимально сжатые сроки. 
                p Схемы лечения Детокс при проведении лечения на дому 
                    |включают минимальный перечень обследования (электрокардиография, глюкометрия, алкометрия).
                a(href="!#") Подробнее  
                    i ➔
            .services__flex-block 
                h3: a(href="!#") Лечение алкоголизма
                p В нашей клинике существует два метода лечения алкоголизма:
                ol
                    li  Полный отказ от употребления алкоголя на длительный период — кодирование 
                        |от алкоголизма в Санкт-Петербурге и в Ленинградской области.
                    li Снижение дозы потребления алкоголя с возможностью пить как все .
                a(href="!#") Подробнее  
                    i ➔
            .services__flex-block 
                h3: a(href="!#") Лечение табакокурения
                p С целью снижения негативных последствий в тяжёлых формах синдрома отмены табака, 
                    |врач-нарколог назначает поддерживающую терапию.
                p Результат — снижение тяги к табаку и полный отказ от курения.
                a(href="!#") Подробнее  
                    i ➔
            .services__flex-block 
                h3: a(href="!#") Кодирование от алкоголизма
                p  Кодирование от алкоголизма представляет собой введение препаратов Дисульфирама.
                p После введения данной группы препаратов блокируется группа ферментов в печени 
                    |ответственная за нормальную утилизацию алкоголя в печени.
                a(href="!#") Подробнее  
                    i ➔
            .services__flex-block 
                h3.title-red Акция
                h3: a(href="!#") “ДетоксМед24”- капельница + кодирование
                p Это предложение возникло для многих, когда пандемия внесла тяжелые изменения в порядок жизни. 
                    |У некоторых возникли трудности с зарабатыванием в этот период, потеря работы, долгое 
                    |сидение дома на самоизоляции. Возникают желания убрать негативный фон путем выпивания 
                    |спиртных напитков, что может привести к чрезмерному употреблению алкоголя.
                a(href="!#") Подробнее  
                    i ➔