section.services
    .container
        .btn.btn--green Наши услуги
        h2.section__title.section__title--services= servicesTitle
        .section__description.section__description--services Можем поручиться за результат, наши доктора 
            | имеют многолетний и успешный стаж профессиональной деятельности
        .services-cards 
            article.service__card
                .card__price.label от 2 000 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/alcoholism.jpg" alt="Лечение алкоголизма" width="391" height="162")
                h3.card__title Алкоголизм
                .card__text.text Чтобы поставить предварительный диагноз «хронический алкоголизм», 
                    | достаточно убедиться в присутствии хотя бы одного симптома. 
                    | Вывод из запоя осуществляется профессиональным наркологом.
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее
            article.service__card
                .card__price.label от 2 500 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/smoking.jpg" alt="Лечение табакокурения" width="391" height="162")
                h3.card__title Табакокурение
                .card__text.text Опасность скрывается, прежде всего, в иллюзии безвредности, в постепенном, 
                    | а потому не очень заметном влиянии табака на здоровый организм. Курение – серьезная
                    | наркотическая зависимость.
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее
            article.service__card
                .card__price.label от 2 500 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/drug-addiction.jpg" alt="Лечение наркомании" width="391" height="162")
                h3.card__title Наркомания
                .card__text.text Странное поведение близкого человека дают повод объективно присмотреться к нему 
                    | и выявить признаки наркомании. Если таковые имеются, то не медлите с диагностикой и профилактикой!
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее
            article.service__card
                .card__price.label от 4 000 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/coding.jpg" alt="Кодирование" width="391" height="162")
                h3.card__title Кодирование
                .card__text.text Поведение любого человека, употребляющего алкоголь, подчиняется определенному 
                    | словесному патологическому алгоритму (коду), который управляет поведением, направленным 
                    | на употребление алкоголя.
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее
            article.service__card
                .card__price.label от 2 500 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/psychotherapy.jpg" alt="Психотерапия" width="391" height="162")
                h3.card__title Психотерапия
                .card__text.text Проводится специалистом путем установления глубокого личного и доверительного 
                    | контакта с пациентом, а также применением различных когнитивных, поведенческих, 
                    | медикаментозных и других методик.
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее
            article.service__card
                .card__price.label от 2 000 ₽
                .card__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/treatment.jpg" alt="Психология" width="391" height="162")
                h3.card__title Психология
                .card__text.text Нередко случается так, что со своими проблемами мы не можем обратиться к 
                    | близким людям, и на это есть свои причины – мы думаем, что близкие нас не поймут, 
                    | не поддержат и не помогут. В таких случаях поможет психолог.
                a(href="#!").btn.btn--blue.btn--blue-service-card Подробнее