section.services
    .container 
        h2.section__title Услуги
        .services__flex
            .services__flex-block 
                h3 Вывод из запоя на дому
                p Выведение из запоя на дому (приезд врача от 15-ти минут). 
                    |Эффект через 5 минут от начала лечения. Применение капельниц 
                    |для быстрого восстановления состояния больного. Вывод из запоя на дому 
                    |- это возможность остановить запойное состояние не выходя из дома.
            .services__flex-block 
                h3 Лечение наркомании
                p Снятие явления абстиненции в максимально сжатые сроки. 
                p Схемы лечения Детокс при проведении лечения на дому 
                    |включают минимальный перечень обследования (электрокардиография, глюкометрия, алкометрия).
            .services__flex-block 
                h3 Лечение алкоголизма
                p В нашей клинике существует два метода лечения алкоголизма:
                ol
                    li  Полный отказ от употребления алкоголя на длительный период — кодирование 
                        |от алкоголизма в Санкт-Петербурге и в Ленинградской области.
                    li Снижение дозы потребления алкоголя с возможностью пить как все .
            .services__flex-block 
                h3 Лечение табакокурения
                p С целью снижения негативных последствий в тяжёлых формах синдрома отмены табака, 
                    |врач-нарколог назначает поддерживающую терапию.
                p Результат — снижение тяги к табаку и полный отказ от курения.