section.services
    .container 
        h2.section__title В каких районах можно приобрести «ДетоксМед24»
        .services__flex
            .services__flex-block 
                h3 Петроградский район
                p Акция предоставляется при заказе услуги по выводу из запоя в Петроградском районе Санкт-Петербурга. В этом районе пролегают улицы: Большой пр. П.С., пр.Медиков, Каменноостровский пр., Большая Пушкарская ул., Малый пр. П.С., Чкаловский пр., Кронверкский пр. и Кронверкская наб., пр.Добролюбова и другие.
                p Район расположен на островах дельты реки Нева. Численность района по последним данным около 140 тысяч человек.
                p В Петроградском районе располагаются метро «Петроградская», «Горьковская», «Спортивная», «Чкаловская», «Крестовский остров» и «Новокрестовская».
            .services__flex-block 
                h3 Адмиралтейский район
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Адмиралтейском районе Санкт-Петербурга. 
                    |В этом районе пролегают улицы: Садовая, наб. реки Фонтанки, наб. Обводного канала, наб.реки Пряжки,
                    | Старо-Петергофский пр., Измайловский и Вознесенский пр., Московский, Лермонтовский проспект, ул. 
                    |Глинки, Английская наб. и другие.
                p Район пересекают рекиа Мойка, Фонтанка, каналы Грибоедова и Обводный канал.
                p В Адмиралтейском районе располагаются метро «Садовая», «Спасская», «Технологический институт», 
                    |«Фрунзенская», «Балтийский вокзал» и «Звенигородская».
            .services__flex-block 
                h3 Центральный район
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Центральном районе Санкт-Петербурга. 
                    |В этом районе находятся такие улицы как Садовая, Марата, Некрасова, Жуковского , Невский пр., Литейный пр., Загородный пр., Дворцовая наб. и наб. Кутузова, Лиговский пр. и другие.
                p В Центральном районе располагаются метро «Невский проспект», «Гостиный двор», «Адмиралтейская», «Маяковская», «Московский вокзал» и «Достоевская» и другие.
            .services__flex-block 
                h3 Василеостровский район
                p Акция предоставляется при заказе услуги по выводу из запоя в Василеостровском районе Санкт-Петербурга. В районе пролегают улицы: Кораблестроителей, Наличная, Уральская, Малый пр. В.О., Средний пр. В.О., Большой пр. В.О., 1-27 линии В.О, наб. Макарова и другие.
                p В Василеостровском районе располагаются метро «Василеостровская» и «Приморская».
            .services__flex-block 
                h3 Кировский район
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Кировском районе Санкт-Петербурга. 
                    |В районе пролегают улицы: Краснопутиловская, Маршала Говорова, проспекты Стачек, Дачный, Ленинский, Маршала Жукова и другие.
                p В Кировском районе располагаются метро «Нарвская», «Кировский завод», «Автово», «Ленинский проспект», «Проспект Ветеранов» и «Новокрестовская».
            .services__flex-block 
                h3 Фрунзенский район
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Фрунзенском районе Санкт-Петербурга
                    |. В районе пролегают улицы: Софийская, Димитрова, Салова, Бухарестская, Будапештская, проспекты Славы и Дунайский и другие улицы.
                p В Фрунзенском районе располагаются метро «Обводный канал», » Волковская «, «Бухарестская», «Международная», «Проспект Славы» и «Дунайская».
            .services__flex-block 
                h3 Красносельский район
                p Акция предоставляется при заказе услуги по выводу из запоя в Красносельском районе Санкт-Петербурга. В районе пролегают улицы: Маршала Казакова, Партизана Германа, проспекты Ветеранов, Маршала Жукова и Ленинский, Петергофское ш., Таллинское ш., Красносельское ш. и другие.
            .services__flex-block 
                h3 Невский район
                p Акция предоставляется при заказе услуги по выводу из запоя в Невском районе Санкт-Петербурга.
            .services__flex-block 
                h3 Красногвардейский район
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Красногвардейском районе Санкт-Петербурга.
            .services__flex-block 
                h3 Калининский район
                p Акция предоставляется при заказе услуги по выводу из запоя в Калининском районе Санкт-Петербурга.
            .services__flex-block 
                h3 Выборгский район
                p Акция предоставляется при заказе услуги по выводу из запоя в Выборгском районе Санкт-Петербурга.
            .services__flex-block 
                h3 Приморский район
                p Акция предоставляется при заказе услуги по выводу из запоя в Приморском районе Санкт-Петербурга.
            .services__flex-block 
                h3 Пушкин
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Пушкине.
            .services__flex-block 
                h3 Павловск
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Павловске.
            .services__flex-block 
                h3 Петергоф
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Петергофе.
            .services__flex-block 
                h3 Ломоносов
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Ломоносове.
            .services__flex-block 
                h3 Кронштадт
                p Акция предоставляется при заказе услуги по выводу из запоя в Кронштадте.
            .services__flex-block 
                h3 Сестрорецк
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Сестрорецке.
            .services__flex-block 
                h3 Тосненский район
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Тосно.
            .services__flex-block 
                h3 Гатчинский район
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Гатчине.
            .services__flex-block 
                h3 Волосовский район
                p Акция предоставляется при заказе услуги по выводу из запоя в Волосово.
            .services__flex-block 
                h3 Киришский район
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Киришах Ленинградской области.
            .services__flex-block 
                h3 Кировский район ЛО
                p Акция предоставляется при заказе услуги по выводу из запоя в 
                    i Кировске Ленинградской области.
            .services__flex-block 
                h3 Всеволожский район
                p Акция предоставляется при заказе услуги по выводу из запоя во 
                    i Всеволожске Ленинградской области.