.treatment-methods {

    .problem-solution {
        width: 100%;
        
        // @media screen and (min-width: 1320px) {
        //     padding: 2rem 3.9rem 2rem 2.9rem;
        // }

        // .problem-solution__content {
            
        //     @media screen and (min-width: 1320px) {
        //         padding-top: 2rem;
        //     }
        // }

        &__inner {
            align-items: center;

            // @media screen and (min-width: 1320px) {
            //     align-items: initial;
            // }
        }

        .problem-solution__text {

            p:not(:last-of-type) {
                margin-bottom: 1rem;
            }
        }

        .content-block__img--problem-solution {


            @media screen and (min-width: 1320px) {
                width: 46.4rem;
                height: 31.1rem !important;
            }
        }
    }
}

.gray-block--treatment-methods {
    margin-bottom: 5rem;

    @media screen and (min-width: 1320px) {
        margin-bottom: 10rem;
    }
}