section.treatment-methods
    .container
        include ./../../bem-blocks/dovzhenko-method/dovzhenko-method.pug
        include ./../../bem-blocks/alcoholism-blocking/alcoholism-blocking.pug
        include ./../../bem-blocks/medical-treatment/medical-treatment.pug
        .gray-block.gray-block--guarantees.gray-block--treatment-methods
            .section__subtitle.section__subtitle--guarantees Все эти препараты рекомендуют в качестве 
                | дополнительного воздействия на фоне специализированной противоалкогольной психотерапии
                | проводимой врачом психиатром-наркологом, психотерапевтом
            a(href="#!").btn.btn--blue.btn-free-consult Бесплатная консультация
        include ./../../bem-blocks/medical-coding/medical-coding.pug
        .gray-block.gray-block--guarantees.gray-block--treatment-methods
            .section__subtitle.section__subtitle--guarantees Эффективность такого подхода невелика, так как 
                | пациенты не освобождаются от зависимости, они просто боятся нарушить запрет на употребление 
                | алкоголя и считают такую, порой, вынужденную трезвость наказанием, что увеличивает риск срыва. 
                | Но с другой стороны, если пациент настроен именно на такое “лечение”, 
                | #[i мы его проведём на самом высоком уровне].
            a(href="#!").btn.btn--blue.btn-free-consult Бесплатная консультация
        include ./../../bem-blocks/treatment-process/treatment-process.pug
        .problem-solution
            .problem-solution__inner 
                .problem-solution__content
                    h3.problem-solution__title Важно!
                    .problem-solution__text
                        p Рекомендация: ищите не центр, а специалиста. Ведь с вами работает конкретный врач. 
                            | И желательно, чтобы врач имел подготовку и психиатра-нарколога и психотерапевта 
                            | одновременно, тогда вам не придётся платить дважды.
                        p В настоящее, сложное для простых людей, время рыночных отношений, буйным цветом расцвели 
                            | ложь и обман, введение в заблуждение на основе манипуляции сознанием доверчивых граждан. 
                            | К сожалению это коснулось и медицины, наркологии в частности.
                        p Будьте бдительны – проверьте информацию о центре и конкретном специалисте, к которому вы
                            | хотите обратиться. У центров, работающих «давно, более стольки-то лет» имеются лицензии 
                            | с указанием вида медицинской деятельности – наркология, психотерапия – с момента начала 
                            | их деятельности, как у нас, а у врачей – сертификаты специалиста, которые должны 
                            | подтверждаться раз в пять лет. 
                    a(href="#!").btn.btn--white.btn-consult Записаться на консультацию
                .content-block__img.content-block__img--recommendation.gradient 
                    img(src="./wp-content/themes/genesis/assets/img/treatment.jpg" alt="Рекомендации" width="462" height="396")