section.reception
    .container
        .reception__inner
            .reception__left
                ul.check__list
                    li.check__item Выбираете день обращения
                    li.check__item Звоните накануне дня обращения за 1-2 дня
                    li.check__item Запись производится на свободное и удобное для вас время
                    li.check__item В день обращения вы должны подтвердить свою запись на 
                        | приём предварительным звонком не менее чем за два часа до приёма
                    li.check__item.check__item--warning Пациент, находящийся в состоянии алкогольного (наркотического) опьянения, #[strong на приём не допускается]
            .reception__right
                .home__help
                    h2.section__title.section__title--home__help Также мы оказываем выездную помощь на дому:
                    .home__help-content.text
                        p Мы гарантируем #[i бережное и внимательное отношение] ко всем клиентам. Все методы 
                         | лечения обладают высокой эффективностью и безопасностью, поскольку проводятся 
                         | настоящими профессионалами
                        p Осуществить вызов можно, лишь сделав один телефонный звонок в центр наркологии или 
                         |оставить заявку на нашем сайте. Выезд врача-нарколога на дом проводиться с 07:00 до 22:00.
                    a(href="#!").btn.btn--blue.btn-call Вызвать врача
                include ./../../bem-blocks/advantages/advantages.pug