.doctors__block 
    .doctors__block-img
        img(src="./wp-content/themes/detox-med/assets/img/losev.jpg", alt="Лосев Александр Александрович")
    .doctors__block-txt 
        h3 Лосев Александр Александрович
        p   
            strong Специальность: 
            | Врач психиатр-нарколог I категории, психотерапевт.
        p   
            strong Опыт работы: 
            | 12 лет
        p   
            strong Пролеченных пациентов: 
            | Более 1000
        blockquote: p Мы стремимся восстановить не только утраченное здоровье, но также восстановить 
            |отношения в семье. Именно поэтому Наша цель: продлить жизнь и наполнить её счастьем.
        button.btn-red.btn-call Вызвать врача