.doctors__block.doctors__block-services 
    .doctors__block-box
        .doctors__block-img.block-img
            img(src="./wp-content/themes/detox-med/assets/img/losev.jpg", alt="Лосев Александр Александрович")
        .doctors__block--text
            h3 Лосев Александр Александрович
            p Врач психиатр-нарколог I категории, психотерапевт.
    .doctors__block-txt 
        
        blockquote 
            p Столкнувшись с состоянием похмельного синдрома пациентам приходится переживать крайне неприятные ощущения. 
                |Именно эти ощущения пациенты порой принимают за простуду, поскольку достаточно часто, состояние похмельного 
                |синдрома проявляется ознобом, ощущением дрожи, и, достаточно часто, выраженным ощущением недомогания. 
                |Это далеко не все «прелести» абстиненции, или, как говорят в народе — похмелья.
            p Бессонница, тошнота, а самое главное — тревога и неусидчивость доходящая в своём крайнем проявлении, 
                |до «мечущегося в поисках неизвестно чего», состояния. И это далеко не полный перечень проблем с 
                |которыми сталкиваются близкие пациента.
            p Именно поэтому грамотный вывод из запоя на дому и есть единственный выход в ситуации, когда 
                |пациент отказывается куда-либо ехать, и госпитализироваться в стационар.
            p Наши специалисты в большинстве случаев способны устранить похмельный синдром и эффективно 
                |вывести из запоя капельницей. Вызвать врача нарколога на дом с целью профессионально прокапаться от 
                |алкоголя поможет вам без пагубных побочных эффектов восстановиться после алкогольной интоксикации.