.doctors__block 
    .doctors__block-img.block-img
        img(src="./wp-content/themes/detox-med/assets/img/vasiliev2.jpg", alt="Васильев Пётр Михайлович")
    .doctors__block-txt 
        h3 Васильев Пётр Михайлович
        p   
            strong Специальность: 
            | Врач психиатр- нарколог II категории, психотерапевт.
        p   
            strong Опыт работы: 
            | 6 лет
        p   
            strong Пролеченных пациентов: 
            | Более 500
        blockquote: p Зависимость - это наш профиль. В наших силах помочь восстановиться после интоксикации, 
            |вернуть здоровье, вернуть энергию в вашу жизнь.
        button.btn-red.btn-call Вызвать врача