.method-block.method-block--treatment-process
    .method-block__inner
        .method-block__img.gradient
            img(src="./wp-content/themes/genesis/assets/img/treatment-process-1.jpg" alt="Процесс лечения" width="595" height="375") 
        .method-block__text.text
            h2.section__title.section__title--bg Как проходит лечение?
            p Записавшись на сеанс лечения, вы приходите в кабинет в своё время, предназначенное только для вас. 
                | Индивидуальный сеанс имеет преимущество перед групповым сеансом, где собираются анонимные алкоголики 
                | и наркоманы, так как всё внимание доктора обращено на Ваши индивидуальные жизненные ситуации, 
                | состояния, мысли, чувства и поведение, связанные с потреблением алкоголя, наркотиков, курения табака 
                | и курительных смесей. Вы можете рассказать доктору обо всём, что вас беспокоит, от чего вы хотите
                | избавиться, что изменить, чтобы сделать жизнь более качественной и удобной для себя и своих близких. 
            p При необходимости вам будут заданы вопросы, чтобы лучше понять вас и подобрать правильное лечебное 
                | психотерапевтическое и медикаментозное воздействие с учётом ваших индивидуальных особенностей.
.method-block.method-block--treatment-process
    .method-block__inner
        .method-block__img.gradient
            img(src="./wp-content/themes/genesis/assets/img/treatment-process-2.jpg" alt="Процесс лечения" width="595" height="375")  
        .method-block__text.text
            p Уже на этапе предварительной беседы доктор начинает работать с вашей психикой – сознательными убеждениями, 
                | бессознательными установками, настраивая её на выздоровление от вашего недуга, усиливая ваше
                | понимание самих себя, создавая и усиливая вашу способность справляться со стрессами, укрепляет 
                | вашу волю. Используются современные препараты, закрепляющие эффект от психотерапии, создающие
                | непереносимость алкоголя, подавляющие тягу и влечение к алкоголю.