section.form.form-home
    .container
        h2.form__title Вывод из запоя в Санкт-Петербурге и Лененградской области
        h3 Оставьте заявку, и мы поможем Вам!
        form
            input._req.phone-input(type="text" name="user-phone" placeholder="+ 7 ___ - __ - __" required="required")
            input._req(type="text" name='user-name' placeholder="Ваше имя" required="required")
            button.btn-send.btn-red Заказать звонок
            .form__policy
                input._req.chec#chec(type="checkbox" required="required" checked)
                label.form-chec(for="chec") Вы соглашаетесь с 
                    a(href="#!" target="_blank") условиями обработки персональных данных