section.form.form-home2
    .container
        h2.form__title У Вас всё ещё остались вопросы?
        h3 Оставьте заявку, и мы Вам перезвоним.
        form
            input._req(type="text" name="user-phone" placeholder="Ваш телефон" required="required")
            input._req(type="text" name='user-name' placeholder="Ваше имя" required="required")
            button.btn-send.btn-red Заказать звонок