.cost {
    padding-top: 5rem;
    .accordion {
        margin: 0 auto;
        margin: 3rem 0 1rem 0;
        width: 100%;
        ul {
            @media (min-width: 840px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
            }
            @media (min-width: 1200px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }
        li {
            width: 100%;

            margin-bottom: 3rem;
            @media (min-width: 840px) {
                max-width: 45%;
                min-width: 45%;
            }
            @media (min-width: 1200px) {
                max-width: 36rem;
                min-width: 36rem;
                margin-right: 3rem;
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
        h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 2rem;
            line-height: 2.7rem;
            color: #01120f;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.6rem 5.5rem 1.6rem 2rem;
            &::after {
                content: "➔";
                top: calc(40% - 0.3rem);

                margin-right: 1.5rem;
                transform: rotate(90deg);
                @media (min-width: 960px) {
                    top: calc(40% - 0.5rem);
                    margin-right: 1.7rem;
                }
            }
            &:hover,
            &:focus {
                text-shadow: rgba(1, 18, 15, 0.1) 0.5px 0.5px, rgba(1, 18, 15, 0.1) 0.5px 0.5px,
                    rgba(1, 18, 15, 0.1) 0.5px 0.5px, rgba(17, 192, 171, 0.7) 0.5px 0px,
                    rgba(17, 192, 171, 0.7) 0.5px 0.5px, rgba(17, 192, 171, 0.7) 0.5px 0px,
                    rgba(1, 18, 15, 0.7) 0.5px 0.5px;
            }
            i {
                display: inline-block;
                min-width: 9rem;
                text-align: right;
                color: #f04242;
                border: none;
                margin-bottom: 0;
            }
        }

        p {
            margin: 0;
            overflow: hidden;
            height: 0;
            opacity: 0;
            transition: all 0.5s ease-out;
            padding: 0 2rem;
        }

        ul li {
            &:not(:last-of-type) {
                // margin-bottom: 3rem;
            }
        }
    }
    .accordion h3.accordion__item__title--active {
        position: relative;
        text-shadow: rgba(1, 18, 15, 0.1) 0.5px 0.5px, rgba(1, 18, 15, 0.1) 0.5px 0.5px,
            rgba(1, 18, 15, 0.1) 0.5px 0.5px, rgba(17, 192, 171, 0.7) 0.5px 0px, rgba(17, 192, 171, 0.7) 0.5px 0.5px,
            rgba(17, 192, 171, 0.7) 0.5px 0px, rgba(1, 18, 15, 0.7) 0.5px 0.5px;
        &::after {
            top: calc(40% - 0.3rem);

            transition: all 0s;
            transform: rotate(-90deg);
            @media (min-width: 960px) {
                top: calc(40% - 0.5rem);
            }
        }
    }

    .accordion__item__title--active::after {
        transform: rotate(-45deg);
        transition: all 0.5s ease-out;
    }

    .accordion__item__title--active + p {
        height: initial;
        opacity: 1;
        transition: all 0.5s ease-out;
        padding: 2rem;
        border-top: 1px solid #11c0ab;
    }
}
