.cost {
    padding-top: 5rem;
    .accordion-second {
        margin: 0 auto;
        margin: 3rem 0 1rem 0;
        width: 100%;
        @media (min-width: 840px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
        }
        @media (min-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        article {
            width: 100%;

            margin-bottom: 3rem;
            @media (min-width: 840px) {
                max-width: 45%;
                min-width: 45%;
            }
            @media (min-width: 1200px) {
                max-width: 36rem;
                min-width: 36rem;
                margin-right: 3rem;
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
        h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 1.4rem;
            line-height: 2.7rem;
            color: #01120f;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.6rem 5.5rem 1.6rem 2rem;
            @media (min-width: 411px) {
                font-size: 2rem;
            }

            &::after {
                content: "➔";
                top: calc(40% - 0.3rem);

                margin-right: 1.5rem;
                transform: rotate(90deg);
                @media (min-width: 960px) {
                    top: calc(40% - 0.5rem);
                }
            }

            &:hover,
            &:focus {
                text-shadow: rgba(1, 18, 15, 0.1) 0.5px 0.5px, rgba(1, 18, 15, 0.1) 0.5px 0.5px,
                    rgba(1, 18, 15, 0.1) 0.5px 0.5px, rgba(17, 192, 171, 0.7) 0.5px 0px,
                    rgba(17, 192, 171, 0.7) 0.5px 0.5px, rgba(17, 192, 171, 0.7) 0.5px 0px,
                    rgba(1, 18, 15, 0.7) 0.5px 0.5px;
                i {
                    text-shadow: #f04242 0.5px 0.5px, #f04242 0.5px 0.5px, #f04242 0.5px 0.5px,
                        rgba(1, 18, 15, 0.7) 0.5px 0px, rgba(1, 18, 15, 0.7) 0.5px 0.5px, rgba(1, 18, 15, 0.7) 0.5px 0px,
                        rgba(1, 18, 15, 0.7) 0.5px 0.5px;
                }
            }
        }
        i {
            display: inline-block;
            font-size: 1.4rem;
            text-align: right;
            color: #f04242;
            border: none;
            margin-bottom: 0;
            @media (min-width: 411px) {
                font-size: 2rem;
            }
        }
    }

    p {
        padding: 0 2rem;
    }

    .accordion__item--active h3 {
        position: relative;
        height: auto;
        text-shadow: rgba(1, 18, 15, 0.1) 0.5px 0.5px, rgba(1, 18, 15, 0.1) 0.5px 0.5px,
            rgba(1, 18, 15, 0.1) 0.5px 0.5px, rgba(17, 192, 171, 0.7) 0.5px 0px, rgba(17, 192, 171, 0.7) 0.5px 0.5px,
            rgba(17, 192, 171, 0.7) 0.5px 0px, rgba(1, 18, 15, 0.7) 0.5px 0.5px;
        &::after {
            top: calc(40% - 0.3rem);

            transition: all 0s;
            transform: rotate(-90deg);
            align-items: flex-start;
            @media (min-width: 960px) {
                top: calc(40% - 0.5rem);
            }
        }
    }

    .accordion__item--active i {
        text-shadow: #f04242 0.5px 0.5px, #f04242 0.5px 0.5px, #f04242 0.5px 0.5px, rgba(1, 18, 15, 0.7) 0.5px 0px,
            rgba(1, 18, 15, 0.7) 0.5px 0.5px, rgba(1, 18, 15, 0.7) 0.5px 0px, rgba(1, 18, 15, 0.7) 0.5px 0.5px;
    }

    .accordion__item {
        // height: 7.9rem;

        min-height: 0;
        transition: all 0.8s linear;
        @media (min-width: 360px) {
            // height: 5.9rem;
        }
        h3 {
            transition: all 0.3s linear;
        }
        p {
            overflow: hidden;
            opacity: 0;
            transition: all 0.3s linear;
        }
    }
    .accordion__item p.accordion__content--active {
        max-height: initial !important;
        overflow: initial !important;
        opacity: 1 !important;
    }
    .accordion-second {
        article {
            box-sizing: border-box;

            border: 1px solid #11c0ab;
            border-radius: 20px;
            iframe,
            video {
                width: 100%;
            }
        }
        h3 {
            position: relative;
            z-index: 2;
            font-feature-settings: "pnum" on, "lnum" on;
            transition: all 0.4s;
            cursor: pointer;
            transition: all 1s;
            &::after {
                position: absolute;
                content: "➔";
                top: calc(40% - 0.3rem);
                right: 0;
                font-weight: bold;
                margin-right: 1.5rem;
                transition: all 0s;
                transform: rotate(90deg);
                margin-top: auto;
                margin-bottom: auto;
                @media (min-width: 960px) {
                    top: calc(40% - 0.5rem);
                    margin-right: 1.5rem;
                }
            }
            &::before {
                content: "";
                position: absolute;
                width: 88%;
                height: 0.1rem;
                bottom: 0;
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                background-color: rgba(17, 192, 171, 0.7);
                transform: scale(0);
                transition: all 0.9s;
                // @media (min-width: 460px) {
                //     width: 91%;
                // }
                // @media (min-width: 560px) {
                //     width: 92%;
                // }
                // @media (min-width: 660px) {
                //     width: 94%;
                // }
                // @media (min-width: 760px) {
                //     width: 95%;
                // }
            }
        }

        .accordion__item--active h3 {
            margin-bottom: 1.5rem;
            position: relative;
            height: auto;
            transition: all 0.3s;
            align-items: flex-start;
            text-shadow: rgba(1, 18, 15, 0.1) 0.5px 0.5px, rgba(1, 18, 15, 0.1) 0.5px 0.5px,
                rgba(1, 18, 15, 0.1) 0.5px 0.5px, rgba(17, 192, 171, 0.7) 0.5px 0px, rgba(17, 192, 171, 0.7) 0.5px 0.5px,
                rgba(17, 192, 171, 0.7) 0.5px 0px, rgba(1, 18, 15, 0.7) 0.5px 0.5px;
            &::after {
                top: calc(40% - 0.3rem);

                transition: all 0s;
                transform: rotate(-90deg);
                @media (min-width: 960px) {
                    top: calc(40% - 0.5rem);
                }
            }
            &::before {
                transform: scale(1);
                transition: all 0.9s;
            }
        }
    }
}
