.cost 
    i Стоимость
    .accordion-second
        article.accordion__item
            h3 Препарат «Дисульфирам»:
            p Данная процедура предназначена для длительного воздерживания, от 1 мес. до 5-ти лет. 
                |Кодирование от алкоголизма можно провести и вызовом нарколога на дом.
        article.accordion__item
            h3 Препарат «Эспераль-гель»:
            p Данная процедура предназначена для длительного воздерживания, от 1 мес. до 5-ти лет. 
                |Кодирование от алкоголизма можно провести и вызовом нарколога на дом.
                br
                |На 1 мес — 2 300 ₽;
                br
                |1 год — 3 800 ₽;
                br
                |3 года — 4 500 ₽;
                br
                |5 лет — 5 500 ₽;
        article.accordion__item
            h3 Метод «Норма»
                i от 20 000 ₽
            p Снижение дозы потребления алкоголя с возможностью пить как все.
                |Данный метод лечения алкоголизма (метод «Норма») , подразумевает цикл из 4-х 
                |инфузий (капельниц), с параллельным назначением препаратов снижающих влечение к алкоголю,
                | которые выдаются пациенту на руки.
                

    p Все схемы лечения призваны в считанные минуты снизить явления абстиненции, 
        |восстановить нормальное сердцебиение, артериальное давление а соответственно снять угрозу для жизни.