footer.footer 
    .container
        .footer__top
            .logo
                a(href="index.html") 
                    img(src="./wp-content/themes/genesis/assets/img/logo.png" alt="Logo")
                .logo__block
                    a(href="index.html") 
                        i ГЕНЕЗИС
                        |
                        br 
                        |центр наркологии и психотерапии
                    .logo__name г. Тольятти, ул. Лесная, 1, 210 офис; 2 эт. 
            .footer__contacts
                include ./../../bem-blocks/contacts/contacts.pug
                include ./../../bem-blocks/contacts/contacts2.pug
            .footer__social-block
                p Задайте ваш вопрос в мессенджерах:
                include ./../../bem-blocks/social/social.pug
            button.btn.btn-call Обратный звонок
        .footer__bottom
            a(href="site-map.html" target="_blank") Карта сайта
            a(href="documents.html" target="_blank") Права и обязанности граждан в сфере охраны здоровья
            a(href="#" target="_blank") Политика конфиденциальности