section.about-us-numbers
    .container
        .btn.btn--green Наши достижения
        h2.section__title.section__title--about-us-numbers О нас в цифрах:
        .gray-block.gray-block--about-us-numbers
            .numbers-block
                .green-square.green-square--numbers-block 72
                .counts__text.counts__text--numbers-block Помогли 72 семьям по РФ
            .numbers-block
                .green-square.green-square--numbers-block 20
                .counts__text.counts__text--numbers-block Работаем почти 20 лет
            .numbers-block
                .green-square.green-square--numbers-block 90
                .counts__text.counts__text--numbers-block 90% пациентов не возвращаются к зависимостям
            .numbers-block
                .green-square.green-square--numbers-block 25
                .counts__text.counts__text--numbers-block Опыт работы психиатра нарколога более 25 лет