section.complications
    .container
        h2.section__title Возможные осложнения, с которыми мы работаем
        .info.info-order
            .info__txt
                p Специалисты нашей клиники смогут вывести из запоя на дому и прокапаться от алкоголя в 
                    |СПб в условиях анонимности. Мы готовы быстро отреагировать на обращение, оказать 
                    |прерывание запоя на дому и помощь даже при возникновении следующих осложнений:
                ul 
                    li провалах в памяти;
                    li эпилепсии;
                    li сильных головных болей;
                    li бреде;
                    li потере сознания;
                    li галлюцинациях;
                    li обильной рвоте;
                    li агрессии.
                    li повышенной температуре;
            .info__img
                img(src="./wp-content/themes/detox-med/assets/img/ben-hershey.jpg", alt="")