.addres {
    a {
        position: relative;
        padding-left: 2.3rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.9rem;
        font-feature-settings: "case" on, "cpsp" on;
        color: #828282;
        transition: all 0.5s;
        display: block;
        &::after {
            position: absolute;
            content: "";
            background: url("../img/icons/sprite.svg#location");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 1.38rem;
            height: 1.8rem;
            top: 0.1rem;
            left: 0rem;
            transform: translateX(0.2rem);
        }
        &:hover,
        &:focus {
            transition: all 0.5s;
            transform: translateY(-0.2rem);
            color: #009136;
            filter: drop-shadow(0px 1px 0px #009136);
        }
    }
    address {
        position: relative;
        padding-left: 2.3rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.9rem;
        font-feature-settings: "case" on, "cpsp" on;
        color: #828282;
        transition: all 0.5s;
        display: block;
        &::after {
            position: absolute;
            content: "";
            background: url("../img/icons/sprite.svg#location");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            // width: 1.59rem;
            // height: 2.1rem;
            // top: 0.1rem;
            // left: 0.1rem;
            width: 1.38rem;
            height: 1.85rem;
            top: 0.1rem;
            left: 0rem;
            transform: translateX(0.2rem);
        }
    }
}
