.addres 
    a(href="https://yandex.ru/maps/?rtext=~53.528796,49.392563&rtt=mt" target="_blank") Санкт-Петербург, 
        br
        |ул. Радищева 39В
        //- svg(width="45" height="45")
        //-     use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#location")