section.blog 
    .container 
        .blog__block
            include ./../../bem-blocks/blog__figure/blog__figure.pug
            include ./../../bem-blocks/blog__figure/blog__figure.pug
            include ./../../bem-blocks/blog__figure/blog__figure.pug
            include ./../../bem-blocks/blog__figure/blog__figure.pug
            include ./../../bem-blocks/blog__figure/blog__figure.pug
            include ./../../bem-blocks/blog__figure/blog__figure.pug
        button.btn.btn--blue Показать ещё