section.blog.blogs 
    .container 
        .btn.btn--green Блог
        h2.section__title Другие статьи
        .blog__block
            include ./../../bem-blocks/blog__figure/blog__figure.pug
            include ./../../bem-blocks/blog__figure/blog__figure.pug
            include ./../../bem-blocks/blog__figure/blog__figure.pug
        button.btn.btn--blue Смотреть все