section.about-numbers
    .container 
        h2.section__title О нас в цифрах
        .about-numbers__block 
            .about-numbers__box 
                p 5
                h3 Лет работы
            .about-numbers__box 
                p 20
                h3 Специалистов
            .about-numbers__box 
                p 206
                h3 Пациентов в год