section.alcoholism-factors
    .container
        .btn.btn--green Факторы алкоголизма
        h2.section__title.section__title--alcoholism-treatment Какие факторы ускоряют развитие алкоголизма?
        .section__description.section__description--alcoholism-treatment Как правило, если мужчина начинает 
            | систематически пить примерно в 25 лет. Однако во многих случаях всё происходит гораздо быстрее. 
            | Этому способствуют следующие обстоятельства:
        ul
            li если организм ослаблен чрезмерными физическими и психическими нагрузками (это касается студентов и спортсменов) или различными заболеваниями;
            li если человек осознанно употребляет алкоголь, чтобы получить «кайф», забыть о неприятностях, или просто «пьёт за компанию»;
            li если человек одновременно употребляет и другие наркотики (например, табакокурение);
            li дети и подростки спиваются гораздо быстрее, чем взрослые; 
            li женщины спиваются быстрее, чем мужчины;