section.operating-principle.principle
    .container 
        h2.section__title Принципы нашей работы
        ul 
            li 
                p: svg(width="45" height="45")
                    use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#patient1")
                p Исключительно индивидуальный подбор лекарственной терапии, психотерапии, семейной психотерапии.
            li 
                p: svg(width="45" height="45")
                    use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#education1")
                p Использование только самых современных и передовых методик лечения синдрома зависимости.
            li 
                p: svg(width="45" height="45")
                    use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#dropper1")
                p Восстановление работы печени, поджелудочной железы, головного мозга, сердечно-сосудистой системы.
            li 
                p: svg(width="45" height="45")
                    use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#syringe")
                p Диагноз выставляется на основе: наследственных данных, анализов, анамнестических данных, осмотра специалистов.
            li 
                p: svg(width="45" height="45")
                    use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#family1")
                p Семейный психотерапевтических подход. Восстановление утраченных взаимоотношений внутри семьи.