.principle {
    padding-top: 15rem;
    padding-bottom: 5rem;
    @media (min-width: 768px) {
        padding-top: 18.5rem;
    }
}

.operating-principle {
    .section__title {
        color: #01120f;
    }
}
