section.principle.services-principle
    .container 
        h2.section__title Главные особенности нашей работы
        .block 
            .block__box 
                h3 Оперативность 
                p
                    i: svg(width="45" height="45")
                        use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#clock")
                    |Время приезда врача-нарколога в Пушкин от 15 мин
            .block__box 
                h3 Современные препараты
                p
                    i: svg(width="45" height="45")
                        use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#syringe")
                    | Применяем самые современные и безопасные препараты и методики по выводу из запоя.
            .block__box 
                h3 Анонимность
                p
                    i: svg(width="45" height="45")
                        use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#anonym")
                    | Выведение из запоя и лечение происходят анонимно, что гарантирует отсутствие ущерба репутации пациента
    