section.about-us--doctor-call
    .container
        .gray-block.gray-block--about-us
            .section__subtitle Каждому своему клиенту мы #[i гарантируем полную анонимность] 
                | всех процедур при вызове нарколога на дом.
        .section__description.section__description--about-us Когда человек сталкивается с алкогольной зависимостью, 
            | то ему необходима квалифицированная помощь по выводу из запоя на дому. Центр наркологии и
            | психологии «Генезис» предлагает услугу по вызову нарколога на дом в Тольятти.
        .content-block.content-block--about-us
            .content-block__img.content-block__img--doctor-call.gradient
                    img(src="./wp-content/themes/genesis/assets/img/treatment-process-2.jpg" alt="Услуги нарколога на дому" width="579" height="300")
            .content-block__text.content-block__text--doctor-call.text
                h2.content-block__text-title Услуги нарколога на дому
                p Нарколог приезжает к больному, анализирует его состояние и степени тяжести зависимости, 
                    | подбирает лечение в индивидуальном порядке. Помощь будет оказана в любых сложных ситуациях 
                    | и на протяжении всей процедуры специалисты будут рядом с пациентом.
                p Осуществить вызов можно, лишь сделав один телефонный звонок в центр наркологии или оставить 
                    | заявку на нашем сайте. Выезд врача-нарколога на дом проводиться с 07:00 до 22:00.
                button.btn.btn--blue.btn-call Вызвать врача