.block 
    .block__box 
        h3 Оперативность 
        p
            i: svg(width="45" height="45")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#clock")
            |Исключительно индивидуальный подбор лекарственной терапии, психотерапии, семейной психотерапии.
    .block__box 
        h3 Доступность
        p
            i: svg(width="45" height="45")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#wallet")
            |Использование только самых современных и передовых методик лечения синдрома зависимости.
    .block__box 
        h3 Эффективность
        p
            i: svg(width="45" height="45")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#like")
            | Восстановление работы печени, поджелудочной железы, головного мозга, сердечно-сосудистой системы.
    .block__box  
        h3 Индивидуальный подход
        p
            i: svg(width="45" height="45")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#patient1")
            |Исключительно индивидуальный подбор лекарственной терапии, психотерапии, семейной психотерапии.
    .block__box 
        h3 Последующее лечение
        p
            i: svg(width="45" height="45")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#syringe")
            | Диагноз выставляется на основе: наследственных данных, анализов, анамнестических данных, осмотра специалистов.
    .block__box 
        h3 Поддержка на всех этапах
        p
            i: svg(width="45" height="45")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#handshake")
            | Семейный психотерапевтических подход. Восстановление утраченных взаимоотношений внутри семьи.