.block 
    .block__box  
        p
            i: svg(width="45" height="45")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#patient1")
            |Исключительно индивидуальный подбор лекарственной терапии, психотерапии, семейной психотерапии.
    .block__box 
        p
            i: svg(width="45" height="45")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#education1")
            |Использование только самых современных и передовых методик лечения синдрома зависимости.
    .block__box 
        p
            i: svg(width="45" height="45")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#dropper1")
            | Восстановление работы печени, поджелудочной железы, головного мозга, сердечно-сосудистой системы.
    .block__box 
        p
            i: svg(width="45" height="45")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#syringe")
            | Диагноз выставляется на основе: наследственных данных, анализов, анамнестических данных, осмотра специалистов.
    .block__box 
        p
            i: svg(width="45" height="45")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#family1")
            | Семейный психотерапевтических подход. Восстановление утраченных взаимоотношений внутри семьи.