.method-block.method-block--dovzhenko
    .section__title-block
        h2.section__title.section__title--bg «Кодирование по А.Р. Довженко»
    .method-block__inner 
        .method-block__img.method-block__img--dovzhenko.gradient
            img(src="./wp-content/themes/genesis/assets/img/dovzhenko.jpg" alt="Кодирование по Довженко" width="592" height="330") 
        .method-block__text.method-block__text--dovzhenko.text Этот метод разработан доктором А.Р. Довженко и применяется в медицинской практике с 1986 г. 
            | в помощь алкоголикам и наркоманам. Ключевая идея метода заключается в использовании силы воли 
            | врача для усиления воли пациента в его борьбе против своей алкогольной или наркотической зависимости. 
            | Сеанс состоит из трёх частей.
    .btn.btn--green Шаги лечения
    .treatment-steps
        .step
            .step__number.label Первая часть
            .step__content
                h3 Рациональная психотерапия
                p Рациональная психотерапия – способствует лучшему пониманию пациентом своей болезни.
                    | Усиливает его желание быть здоровым трезвым человеком.
        .step
            .step__number.label Вторая часть
            .step__content
                h3 Сеанс гипноза
                p Сеанс гипноза – это обращение к глубинным, бессознательным источникам поведения 
                    | человека, в которых заключена жизненная энергия. В том числе к инстинкту самосохранения.
                h4 В результате такого мощного психотерапевтического воздействия сознание человека:
                ul
                    li он освобождается от тяги и влечения к алкоголю
                    li происходит катарсис – очищение психики
                    li мозг становится свободным от алкогольных установок
                    li мозг становится свободным от алкогольных установок
                p Появляется непереносимость алкоголя, равнодушие или даже отвращение к спиртному
        .step
            .step__number.label Третья часть
            .step__content
                h3 Введение кода
                p В этой части сеанса достигнутое на предшествующих этапах новое здоровое состояние 
                    | психики и ЦНС фиксируется стрессовым воздействием на специальные точки – нервные окончания
                    | и вводится специальный «противоалкогольный препарат», окончательно формируя непереносимость 
                    | алкоголя и закрепляя установку на трезвость
                ul
                    li Длительность сеанса 1,5 – 2 часа
    .problem-solution
        .problem-solution__inner 
            .problem-solution__content
                h3.problem-solution__title Важно!
                .problem-solution__text
                    p Нужно добавить, что проводить этот метод лечения может только специально обученный 
                        | специалист – врач психиатр-нарколог или психотерапевт, прошедший дополнительное
                        | обучение методу «Кодирование по Довженко».
                    p Огромное значение, кроме этого, имеет и то, как сам врач относится к алкоголю. 
                        | Врач, употребляющий алкоголь, пусть даже по праздникам и в небольших количествах, 
                        | сам разрушает свой мозг и не способен эффективно помогать своим пациентам.
                    p Поэтому при выборе врача обязательно задайте вопрос: «Доктор, а вы сами употребляете алкоголь?» 
                        | И если получите утвердительный ответ, то советую поискать другого специалиста. 
                        | Это условие относится и к другим методам лечения зависимостей.
                a(href="#!").btn.btn--white.btn-consult Записаться на консультацию
            .content-block__img.content-block__img--problem-solution.gradient 
                img(src="./wp-content/themes/genesis/assets/img/treatment.jpg" alt="Кодирование по Довженко" width="464" height="311")