.alcoholism-price {

    .gray-block {
        margin-bottom: 4rem;

        @media screen and (min-width: 1320px) {
            margin-bottom: 8rem;
        }
    }

    .services-cards {
        margin-bottom: 5.05rem;

        @media screen and (min-width: 1320px) {
            margin-bottom: 10.1rem;
            margin: 0 -1rem;
        }
    }

    .service__card {
        min-height: 31rem;
        padding: 9.1rem 2.5rem 2.5rem 1.8rem;
        background: $gray6;
        border-radius: .5rem;

        @media screen and (min-width: 1200px) {
            max-width: 36rem;
        }

        @media screen and (min-width: 1320px) {
            max-width: 39rem;
            margin: 0 1rem 8.2rem 1rem;
        }


        .label {
            left: 0;
        }

        .card__text {
            margin-bottom: 1.7rem;
        }
    }

    .card__title--small {
        margin-bottom: 1rem;
        text-align: center;

        @media screen and (min-width: 768px) {
           text-align: initial;
        }
    }
}

.alcoholism-price {

    .service__card {
        margin: 1rem 0 2.1rem 0;

        @media screen and (min-width: 768px) {
            margin: 0 .75rem 2.1rem .75rem;
        }
    }
}