section.alcoholism-price
    .container
        .btn.btn--green Цены
        h2.section__title.section__title--alcoholism-treatment Цены лечения алкоголизма в Тольятти
        .section__description.section__description--alcoholism-treatment Стоимость на лечение алкоголизма зависит 
            | от условий проведения процедур и степени сложности зависимости. Наша клиника лечения алкоголизма все
            | услуги проводит анонимно. Более подробно вы можете узнать, позвонив в наш центр.
        .services-cards 
            article.service__card
                .card__price.label от 3 000 ₽
                h3.card__title--small Вызов врача на дом
                .card__text.text Рациональная психотерапия – способствует лучшему пониманию пациентом своей болезни. 
                a(href="#!").btn.btn--blue.btn--blue-service-card Заказать услугу
            article.service__card
                .card__price.label от 2 000 ₽
                h3.card__title--small Вывод из запоя
                .card__text.text Рациональная психотерапия – способствует лучшему пониманию пациентом своей болезни. 
                a(href="#!").btn.btn--blue.btn--blue-service-card Заказать услугу
            article.service__card
                .card__price.label от 4 000 ₽
                h3.card__title--small Блокада алкогольного центра
                .card__text.text Рациональная психотерапия – способствует лучшему пониманию пациентом своей болезни. 
                a(href="#!").btn.btn--blue.btn--blue-service-card Заказать услугу
            article.service__card
                .card__price.label от 6 000 ₽
                h3.card__title--small Кодирование по Довженко
                .card__text.text Рациональная психотерапия – способствует лучшему пониманию пациентом своей болезни. 
                a(href="#!").btn.btn--blue.btn--blue-service-card Заказать услугу
            article.service__card
                .card__price.label от 2 000 ₽
                h3.card__title--small Снятие алкогольной интоксикации
                .card__text.text Рациональная психотерапия – способствует лучшему пониманию пациентом своей болезни. 
                a(href="#!").btn.btn--blue.btn--blue-service-card Заказать услугу
        include ./../../bem-blocks/guarantees/guarantees.pug