.licenses--page {
   padding: 0;

    @media screen and (min-width: 1320px) {
        padding: 0;
    }

    .slider-wrap {

        &:not(:nth-of-type(2)) {
            margin-top: 1rem;
        }

        @media screen and (min-width: 1320px) {
            width: 100%;
        }
    }
}

.section__title--licenses-page {
    max-width: 29rem;
    text-align: center;

    @media screen and (min-width: 414px) {
        max-width: 31rem;
    }

    @media screen and (min-width: 560px) {
        max-width: 100%;
    }

    @media screen and (min-width: 1320px) {
        margin: 5rem 0 3rem 0;
    }
}

.swiper-first,
.swiper-second,
.swiper-third,
.swiper-fourth,
.swiper-fifth  {
    max-width: 28rem;
    margin: 0 auto;

    @media screen and (min-width: 414px) {
        max-width: 31.6rem;
    }

    @media screen and (min-width: 768px) {
        max-width: 33rem;
    }

    @media screen and (min-width: 900px) {
        max-width: 68.5rem;
    }

    @media screen and (min-width: 1024px) {
        max-width: 80rem;
    }

    @media screen and (min-width: 1320px) {
        max-width: 99.1rem;
    }

    .swiper-wrapper {

        @media screen and (min-width: 1320px) {
            flex-wrap: wrap;
        }
    }

    .slide-licenses {
        overflow: hidden;

        @media screen and (min-width: 1320px) {
            width: calc(100% / 12 * 4);
            max-width: 31rem;
            margin: 0 1rem 1rem 1rem;
        }
    }
}