.gradient,
.gradient-short {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
    }
}

.gradient {
    &::after {
        background: $img-overay;
    }
}

.gradient-short {
    &::after {
        background: $img-overay-short;
    }
}
