section.banner.banner--alcohol-treatment
    .container
        .banner
            .banner__inner
                .banner__content
                    .banner__content-left
                        .btn.btn--green.btn--banner Работаем с 2002 года
                        h1.main__title Лечение алкоголизма в Тольятти
                        ul
                            li Дипломированные и лицензированные специалисты
                            li Даем гарантию на процедуру
                            li Оставляем препараты пациентам
                            li Медики со стажем от 20 лет
                        .banner__content__bottom
                            button.btn.btn--blue.btn-call Вызвать врача
                            button.btn.btn--blue.btn-consult Получить консультацию
                            .banner__doctor-call
                                svg(width="20" height="20")
                                    use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#alarm") 
                                span Вызов врача с 07:00 до 22:00
                    