.banner--alcohol-treatment .banner {

    @media screen and (min-width: 0) {

        background: url(../img/alcohol-treatment-banner-sm.jpg) 100% 100%/cover no-repeat;

        @media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            background: url(../img/alcohol-treatment-banner-sm@2x.jpg) 100% 100%/cover no-repeat;
        }
    }

    @media screen and (min-width: 768px) {
        background: url(../img/alcohol-treatment-banner-md.jpg) 100% 100%/cover no-repeat;

        @media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            background: url(../img/alcohol-treatment-banner-md@2x.jpg) 100% 100%/cover no-repeat;
        }
    }

    @media screen and (min-width: 1320px) {
        min-height: initial;
        background: url(../img/alcohol-treatment-banner-lg.jpg) 100% 100%/cover no-repeat;

        @media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            background: url(../img/alcohol-treatment-banner-lg@2x.jpg) 100% 100%/cover no-repeat;
        }
    }
}
