section.prices 
    .containers 
        table 
            tbody
                tr 
                    th Наименование
                    th Стоимость
                tr 
                    td Первичная консультация (психиатр-нарколог, психотерапевт)
                    td 
                        p
                            strong 2000 
                            |р./час
                        button.btn.btn--blue.btn-consult Записаться
                tr 
                    td Повторная консультация (психиатр-нарколог, психотерапевт) 
                    td 
                        p
                            strong 2000 
                            |р./час
                        button.btn.btn--blue.btn-consult Записаться
                tr 
                    td Вызов врача на дом
                    td 
                        p от 
                            strong 3000  
                            |р.
                        button.btn.btn--blue.btn-call Вызвать
                tr 
                    td Блокада алкогольного центра
                    td 
                        p
                            strong 4000 
                            |р./ 1 год
                            br
                            strong 4500 
                            |р./ 2 года
                            br
                            strong 5000 
                            |р./ 3 года
                            br
                            strong 5500 
                            |р./ 4 года
                            br
                            strong 6000 
                            |р./ 5 года
                        button.btn.btn--blue.btn-consult Записаться
                tr 
                    td Лечение табакокурения
                    td 
                        p от 
                            strong 2500 
                            |р./сеанс
                        button.btn.btn--blue.btn-consult Записаться