section.prices.prices-doctor 
    .containers 
        .btn.btn--green Наши услуги
        h2.section__title Цена вызова нарколога
        table 
            tbody
                tr 
                    th Наименование
                    th Стоимость
                tr 
                    td Вызов врача на дом
                    td 
                        p от 
                            strong 1500 
                            |до 
                            strong 4000 
                            |р.
                        button.btn.btn--blue.btn-call Вызвать