section.advantages
    .btn.btn--green Преимущества
    .numbers
        .numbers-block 
            .green-square.green-square--advantages
                svg(width="45" height="45")
                    use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#advantage-1")
            .counts__text.counts__text--advantages Анонимно и конфиденциально
        .numbers-block 
            .green-square.green-square--advantages
                svg(width="45" height="45")
                    use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#advantage-2")
            .counts__text.counts__text--advantages Работаем со сложными случаями
        .numbers-block 
            .green-square.green-square--advantages
                svg(width="45" height="45")
                    use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#advantage-3")
            .counts__text.counts__text--advantages Эффективная программа
        .numbers-block 
            .green-square.green-square--advantages
                svg(width="45" height="45")
                    use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#advantage-4")
            .counts__text.counts__text--advantages Восстановление здоровья и психики