.advantages {
    position: relative;
    width: 100%;
    // height: 17rem;
    left: 0;
    right: 0;
    margin-left: auto;
    bottom: 0;
    background: #11c0ab;
    padding: 2.8rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // transform: translate(0, -50%);
    transform: translateY(20%);
    @media (min-width: 768px) {
        padding: 3.8rem 3.8rem 1.8rem 8.4rem;
        width: 75rem;
        border-radius: 100px 0px 0px 100px;
        transform: translateY(45%);
    }
    @media (min-width: 1200px) {
        transform: translateY(35%);
    }
    p {
        position: relative;
        width: 12rem;
        padding-right: 1rem;
        margin-right: 1.1rem;
        text-align: center;
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #ffffff;
        @media (min-width: 600px) {
            width: 25%;
        }
        @media (min-width: 768px) {
            width: 14.8rem;
            padding-right: 2.8rem;
            margin-right: 6.6rem;
            text-align: right;
            font-size: 1.8rem;
            line-height: 2.5rem;
        }
        // border-right: 1px solid rgba(255, 255, 255, 0.8);
        &:last-child {
            margin-right: 0;

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 130%;
                border-right: none;
                right: 0;
            }
        }

        &::after {
            @media (min-width: 768px) {
                position: absolute;
                content: "";
                width: 6.7rem;
                height: 6.7rem;
                left: 0;
                top: 0;
                transform: translate(-4rem, 0.5rem);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 130%;
            border-right: 1px solid rgba(255, 255, 255, 0.8);
            right: 0;
        }
        &:nth-child(1) {
            &::after {
                background: url("../img/icons/medicine1.svg");
            }
        }
        &:nth-child(2) {
            &::after {
                background: url("../img/icons/stetohoscope.svg");
            }
        }
        &:nth-child(3) {
            &::after {
                transform: translate(-3rem, 0.5rem);
                width: 5.653rem;
                background: url("../img/icons/iv-bag.svg");
            }
        }
    }
}
