.advantages
    p Вывод из 
        br
        |запоя от 1799 
        br
        |рублей
    p Бесплатная 
        br
        |консультация 
        br
        |нарколога
    p Капельница 
        br
        |от 1500 
        br
        |рублей
