.banner--home .banner {

    @media screen and (min-width: 0) {

        background: url(../img/mainpage-banner-sm.jpg);
        background-position: 65% -1rem;
        background-size: cover;
        background-repeat: no-repeat;

        @media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            background: url(../img/mainpage-banner-sm@2x.jpg);
            background-position: 65% -1rem;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    @media screen and (min-width: 414px) {

        background: url(../img/mainpage-banner-sm.jpg) 100% 100%/cover no-repeat;

        @media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            background: url(../img/mainpage-banner-sm@2x.jpg) 100% 100%/cover no-repeat;
        }
    }

    @media screen and (min-width: 560px) {

        background: url(../img/mainpage-banner-sm.jpg) 100% 84%/cover no-repeat;

        @media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            background: url(../img/mainpage-banner-sm@2x.jpg) 100% 84%/cover no-repeat;
        }
    }

    @media screen and (min-width: 768px) {
        background: url(../img/mainpage-banner-md.jpg) 100% 100%/cover no-repeat;

        @media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            background: url(../img/mainpage-banner-md@2x.jpg) 100% 100%/cover no-repeat;
        }
    }

    @media screen and (min-width: 1024px) {
        min-height: initial;
        background: url(../img/mainpage-banner-lg.jpg) 67% 100%/cover no-repeat;

        @media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            background: url(../img/mainpage-banner-lg@2x.jpg) 67% 100%/cover no-repeat;
        }
    }
}

