section.banner-page
    .container 
        .banner-page__block
            h1 Сотрудники центра
            p У нас работают профессионалы - врачи с большим опытом
                | по оказанию помощи в преодолении алкогольной и наркотической 
                |зависимости. Раз в пять лет врач подтверждает сертификат специалиста в своей области.