section.banner-page
    .container 
        .banner-page__block
            h1 Услуги нашего центра
            p Мы гарантируем бережное и внимательное отношение ко всем клиентам,
                | все методы лечения обладают высокой эффективностью и безопасностью, 
                |поскольку используются настоящими профессионалами.