section.licenses.licenses-page
    .container
        h1.main__title Лицензии
        h2.section__title Медицинские лицензии
        p Мы прошли длинный путь к получению лицензии на осуществление медицинской 
            |деятельности по наркологии-психиатрии.  Для начала работы наркологического центра 
            |“ДетоксМед” потребовалось разрешение Комитета по здравоохранению Ленинградской области, 
            |который является отраслевым органом исполнительной власти Ленинградской области, обеспечивающим 
            |в пределах компетенции, установленной Правительством Ленинградской области, реализацию 
            |государственной политики в сфере охраны здоровья граждан.
        h3 Номер лицензии ЛО-47-01-002022 от 20 декабря 2018г
    .containers
        include ./../../bem-blocks/slider-licenses/slider-licenses.pug