section.licenses
    .container
        .btn.btn--green Лицензии
        h2.section__title.section__title--licenses Клиника имеет необходимые лицензии на ведение медицинской деятельности
        .slider-wrap 
            .swiper-container.swiper-licenses
                .swiper-wrapper
                    .swiper-slide.slide-licenses
                        img(src="./wp-content/themes/genesis/assets/img/license-4-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-4.jpg" alt="Лицензия" width="316" height="474").minimized
                        .img__overlay
                        .eye
                            svg(width="100" height="100")
                                use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                    .swiper-slide.slide-licenses
                        img(src="./wp-content/themes/genesis/assets/img/license-5-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-5.jpg" alt="Лицензия" width="316" height="474").minimized
                        .img__overlay
                        .eye
                            svg(width="100" height="100")
                                use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                    .swiper-slide.slide-licenses
                        img(src="./wp-content/themes/genesis/assets/img/license-6-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-6.jpg" alt="Лицензия" width="316" height="474").minimized
                        .img__overlay
                        .eye
                            svg(width="100" height="100")
                                use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                    .swiper-slide.slide-licenses
                        img(src="./wp-content/themes/genesis/assets/img/license-7-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-7.jpg" alt="Лицензия" width="316" height="474").minimized
                        .img__overlay
                        .eye
                            svg(width="100" height="100")
                                use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                    .swiper-slide.slide-licenses
                        img(src="./wp-content/themes/genesis/assets/img/license-8-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-8.jpg" alt="Лицензия" width="316" height="474").minimized
                        .img__overlay
                        .eye
                            svg(width="100" height="100")
                                use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                    .swiper-slide.slide-licenses
                        img(src="./wp-content/themes/genesis/assets/img/license-9-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-9.jpg" alt="Лицензия" width="316" height="474").minimized
                        .img__overlay
                        .eye
                            svg(width="100" height="100")
                                use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                    .swiper-slide.slide-licenses
                        img(src="./wp-content/themes/genesis/assets/img/license-10-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-10.jpg" alt="Лицензия" width="316" height="474").minimized
                        .img__overlay
                        .eye
                            svg(width="100" height="100")
                                use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                    .swiper-slide.slide-licenses
                        img(src="./wp-content/themes/genesis/assets/img/license-11-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-11.jpg" alt="Лицензия" width="316" height="474").minimized
                        .img__overlay
                        .eye
                            svg(width="100" height="100")
                                use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                    .swiper-slide.slide-licenses
                        img(src="./wp-content/themes/genesis/assets/img/license-12-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-12.jpg" alt="Лицензия" width="316" height="474").minimized
                        .img__overlay
                        .eye
                            svg(width="100" height="100")
                                use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
            .swiper-button-prev--licenses
            .swiper-button-next--licenses
