section.licenses
    .container
        h2.section__title Медицинские лицензии
        h3 Номер лицензии ЛО-47-01-002022 от 20 декабря 2018г
        include ./../../bem-blocks/slider-licenses/slider-licenses.pug