.licenses {
    padding: 10rem 0;
    @media (min-width: 1344px) {
        padding-top: 10rem;
        padding-bottom: 3rem;
    }
    .containers {
        padding-top: 3.4rem;
        @media (min-width: 1344px) {
            padding-bottom: 7rem;
        }
        position: relative;
        z-index: 0;
        &::before,
        &::after {
            @media (min-width: 1344px) {
                position: absolute;
                content: "";
                z-index: 0;
            }
        }
        &::after {
            @media (min-width: 1344px) {
                width: 39rem;
                height: 29rem;
                background: url(../img/icons/marc.svg);
                right: 0;
                bottom: 0;
            }
        }
        &::before {
            @media (min-width: 1344px) {
                width: 9rem;
                height: 9rem;
                left: 2rem;
                top: 0;
                background: url(../img/icons/marcer2.svg) 100% 100% / cover no-repeat;
            }
        }
    }
    h3 {
        @media (min-width: 1200px) {
            align-self: flex-end;
        }
    }
}
