section.documents 
    .containers 
        h2.card__title Права граждан в области охраны здоровья
        p Право граждан на охрану здоровья и бесплатную, качественную медицинскую помощь 
            |в соответствии с Программой государственных гарантий по обеспечению граждан РФ бесплатной медицинской помощью:
        ul 
            li Пункт 1 ст. 41 Конституции Российской Федерации
            li Ст. 18, 19 Федерального Закона Российской Федерации 
                |«Об основах охраны здоровья граждан в Российской Федерации» (№ 323-ФЗ от 21.11.11 г.)
            li Ст. 18, 19 Федерального Закона Российской Федерации «Об основах охраны здоровья граждан 
                |в Российской Федерации» (№ 323-ФЗ от 21.11.11 г.)
        p Право граждан на охрану здоровья и бесплатную, качественную медицинскую 
            |помощь в соответствии с Программой государственных гарантий по обеспечению граждан РФ бесплатной медицинской помощью:
        ul 
            li Пункт 1 ст. 41 Конституции Российской Федерации
            li Ст. 18, 19 Федерального Закона Российской Федерации «Об основах охраны здоровья граждан 
                |в Российской Федерации» (№ 323-ФЗ от 21.11.11 г.)
            li Ст. 18, 19 Федерального Закона Российской Федерации 
                |«Об основах охраны здоровья граждан в Российской Федерации» (№ 323-ФЗ от 21.11.11 г.)

