section.our-specialists
    .container
        .btn.btn--green Врачи
        h2.section__title.section__title--alcoholism-treatment Наши специалисты
        .section__description.section__description--alcoholism-treatment У нас работают профессионалы - врачи с 
            | большим опытом по оказанию помощи в преодолении алкогольной и наркотической зависимости. 
            | Раз в пять лет врач подтверждает сертификат специалиста в своей области.
        .content-block
            .specialists__content
                .specialists__photo-wrap
                    .specialists__photo.gradient-short
                        img(src="./wp-content/themes/genesis/assets/img/doctor-1.jpg" alt="Андрей Геннадьевич Ткач" width="314" height="472")
                        .specialists__experience Опыт работы более #[span.specialists__number 25] лет
                .specialists__info.specialists__info--staff
                    h3.specialists__name Андрей Геннадьевич Ткач
                    .specialists__position психотерапевт, психиатр-нарколог, руководитель Центра 
                        | психотерапии и наркологии «Генезис»
                    .text
                        p Неотложная диагностика и интенсивная терапия абстинентных синдромов. Методика «Кодирование по 
                            | Довженко» , «Блокада алкогольного центра», «Акупунктурное программирование». 
                            | Активная психотерапия зависимостей. Собственный подход к лечению зависимостей.
                            | «Интегративное переформирование с позитивной фиксацией трезвости».
                            | «Трансформация алкогольной личности».
                    a(href="#").btn.btn--white Подробнее
            .specialists__content
                .specialists__photo-wrap
                    .specialists__photo.gradient-short
                        img(src="./wp-content/themes/genesis/assets/img/doctor-2.jpg" alt="Королёва Екатерина Александровна" width="314" height="472")
                        .specialists__experience Опыт работы более #[span.specialists__number 25] лет
                .specialists__info.specialists__info--staff
                    h3.specialists__name Королёва Екатерина Александровна
                    .specialists__position медицинский психолог
                    .text
                        p Диагностика интеллекта, мышления и эмоционально- волевой, личностной сферы; 
                            | диагностика и психотерапия детско-родительских отношений, коррекционная работа в
                            | группе при нарушениях отношений со сверстниками;  коррекция поведения 
                            | (конфликты, замкнутость, капризность, непослушание и др.); диагностика и коррекция
                            | эмоциональных нарушений (страхи, агрессия, неустойчивость, тревожность и т.д.).
                    a(href="#").btn.btn--white Подробнее
                    