section.site-map
    .container
        ul 
            li: a(href="index.html") Главная
            li
                a(href="about.html") О центре
                ul 
                    li: a(href="staff.html") Специалисты
                    li: a(href="licenses.html") Лицензии
                    li: a(href="schedule.html") Расписание
                    li: a(href="reception.html") Правила записи на первичный приём
                    li: a(href="treatment-metods.html") Методы лечения
                    li: a(href="narcology.html") Наркология
            li 
                a(href="services.html") Услуги центра
                ul 
                    li: a(href="alcoholism-treatment.html") Лечение алкоголизма
                    li: a(href="#") Снятие алкогольной интоксикации
                    li: a(href="#") Кодирование от алкоголизма
                    li: a(href="#") Лечение наркомании
                    li: a(href="#") Вывод из запоя
                    li: a(href="#") Лечение табакокурения
                    li: a(href="#") Услуги психотерапевта
                    li: a(href="#") Услуги психолога
            li: a(href="prices.html") Цены на услуги
            li: a(href="doctor-at-home.html") Вызов врача на дом
            li: a(href="reviews.html") Отзывы
            li: a(href="blog.html") Блог
            li: a(href="contacts.html") Контакты