.site-map {
    padding: 2rem 0;
    @media screen and (min-width: 1320px) {
        padding: 5rem 0;
    }
    ul {
        width: 100%;
        ul {
            padding-left: 2rem;
            margin-bottom: 1rem;
            margin-top: 0.8rem;
        }
        li {
            position: relative;
            padding-left: 1.5rem;
            margin-bottom: 0.8rem;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background-color: $blue;
                transform: translate(0%, 0.9rem);
            }
            ul {
                margin-left: 0;
                padding-left: 2rem;
            }
        }
        a {
            @include Raleway-Bold();
            font-size: 1.4rem;
            line-height: 160%;
            color: $blue;
            transition: all 0.3s;
            outline: transparent;
            margin-top: auto;
            position: relative;
            &:hover,
            &:focus {
                &::after {
                    width: 100%;
                    transition: all 0.3s;
                }
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 0;
                background-color: $blue;
                transition: all 0.3s;
            }
        }
    }
}
