section.narcology-text.text
    .containers
        h2.section__title Запечатление ощущений алкогольной эйфории
        p От чего человек получает удовольствие? От всего, что связано с исполнением его желаний и удовлетворением потребностей.
            |Для того чтобы удовлетворить свои потребности и взрослому и ребёнку приходится 
            |потрудиться, приложить определённые психические и физические усилия, проявить смекалку-смелость, 
            |ловкость-умелость, преодолеть препятствия, чтобы достичь желаемого. Это в точности соответствует поговорке:
            | «Без труда не вытащишь и рыбку из пруда».
            |Наркотическое же удовольствие не требует действий и особого труда, кроме простого введения наркотика 
            |в организм. В условиях, когда алкоголь доступен и относительно дёшев, удовольствие от алкогольного 
            |опьянения можно получить быстро. Чтобы получить удовлетворение, надо только «пойти, взять, выпить» 
            |и вот оно, «алкогольное счастье уже весело стучится в мозг». Это запоминается и формируется память 
            |на состояние эйфории – приятного расслабления и приподнятого настроения в алкогольном опьянении, 
            |когда облегчается контакт с незнакомыми или малознакомыми людьми, темы для разговора возникают сами собой, 
            |общение легко и приятно, время течёт весело и незаметно.
        p Так один из механизмов действия алкоголя создаёт «удовольствие», 
            |а второй – убивает, под прикрытием первого. Дьявольский механизм, порабощающий душу 
            |человека, и разрушающий его тело. Удовольствие и смерть в одном флаконе. Попасть 
            |в эти «дьявольские клещи» просто и легко, ведь употреблять алкоголь человек начинает 
            |в молодости, не обладая полнотой информации, не задумываясь или легкомысленно относясь 
            |к последствиям УПОТРЕБЛЕНИЯ алкоголя… (продолжение следует)