section.narcology-text.text
    .containers
        h2.section__title Алкогольное информационное заражение
        p Доказано, что наша память хранит всю информацию, с которой мы когда-либо 
            |имели дело. Вспомните свой первый эпизод знакомства с информацией об алкоголе. 
            |Что это было? Возможно, вы видели, как ваши родители на новый год пьют шампанское 
            |или отмечают день рожденья. Водка, вино «льются рекой», шумят поздравительные речи, 
            |мелькают улыбки, кто-то звонко смеётся, песни, танцы, создают атмосферу веселья, в которую включён и… алкоголь. 
        p Со всеми этими картинками в нашей европейской культуре, каждый человек, я уверен, знаком 
            |с раннего детства. Это первая фаза формирования алкоголизма – запечатление образа пьянства. 
            |Об этом не пишут в учебниках по наркологии или психологии. Но зато в психологии хорошо известен 
            |факт, что дети подражают взрослым, имитируют их поведение. Для вовлечения детей в алкоголизм не 
            |обязательно давать им пробовать алкоголь. Достаточно распивать спиртные напитки в их присутствии. 
            |В раннем детском возрасте сознание как пустая сумка – в него лезет всё – и хорошее и плохое. 
            |В возрасте до 3-5 лет оно жадно впитывает все факты окружающей действительности – обучается, 
            |чтобы потом воспроизвести это в самостоятельной жизни, адаптироваться к тем формам общественного поведения, 
            |которые приняты в нашей культуре. Да вы и сами разве не «чокались» в детстве фужером, наполненным лимонадом 
            |или может быть не тащили в рот карандаш, подражая курящему папе? Так вы тренировались быть в будущем 
            |алкоголиком или курильщиком.
        p  Общество, в котором ребёнок родился, живёт и воспитывается и в особенности семья – программируют
            | сознание ребёнка образцами своего поведения. Будьте внимательны молодые и будущие мамы и папы:
            | детей надо воспитывать, пока они еще малы, так как взрослого человека воспитывать бесполезно. 
            |«УЧИ ДИТЯ, ПОКА ПОПЕРЕК ЛАВКИ УКЛАДЫВАЕТСЯ, А ВО ВСЮ ВЫТЯНЕТСЯ – НЕ НАУЧИШЬ» (русская поговорка).