section.specialists
    .container
        .btn.btn--green Врачи
        h2.section__title.section__title--about-us-numbers Наши специалисты
        .section__description.section__description--specialists У нас работают профессионалы - врачи с большим опытом по оказанию помощи в 
            | преодолении алкогольной и наркотической зависимости. Раз в пять лет врач подтверждает 
            | сертификат специалиста в своей области.
        .specialists__content
            .specialists__photo-wrap
                .specialists__photo.gradient-short
                    img(src="./wp-content/themes/genesis/assets/img/doctor-1.jpg" width="314" height="472" alt="Андрей Геннадьевич Ткач")
                .specialists__experience Опыт работы более #[span.specialists__number 25] лет
            .specialists__info
                h3.specialists__name Андрей Геннадьевич Ткач
                .specialists__position психотерапевт, психиатр-нарколог, руководитель Центра 
                    | психотерапии и наркологии «Генезис»
                .specialists__data
                    p С 1994 года более 5000 пациентов с моей помощью сумели излечиться от алкогольной 
                        | зависимости, пройти лечение от наркомании, отказаться от табакокурения, благодаря 
                        | чему улучшили свои семейные отношения, избавились от панической атаки, невроза, 
                        | депрессии и бессонницы.
                    p Не упускайте время - воспользуйтесь профессиональной помощью и пройдите кодирование от 
                        | алкоголизма с последующей реабилитацией от алкогольной зависимости и наркомании.
                button.btn.btn--blue.btn--blue-specialists Подробнее
            .specialists__lisences
               .specialists__lisences__title Дипломы специалиста 
                    .slider-wrap 
                        .swiper-container.swiper-lisences--small-first
                            .swiper-wrapper
                                .swiper-slide.slide-lisences--small
                                    img(src="./wp-content/themes/genesis/assets/img/license-1-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-1.jpg" alt="Лицензия" width="316" height="474").minimized
                                    .img__overlay
                                    .eye
                                        svg(width="100" height="100")
                                            use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                                .swiper-slide.slide-lisences--small
                                    img(src="./wp-content/themes/genesis/assets/img/license-2-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-2.jpg" alt="Лицензия" width="316" height="474").minimized
                                    .img__overlay
                                    .eye
                                        svg(width="100" height="100")
                                            use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                                .swiper-slide.slide-lisences--small
                                    img(src="./wp-content/themes/genesis/assets/img/license-3-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-3.jpg" alt="Лицензия" width="316" height="474").minimized
                                    .img__overlay
                                    .eye
                                        svg(width="100" height="100")
                                            use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                                .swiper-slide.slide-lisences--small
                                    img(src="./wp-content/themes/genesis/assets/img/license-4-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-4.jpg" alt="Лицензия" width="316" height="474").minimized
                                    .img__overlay
                                    .eye
                                        svg(width="100" height="100")
                                            use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                                .swiper-slide.slide-lisences--small
                                    img(src="./wp-content/themes/genesis/assets/img/license-5-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-5.jpg" alt="Лицензия" width="316" height="474").minimized
                                    .img__overlay
                                    .eye
                                        svg(width="100" height="100")
                                            use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                                .swiper-slide.slide-lisences--small
                                    img(src="./wp-content/themes/genesis/assets/img/license-6-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-6.jpg" alt="Лицензия" width="316" height="474").minimized
                                    .img__overlay
                                    .eye
                                        svg(width="100" height="100")
                                            use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                                .swiper-slide.slide-lisences--small
                                    img(src="./wp-content/themes/genesis/assets/img/license-13-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-13.jpg" alt="Лицензия" width="316" height="474").minimized
                                    .img__overlay
                                    .eye
                                        svg(width="100" height="100")
                                            use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                                .swiper-slide.slide-lisences--small
                                    img(src="./wp-content/themes/genesis/assets/img/license-14-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-14.jpg" alt="Лицензия" width="316" height="474").minimized
                                    .img__overlay
                                    .eye
                                        svg(width="100" height="100")
                                            use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                                .swiper-slide.slide-lisences--small
                                    img(src="./wp-content/themes/genesis/assets/img/license-15-min.jpg" data-full="./wp-content/themes/genesis/assets/img/license-15.jpg" alt="Лицензия" width="316" height="474").minimized
                                    .img__overlay
                                    .eye
                                        svg(width="100" height="100")
                                            use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#zoom")
                        .swiper-button-prev-lisences--small-first
                        .swiper-button-next-lisences--small-first
