section.maps 
    .container
        .maps__block
            .maps__block-map
                script(defer type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abb7c796770d1a918e8392f2dfa08eae6c6bb7101488297fba9203cdb6dfc5a19&amp;width=100%25&amp;height=479&amp;lang=ru_RU&amp;scroll=true")
            .maps__block-info
                p   
                    strong Юридическая информация:
                    br
                    |Автономная некоммерческая организация Медико-Психологическая практика «Генезис»
                p Лицензия ЛО-63-01-001974 от «05» апреля 2013 г. Министерство здравоохранения Самарской области выдана бессрочно
                p ОГРН 1036301048519
                    br
                    |ИНН/КПП 6321105239/632101001
                    br
                    |р/с 40703810700270000020
                    br
                    |в ОАО КБ «СОЛИДАРНОСТЬ»
                    br
                    |БИК 043601706
                    br
                    |кор/с 30101810800000000706
                p 
                    strong Юридический адрес:
                    br
                    |445031, Самарская область, г. Тольятти, ул. Татищева б-р, 2, кв.53
                p 
                    strong Фактический адрес:
                    br
                    |445004, Самарская область, г. Тольятти, ул. Лесная, 1, этаж 2, к. 214, 215, 216, 217