.maps {
    padding: 3.9rem 0;
    &__block {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        @media (min-width: 1320px) {
            justify-content: flex-end;
        }
    }
    &__block-map {
        width: 100%;
        max-width: 79.7rem;
    }
    &__block-info {
        width: 100%;
        max-width: 80rem;
        background: $gray6;
        border-radius: 5px;
        padding: 2.3rem 3.2rem 2.3rem 2.3rem;
        margin-top: 2rem;
        @media (min-width: 1320px) {
            max-width: 38.8rem;
            margin-top: 0;
            margin-left: 2.5rem;
        }
        p {
            margin-bottom: 1.5rem;
            @include OpenSans-Regular();
            font-size: 1.4rem;
            line-height: 1.9rem;
            color: $gray2;
            &:last-child {
                margin-bottom: 0;
            }
            &:nth-child(1) {
                strong {
                    display: inline-block;
                    margin-bottom: 1.3rem;
                }
            }
        }
    }
}
