section.advantages-appeal.advantages-prices
    .container
        h2.section__title “ДетоксМед24” - капельница + кодирование
        .info.info-order
            .info__txt
                p Это предложение возникло для многих, когда пандемия внесла тяжелые изменения в порядок жизни. 
                    |У некоторых возникли трудности с зарабатыванием в этот период, потеря работы, долгое сидение 
                    |дома на самоизоляции. Это приводит к трудностям в психологическом плане как в семье, так и порой 
                    |с самим собой. Возникают желания убрать негативный фон путем выпивания спиртных напитков, что 
                    |может привести к чрезмерному употреблению алкоголя, к запойным состояниям.
            .info__img
                img(src="./wp-content/themes/detox-med/assets/img/prices3.jpg", alt="“ДетоксМед24”")


        ul 
            li 
                h3 Снятие отравления алкоголем
                p Капельница (устраняет эффекты отравления алкоголем), таблетки.
                p Цена: 
                    strong 2445 руб
                    button.btn-green Заказать
            li 
                h3 Запой 1-2 дня
                p Капельница (снотворное + лечение сердца, печени) , таблетки на 3 дня.
                p Цена: 
                    strong 3445 руб
                    button.btn-green Заказать
            li 
                h3 Запой от 3х дней до месяца
                p Капельница ( восстановление сна + снижение давления + лечение сердца + печени + лечение отёка головного мозга) , таблетки на 3 дня.
                p Цена: 
                    strong 4755 руб
                    button.btn-green Заказать
            li 
                h3 Если завтра на работу
                p Восстановительная капельница (восстановление сна+лечение печени, сердца + устранение последствий интоксикации + нормализация работы головного мозга), таблетки на 5 дней.
                p Цена: 
                    strong 6855 руб
                    button.btn-green Заказать
            li 
                h3 Полное восстановление
                p Две восстановительных капельницы утро/вечер, таблетки на 5 дней.
                p Цена: 
                    strong 9955 руб
                    button.btn-green Заказать
            
        p: i * При заказе наших услуг консультация нарколога — БЕСПЛАТНО,  осмотр и диагностика состояния пациента — БЕСПЛАТНО.
        