section.advantages-appeal.advantages-prices-s
    .container
        h2.section__title Лечение алкоголизма
        .info
            .info__txt
                p: em Первый подход
                p Полный отказ от употребления алкоголя на длительный период — кодирование от алкоголизма.
                p Полный отказ возможен в случае применения препаратов блокирующих ферменты алкогольдегидрогеназы.
                p Введение препарата «Дисульфирам», либо его производного — препарата «Эспераль -гель».
                p Данная процедура предназначена для длительного воздерживания, от 1 мес. до 5-ти лет. Кодирование от алкоголизма можно провести и вызовом нарколога на дом.
            .info__img
                img(src="./wp-content/themes/detox-med/assets/img/prices.jpg", alt="Лечение алкоголизма")
        p: em Введение препарата «Дисульфирам»
        ul 
            li: button.btn-zacaz-s  
                span На 1 месяц
                strong 2445 ₽
            li: button.btn-zacaz-s 
                span На 1 год
                strong 2445 ₽
            
            li: button.btn-zacaz-s  
                span На 3 года
                strong 2445 ₽
            li: button.btn-zacaz-s 
                span На 5 лет
                strong 2445 ₽
        p: em Введение препарата «Эспераль-гель»
        ul 
            li: button.btn-zacaz-min
                span На 1 месяц 
                strong 2300 ₽
            li: button.btn-zacaz-min
                span На 1 год 
                strong 3800 ₽
            
            li: button.btn-zacaz-min
                span На 3 года
                strong 4500 ₽
            li: button.btn-zacaz-min
                span На 5 лет
                strong 5500 ₽
        .info.info-order
            .info__txt
                p: em Второй подход
                p Снижение дозы потребления алкоголя с возможностью пить как все.
                p Данный метод лечения алкоголизма (метод «Норма») , подразумевает цикл из 4-х инфузий (капельниц), с параллельным назначением препаратов снижающих влечение к алкоголю, которые выдаются пациенту на руки.
                ul 
                    li: button.btn-zacaz-long
                            span Стоимость лечения по методу «Норма»
                            strong от 20 000 ₽
            .info__img
                img(src="./wp-content/themes/detox-med/assets/img/olga-kononenko.jpg", alt="Лечение алкоголизма")