section.advantages-services.addiction
    .container
        h2.section__title Что такое абстинентный синдром
        .info.info-order
            .info__txt
                p  Абстинентный синдром  или синдром отмены — комплекс расстройств (проявляющихся в 
                    |основном со стороны психики), возникающих в результате отказа от вещества вызывающего зависимость.
                p Наиболее частые симптомы: тревожное состояние, беспокойство, возбуждение, бессонница. 
                    |Реже: тряска в теле, кошмарные сновидения, галлюцинации. Всё это — признаки абстиненции
                    | (синдрома отмены), которая может развиться на любое психоактивное вещество, 
                    |либо лекарственное вещество, применяемое систематически. Особенно явно себя проявляет 
                    |при отмене алкоголя, наркотических препаратов, некоторых лекарственных препаратов.
            .info__img
                img(src="./wp-content/themes/detox-med/assets/img/abstinentnyj-sindrom.jpg", alt="Абстинентный синдром")