section.advantages-services
    .container
        h2.section__title Вывода из запоя – нормальная практика
        .info.info-order
            .info__txt
                p Вызвать нарколога на дом для вывода из запоя на дому в Санкт Петербурге – оптимальное решение, 
                    |если родственник пьет и запой длится более нескольких дней. Врач поможет вернуть ясность ума,
                    | устранить риск наступления белой горячки, симптомы абстиненции. Обращение членов семьи пьющего 
                    |в наркологический центр вывода из запоя – нормальная практика. Не нужно думать, что проблема 
                    |разрешиться сама собой. Человек будет пить до тех пор, пока будет возможность за что купить спиртное. 
                    |Со временем пьющий человек теряет моральный облик, не брезгует воровством, предпринимает попытки 
                    |завладеть обманным путем чужим имуществом, продажей вещей из дома за бесценок. Разорвать порочный 
                    |круг, обеспечить шансы на избавление от влечения может процедура выведение из запоя на дому в 
                    |СПб круглосуточно.
                p Помощь предоставляется анонимно, процедуру вывода из запоя недорого и профессионально выполнят наши 
                    |врачи. Специалист может приехать в течение часа, что существенно, если пьющий:
                ul 
                    li ведет себя неадекватно;
                    li думает о суициде;
                    li теряет сознание;
                    li высказывает бредовые идеи;
                    li распускает руки;
                    li не может выйти из запоя;
                    li склонен к эпилепсии;
                    li испытывает сильный абстинентный синдром;
                    li видит галлюцинации;
                    li наотрез отказывается лечиться.
                    li слышит голоса;
            .info__img
                img(src="./wp-content/themes/detox-med/assets/img/pochemu-vazhno-prokapatsja-ot-alkogolja-na-domu-glavnaja.jpg", alt="Вывода из запоя")