section.advantages-services
    .container
        h2.section__title Какую помощь оказает врач-нарколог
        .info
            .info__txt
                p В настоящее время, проблема лечения наркомании стоит крайне остро. Неприятное состояние связанное
                    | с обрывом приёма наркотиков, приводит пациентов за наркологической помощью. Эффективное 
                    |снижение явлений абстиненции, является важнейшей и самой главной задачей в терапии наркоманий 
                    |при вызове врача нарколога на дом. В состоянии пациента преобладают, тревога беспокойство, 
                    |бессонница, тягостные и мучительные боли в мышцах и суставах. Подобное состояние может 
                    |продолжаться до нескольких недель. Снять данное состояние может инфузионная терапия с применением.
                p Нарколог на дому в СПб буквально за 2 минуты после установки капельницы устранит 
                    |у пациента симптомы абстиненции — головная боль, тошнота, тревога, ощущение внутренней 
                    |дрожи, бессонница, восстанавливается аппетит. После проведения данной процедуры пациент 
                    |погружается в медикаментозный сон, который в норме продолжается в течении от 3-х до 12 часов. 
                    |Результат проведения данной процедуры зависит от продолжительности приёма наркотических препаратов,
                    | тяжести состояния пациента, а также от выбранной схемы лечения.
            .info__img
                img(src="./wp-content/themes/detox-med/assets/img/olga-kononenko.jpg", alt="Какую помощь оказает врач-нарколог")