section.advantages-appeal.advantages-prices
    .container
        h1.main__title.main__titles Стоимость лечения
        h3 Вывод из запоя на дому
        include ./../../bem-blocks/info/info-prices.pug
        ul 
            li 
                h3 Детокс
                p Призвана устранить остаточную алкогольную интоксикацию и риск развития похмелья
                p Цена: 
                    strong 2445 руб
            li 
                h3 Детокс +
                p Устраняет выраженные явления похмелья, нормализует работу сердца, головного мозга.
                p Цена: 
                    strong 3445 руб
            li 
                h3 Детокс-усиленная
                p Наиболее оптимальна при запоях средней продолжительности от 3 до 7ми дней. Эффективно устраняет признаки интоксикации, устраняет начало развития похмельного синдрома.
                p Цена: 
                    strong 4445 руб
            li 
                h3 Детокс-оптимум
                p Устраняет явления интоксикации и похмелья, нормализует работу почек, головного мозга, сердечно- сосудистой системы, кратно снижает риск сердечных и мозговых осложнений
                p Цена: 
                    strong 6855 руб
            li 
                h3 Детокс-максимум
                p Самая эффективная система Детокса. Призвана быстро снять все явления похмелья в максимально сжатые сроки; Применяется в случае необходимости быть работоспособным на следующий день.
                p Цена: 
                    strong 9955 руб
            li 
                h3 Детокс-ультра
                p Наиболее эффективная система дезинтоксикации. Включает 2-3 приезда врача до устранения всех эффектов интоксикации. Эффективно снимает абстинентный синдром, восстанавливает после длительных алкогольных эксцессов ( более 5ти дней) .
                p Цена: 
                    strong 14950 руб
        p: i * Схемы лечения Детокс при проведении лечения на дому включают минимальный перечень обследования (Электрокардиография, глюкометрия, алкометрия).
        .advantages-prices__bottom 
            p Все схемы лечения призваны в считанные минуты снизить явления абстиненции, восстановить нормальное 
                |сердцебиение, артериальное давление а соответственно снять угрозу для жизни.
            p Синдром интоксикации алкоголем явление наиболее часто встречающееся. Возникает в результате 
                |однократного приёма больших доз алкоголя (корпоратив, праздник, семейное событие). Проявляется
                | преимущественно выраженным чувством тошноты, головной болью, беспокойством. Для Снятия подобных
                | симптомов также разработаны схемы лечения – Детокс, которые позволят в считанные минуты облегчить
                | состояние – устранить тошноту, головную боль, эмоциональный и физический дискомфорт.