section.advantages-appeal.advantages-prices.advantages-prices-l
    .container
        h2.section__title Лечение наркомании
        .info.info-order
            .info__txt
                p В настоящее время, проблема лечения наркомании стоит крайне остро. Неприятное состояние 
                    |связанное с обрывом приёма наркотиков, приводит пациентов за наркологической помощью. 
                    |Эффективное снижение явлений абстиненции, является важнейшей и самой главной задачей в 
                    |терапии наркоманий при вызове врача нарколога на дом. В состоянии пациента преобладают, 
                    |тревога беспокойство, бессонница, тягостные и мучительные боли в мышцах и суставах. 
                    |Подобное состояние может продолжаться до нескольких недель. Снять данное состояние может 
                    |инфузионная терапия с применением.
            .info__img
                img(src="./wp-content/themes/detox-med/assets/img/drugs.jpg", alt="Лечение наркомании")
        ul 
            li 
                h3 Детокс
                p Призвана устранить остаточную алкогольную интоксикацию и риск развития похмелья
                p Цена: 
                    strong 2445 руб
            li 
                h3 Детокс +
                p Устраняет выраженные явления похмелья, нормализует работу сердца, головного мозга.
                p Цена: 
                    strong 3445 руб
            
            li 
                h3 Детокс-оптимум
                p Устраняет явления интоксикации и похмелья, нормализует работу почек, головного мозга, сердечно- сосудистой системы, кратно снижает риск сердечных и мозговых осложнений
                p Цена: 
                    strong 6855 руб
            li 
                h3 Детокс-максимум
                p Самая эффективная система Детокса. Призвана быстро снять все явления похмелья в максимально сжатые сроки; Применяется в случае необходимости быть работоспособным на следующий день.
                p Цена: 
                    strong 9955 руб
        p: i * Все схемы лечения призваны в считанные минуты снизить явления абстиненции, восстановить нормальное сердцебиение, артериальное давление а соответственно снять угрозу для жизни.