section.bank-details
    .container 
        h2.section__title Реквизиты клиники
        ul 
            li 
                p ООО «Клиника Святого Петра»
                p ОГРН 1174704012669
                p ИНН 4716043725
                p КПП 471601001
            li 
                p Реквизиты банка
                p ПАО Сбербанк
                p БИК 044030653
                p Р/с 40702810855120000360
                p к/с 30101810500000000653
            li Юридический адрес: 187032, Ленинградская область, Тосненский район, пос. Тельмана, д.28 А, помещение 2.