.breadcrumbs {
    align-self: flex-start;

    padding: 1rem 0 1rem 0;

    ul {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    a {
        margin-right: 0.4rem;
        color: rgba(1, 18, 15, 0.4);
    }
    // .breadcrumbs-slash {
    //     color: rgba(1, 18, 15, 0.4);
    // }
    .breadcrumbs__item {
        color: rgba(1, 18, 15, 0.4);
        @include Nunito-Regular();
    }
}
