nav.breadcrumbs
    ul.breadcrumbs-list
        li.breadcrumbs__item
            a(href= breadcrumbsHomepageLink).breadcrumbs__link.breadcrumbs__link--homepage= breadcrumbsHomepage 
            a(href= breadcrumbsLink_1)= breadcrumbsText_1 
            a(href= breadcrumbsLink_2)= breadcrumbsText_2
            span.breadcrumbs-slash= breadcrumbsText_3