section.alcoholism-causes
    .container
        .btn.btn--green Причины алкоголизма
        h2.section__title.section__title--alcoholism-treatment Причины алкоголизма
        .section__description.section__description--alcoholism-treatment Чтобы поставить предварительный диагноз 
            | «хронический алкоголизм», достаточно убедиться в присутствии хотя бы двух симптомов из перечисленных ниже:
        .content-block
            .content-block__img.content-block__img--alcoholism-causes.gradient
                    img(src="./wp-content/themes/genesis/assets/img/treatment.jpg" alt="Причины алкоголизма" width="579" height="381")
            .content-block__text.text
                p Не в последнюю очередь это может определяться наследственностью. Так, представители многих 
                    | этнических групп (например, индейцы, народы Сибири) спиваются очень легко. У них нет фермента, 
                    | отвечающего за расщепление алкоголя. У некоторых людей снижена активность этого фермента, 
                    | они быстрее пьянеют. Такие особенности обмена веществ в организме определяют возможность 
                    | развития алкоголизма. Но всё же основную роль играют психогенетические факторы – условия 
                    | развития личности, особенно в детстве, условия воспитания и образования.
                p Cледует помнить, что обратное развитие алкоголизма невозможно. Если человек продолжает пить, 
                    | то накапливаются патологические нарушения и болезнь прогрессирует. Если человек не пьёт, 
                    | то развитие алкоголизма приостанавливается. Однако алкоголик никогда не сможет вновь стать 
                    | умеренно пьющим человеком. А чтобы бросить пить и выйти в режим устойчивой трезвости, ему 
                    | может потребоваться лечение от алкогольной зависимости.