extends ./../layouts/main

block variables
    - let pageTitle = 'Расписание';

    - let breadcrumbsHomepage = 'Главная / ';
    - let breadcrumbsText_1 = 'Расписание';
    - let breadcrumbsText_2 = '';
    - let breadcrumbsText_3 = '';

    - let breadcrumbsHomepageLink = 'index.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        section.banner-page
            .container 
                .banner-page__block.banner-page__block-center
                    h1 Правила внутреннего распорядка Центра наркологии и психотерапии «Генезис»
        .container
            include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        include ./../components/sections/schedule/schedule.pug
        include ./../components/sections/form-down/form-down.pug
        include ./../components/sections/footer/footer.pug