//- главный контейнер слайдера 
.swiper-container.slider-licenses
    //- обязательная оболочка
    .swiper-wrapper.slider-licenses__wrapper
        //- слайды
        .swiper-slide.slider-licenses__slide
            .slider-licenses__img
                img.minimized(src="./wp-content/themes/detox-med/assets/img/license-1.jpg" data-full="./wp-content/themes/detox-med/assets/img/license-1-max.jpg" width="316" height="474", alt="" )
                .img__overlay
        .swiper-slide.slider-licenses__slide
            .slider-licenses__img
                img.minimized(src="./wp-content/themes/detox-med/assets/img/license-2.jpg" data-full="./wp-content/themes/detox-med/assets/img/license-2-max.jpg" width="316" height="474", alt="" )
                .img__overlay
        .swiper-slide.slider-licenses__slide
            .slider-licenses__img
                img.minimized(src="./wp-content/themes/detox-med/assets/img/license-3.jpg" data-full="./wp-content/themes/detox-med/assets/img/license-3-max.jpg" width="316" height="474", alt="" )
                .img__overlay
.slider-licenses-prev ➔ 
.slider-licenses-next ➔
