.belt__tags
    a.belt__tags-link.link-active(href="#") Все статьи
    a.belt__tags-link(href="#") Психология
    a.belt__tags-link(href="#") Наркомания
    a.belt__tags-link(href="#") Кодирование
    a.belt__tags-link(href="#") Психотерапия
    a.belt__tags-link(href="#") Табакокурение
    a.belt__tags-link(href="#") Алкоголизм