.belt__tags
    a.belt__tags-link.link-active(href="#") Все статьи
    a.belt__tags-link(href="#") Наркомания
    a.belt__tags-link(href="#") Алкогольная зависимость
    a.belt__tags-link(href="#") Полезное
    a.belt__tags-link(href="#") Кодирование
    a.belt__tags-link(href="#") Интересное