section.form
    .container
        .btn.btn--green Консультация
        h2.section__title.section__title--form Запишитесь на консультацию
        .section__description.section__description--form Расскажите вкратце о проблеме в форме обратной связи. #[br] На 
            | ваши вопросы ответит нарколог в процессе личной консультации.
        form(id="form__down" action="#" method="POST").main-form.main-form--down
            .inputs-wrap 
                input(type="text" name="user-name" placeholder="Ваше имя")._req.main-form__user-name
                input(id="phone-input-down" type="text" name="user-phone" placeholder="+ 7 ___ - __ - __")._req.phone-input.main-form__user-phone
                input(type="email" name="user-email" placeholder="Электронная почта")._req.main-form__user-email
            textarea(name="user-message" placeholder="Напишите ваш вопрос")._req.main-form__user-message
            button(type="submit").btn.btn--blue.btn-send Отправить заявку
            .checkbox-wrap 
                input(type="checkbox" id="policy-down" name="policy" checked)
                label(for="policy-down").form__policy-text Вы соглашаетесь с &#160;
                    a(href="#!" target="_blank").form__policy-link условиями обработки персональных данных