.method-block {
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1320px) {
        margin-bottom: 10rem;  
    }

    &--treatment-process {
        // margin-bottom: 1.55rem;

        @media screen and (min-width: 1320px) {
            margin-bottom: 3.1rem !important;  
        }

        .method-block__img {

            @media screen and (min-width: 1024px) {
                height: 23.7rem;
            }

            @media screen and (min-width: 1200px) {
                height: auto;
            }
        }

        .method-block__text {

            @media screen and (min-width: 1024px) {
                margin: 0 0 0 2rem;
            }
        }

        &:nth-of-type(2n) {

            .method-block__img {

                @media screen and (min-width: 1024px) {
                    order: 1;
                }
            }

            .method-block__text {

                @media screen and (min-width: 1024px) {
                    margin: 0 2rem 0 0;
                }

                @media screen and (min-width: 1320px) {
                    margin-right: 2.2rem !important;
                }
            }
        }

        .method-block__inner {
            margin-bottom: 0 !important;
        }

        .section__title {

            @media screen and (min-width: 1024px) {
                text-align: initial;
            }
        }
    }

    &:last-of-type {

        @media screen and (min-width: 1320px) {
            margin-bottom: 7.2rem;  
        }
    }
    
    .method-block__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 3.1rem;
    
        @media screen and (min-width: 1024px) {
            flex-direction: row;
            flex-wrap: nowrap;
            // justify-content: space-between;
            align-items: initial;
        }
    }
}

.method-block--alcoholism {
    margin-bottom: 5rem;
}

.method-block--alcoholism,
.method-block--medical,
.method-block--coding {

    .method-block__inner,
    .method-block__img {
        margin-bottom: 0;
    }
}

.method-block--coding,
.method-block--alcoholism,
.method-block--medical {

    .method-block__text {
        order: -1;
    }
}

.method-block--dovzhenko {

    .method-block__inner {
        margin-bottom: 9rem;
    }
}

.method-block__text {
    max-width: 53.7rem;

    @media screen and (min-width: 1024px) {
        margin-right: 2rem;
    }

    @media screen and (min-width: 1200px) {
        max-width: 59.2rem;
    }

    p:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    p:last-of-type {
        margin-bottom: 1.4rem;
    }

    ul {
        margin-bottom: 2rem;

        @media screen and (min-width: 1320px) {
            margin-bottom: 0;
        }
    }

    ul li {
        position: relative;
        margin-left: 2.5rem;

        &::before {
            position: absolute;
            content: "";
            top: 1.2rem;
            left: -2rem;
            transform: translateY(-50%);
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: $green;

            @media screen and (min-width: 1320px) {
                top: 50%;
            }
        }
    }
}

.method-block__img {
    order: -1;
    width: 29rem;
    height: 18.3rem;
    margin-bottom: 2.9rem;
    border-radius: .5rem;

    @media screen and (min-width: 414px) {
        width: 35.7rem;
        height: 22.5rem;
    }

    @media screen and (min-width: 768px) {
        width: 53.6rem;
        height: 33.8rem;
        margin-bottom: 3.4rem;
    }

    @media screen and (min-width: 1024px) {
        height: 25rem;
    }

    @media screen and (min-width: 1320px) {
        // order: 0;
        width: 59.5rem;
        height: 37.5rem;
        margin-bottom: 0 !important;
    }

    img {
        height: 100%;
        // border-radius: .5rem;
    }
}