.questions {
    padding: 10rem 0;
}

// new
.accordion-first {
    width: 100%;
    article {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #11c0ab;
        border-radius: 20px;
        margin-bottom: 3rem;
        iframe,
        video {
            width: 100%;
        }
    }
    h3 {
        position: relative;
        z-index: 2;
        display: block;
        height: auto;
        font-feature-settings: "pnum" on, "lnum" on;
        transition: all 0.4s;
        cursor: pointer;
        transition: all 1s;
        padding: 1.6rem 3.5rem 1.6rem 2rem;
        font-size: 1.4rem;
        @media (min-width: 600px) {
            font-size: 2rem;
            padding: 1.6rem 5.5rem 1.6rem 2rem;
        }
        &::after {
            position: absolute;
            content: "➔";
            top: calc(40% - 0.3rem);
            right: 0;
            font-weight: bold;
            margin-right: 1.5rem;
            transition: all 0s;
            transform: rotate(90deg);
            margin-top: auto;
            margin-bottom: auto;
            @media (min-width: 960px) {
                top: calc(40% - 0.5rem);
                margin-right: 3.5rem;
            }
        }
        &::before {
            content: "";
            position: absolute;
            width: 88%;
            height: 0.1rem;
            bottom: 0;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            background-color: rgba(17, 192, 171, 0.7);
            transform: scale(0);
            transition: all 0.9s;
            @media (min-width: 460px) {
                width: 91%;
            }
            @media (min-width: 560px) {
                width: 92%;
            }
            @media (min-width: 660px) {
                width: 94%;
            }
            @media (min-width: 760px) {
                width: 95%;
            }
        }
    }

    .accordion__item {
        // height: 5.9rem;
        position: relative;
        min-height: 0;
        transition: all 0.8s linear;
        z-index: 0;
        // position: relative;
        h3 {
            transition: all 0.3s linear;
        }
        p {
            padding-left: 3rem;
            padding-right: 3rem;
            padding-bottom: 3rem;
            overflow: hidden;
            position: absolute;
            // transform: translateY(-100%);
            width: 100%;
            opacity: 0;
            transition: all 0.5s linear;
            visibility: hidden;
        }
    }
    .accordion__item--active {
        h3 {
            margin-bottom: 3rem;
            padding-bottom: 1rem;

            color: #11c0ab;
            &::after {
                color: #11c0ab;
            }
            &::before {
                transform: scale(1);
                transition: all 0.9s;
            }
            position: relative;
            &::after {
                top: calc(40% - 0.3rem);

                transition: all 0s;
                transform: rotate(-90deg);
                @media (min-width: 960px) {
                    top: calc(40% - 0.5rem);
                    margin-right: 3.5rem;
                }
            }
        }
    }
    .accordion__item p.accordion__content--active {
        // transform: translateY(0%);
        max-height: initial !important;
        overflow: initial !important;
        opacity: 1 !important;
        transition: all 0.5s linear;
        position: relative;
        z-index: 0;
        visibility: visible;
    }
    .questions {
        padding: 10rem 0;
        .accordion-first {
            margin: 0 auto;
            width: 100%;
        }
        article {
            border: 1px solid #11c0ab;
            border-radius: 20px;
            width: 100%;
            transition: all 0.5s;
            &:not(:last-of-type) {
                margin-bottom: 3rem;
            }
        }
        h3 {
            padding: 1.6rem 2rem 1.6rem 2rem;
            border-radius: 20px;
            @media (min-width: 330px) {
                padding: 1.6rem 5rem 1.6rem 2rem;
            }
            @media (min-width: 460px) {
                padding: 1.6rem 6.5rem 1.6rem 2rem;
            }
            @media (min-width: 600px) {
                padding: 1.6rem 5rem 1.6rem 2rem;
            }
            @media (min-width: 1200px) {
                padding: 1.6rem 3rem 1.6rem 3rem;
            }
            &::after {
                margin-right: 1.5rem;
                @media (min-width: 960px) {
                    margin-right: 3.5rem;
                }
            }
            &:hover,
            &:focus {
                color: #11c0ab;
            }
        }
        p {
            transition: all 0.5s ease-out;
            transition: all 0.5s;
            padding: 0rem 2rem;
            font-size: 1.4rem;
            @media (min-width: 600px) {
                font-size: 1.6rem;
            }
            @media (min-width: 1200px) {
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }
    }
}
.questions-region {
    width: 100%;
    padding-bottom: 10rem;
    ul,
    li,
    h3,
    p {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    li {
        border: 1px solid #11c0ab;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 0rem 3rem 2rem 3rem;
        margin-bottom: 3rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    h3 {
        padding: 1.6rem 0;
        border-bottom: 1px solid rgba(17, 192, 171, 0.7);
        margin-bottom: 3rem;
    }
    p {
        margin-bottom: 1rem;
    }
    ul {
        ul {
            margin-bottom: 1rem;
            li {
                border: none;
                position: relative;
                padding: 0;
                padding-left: 2rem;
                margin-bottom: 0;
                &:before {
                    position: absolute;
                    content: "";
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 50%;
                    left: 0.7rem;
                    background-color: #01120f;
                    top: 0;
                    transform: translateY(1.2rem);
                }
            }
        }
    }
    a {
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 170%;
        color: #000;
        display: inline-block;
        position: relative;
        transition: all 0.3s;

        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1rem;
            background-color: #11c0ab;
            transform: scaleX(1);
            transition: transform 0.5s;
        }
        &:hover,
        &:focus {
            transition: all 0.3s;
            text-shadow: rgba(1, 18, 15, 0.7) 1px 0px, rgba(17, 192, 171, 0.4) 1px 1px, rgba(17, 192, 171, 0.4) 1px 0px,
                rgba(17, 192, 171, 0.4) 1px 1px;
            &::before {
                transform: scaleX(0);
            }
        }
    }
}
