section.questions-region
    .container 
        h2.section__title Вопросы и ответы об алкоголе и алкоголизме
        ul  
            li
                h3 Говорят, что существует кодировка «двойной блок». Это правда?
                p Действительно возможна реализация такого кодирования от алкоголя. При такой кодировке 
                    |осуществляется две процедуры кодирования одновременно. «Двойной блок» обеспечивает 
                    |усиленную возможность на запрет употребления алкоголя. Применяется он когда обычные методы 
                    |кодировки по каким-либо причинам не действуют на пациента. На возможность такого кодирования 
                    |обязательно надо проконсультироваться с врачом.
            li 
                h3 Живу с мужем, который слишком часто и много пьет. Какая возможность есть его закодировать?
                p Раиса, для кодирования от алкоголя обязательно надо будет согласие Вашего мужа на эти процедуры. 
                    |Это не простая задача, так большинство пьющих людей не считают себя алкоголезависимыми людьми, 
                    |которым нужно лечение от зависимости. Постарайтесь убедить его на кодирование. Кроме того, 
                    |необходимо перед кодировкой, чтобы он не пил в течение пяти дней. В любом случае, 
                    |Вы можете позвонить к нам в наркологический центр «ДетоксМед» и получить бесплатную 
                    |консультацию по этим и другим вопросам.