section.questions-region
    .container 
        h2.section__title Какие минусы есть при кодировании моего мужа от алкоголя?
        ul  
            li
                h3 Мой муж постоянно приходит домой пьяным после работы, но алкоголиком себя не считает и лечиться не хочет, что мне делать?
                p Минусы при процедуре кодирования могут быть следующие:
                ul 
                    li существование определенного ряда противопоказаний;
                    li существуют побочные эффекты;
                    li ограниченный срок действия кодирования;
                    li есть определенный процент не срабатывания кодировки, обусловленный особенностями психологии и физиологии пациента;
                    li при кодировании от алкоголя на человека могут действовать некоторые психологические факторы как, например, слишком большая боязнь выпить, что может привести к депрессиям и стрессу.
            li 
                h3 Для чего врач мне ставил капельницу при выводе из запоя?
                p Капельница используется для возможности быстрой доставки большого объема жидкости, 
                    |необходимых организмов веществ, витаминов и лекарственных препаратов вовнутрь тела, 
                    |минуя пищеварительный тракт. Если бы для этого использовался традиционный способ — выпить 
                    |лекарства, затем витамины, затем необходимые растворы в большом количестве, то, во-первых, 
                    |это было бы неприятно пить не очень вкусные растворы, а во-вторых, процесс пищеварения может 
                    |занимать длительное время, и пока эти бы растворы впитались в кровь, то период ожидания был бы 
                    |критический. При выводе из запоя важно быстро ввести нужные препараты, медикаменты и растворы, 
                    |чтобы не было осложнений со здоровьем у пациента. Вот почему врачи-наркологи активно используют капельницу.