section.questions-region
    .container 
        h2.section__title Вопросы и ответы об алкоголе и алкоголизме
        ul  
            li
                h3 Мой муж постоянно приходит домой пьяным после работы, но алкоголиком себя не считает и лечиться не хочет, что мне делать?
                p К сожалению, большинство пьющих людей и злоупотребляющих алкоголем не признают себя больными 
                    |алкоголизмом. При образовании вопроса о том, что надо бросить пить, они абсолютно уверены, 
                    |что могут бросить пить в любую минуту. Но фактически, бросить пить очень часто без помощи 
                    |наркологической службы не могут. Таких больных алкогольной зависимостью людей необходимо 
                    |уговаривать пройти лечение от алкоголизма. Для проведения процедур по выведению из запоя и 
                    |кодирования от алкоголя необходимо обязательно согласие пациента.
            li 
                h3 Действительно ли кодирование поможет отказаться от алкоголя?
                p Процедуру кодирования используют очень много человек. Не в силах отказаться от 
                    |спиртного, они выбрали кодировку от алкоголя, чтобы перестать пить и начать трезвую жизнь. 
                    |Кодировка позволяет полностью отказаться от спиртного на период действия кодировки. Наши 
                    |врачи-наркологи используют самые современные и эффективные препараты.