section.test
    .container 
        h2.section__title Вопросы и ответы о лечении алкоголизма

        .accordion-first.open
            article.accordion__item
                h3 Почему мой муж, приходя вечером с работы каждый день пьёт пиво? Уговоры на него не действуют.
                p Чаще всего причина заключается в особых свойствах алкоголя. 
                    |Во-первых, он относится с группе наркотических веществ, хотя в нашем понимании 
                    |это не укладывается - большинство людей всегда выпивали на праздниках, 
                    |алкоголь находится в свободной продаже, уклад россиян крепко издавно связан 
                    |со спиртными напитками. К особым свойствам алкоголя можно причислить то, что 
                    |он легко проникает во все уголки организма за счет уникальной способности растворяться 
                    |и в воде и в жирах, поэтому легко проникает в мозг, где может напрямую влиять на 
                    |большинство рецепторов, в том числе и на рецепторы гамма-аминомасляной кислоты, 
                    |нашего главного тормозного медиатора. Даже небольшая доза алкоголя влияет на дофаминовые 
                    |нейроны, которые отвечают за положительные эмоции (гармоны счастья). Поэтому за 
                    |счет выпивания алкогольных напитков происходит подъем настроения, снятие утомления 
                    |и стресса Таким образом, у употребляющего спиртное человека вечерком после рабочего 
                    |дня начинает формироваться устойчивая психологическая взимосвязь: употребил алкоголь
                    | - снял стресс и усталось, повысил себе настроение. После небольшого периода употребления,
                    | чувствительность рецепторов к алкоголю притупляется и, чтобы почувствовать себя "счастливым"
                    |, надо будет выпить уже гораздо больше алкоголя, а это уже прямой путь к алкоголизму на 
                    |второй стадии, когда организм будет ощущать и психологическую необходимость пить спиртное, 
                    |и физиологическую потребность, когда организм уже не может жить без алкоголя.
            article.accordion__item
                h3 Говорят, что пить пиво - это ещё хуже для здоровья, чем пить водку. Это правда? 
                    br
                p Важная тема для сегодняшнего общества. В последние годы фраза "выпить пива" стала гораздо моднее
                    | у молодежи, чем "выпить кваса", "выпить сока". Выпивание пива превратилось в бытовуху, 
                    |в каждодневку, причем обычностью потребления уже стала тара 1,5 литра. Когда пациенты 
                    |при лечении от алкогольной зависимостью слышат фразу "Вам после лечения нельзя будеть 
                    |пить спиртные напитки, в том числе и пиво", то они порой просто встают и уходят, мол, 
                    |"как же так, как я не буду пить пиво", "меняйте тогда лечение, но без пива я не смогу жить".
                    br
                    br
                    | Пиво - очень коварный напиток. Оно не позволяет чувствовать большую степень опьянения, при этом 
                    |пиво вызывает очень быстро привыкание к потреблению его, а также имеет некоторые количества 
                    |элементов, могущих в большом количестве нанести вред организму. При длительном употреблении 
                    |его происходят кардинальные изменения в организме пьющего - меняется внешний вид, появляется 
                    |тучность, могут появиться женоподобные черты внешности. Специалисты утверждают, что при частом 
                    |употреблении пива меняется гармональный фон человека. Одним из признаком пивного алкоголизма, 
                    |является частое желание расслабиться после работы с помощью одной или нескольких бутылочек пива.
                    | Также такие люди не могут чувствовать себя комфортно не употребив пива. Без него ему все время 
                    |чего-то не хватает.
                    br
                    br
                    | Известно, что у употребляющих пиво сердце получает ожирение и оно становится "бычьим сердцем". 
                    |Появляется все те же признаки заболевания алкогольной зависимостью, как и при употреблении 
                    |крепких спиртных напитков. Помните, чем раньше Вы поймете необходимость в профессиональной 
                    |помощи наркологов, тем проще Вам будет излечиться от алкогольной зависимости, в том числе 
                    |и от пивного алкоголизма.
            article.accordion__item
                h3 Стоит ли употреблять алкоголь во время вирусной эпидемии?
                p: iframe(width="560" height="315" src="https://www.youtube.com/embed/6Mih56gr-1U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)