.blog__figure 
    .blog__figure-img
        img(src="./wp-content/themes/genesis/assets/img/psychol-in-office.jpg", alt="Психолог в офисе")
    .blog__figure-txt
        i О приёме
        h2
            a(href="blog-page.html") Как проходят консультации психолога
        p Психолог создает опоры, чтобы человек мог пройти путь от знакомого и известного - переживания проблемы, 
            |к новому - знаниям о решении проблемы.
        a(href="blog-page.html") Читать далее