header.header
    .container
        .header__top
            include ./../../bem-blocks/logo/logo.pug
        //-     .header__top-block
        //-         .contacts.mn   
        //-             a(href="tel:+7(8482)21-03-03") +7 (8482) 21-03-03
        //-         include ./../../bem-blocks/addres/addres.pug
        //-     .header__top-block
        //-         .contacts.mn   
        //-             a(href="tel:+7(902)373-32-94") +7 (902) 373-32-94
        //-     .header__top-block.header__top-blocks
        //-         nav.social.mn 
        //-             ul  
        //-                 li: a(href="//api.whatsapp.com/send?phone=79313549001")
        //-                     img(src="./wp-content/themes/detox-med/assets/img/icons/whatsapp.svg", alt="Whatsapp")
        //-                 li: a(href="viber://chat?number=79313549001") 
        //-                     img(src="./wp-content/themes/detox-med/assets/img/icons/viber.svg", alt="Viber")
        //-         button.header__btn-ring.mn.btn-call Обратный звонок
    .header__bottom
        .container
            .header__bottom-inner
                include ./../../bem-blocks/header-nav/hamburger.pug
                button.header__btn-version Версия для слабовидящих
                