header.header
    .container
        .header__top
            include ./../../bem-blocks/logo/logo.pug
            include ./../../bem-blocks/addres/addres.pug
            include ./../../bem-blocks/contacts/contacts.pug
            include ./../../bem-blocks/social/social.pug
            button.btn-red.btn Обратный звонок
            button.header__btn-version 
                svg(width="45" height="45")
                    use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#glaz")
                |Версия для слабовидящих
.header__bottom
    .header__bottom-inner
        include ./../../bem-blocks/header-nav/hamburger.pug
        button.header__btn-version 
            svg(width="45" height="45")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#glaz")
            |Версия для слабовидящих
    