// Зеленые (градиентные) квадратные блоки с большими цифрами
.green-square {
    width: 100%;
    min-width: 8.4rem;
    width: 8.4rem;
    height: 8.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 1.5rem;
    @include Raleway-Medium();
    font-size: 7.8rem;
    line-height: 10.1rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: $gray6;
    background: $green-gradient;
    border-radius: .5rem;
}