.about-service__list
    ul 
        li 
            p: svg(width="84" height="84")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#phone-call")
            p Вы можете позвонить по телефону 
                a(href="tel:+7(931)354-90-01") +7(931) 354-90-01 
                | и получить консультацию или же заказать выезд врача на дом.
        li 
            p: svg(width="60" height="92")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#file")
            p У нас огромный опыт по выводу из запоя и лечения алкоголизма.
        li 
            p: svg(width="79" height="79")
                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#24-hours")
            p Мы работаем 24 часа в сутки и 7 дней в неделю.