.about-service__address
    .about-service__addres
        h3 Выезжаем по любому адресу в Санкт-Петербурге и Ленинградской области!
        a(href="!#") Санкт-Петербург
        a(href="!#") Кировский р-н (С-Петербург)
        a(href="kupchino.html") Купчино
        a(href="central-district.html") Центральный р-н
        a(href="admiralty.html") Адмиралтейский р-н
        a(href="!#") Колпино
        a(href="pushkin.html") Пушкин
        a(href="gatchina.html") Гатчина
        a(href="vsevolzhsk.html") Всеволожск
        a(href="!#") Кудрово
        a(href="rybatskoe.html") Рыбацкое
        a(href="toksovo.html") Токсово
        a(href="tosno.html") Тосно
        a(href="kirovsk.html") Кировск
        a(href="!#") Ломоносов
        a(href="kirishi.html") Кириши
        a(href="vyborg.html") Выборг
        a(href="peterhof.html") Петергоф
        a(href="shushary.html") Шушары
        a(href="metallostroy.html") Металлострой
        a(href="pavlovsk.html") Павловск
        a(href="volosovo.html") Волосово
        a(href="rzhevka.html") Ржевка, Пороховые
        a(href="sertolovo.html") Сертолово
        a(href="pargolovo.html") Парголово
        a(href="murino.html") Мурино, Новое Девяткино
        a(href="sestroretsk.html") Сестрорецк
        a(href="krasnoe-selo.html") Красное Село
    .about-service__video
        video(src="./wp-content/themes/detox-med/assets/video/vstupitelnoe-video-rukovolitelja-narkologicheskogo-centra-detoksmed-5.mp4" controls)