section.about-us.about-us--alcoholism-treatment
    .container
        .gray-block.gray-block--about-us
            .section__subtitle Лечение зависимостей в Центре психотерапии и наркологии #[i «Генезис»] 
                | – шанс вернуться к нормальной жизни #[i уже сегодня!]
        .content-block.content-block--about-us
            .content-block__img.content-block__img--alcoholism-treatment.gradient
                    img(src="./wp-content/themes/genesis/assets/img/treatment.jpg" alt="Анонимное лечение алоголизма" width="579" height="285")
            .content-block__text.text
                h2.content-block__text-title Анонимное лечение алоголизма
                p В наркологическом центре «Генезис» вы можете 
                    | пройти анонимное лечение алкоголизма в Тольятти. Наша клиника помощи зависимым поможет вам в борьбе с 
                    | алкозависимостью, независимо от стадии заболевания.
                p Благодаря организации качественного лечения нашими специалистами, большинство наших пациентов обрели 
                    | здоровое будущее для себя и своей семьи. Мы проводим лечение больных алкоголизмом только при наличии 
                    | добровольного желания и согласия на проведения процедур.