.treatment-steps {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 0 3.7rem 0;

    @media screen and (min-width: 1320px) {
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: initial;
        justify-content: space-between;
    }
}

.step {
    position: relative;
    width: 100%;
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    // margin: 0 1rem;
    padding-top: 3.3rem;
    background: $gray6;
    border-radius: .5rem;

    @media screen and (min-width: 414px) {
        max-width: 33rem;
    }

    @media screen and (min-width: 768px) {
        max-width: 38.9rem;
        margin: 0;
    }

    &::after {
        position: absolute;
        content: "";
        bottom: -1.8rem;
        left: 50%;
        transform: translateX(-50%);
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        background: $green;

        @media screen and (min-width: 1320px) {
            display: none;
        }
    }

    &::before {
        position: absolute;
        content: "";
        z-index: 1;
        bottom: -.5rem;
        left: calc(50% - .5rem);
        transform: rotate(45deg);
        width: 1rem;
        height: 1.1rem;
        border: solid #fff;
        border-width: 0 .2rem .2rem 0;

        @media screen and (min-width: 1320px) {
            display: none;
        }
    }

    &:last-of-type {

        @media screen and (min-width: 1320px) {
            &::after {
                position: absolute;
                content: "";
                bottom: initial;
                left: initial;
                top: 4.8rem;
                right: 4.4rem;
                display: block;
                width: .7rem;
                height: 1.3rem;
                border: solid $white;
                border-radius: initial;
                border-width: 0 .2rem .2rem 0;
                transform: rotate(45deg);
            }
        }
    }

    &:not(:last-of-type) {
        margin-bottom: 4.3rem;

        @media screen and (min-width: 1320px) {
            margin-bottom: 0;

            .step__number {

                &::after {
                    position: absolute;
                    content: "";
                    top: 50%;
                    right: -21.4rem;
                    transform: translateY(-50%);
                    width: 21.5rem;
                    height: 3.8rem;
                    background: url(../img/icons/arrow-green.svg) 100%/cover, no-repeat;
                }
            }
        }
    }

    &:last-of-type {

        @media screen and (min-width: 1320px) {

            .step__number {

                &::after,
                &::before {
                    position: absolute;
                    content: "";
                    top: 50%;
                    right: -21.4rem;
                    transform: translateY(-50%);
                    background: $green;
                }
                &::after {
                    width: 21.5rem;
                    height: .6rem;
                }

                &::before {
                    width: 3.6rem;
                    height: 3.6rem;
                    border-radius: 50%;
                }
            }
        }
    }

    &__number {
        position: relative;
        align-self: flex-start;
        padding: 1rem 1.7rem;
        border-radius: 0 .5rem .5rem 0;
        background: $green;
    }

    &__content {
        padding: 0 2.5rem 5.6rem 1.9rem;

        @media screen and (min-width: 768px) {
            padding: 0 2.5rem 8.2rem 1.9rem;
        }

        @media screen and (min-width: 1320px) {
            padding: 0 2.5rem 11.2rem 1.9rem;
        }

        h3 {
            margin: 1.5rem 0 1rem 0;
            @include OpenSans-Bold();
            font-size: 1.6rem;
            line-height: 2.2rem;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $gray2;

            @media screen and (min-width: 1320px) {
                font-size: 1.8rem;
                line-height: 2.5rem;
            }
        }

        p {
            margin-bottom: 3.2rem;
            text-align: justify;
            @include OpenSans-Regular();
            font-size: 1.4rem;
            line-height: 2.2rem;
            color: $gray2;
        }

        ul {
            padding-left: 1.8rem;

            li {
                position: relative;
                @include OpenSans-Regular();
                font-size: 1.4rem;
                line-height: 2.2rem;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: $gray5;
        
                &:not(:last-of-type) {
                    margin-bottom: .2rem;
                }
                
                &::before {
                    position: absolute;
                    content: "";
                    top: 1.2rem;
                    left: -2rem;
                    transform: translateY(-50%);
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background: $green;
            
                    @media screen and (min-width: 1320px) {
                        top: 50%;
                    }
                }
            }
        }

        h4 {
            margin-bottom: .9rem;
            @include OpenSans-Bold();
            font-size: 1.4rem;
            line-height: 2.2rem;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $gray2;
        }
    }

    // &__title {
    //     margin: 1.5rem 0 1rem 0;
    //     @include OpenSans-Bold();
    //     font-size: 1.6rem;
    //     line-height: 2.2rem;
    //     font-feature-settings: 'pnum' on, 'lnum' on;
    //     color: $gray2;

    //     @media screen and (min-width: 1320px) {
    //         font-size: 1.8rem;
    //         line-height: 2.5rem;
    //     }
    // }

    // &__text {
    //     margin-bottom: 3.2rem;
    // }

    // &__list-title {
    //     margin-bottom: .5rem;
    //     @include OpenSans-Bold();
    //     font-size: 1.4rem;
    //     line-height: 2.2rem;
    //     font-feature-settings: 'pnum' on, 'lnum' on;
    //     color: $gray2;
    // }

    // .step__list {
    //     padding-left: 1.8rem;
    // }

    // .step__list-item {
    //     @include OpenSans-Regular();
    //     font-size: 1.4rem;
    //     line-height: 2.2rem;
    //     font-feature-settings: 'pnum' on, 'lnum' on;
    //     color: $gray5;

    //     &:not(:last-of-type) {
    //         margin-bottom: .2rem;
    //     }
}


