section.treatment-steps
    .step
        .step__number.label Шаг первый
        .step__content
            h3 Бесплатная консультация
            p Текст о том, что можно придти консультацию, это бесплатно, 
                | а также анонимно и полностью конфиденциально.
            h4 По завершению консультации вы получите:
            ul
                li Варианты лечения заболевания
                li Рекомендации врача
    .step
        .step__number.label Шаг второй
        .step__content
            h3 Подписание договора
            p Возможно про то, что мы несём ответственность за здоровье наших 
                | пациентов и это закреплено договором.
            h4 В договоре закреплены ваши права:
            ul
                li Варианты лечения заболевания
                li Рекомендации врача
    .step
        .step__number.label Шаг третий
        .step__content
            h3 Лечение
            p Возможно про то, что мы несём ответственность за здоровье наших
                | пациентов и это закреплено договором.
            h4 В договоре закреплены ваши права:
            ul
                li Варианты лечения заболевания
                li Рекомендации врача