section.about-us
    .container
        .gray-block.gray-block--about-us
            .section__subtitle Лечение зависимостей в Центре психотерапии и наркологии #[i «Генезис»] 
                | – шанс вернуться к нормальной жизни #[i уже сегодня!]
        .section__description.section__description--about-us Центр психотерапии и наркологии в Тольятти «Генезис» эффективно 
            | помогает пациентам избавиться от зависимостей с 2002 года. 
            | За почти 20 лет с помощью наших эффективных консультаций наркологов вернулись к 
            | нормальной жизни тысячи пациентов, пройдя кодирование от алкоголизма
        .content-block.content-block--about-us
            .content-block__img.gradient
                    img(src="./wp-content/themes/genesis/assets/img/treatment.jpg" alt="Центр психотерапии и наркологии в Тольятти «Генезис»" width="666" height="291")
            .content-block__text.text
                p Врачи нашей клиники подходят к лечению алкоголиков комплексно. 
                    | Мы не ограничиваемся устранением абстинентного синдрома, коррекцией сопутствующей психопатологии.
                p Каждый курс профилактики наркомании заканчивается психологической и социальной реабилитацией, 
                    | что при соблюдении рекомендаций исключает рецидив заболевания. 
                    | В перечень наших услуг входит: лечение наркомании, кодирование от алкоголизма, вывод из запоя,
                    | избавление от табакокурения, кодирование от курения, устранение тревожных и депрессивных 
                    | расстройств, панических атак нарушений поведения.