.about-us {
    padding: 4.5rem 0;

    // @media screen and (min-width: 768px) {
    //     padding: 5rem 0 4.5rem 0;
    // }

    // @media screen and (min-width: 1320px) {
    //     padding: 4.5rem 0 3.6rem 0;
    // }
}

.gray-block--about-us {
    padding: 3rem 2rem;
    margin-bottom: 3.7rem;
    text-align: center;

    @media screen and (min-width: 414px) {
        padding: 4rem 3.4rem;
    }

    @media screen and (min-width: 768px) {
        padding: 5.3rem 4.8rem;
        margin-bottom: 5rem;
    }

    @media screen and (min-width: 1320px) {
        padding: 3.3rem 11.9rem 3.9rem 11.9rem;
    }
}

.section__description--about-us {
    max-width: 34.2rem;
    margin-bottom: 3.2rem;
    text-align: center;

    @media screen and (min-width: 768px) {
        max-width: 74rem;
        margin-bottom: 4.5rem;
    }
}
