nav.social 
    ul  
        li: a(href="//api.whatsapp.com/send?phone=79023733294" target="_blank")
            img(src="./wp-content/themes/genesis/assets/img/icons/whatsapp.svg", alt="Whatsapp")
        li: a(href="https://vk.com/club31456944" target="_blank") 
            img(src="./wp-content/themes/genesis/assets/img/icons/vk.svg", alt="VK")
        li: a(href="viber://chat?number=79023733294" target="_blank") 
            img(src="./wp-content/themes/genesis/assets/img/icons/viber.svg", alt="Viber")
            
