.specialists-staff {
    // margin-top: .8rem;

    .specialists {

        &:first-of-type {
            padding-top: 0;
        }
    }

    .specialists__content {
        
        @media screen and (min-width: 1024px) {
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: initial;
            justify-content: space-between;
        }
    }

    .specialists__photo {
        margin: 0;
    }

    .specialists__experience {
        bottom: -3.5rem;
    }
}

.specialists__info--staff {
    margin-top: 5rem;

    @media (min-width: 1320px) {
        margin-bottom: 0;
    }
}

.professional__experience {
    margin: 2.7rem 0;

    @media screen and (min-width: 1024px) {
        align-self: flex-start;
    }

    @media screen and (min-width: 1320px) {
        margin: 2.7rem auto 0 0;
    }

    ul {
        padding-left: 2rem;
    }
}

.experience__title {
    margin-bottom: .7rem;
    @include OpenSans-Bold();
    font-size: 1.8rem;
    line-height: 2.9rem;
    color: $gray2;
}

.experience__list {
    padding-left: 2rem;
}

.experience__item {
    @include OpenSans-Regular();
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: $gray2;

    &:not(:last-of-type) {
        margin-bottom: .5rem;
    }
}

.specialists-slider {

    @media screen and (min-width: 1320px) {
        margin-top: 4.2rem;
    }
}