.info
    .info__txt
        p Быстро добиться результата выведения из запоя капельницей возможно за счет состава 
            |глюкозо-солевого раствора с добавлением витаминов, микроэлементов, седативного, 
            |антидепрессантов, снотворного, гепатопротекторов, обезболивающего.
        p Мы оказываем услуги вывода из запоя на дому круглосуточно и когда приедет 
            |врач нарколог, он сразу оценит состояние больного, какими методами лучше вывести из запоя, 
            |после проведет детоксикационные мероприятия. Врач может:
        ul 
            li поставить очистительную капельницу
            li отрезвить, улучшить общее самочувствие
            li устранить все симптомы абстиненции
            li устранить симптомы интоксикации
            li устранить рвотные позывы и исключить головную боль
            li успокоить пьющего.
    .info__img
        img(src="./wp-content/themes/detox-med/assets/img/AdobeStock.jpg", alt="Помощь врача-нарколога при выезде на дом")