.info
    .info__txt.info__txt-flex
        p Правильно вывести из запоя на дому можно только заручившись поддержкой доктора. 
            |Специалист сможет исключить риск возникновения белой горячки и других осложнений 
            |с психическим и физическим здоровьем. Прекращение запоя осуществляется с использованием капельниц. 
            |В нашей клинике самая низкая цена на вывод из запоя! Наши специалисты могут вывести из запоя капельницей
            | на дому в СПб быстро и профессионально. Раствор для инфузий подбирается индивидуальным образом с учетом:
        ul 
            li возраста больного;
            li стажа употребления спиртных напитков;
            li состояния его здоровья;
        ul
            li имеющихся хронических заболеваний.
            li степени зависимости;
    .info__img
        img(src="./wp-content/themes/detox-med/assets/img/pexels-gustavo.jpg", alt="")