.info
    .info__txt
        p Вызвать нарколога на дом с целью вывода из запоя на дому, прерывание запоя и оказании 
            |помощи при похмелье — это возможность остановить запойное состояние не выходя из дома.
        p Состояние похмелья является состоянием жизнеугрожающим, поскольку сопровождается отёком головного 
            |мозга и повышенным артериальным давлением. Метод лечения капельницей от похмелья – это проверенный 
            |и эффективный способ нейтрализации тяги к алкоголю и симптомов похмелья, а значит и угрозы для жизни.
        p Через 2 минуты после постановки капельницы проходят симптомы похмелья — головная боль, тошнота, 
            |тревога, ощущение внутренней дрожи, бессонница, восстанавливается аппетит. После проведения 
            |данной процедуры пациент погружается в медикаментозный сон, который в норме продолжается в 
            |течении от 3-х до 12 часов. Результат проведения данной процедуры зависит от продолжительности
            | алкогольного эксцесса, тяжести состояния пациента, а также от выбранной схемы лечения.
    .info__img
        img(src="./wp-content/themes/detox-med/assets/img/prices1.jpg", alt="Вывод из запоя на дому")