section.composition-droppers
    .container
        h2.section__title Состав капельниц
        .info
            .info__txt
                p Мы осуществляем выведение из запоя на дому и лечение с использованием проверенной фармакотерапии. 
                    |При оформлении вызова капельницы от запоя на дому в СПб препарат делается на основе глюкозо-солевого
                    | раствора. Дополнительно в него добавляются:
                ul 
                    li кальций и магний для улучшения работы сердца;
                    li гепатопротекторы для снижения нагрузки на печень и улучшения процесса регенерации в клетках;
                    li седативное для устранения перевозбуждения, агрессии, нервного перенапряжения;
                    li снотворное для обеспечения возможности быстрого засыпания и качественного сна;
                    li обезболивающего для устранения мигрени;
                    li противорвотного для устранения тошноты;
                    li антидепрессанты для нормализации функции мозга, исключения меланхоличных настроений;
                    li витаминный комплекс для восстановления работоспособности, улучшения общего самочувствия и усиления защитной функции.
            .info__img
                img(src="./wp-content/themes/detox-med/assets/img/marcelo.jpg", alt="Капельница")