extends ./../layouts/main

block variables
    - let pageTitle = 'О центре';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'О центре';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/sections/about/about.pug  
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        include ./../components/sections/quote/quote.pug 
        include ./../components/sections/guarantees/guarantees.pug 
        include ./../components/sections/about-numbers/about-numbers.pug
        include ./../components/sections/form-home/form-about.pug
        include ./../components/sections/our-clinic/our-clinic.pug 
        include ./../components/sections/about-advantages/about-advantages.pug
        include ./../components/sections/footer/footer.pug 