extends ./../layouts/main

block variables
    - let pageTitle = 'О центре';
    - let servicesTitle = 'Оказываем медицинские услуги по направлениям:';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        
        include ./../components/sections/form-home/form-article.pug
        include ./../components/sections/our-clinic/our-clinic.pug
        include ./../components/sections/footer/footer.pug 