extends ./../layouts/main

block variables
    - let pageTitle = 'Блог';
    - let breadcrumbsHomepage = 'Главная / ';
    - let breadcrumbsText_1 = 'Блог';

    - let breadcrumbsHomepageLink = 'index.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        section.banner-page
            .container 
                .banner-page__block
                    h1 Полезные статьи
                    p Клиника анонимного лечения алкоголизма Генезис является надёжным партнером, 
                        | опытным проводником в Ваш новый, здоровый, трезвый образ жизни!
        .container                 
            include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        .container                 
            include ./../components/bem-blocks/belt__tags/belt__tags.pug
        include ./../components/sections/blog/blog.pug
        include ./../components/sections/footer/footer.pug