extends ./../layouts/main

block variables
    - let pageTitle = '“ДетоксМед24” - капельница + кодирование';
    - let breadcrumbsHomepage = 'Главная / ';
    - let breadcrumbsText_1 = 'Услуги / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = '“ДетоксМед24” - капельница + кодирование';

    - let breadcrumbsHomepageLink = 'index.html';
    - let breadcrumbsLink_1 = 'services.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/sections/banner/banner-detox.pug
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        section.advantages-services
            .container
                h2.section__title Важность этого предложения в период низких зарплат и кризиса
                .info.info-order 
                    .info__txt
                        p Это предложение возникло для многих, когда пандемия внесла тяжелые изменения в порядок жизни.
                            | У некоторых возникли трудности с зарабатыванием в этот период, потеря работы, 
                            |долгое сидение дома на самоизоляции. Это приводит к трудностям в психологическом
                            | плане как в семье, так и порой с самим собой. Возникают желания убрать негативный 
                            |фон путем выпивания спиртных напитков, что может привести к чрезмерному употреблению 
                            |алкоголя, к запойным состояниям.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/kak-ochistit-organizm.jpg", alt="Предложения в период низких зарплат и кризиса")
        include ./../components/sections/services/services3.pug
        section.about-advantages.advantages-services
            .container 
                h2.section__title Наши преимущества
                .block 
                    .block__box 
                        h3 Научная обоснованность
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#atom")
                            | Мы используем методы,которые имеют научное обоснование. Это позволяет достигать гарантированный результат.
                    .block__box  
                        h3 Инновационные методы
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#innovation")
                            | Использование только самых современных и передовых методик лечения синдрома зависимости.
                    .block__box  
                        h3 Строжайшая конфиденциальность
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#anonymous")
                            | Мы гарантируем полную анонимность лечения. Вы можете быть уверены, что не будете скомпрометированы.
                    .block__box  
                        h3 Максимальный комфорт
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#hospital")
                            | Наш стационар оснащён современным оборудованием. В палатах есть всё необходимое для комфортного проживания.
                    .block__box  
                        h3 Индивидуальный план лечения
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#list")
                            | Наши специалисты подберают наиболее эффективные методы восстановительной терапии под каждого пациента.
                p Специалисты клиники могут обеспечить лечение наркомании и алкоголизма, эффективно вывести из запоя, 
                    |начиная от установления диагноза и заканчивая поддержкой после реабилитационной программы.
                p Вызвать нарколога на дом в Санкт-Петербурге можно в режиме 24/7. Сотрудники нашей 
                    |клиники готовы обеспечить оперативный отклик на обращение, сделать все возможное, 
                    |чтобы быстро добраться до больного, облегчить его состояние.
                p Звоните в наркологический центр «ДетоксМед». Не нужно быть наедине с бедой, вместе мы 
                    |сможем обеспечить шансы на светлое будущее и жизнь вне пагубной зависимости!
        include ./../components/sections/form-home/form-home.pug
        
        include ./../components/sections/footer/footer.pug 
