extends ./../layouts/main

block variables
    - let pageTitle = 'Врачи';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Врачи';

    - let breadcrumbsHomepageLink = 'index.html';
    - let breadcrumbsLink_1 = 'about.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        include ./../components/sections/doctors/doctors.pug
        include ./../components/sections/doctors/doctors-info.pug
        include ./../components/sections/form-home/form-about.pug
        include ./../components/sections/footer/footer.pug 
