extends ./../layouts/main

block variables
    - let pageTitle = 'Вывод из запоя Гатчина';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Вывод из запоя Гатчина';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        //- include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        include ./../components/sections/about/about-gatchina.pug 
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug 
        include ./../components/sections/operating-principle/principle-region.pug 
        section.advantages-appeal.advantages-region
            .container
                h2.section__title Лечение похмельного синдрома
                .info
                    .info__txt
                        p «Синдром отмены» или похмельный синдром — часто возникающая и большая проблема для пьющего 
                            |спиртные напитки в чрезмерном количестве. Еще большая проблема в этой ситуации связана 
                            |с категорическим обычно нежеланием больного обращаться к профессиональному врачу. Похмелье 
                            |или алкогольный абстинентный синдром обычно развивается на второй или третьей стадии алкогольной
                            | зависимости.
                        p Проявление похмельного (абстинентного) синдрома заключается в том, что алкоголь уже начал 
                            |включаться в постоянный обмен веществ и процессы жизнедеятельности организма. В связи 
                            |с этим у организма человека возникает потребность в алкоголе, как в важном звене обмена 
                            |веществ. При окончании запоя, при прекращении употребления алкоголя у человека формируется 
                            |синдром отмены (абстинентный синдром), который обычно называют похмельем. Это обычно 
                            |выражается проявлениями головной боли, тошноты, усиленного сердцебиения, повышенным 
                            |артериальным давлением, нарушением сна, тревожным состоянием. При этом в организме могут 
                            |происходить обострения всех хронических заболеваний, которые имеет больной. 
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/doctor-56.jpg", alt="Похмельный синдром")
        section.conclusion-drinking.conclusion-region
            .container
                h2.section__title Чем опасен похмельный синдром
                p   Похмельный синдром может приводить к развитию тяжелейших психических расстройств больного, а также к тяжелым соматическим осложнениям.
                    br 
                    |Например:
                .steps
                    ul 
                        li: p “Белая горячка”
                        li: p Инсульты
                        li: p Инфаркты
                        li: p Гипертонические кризисы
                    p При первых симптомах осложнений состояния больного после запоя обязательно вызывайте врача-нарколога, 
                        |который обеспечит стабилизацию самочувствия больного на дому, быстро с помощью капельниц улучшит 
                        |состояние его организма.
        section.advantages-appeal.advantages-services.advantages-region
            .container
                h2.section__title Врачебная помощь при абстинентном синдроме
                .info.info-order
                    .info__txt
                        p Уже через 5 минут после начала применения капельницы пациент почувствует облегчение: 
                            |проходит ощущение тревоги, беспокойства, снижается артериальное давление. После лечения 
                            |похмельного синдрома, врач обязательно оставит препараты или лекарства для дальнейшего 
                            |выздоровления больного, проконсультирует насчет дальнейшего лечения от алкоголизма.
                        p В случае наличия противопоказаний, пациент госпитализируется в наркологический стационар. 
                            |В случае согласия пациента проводит кодирование от алкоголизма на период от 3-х месяцев 
                            |до 5-ти лет.
                        p Психотерапевтическая поддержка пациентов с зависимостью — также одно из направлений нашей 
                            |работы. Лечение алкоголизма складывается из нескольких компонентов: Лечение запоя, лечение 
                            |похмельного синдрома, поддерживающая терапия. Выведение из запоя является неотъемлемой частью 
                            |лечения алкоголизма, и самой главной частью лечения. 
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/Stock.jpg", alt="Врачебная помощь")
                p Поскольку именно запойное состояние является самым опасным этапом течения алкоголизма. Достаточно часто 
                    |во время запоя, пациент принимает дозы алкоголя которые для обычного человека могут стать 
                    |смертельными — 1,5-2 литра крепкого алкоголя в сутки. И именно поэтому лечение запоя 
                    |мероприятие первостепенное и неотложное.
                p Вызов нарколога в Гатчину — это один из способов решения неотложных проблем связанных с чрезмерным приёмом 
                    |алкоголя. Опасные последствия, которые могут возникнуть после запойного состояния, чреваты 
                    |развитием хронических заболеваний, отказом жизнедеятельности некоторых органов. Вызвать 
                    |нарколога очень просто — набрать номер телефона на нашем сайте, но тем самым вы обеспечите 
                    |квалифицированное профессиональное анонимное лечение и контроль за состоянием больного.
        include ./../components/sections/form-home/form-region.pug 
        section.doctors-info.doctors-region.pt
            .container
                h2.section__title Куда приезжают наши врачи
                .doctors-info__flex.info-order
                    .doctors-info__txt 
                        p Наши бригады дежурных врачей наркологической клиники «ДетоксМед» часто дежурят в 
                            i Гатчинском районе
                            |, чтобы максимально быстро приезжать по вызову по выведению из запоя, лечения алкогольной зависимости, кодирования от алкоголизма.
                        p Выведение из запоя в поселке 
                            i Сиверский
                            |, как и в других случаях, происходит на условиях полной анонимности, что позволяет лечить эту болезнь без излишней огласки и полноценно. Врачи наркологической клиники «ДетоксМед» обеспечивают профессиональной медицинской помощью, используют самые передовые методы по лечению похмельного синдрома, алкогольной зависимости, психологической помощи.
                        p Наши врачи выводят из запоя и кодирование от употребления алкоголя в 
                            i Коммунаре.
                        p Также возможно выведение из запоя в 
                            a(href="") Павловске  
                            | и в 
                            a(href="") Пушкине
                            |, в 
                            a(href="") Купчино
                            |, в 
                            a(href="") Кудрово
                            |, в 
                            a(href="") Шушарах
                            |, в 
                            a(href="gatchina.html") Гатчине
                            |, в 
                            a(href="") Рыбацком 
                            |и в 
                            a(href="") Тосно
                            |.
                    
                    .doctors-info__image 
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/architecture.jpg", alt="Архитектура")
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/priory-palace.jpg", alt="Природа")
        include ./../components/sections/questions/questions-region.pug 
        section.advantages-appeal.advantages-region
            .container
                h2.section__title Кодирование от алкоголизма
                .info
                    .info__txt
                        p Многие, кто выпивает алкогольные напитки в кругу друзей, после работы дома, по праздникам 
                            |или работе, замечали, что контролировать употребление спиртного редко получается. В силу 
                            |своих особых природных свойств алкоголь воздействует на человека так, что происходит 
                            |потеря количественного контроля над выпитым спиртным. Это создает предпосылки для 
                            |образования алкогольной зависимости, после чего алкоголизм берет бразды правления 
                            |человеком в свои руки и избавиться от употребления алкоголя становится порой даже 
                            |невозможно. Многие пробовали не пить, бросить употреблять алкоголь, изменить себя ведя
                            | трезвый образ жизни, но часто у них это не получалось — избавиться от тяги к выпиванию
                            | спиртного, от психологической, а при развитии болезни и от физиологической зависимости
                            | от алкоголя, очень трудно. В дополнение алкоголь и промежуточные продукты его распада 
                            |в организме являются источником возникновения целого ряда хронических заболеваний. 
                            |При частом употреблении спиртного может развиться деградация личности в силу негативного 
                            |влияния алкоголя на мозг.
                        p Одна из возможностей, которая есть у врачей, если самостоятельно не получается бросить пить, 
                            |это закодироваться от употребления спиртного, «подшиться», как говорят в народе.
                        p Сделать кодирование от алкоголизма можно на срок от месяца до 5 лет.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/alcohol.jpg", alt="Кодирование от алкоголизма")
        include ./../components/sections/footer/footer.pug 