extends ./../layouts/main

block variables
    - let pageTitle = 'Наркологический центр «ДетоксМед»';
    - let servicesTitle = 'Оказываем медицинские услуги по направлениям:';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/sections/banner/banner.pug
        include ./../components/sections/operating-principle/operating-principle.pug
        include ./../components/sections/services/services.pug
        include ./../components/sections/prices/prices.pug 
        include ./../components/sections/specialists/specialists.pug 
        include ./../components/sections/about-treatment/about-treatment.pug
        include ./../components/sections/our-clinic/our-clinic.pug
        include ./../components/sections/licenses/licenses.pug
        include ./../components/sections/form-home/form-home.pug
        include ./../components/sections/advantages-appeal/advantages-appeal.pug
        include ./../components/sections/complications/complications.pug
        include ./../components/sections/composition-droppers/composition-droppers.pug
        include ./../components/sections/conclusion-drinking/conclusion-drinking.pug
        include ./../components/sections/why-we/why-we.pug
        include ./../components/sections/questions/questions.pug 
        include ./../components/sections/form-home/form-home2.pug
        include ./../components/sections/contacts/contacts.pug
        include ./../components/sections/footer/footer.pug
