extends ./../layouts/main

block variables
    - let pageTitle = 'Центр наркологии и психотерапии в Тольятти';
    - let servicesTitle = 'Оказываем медицинские услуги по направлениям:';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/sections/banner/banner.pug
        include ./../components/sections/operating-principle/operating-principle.pug
        include ./../components/sections/footer/footer.pug
