extends ./../layouts/main

block variables
    - let pageTitle = 'Выведение из запоя Кировске';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Выведение из запоя Кировске';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        section.about.about-region 
            .container 
                h1.main__title.main__titles Выведение из запоя Кировске
                .about__block
                    .about__block-img
                        img(src="./wp-content/themes/detox-med/assets/img/kirovsc.jpg", alt="Выведение из запоя Кировск")
                    .about__block-txt
                        p Вывод из запоя и лечение алкогольной зависимости на дому — 
                            i Кировск, Шлиссельбург, Приладожский, посёлок имени Морозова.
                        p Наши врачи приезжают быстро, всегда имеют с собой необходимое медицинское оборудование для обследования пациента. 
                            |Низкая цена позволяет не переплачивать за услуги по выводу из запоя, по лечению алкогольной и других зависимостей. 
                            |Высокая квалификация врачей и большой опыт работы — гарантия полноценного и качественного получения такой услуги. 
                            |Одна из лучших клиник Санкт-Петербурга.
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug 
        section.form.form-prices--stock.form-region
            .container
                .form
                    h2.form__title Только в этом месяце выведение из запоя от 1799 рублей!
                    h3 Заполните форму, чтобы узнать подробности.
                    form
                        input._req.phone-input(type="text" name="user-phone" placeholder="+ 7 ___ - __ - __" required="required")
                        input._req(type="text" name='user-name' placeholder="Ваше имя" required="required")
                        button.btn-send.btn-red Заказать звонок
                        .form__policy
                            input._req.chec#chec(type="checkbox" required="required" checked)
                            label.form-chec(for="chec") Вы соглашаетесь с 
                                a(href="#!" target="_blank") условиями обработки персональных данных
        section.advantages-appeal.advantages-region
            .container
                h2.section__title Важность своевременного прерывания запоя
                .info
                    .info__txt
                        p Запойное состояние, как и отравление алкоголем — состояния которые требуют неотложной медицинской помощи.
                        p Скорая помощь, при отравлении алкоголем или запойном состоянии, обусловлена тяжестью состояния интоксикации, 
                            |которая очень часто сопровождается неукротимой рвотой, головной болью, неприятными ощущениями в области сердца, тревогой, 
                            |беспокойством,бессонницей.
                        p В большинстве случаев алкоголь только усиливает неприятные ощущения. В 100% случаев запоев для лечения используется
                            | инфузионная терапия в виде капельниц.
                        p Все схемы лечения призваны в считанные минуты снизить явления абстиненции, восстановить нормальное сердцебиение, 
                            |артериальное давление а соответственно снять угрозу для жизни.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/olga-kononenko.jpg", alt="Лечение алкогольной зависимости")
        
        include ./../components/sections/operating-principle/principle-region.pug 
        section.advantages-services
            .container
                h2.section__title.mb Частая причина образования влечения к алкоголю
                .info.info-order
                    .info__txt
                        p Очень частая причина начала алкогольной зависимости называется применение алкоголя как антидепрессанта. 
                            |Попробовав несколько раз в действии спиртное в качестве снимающего стресс и депрессию вещества, человек начинает 
                            |активно, чуть ли не каждый день применять его в этом качестве. 
                        p Пришел после работы домой, выпил бутылочку пива, поднялось настроение, ушел стресс, пропала усталость, 
                            |получил от такого эффекта удовольствие, все это запомнилось мозгу как приятная вещь. И в следующий раз опять хочется 
                            |выпить для поднятия настроения бутылочку пива или стопку по-крепче. И так чуть ли не каждый день.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/ispol.jpg", alt="Причина образования")
        section.form.form-prices--stock.form-region
            .container
                .form
                    h2.form__title Только в этом месяце выведение из запоя от 1799 рублей!
                    h3 Заполните форму, чтобы узнать подробности.
                    form
                        input._req.phone-input(type="text" name="user-phone" placeholder="+ 7 ___ - __ - __" required="required")
                        input._req(type="text" name='user-name' placeholder="Ваше имя" required="required")
                        button.btn-send.btn-red Заказать звонок
                        .form__policy
                            input._req.chec#chec2(type="checkbox" required="required" checked)
                            label.form-chec(for="chec2") Вы соглашаетесь с 
                                a(href="#!" target="_blank") условиями обработки персональных данных
        section.advantages-appeal.advantages-region
            .container
                h2.section__title Почему же алкоголь так влияет на мозг?
                .info
                    .info__txt
                        p Алкоголь обладает уникальной способностью попадать во все закоулки нашего организма за счет природной растворимости и
                            | в жирах и в воде. Он быстро и качественно влияет на дофаминовые рецепторы, которые вырабатывают дофамин, как раз 
                            |и приносящий нам чувство удовольствия.
                        p И, казалось бы, обычное дело — выпил немножко, почувствовал себя счастливым, лег спать. Но, во-первых, у человека 
                            |появляется психологическая зависимость от принятия дозы алкоголя. Без выпивки спиртного уже вроде и не чувствуется 
                            |комфорта, какой-то психологический дисбаланс. Во-вторых, со временем чувствительность рецепторов притупляется и, 
                            |чтобы чувствовать себя в настроении и «счастливым», нужна гораздо большая доза алкоголя. И достаточно скоро наступает
                            | вторая стадия алкоголизма, когда человек не может уже физически обходиться без ежедневного употребления спиртного.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/protrezvet-i-izbavitsja-ot-peregara.jpg", alt="Алкоголь влияет на мозг")
        section.questions-region
            .container 
                h2.section__title Вопросы и ответы об алкоголе и алкоголизме
                ul  
                    li
                        h3 Если я почти каждый день пью пиво, значит ли это, что я тоже алкоголик?
                        p Многие не считают пиво способным вызвать алкогольную зависимость. Так как в пиве мало спирта по сравнению с водкой, 
                            |то и бдительность насчет вреда алкоголя выпивающих пиво людей теряется . Как можно это сделать, читайте информацию в публикации 
                            a(href="") о пивном алкоголизме.
                            
                    li 
                        h3 Как сделать так, чтобы муж перестал пить водку?
                        p Если Ваш муж не может бросить пить самостоятельно, то есть возможность прекратить употребление алкоголя путем 
                            |сделанной процедуры кодировки от алкоголя. Такая процедура не сложна и не занимает много времени. Но она 
                            |действует всего лишь на определенное время. Существуют несколько способов кодирования, с которыми можно 
                            |познакомиться 
                            a(href="") здесь
                            |. Там же можно ознакомиться и с противопоказаниями для кодирования от алкоголя.
                    li 
                        h3 Муж частенько запивает, прогуливая работу. Можете ли Вы в поселке Мга делать выводы из запоя и кодирование?
                        p Наши специалисты делают выведение из запоя во всем Кировском районе Ленинградской области. В поселок Мга 
                            |можно заказать выезд врача-нарколога как для прерывания запоя и вывода из него, так и для кодирования от алкоголя.
                        p Кроме того обслуживание наркологической бригады осуществляется в поселках Отрадное, Павлово, Синявино, 
                            |Приладожский, Молодцово, Назия, Старая Малукса. Все наркологические процедуры при выведении из запоя, 
                            |кодирования от алкоголизма и лечения от алкогольной зависимости проводятся на условиях полной анонимности.
        include ./../components/sections/footer/footer.pug 