extends ./../layouts/main

block variables
    - let pageTitle = 'Выведение из запоя в Колпино';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Выведение из запоя в Колпино';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        section.about.about-region 
            .container 
                h1.main__title.main__titles Выведение из запоя в Колпино
                .about__block
                    .about__block-img
                        img(src="./wp-content/themes/detox-med/assets/img/kirovskom.jpg", alt="Выведение из запоя")
                    .about__block-txt
                        p Выведение из запоя и лечение алкоголизма на дому — 
                            i Колпино
                            |, 
                            i Металлострой
                            |, 
                            i Усть-Ижора
                            |, 
                            i Понтонный
                            |, 
                            i пос.Тельмана
                            |, 
                            i Петро-Славянка
                            |.
                        p Бесплатная консультация о вариантах вывода из запоя, лечения похмельного синдрома, лечения алкогольной зависимости.
                        p Высокая квалификация наших врачей позволяет гарантировать результат. Врачи клиники «ДетоксМед» — профессионалы 
                            |самого высокого класса и используют только самые современные методики и препараты. Опыт работы врачей — от 6 лет и более. 
                            |Лечение и выведение из запоя происходит полностью анонимно.
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug 
        include ./../components/sections/operating-principle/principle-region.pug 
        section.advantages-appeal.advantages-region
            .container
                h2.section__title Кодирование от алкоголизма в Колпино
                .info.info-order.info-mb2
                    .info__txt
                        p Для лечения алкоголизма и прекращения возможности приема спиртных напитков врачи наркологического центра «ДетоксМед» 
                            |используют метод кодирования, широко используемый в области наркологии и считающийся одним из самых эффективных. 
                            |Суть заключается в запретительных методиках и ограничительных методов кодировки от употребления спиртного. Запрещающие
                            | препараты вызывают токсикоз при употреблении спиртного. Препараты для уменьшения тяги к алкоголю (на базе налтрексона) 
                            |блокируют рецепторы в человеческом мозге, которые вырабатывают дофамин, вызывающий чувство эйфории у человека.
                        p Кодирование от употребления алкоголя позволяет больному восстановить свое здоровье на период кодирования и затем продолжить 
                            |лечение от алкоголизма также и другими методиками. 
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/encodin.jpg", alt="Инъекции")
                p Различают медикаментозное кодирование, гипноз по методу Довженко, иглорефлексотерапия, аппаратное кодирование. Самыми популярными 
                    |и эффективными способами кодирования считаются «Химзащита» и «Эспераль-гель». Препараты на основе дисульфирама создают эффект 
                    |передозировки алкоголя при любом употреблении его. С помощью него блокируется выработка ферментов, необходимых для полной метаболизма 
                    |этанола (спирта) в организме. Накапливаются сильные токсины и происходит эффект сильного отравления алкоголем даже при очень малой 
                    |принятой дозе. Использование препаратов возможно в виде:
                ul
                    li приема таблеток;
                    li инъекции;
                    li вшивание ампулы.
        section.form.form-prices--stock.form-region
            .container
                .form
                    h2.form__title Только в этом месяце выведение из запоя от 1799 рублей!
                    h3 Заполните форму, чтобы узнать подробности.
                    form
                        input._req.phone-input(type="text" name="user-phone" placeholder="+ 7 ___ - __ - __" required="required")
                        input._req(type="text" name='user-name' placeholder="Ваше имя" required="required")
                        button.btn-send.btn-red Заказать звонок
                        .form__policy
                            input._req.chec#chec(type="checkbox" required="required" checked)
                            label.form-chec(for="chec") Вы соглашаетесь с 
                                a(href="#!" target="_blank") условиями обработки персональных данных
        section.advantages-services.pt
            .container
                h2.section__title Лечение алкоголизма в Колпино
                .info.info-order.info-after
                    .info__txt
                        p В настоящее время обеспечивается быстрый приезд врача-нарколога наркологического центра «ДетоксМед» за счет увеличения 
                            |штата дежурных врачей по Ленинградской области. Каждый врач имеет большой опыт работы в наркологии и обеспечен современным 
                            |медицинским оборудованием, позволяющим точно диагностировать параметры жизнедеятельности человека. Качественные медицинские 
                            |препараты, произведенные мировыми лидерами фармакологии, помогут врачу быстро вывести пациента из запойного состояния или 
                            |закодировать от алкогольной зависимости.
                        p Наркологи нашей клиники могут доехать до пациента в этом районе от 15 мин. Большой опыт дежурных врачей позволяет правильно 
                            |выходить из запоя, без угрозы здоровья. Имея все современные методики по прерыванию запоя и лечению алкоголизма, новейшие 
                            |медицинские приборы для контролирования здоровья пациента, они эфективно и гарантированно обеспечивают прекращение запойного 
                            |состояние пациента.
                    .info__img.info__img-mt
                        img(src="./wp-content/themes/detox-med/assets/img/doctor-56.jpg", alt="Лечение алкоголизма")
        section.advantages-appeal.advantages-region
            .container
                h2.section__title Применение капельниц при запое
                .info
                    .info__txt.info__txt-center
                        p Употребление спиртного часто происходит в течение нескольких дней, при этом возникает необходимость выведения из запоя, 
                            |так как создается угроза для здоровья пьющему. Если он уже употребляет алкогольные напитки уже несколько дней, то одним 
                            |из способов прекращения запоя является медикаментозный метод. Пациенту вводятся специальные препараты и лекарства через 
                            |капельницу, после чего больной может почувствовать облегчение уже через полчаса. Капельница облегчает физиологическое 
                            |состояние пациента при большинстве случаев недомогания от алкоголизма. Лекарство, поступающее в организм, может 
                            |регулироваться врачом, что позволяет ему максимально контролировать процесс прекращения выведения
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/leal.jpg", alt="Применение капельниц")
        include ./../components/sections/form-home/form-region2.pug
        section.doctors-info.doctors-region.pt
            .container
                h2.section__title Помощь врача-нарколога для кодирования от алкоголизма в Усть-Ижоре, Металлострое, пос.Понтонном
                .doctors-info__flex.info-order
                    .doctors-info__txt 
                        p Для прекращения употребления алкоголя на время широко применяется кодирование от алкоголизма. Данная процедура 
                            |обеспечивает полное прекращение употребление спиртного на определенное время. Жителям Колпино и Колпинского района врачи 
                            |обеспечивают кодирование на дому.
                        p Кодирование от алкоголя использует специальные медикаменты для прекращение полного окисления спирта в организме и прерывания 
                            |его на первом этапе путем блокирования выделяемого организмом фермента ацетальдегиддегидрогеназа. За счет этого, при любом 
                            |употреблении алкоголя образуется алкогольное отравление, которое не дает возможности употреблять алкоголь. Такой метод кодирования 
                            |широко востребован и хорошо зарекомендовал себя на практике.
                        p Не употребляйте чрезмерное количество алкоголя. При возможности, откажитесь от него совсем. Сохраните свою счастливую семью 
                            |и социальную жизнь. Всегда помните о том, что алкоголь легко входит в привычку, в ходе которой вы можете получить сильнейшую 
                            |зависимость от употребления алкоголя, от которой многие не могут избавиться всю свою жизнь.
                    .doctors-info__image 
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/AdobeStock.jpg", alt="Помощь врача-нарколога")
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/olga-kononenko.jpg", alt="Кодирование от алкоголизма")
        section.questions-region
            .container 
                h2.section__title Вопросы и ответы об алкоголе и алкоголизме
                ul  
                    li
                        h3 Что такое детоксикация от алкоголя?
                        p Процесс окисления и переработки алкоголя в организме происходит с определенной скоростью. Но, как правило, люди выпивают 
                            |намного больше спиртных напитков, чем организм успевает обработать. А так как процесс окисления спирта в теле человека 
                            |происходит в два этапа, то в ходе первого этапа переработки этанола выделяется очень токсичное вещество ацетальдегид. 
                            |При его накапливании из-за поступления большого количества спирта происходит отравление внутренних органов, мозга, систем 
                            |организма этим опасным токсином. Такое отравление обычно в народе называют похмелье. Оно выражается в головокружении, в
                            | приступах тошноты и рвоты, в сильном сердцебиении и плохом самочувствии. Для удаления таких вредных продуктов переработки 
                            |спирта и делаются процедуры детоксикации. В ходе ее при помощи капельниц с полезными и необходимыми веществами для организма 
                            |происходит вывод ядовитых и вредных веществ из организма.
                    li 
                        h3 Возможен ли вывод из запоя на дому домашними средствами?
                        p Опасность запойного состояния нельзя преуменьшать. Запой образуется, когда у пьющего человека возникает потребность 
                            |облегчить свое состояние после выпитого накануне алкоголя с помощью опять же спиртных напитков. Каждый раз, когда 
                            |заканчивается поступление алкоголя в организм, он требует новую партию спиртного, потому что в теле человека образуется
                            | непрерывный цикл переработки алкоголя. Как только заканчивается поступление алкоголя может наступить неприятное состояние
                            | — абстинентный синдром. Это крайне опасное состояние для больного алкогольной зависимостью. Поэтому прерывание и вывод из
                            | запоя лучше проводить с помощью профессионала, врача-нарколога. Под присмотром специалиста будет обеспечено безопасное для
                            | здоровья выведение из запойного состояния.
        include ./../components/sections/footer/footer.pug 