extends ./../layouts/main

block variables
    - let pageTitle = 'Выведение из запоя в Кудрово';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Выведение из запоя в Кудрово';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        section.about.about-region 
            .container 
                h1.main__title.main__titles Выведение из запоя в Кудрово
                .about__block
                    .about__block-img
                        img(src="./wp-content/themes/detox-med/assets/img/kudrovo.jpg", alt="Выведение из запоя")
                    .about__block-txt
                        p Выведение из запоя и лечение алкоголизма на дому в 
                            i Кудрово
                            |, 
                            i м.Дыбенко
                            |, 
                            i Санкт-Петербург
                            |.
                        p Обеспечиваем быстрый и безопасный вывод из запоя в Санкт-Петербурге и Ленинградской области. 
                            |Лучшие врачи-наркологи обеспечат своевременную помощь по выходу из запоя. Быстро приезжаем. Обеспечиваем качественное 
                            |анонимное лечение.
                        p Высокая квалификация наших врачей позволяет гарантировать результат. Врачи клиники «ДетоксМед» — профессионалы 
                            |самого высокого класса и используют только самые современные методики и препараты. Опыт работы врачей — от 6 лет и более.
                            | Лечение и выведение из запоя происходит полностью анонимно.
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug 
        include ./../components/sections/operating-principle/principle-region.pug 
        section.form.form-prices--stock.form-region
            .container
                .form
                    h2.form__title Только в этом месяце выведение из запоя от 1799 рублей!
                    h3 Заполните форму, чтобы узнать подробности.
                    form
                        input._req.phone-input(type="text" name="user-phone" placeholder="+ 7 ___ - __ - __" required="required")
                        input._req(type="text" name='user-name' placeholder="Ваше имя" required="required")
                        button.btn-red Заказать звонок
                        .form__policy
                            input._req.chec#chec(type="checkbox" required="required" checked)
                            label.form-chec(for="chec") Вы соглашаетесь с 
                                a(href="#!" target="_blank") условиями обработки персональных данных
        section.advantages-appeal.advantages-region
            .container
                h2.section__title Выведение из запоя в Кудрово (м. Дыбенко)
                .info.info-mb2
                    .info__txt
                        p Кудрово — это город во Всеволожском районе, который вплотную располагается у границы Санкт-Петербурга. 
                            |Ближайшая станция метро — «Улица Дыбенко». Одним из вариантом происхождения имени населенного пункта является упоминание 
                            |проживающего здесь помещика Кудрова.
                        p Население в сегодняшние дни составляет более 31 тыс. человек.
                        p Кудрово находится в непосредственной близости от Санкт-Петербурга, поэтому время приезда врача может быть небольшим — от 
                            |15 мин. По прибытии врач может провести бесплатную консультацию о мерах, которые желательно принять пациенту для облегчения 
                            |состояния в дальнейшем в подобным случаях, о методиках по выводу из запоя, о вариантах лечения от алкоголизма, о способах недопущения 
                            |чрезмерного потребления алкогольной продукции. 
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/prices1.jpg", alt="Алкогольная зависимость")
                .info.info-order.info-mb2
                    .info__txt
                        p Проводится также бесплатное обследование больного, которое может указать на какие либо противопоказания. При 
                            |отсутствии их чаще всего для вывода из запоя применяется капельница. Она максимально удобна для таких случаев — 
                            |позволяет точно дозировать количество питательных и лекарственных веществ, поступающих больному, применять различные препараты 
                            |и контролировать состояние больного в процессе лечения.
                        p Капельница применяется также для получения пациентом витаминных комплексов, улучшающих состояние больного. После 
                            |выведении из запойного состояния больному оставляется необходимое количество медикаментов и препаратов для самостоятельного
                            | продолжения лечения. В случае наличия противопоказаний, пациент госпитализируется в наркологический стационар. 
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/AdobeStock.jpg", alt="Спиртные напитки")
                p В случае согласия пациента проводит кодирование от алкоголизма на период от 3-х месяцев до 5-ти лет. 
                    |&#60; Психотерапевтическая поддержка пациентов с зависимостью — также одно из направлений нашей работы.
        include ./../components/sections/publications/publications-region.pug
        include ./../components/sections/footer/footer.pug 