extends ./../layouts/main

block variables
    - let pageTitle = 'Прерывание запоя в Купчино';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Прерывание запоя в Купчино';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        section.about.about-region 
            .container 
                h1.main__title.main__titles Прерывание запоя в Купчино
                .about__block
                    .about__block-img
                        img(src="./wp-content/themes/detox-med/assets/img/vrach.jpg", alt="Вывод из запоя")
                    .about__block-txt
                        p Вывод из запоя и лечение алкоголизма — Купчино (
                            i м.Международная
                            |, 
                            i м.Дунайская
                            |, 
                            i м.Проспект Славы
                            |, 
                            i м.Купчино
                            |).
                        p Бесплатная консультация о прекращении запоев с последующим лечением алкогольной зависимости. Время приезда врача в 
                            |Купчино от 15 мин. Высокая квалификация наших врачей позволяет гарантировать результат, используем только самые 
                            |современные методики и препараты. Применение современной медицинской аппаратуры позволяет получать только самые 
                            |точные результаты при диагностике состояние пациента.
        section.form.form-prices--stock.form-region
            .container
                .form
                    h2.form__title Только в этом месяце выведение из запоя от 1799 рублей!
                    h3 Заполните форму, чтобы узнать подробности.
                    form
                        input._req.phone-input(type="text" name="user-phone" placeholder="+ 7 ___ - __ - __" required="required")
                        input._req(type="text" name='user-name' placeholder="Ваше имя" required="required")
                        button.btn-send.btn-red Заказать звонок
                        .form__policy
                            input._req.chec#chec(type="checkbox" required="required" checked)
                            label.form-chec(for="chec") Вы соглашаетесь с 
                                a(href="#!" target="_blank") условиями обработки персональных данных
        section.doctors-info.doctors-region
            .container
                h2.section__title Куда приезжают наши врачи
                .doctors-info__flex.info-order
                    .doctors-info__txt 
                        p Заказы на вывод из запоя принимаются как в районах м.Купчино, м.Международная, м.Дунайская, пр.Славы, так и в других частях  
                            | Фрунзенского района. Быстрый приезд врача-нарколога позволяет наибыстрейшим способом обеспечить максимальную безопасность 
                            |здоровью подопечного, ведь запойное очень опасно не только для самочувствия и здоровья. Оно может таить большие опасности 
                            |даже для жизни. Основными рисками здесь выступают хронические заболевания пациента, как долго он употребляет алкоголь и 
                            |какое количество спиртного выпил накануне. Кроме того, нашими врачами может быть произведено кодирование от употребления алкоголя.
                        p Нашей наркологической клиникой «ДетоксМед» принимаются также вызовы и срочные вызовы во выведению из запоя, а также по 
                            |прерыванию его и по лечению алкоголизма в других населенных пунктах Ленинградской области и районах Санкт-Петербурга: 
                            a(href="") Шушары
                            |, 
                            a(href="") Колпино
                            |, 
                            a(href="") Рыбацкое
                            |, 
                            a(href="") Кудрово
                            |, 
                            a(href="") Всеволожск
                            |, 
                            a(href="") Гатчина
                            |, 
                            a(href="") Петергоф
                            |, 
                            a(href="") Металлострой
                            |, 
                            a(href="") Павловск
                            |, 
                            a(href="") Красное Село
                            |.
                    .doctors-info__image 
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/AdobeStock.jpg", alt="Вывод из запоя")
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/vyvedenie.jpg", alt="Вывод из запоя")
        include ./../components/sections/operating-principle/principle-region.pug 
        section.advantages-appeal.advantages-region
            .container
                h2.section__title Как вывести из запойного состояния
                .info.info-mb2
                    .info__txt.info__txt-center
                        p Запойное состояние или ежедневное чрезмерное употребление алкоголя — это состояние, которое, как правило, 
                            |пациент прервать самостоятельно не способен. После принятия большого количества алкоголя накануне, пациента на 
                            |следующий день преследуют нарушения сна, ощущения внутренней дрожи и общий дискомфорт. Причина этого — общая 
                            |перенастройка организма под выработку ферментов для переработки алкоголя. Если алкоголь перестает поступать в 
                            |организм, происходят нарушения работы систем организма. Поэтому пациент вынужден принимать алкоголь повторно, с 
                            |целью облегчения состояния, что в результате и формирует запой, который может продолжаться до нескольких месяцев — 
                            |употребление алкоголя формирует плохое самочувствие организма через некоторое время, а плохое самочувствие организма 
                            |требует принятие хотя бы небольшого количества алкоголя для облегчения самочувствия и запуска обрабатывающих алкоголь 
                            |процессов внутри организма, что опять приводит к чрезмерному распитию спиртных напитков.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/ben-hershey.jpg", alt="Лечение алкогольной зависимости")
                .info.info-order
                    .info__txt.info__txt-center
                        p  Аптечные препараты, как правило, не помогают, либо ухудшают состояние, и в результате – приём новой порции алкоголя, 
                            |либо вызов скорой помощи. Порочный круг сформирован.
                        p В данной ситуации без квалифицированной врачебной помощи выйти из запоя практически невозможно. Необходим системный 
                            |подход в решении проблемы запоя – подбор адекватной терапии абстинентного синдрома, профилактика и лечение сопутствующих 
                            |расстройств, подбор поддерживающей терапии.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/vrachg.jpg", alt="Лечение алкогольной зависимости")
        include ./../components/sections/form-home/form-region.pug 
        section.advantages-appeal.advantages-region.pt
            .container
                h2.section__title Применение капельниц при запое
                .info.info-after
                    .info__txt.info__txt-center
                        p При запое всегда возникает опасность для здоровья пациента. Она может выражаться в тошноте, рвоте, нарушении сна, 
                            |в возможности отека мозга, повышения давления, инсульта и инфаркта миокарда. При этом очень высока вероятность обострения 
                            |хронических болезней.
                        p Одним из методов быстрого и безопасного выводы из запоя является применение капельницы. Наш врач наркологического центра 
                            |«ДетоксМед» бесплатно проведет обследование пациента и определит необходимые медикаменты и их дозу для улучшения состояния 
                            |больного. С помощью такого медикаментозного метода врач быстро и значительно улучшит состояние больного, повысит его стабильность.
                        p Капельница — это доступное по цене и оперативное средство при снятии похмелья, прекращения запоя, вывода токсических 
                            |веществ из организма. Токсины, образовавшиеся в ходе промежуточной стадии переработки спирта внутри организма, отравляют 
                            |все органы и приводят к хроническим заболеваниям. Их удаление — важная задача на пути оздоровления после большой хмельной пирушки.
                    .info__img.info__img-mt
                        img(src="./wp-content/themes/detox-med/assets/img/leal.jpg", alt="Капельница")
        section.questions-region
            .container 
                h2.section__title Вопросы и ответы об алкоголе и алкоголизме
                ul  
                    li
                        h3 Почему жена меня называет алкоголиком, если я пью не так часто, но иногда много?
                        p Конечно, жена высказывает просто свое субъективное мнение. Но оно может совпадать и с объективным мнением специалистов. 
                            |Алкоголизм редко кто признает у себя среди пьющих людей. И дело тут не в том, что они кривят душой, а в том, они ошибаются 
                            |насчет своих возможностей. Спроси практически любого, кто пьет спиртное, сможешь ли ты бросить пить навсегда с завтрашнего дня. 
                            |Почти все ответят — легко. Они абсолютно уверены, что выпивают они так, для души, для баловства, а бросить пить они смогут в 
                            |любой момент. Это ошибочное мнение о своих возможностях и преуменьшение опасности алкоголя. Алкоголь — наркотик, что утвердило 
                            |на своем заседании в 1975 году Всемирная Организация Здравоохранения. Поэтому избавиться от алкогольной зависимости порой 
                            |очень и очень трудно, особенно на поздних стадиях алкоголизма. Для получения более полной картины этого вопроса лучше 
                            |проконсультироваться с врачом-специалистом в направлении наркологии.
                    li 
                        h3 Как обеспечить профилактическую защиту против возникновения алкогольной зависимости?
                        p Самая лучшая профилактика от алкоголизма — это не пить алкоголь. Но понятно, что в современном мире, где глаза 
                            |разбегаются от выбора спиртных напитков на полках магазина, а дни рождения и праздники редко когда проводятся без 
                            |алкогольной продукции, маловероятно, чтобы кто-то отказывался бы выпить за компанию. На начальном этапе алкоголизма 
                            |заболевание начинается от психологической тяги к алкогольной выпивке. Человек выпил раз два, три или больше раз и 
                            |почувствовал взаимосвязь — выпил спиртное, стало хорошо, весело, радостно, эйфорично. Мозг человека начинает стремиться 
                            |получить это состояние еще раз. Так образуется положительная и очень сильная взаимосвязь между выпиванием алкоголя и 
                            |эйфоричным и радостным состоянием. Как только Вы почувствуете тягу к ждущей Вас дома бутылочке пива для снятия усталости 
                            |после трудового дня, или будете представлять как хорошо бы сейчас выпить вина, или при стрессе Вас потянет к открытию 
                            |бутылки алкоголя, значит, скорей всего, у Вас начинает образовываться зависимость от употребления алкоголя. Поэтому для
                            | профилактики алкогольной зависимости необходимо контролировать себя, и если образуется тяга к выпиванию спиртного, то 
                            |лучше всего перестать пить, хотя бы на время, спиртные напитки.
        section.advantages-appeal.advantages-region
            .container
                h2.section__title.section__title-mb Кодирование от алкоголизма
                .info.info-order.info-after
                    .info__txt.info__txt-center
                        p Использование кодирования от алкоголя может применяться в случаях, когда больной алкоголизмом понимает необходимость 
                            |лечения, но у него нет возможности побороть зависимость. Для восстановления здоровья организма, восстановления 
                            |безалкогольной жизни необходимо прервать употребление спиртного и начать лечение алкоголизма. Но прохождение курсов 
                            |лечения требует от пациентов отказа от употребление спиртных напитков. Для такой возможности существуют методы 
                            |кодирования. Они дадут запрет на употребление алкоголя на некоторое время, за которое можно начать лечение и восстановление здоровья.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/encodin.jpg", alt="Кодирование от алкоголизма")
        
        include ./../components/sections/footer/footer.pug 