extends ./../layouts/main

block variables
    - let pageTitle = 'Кодирование от алкоголизма в Ленинградской области';
    - let breadcrumbsHomepage = 'Главная / ';
    - let breadcrumbsText_3 = 'Кодирование от алкоголизма в Ленинградской области';

    - let breadcrumbsHomepageLink = 'index.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug 
        section.advantages-appeal.advantages-region
            .container
                h2.section__title Кодирование от алкоголизма в Ленинградской области
                .info.info-after.info-order
                    .info__txt.info__txt-center
                        p Алкогольная зависимость, как правило, неизбежно подчиняет себе пьющего человека. Она подчиняет волю и разум, 
                            |не оставляя возможности прекратить частое пьянство и запои. Влияние алкоголя на мозг человека в большинстве случаев не 
                            |дает ему шанса на прекращение употребления спиртного. Вначале человеку всегда кажется, что прекратить пить он может в любой 
                            |момент — хоть сейчас, хоть завтра, хоть навсегда. Но как только встает вопрос о необходимости бросить пить, так сразу 
                            |обнаруживается большая проблема — бросить пить невозможно. Непреодолимая тяга к алкоголю заставляет пить его снова и снова, 
                            |часто превращая выпивку в долгие запои.
                        p Лечение алкоголизма требует длительного времени. А прекращение употребления спиртного требуется порой в ближайшее время, 
                            |иначе на грани разрушения оказываются семейные отношения, или грозит увольнение с хорошей работы, или другие обстоятельства 
                            |требуют бросить пить в самое ближайшее время. Здесь на помощь приходят разработанная фармацевтами и наркологами методики кодирования.
                    .info__img.info__img-mt
                        img(src="./wp-content/themes/detox-med/assets/img/alcohol.jpg", alt="Кодирование от алкоголизма")
        
        section.advantages-appeal.advantages-region
            .container
                h2.section__title Что такое кодирование от алкоголизма?
                .info
                    .info__txt
                        p Кодирование от алкоголизма — это процедуры и специальные медицинские методики, результат которых не позволяет получать позитивное 
                            |удовольствие и эмоции от выпитого алкоголя.
                        p В советское время одним из самых популярных методик кодирования был «метод Довженко», который за счет психотерапевтического 
                            |внушения обеспечивал кодирование алкоголезависимого человека на достаточно длительное время.
                        p Сегодня фармацевтами всего мира разработаны специальные препараты для медикаментозного кодирования, которое изменяет процесс 
                            |метаболизма алкоголя в организме человека. За счет этого при приеме любой дозы спиртного у выпившего человека появляются признаки
                            | и симптомы сильного алкогольного отравления.
                        p Также нельзя обойти метод гипноза, при котором больному алкоголизмом внушается страх к употреблению алкоголя.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/prices.jpg", alt="Похмельный синдром")
        include ./../components/sections/quit-alcohol/encoding.pug
        section.advantages-appeal.advantages-region.pt
            .container
                h2.section__title Почему кодирование — лучшее решение для быстрого прекращения частого пьянства?
                .info.info-order.info-mb2
                    .info__txt
                        p Алкоголь принадлежит группе веществ с ярко выраженным наркотическим воздействием на человека. Еще 
                            |в 1975 году Всемирная Организация Здравоохранения признала алкоголь вредным для человека веществом 
                            |наркотического воздействия. Поэтому при появлении тяги к спиртному, к выпиванию его на вечеринках и 
                            |праздниках, избавиться от такой тяги выпить очень тяжело. Ситуацию осложняет еще момент, что пьющий 
                            |человек ни за что не признает, что он становится зависимым от алкоголя. Порой даже на третьей стадии 
                            |алкоголизма после многочисленных длительных запоев люди не в состоянии признаться, что больны алкоголизмом 
                            |и им требуется лечение от этой жуткой болезни и зависимости.
                        p Поэтому избавиться самостоятельно от зависимости к алкоголю может далеко не каждый. 
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/sposob.jpg", alt="Решение")
                p Даже при подключении врача-специалиста к этому процессу, лечение алкоголизма — это длительный и долгий процесс.
                p Большую помощь здесь играет возможность кодирования от употребления спиртного. Это не только облегчает лечение 
                    |алкоголизма, но и вырабатывает отрицательное отношение сознания к выпиванию спиртных напитков, так как при 
                    |употреблении происходят негативные реакции, заложенные в кодировании.
        section.doctors-info.doctors-region
            .container
                h2.section__title Куда приезжают наши врачи
                .doctors-info__flex.info-order
                    .doctors-info__txt 
                        p Ленинградская область — большой регион на Северо-западе России размером 500 на 320 км. Занимает большое значение в экономике России. 
                        p Наши выездные бригады наркологического центра «ДетоксМед» обеспечивают вывод из запоя и кодирование в Ленинградской 
                            |области на дому у пациента, либо в стационарных условиях. Большое количество врачей и оптимальное распределение 
                            |их около крупнейших населенных пунктов в Ленинградской области позволяет обеспечивать наркологическое лечение в самые быстрые сроки.
                        p Перечень городов и населенных пунктов, по адресам которых выезжают врачи центра наркологии «ДетоксМед»: 
                            a(href="") Тосно   
                            |    и Тосненский район; 
                            a(href="") Колпино
                            |; 
                            a(href="") Гатчина   
                            |   и Гатчинский район; 
                            a(href="") Пушкин
                            |, 
                            a(href="") Павловск
                            |, 
                            a(href="") Красное Село
                            |; 
                            a(href="") Ломоносов  
                            |   и Ломоносовский район; 
                            a(href="") Петродворец и Петергоф
                            |; 
                            a(href="") Волосово   
                            |   и Волосовский район; 
                            a(href="") Металлострой
                            |; 
                            a(href="") Всеволожск   
                            |   и Всеволожский район; 
                            a(href="") Токсово
                            |; 
                            a(href="") Кировск   
                            |   и Кировский район; 
                            a(href="") Кириши   
                            |   и Киришский район; 
                            a(href="") Выборг   
                            |   и Выборгский район; 
                            a(href="") Рыбацкое 
                            |, 
                            a(href="") Мурино, Новое Девяткино   
                            |   и 
                            a(href="") Кудрово
                            |.
                    .doctors-info__image 
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/leningradskaja-oblast.jpg", alt="Ленинградская область")
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/ekaterininskiy-dvorec.jpg", alt="Вывод из запоя")
        include ./../components/sections/form-home/form-region.pug
        section.questions-region.pt
            .container 
                h2.section__title Вопросы и ответы об алкоголе и алкоголизме
                ul  
                    li
                        h3 Можно ли быстро протрезветь после пьянки, потому что завтра на работу?
                        p Дело в том, что алкоголь,попав в организм, очень быстро впитывается в кровь и разносится по телу. Основная концентрация 
                            |этанола происходит в основном в головном мозге и печени. Обратно вернуть его или связать какими-то веществами нет 
                            |никакой возможности. Народные средства, которых много в интернете, описывают советы, как можно меньше пьянеть. 
                            |В основном, это рекомендации о том , как уменьшить скорость впитывания алкоголя из желудка и кишечника в кровь.
                            | Единственное, что можно сделать для того, чтобы быстрее протрезветь — это ускорить метаболизм алкоголя в организме.
                    li 
                        h3 Я с друзьями пью водку только на рыбалке на свежем воздухе. Неужели мне грозит алкогольная зависимость?
                        p Некоторые специалисты утверждают, что зависимость к алкоголю закладывается не в момент первого или последующего 
                            |употребления спиртного, а гораздо раньше. Основами для возможного страдания от зависимостей становятся рождение 
                            |и детство. Поэтому, насколько Вы подвластны для алкогольной и других зависимостей, определить для простого человека 
                            |очень сложно. Также некоторые специалисты-наркологи утверждают, что начав пить алкоголь Вы уже встали на путь первого 
                            |этапа алкоголизма. Будет он развиваться активно или замрет на начальном этапе зависит от Вас и от качеств и свойств организма.
        include ./../components/sections/footer/footer.pug 