extends ./../layouts/main

block variables
    - let pageTitle = 'Вывод из запоя в Металлострое';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Вывод из запоя в Металлострое';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        section.about.about-region 
            .container 
                h1.main__title.main__titles Вывод из запоя в Металлострое
                .about__block
                    .about__block-img
                        img(src="./wp-content/themes/detox-med/assets/img/rzhevka.jpg", alt="Вывод из запоя")
                    .about__block-txt
                        p Выведение из запоя и лечение алкоголизма на дому — 
                            i Колпино
                            |, 
                            i Металлострой
                            |, 
                            i Понтонный
                            |, 
                            i пос.Тельмана
                            |, 
                            i Петро-Славянка
                            |.
                        p Бесплатная консультация о вариантах вывода из запоя, лечения похмельного синдрома, лечения алкогольной зависимости.
                        p Высокая квалификация наших врачей позволяет гарантировать результат. Врачи клиники «ДетоксМед» — профессионалы самого высокого 
                            |класса и используют только самые современные методики и препараты. Опыт работы врачей — от 6 лет и более. Лечение и выведение 
                            |из запоя происходит полностью анонимно.
        include ./../components/sections/about-advantages/about-advantages3.pug 
        include ./../components/sections/form-home/form-region2.pug 
        section.doctors-info.doctors-region.pt
            .container
                h2.section__title Лечение алкоголизма и выведение из запоя в Металлострое
                .doctors-info__flex.info-order.info-mb2
                    .doctors-info__txt 
                        p Наркологический центр «ДетоксМед» обеспечивает квалифицированные услуги и частный вывод из запоя с облегчением похмельного
                            | синдрома, детоксикации организма от токсинов после распада алкоголя в процессе чрезмерного употребления спиртных напитков.
                        p Лечению алкоголизма в Металлострое помогает его близость к Санкт-Петербургу. Врачи-наркологи высшего разряда могут обеспечить 
                            |лечение на дому. Сам поселок представляет собой населенный пункт, расположенный вдоль Невы. Количество жителей его составляет в 
                            |последние годы около 30 тыс. жителей. Поселок был основан в 1931 году для проживания рабочих Колпинского Металлургического завода.
                        p Если у близкого Вам человека развивается признаки похмельного синдрома, старайтесь как можно быстрее позвонить нам для получения 
                            |бесплатной  консультации, на основании которой наши опытные врачи-наркологи решат необходимость применения тех или иных мер. 
                            |Если нужна будет срочная помощь, то наши врачи немедленно обеспечат самый быстрый приезд к вам. 
                    .doctors-info__image 
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/kak-ochistit-organizm.jpg", alt="Лечение алкоголизма")
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/why.jpg", alt="Выведение из запоя")
                p Стоит понимать важность своевременного лечения от зависимости, ведь алкоголь относится к группе наркотических веществ, при этом 
                    |оставаясь практически свободно продаваемым и легко доступным.
                p Помните, что на фоне похмельного синдрома, могут развиться опасные для жизни состояния — отёк головного мозга, нарушение ритма сердца и др.
        include ./../components/sections/publications/publications-region.pug
        section.advantages-appeal.advantages-region
            .container
                h2.section__title Доверьте вывод из запоя опытным профессионалам — наркологам
                .info.info-mb2
                    .info__txt
                        p Врач наркологического центра «ДетоксМед», прибывший на дом по вызову выведения из запоя, обеспечит качественное бесплатное 
                            |обследование пациента, даст бесплатную консультацию, обеспечит медицинское сопровождение больного в борьбе с таким сложным и 
                            |опасным недугом как алкоголизм.
                        p В процессе обследования нарколог решает о способе выведения из запоя. Обычно для этого используется капельница, которая уже 
                            |через 5 минут дает результаты по улучшению состояния больного.
                        p Капельница позволяет полностью и точно проконтролировать процесс выведения из похмельного состояния, убрать симптомы абстинентного
                            | синдрома.
                        p За счет препаратов, входящих в состав капельницы, больной получает необходимые ему вещества для стабилизации состояния. После
                            | завершения выведения из запоя врач обеспечивает больного медицинскими препаратами на несколько дней и дает рекомендации по
                            | дальнейшему лечению.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/Stock.jpg", alt="Нарколог")
                .info.info-order.info-mb2
                    .info__txt
                        p В случае наличия противопоказаний, пациент госпитализируется в наркологический стационар по выводу из запоя в области. 
                            |При возможности и желанию пациента может производиться кодирование от алкоголизма на период от 3-х месяцев до 5-ти лет.
                        p Стоит понимать, что выведение из запоя — это лишь первая часть большого и длительного лечения от алкогольной зависимости. 
                            |Здесь и сам пациент должен понимать важность этих действий и помогать своему освобождению от «зеленого змия». Если же 
                            |пациент не понимает важности лечения, то это создает большие проблемы по положительному результату в лечении влечения к 
                            |спиртным напиткам. Несмотря на это наши врачи продолжают проводить мотивацию к лечению и оказывают качественную своевременную 
                            |помощь в лечении алкоголизма.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/met.jpg", alt="Употребление алкоголя")
                p После проведенного лечения мы выдаём рекомендации по посещению групп Анонимных Алкоголиков в Металлострое. 
                    |Наши врачи всегда настроены на позитивный результат даже в тяжелых случаях алкогольной зависимости, при тяжелых формах запоя или 
                    |похмельного синдрома.
                p Не затягивайте с возможной помощью врача-специалиста. Уже при первых признаках устойчивого влечения к алкоголю звоните и получайте 
                    |бесплатную консультацию опытного врача-нарколога. Он обеспечит психологическую поддержку и построить оптимальный план по выводу 
                    |Вашего близкого из запойного состояния или в лечении болезни алкогольной зависимости.
                p Также возможно выведение из запоя в 
                    a(href="") Пушкине
                    |, в 
                    a(href="") Купчино
                    |, в 
                    a(href="") Волосово
                    |, в 
                    a(href="") Гатчине
                    |, в 
                    a(href="") Рыбацком
                    |, в 
                    a(href="") Санкт-Петербурге   
                    |   в  
                    a(href="") Кировском районе(С-Петербург)  
                    |   и в  
                    a(href="") Центральном районе
                    |.
        include ./../components/sections/footer/footer.pug 