extends ./../layouts/main

block variables
    - let pageTitle = 'Выведение из запоя Петергоф, Стрельна';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Выведение из запоя Петергоф, Стрельна';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        section.about.about-region 
            .container 
                h1.main__title.main__titles Выведение из запоя Петергоф, Стрельна
                .about__block
                    .about__block-img
                        img(src="./wp-content/themes/detox-med/assets/img/pushkin.jpg", alt="Выведение из запоя Петергоф, Стрельна")
                    .about__block-txt
                        p Выведение из запоя и кодирование от алкоголизма в 
                            i Петергофе
                            |, в 
                            i Стрельне
                            |, в 
                            i Горбунках
                            |, на 
                            i Петергофском шоссе
                            |, в 
                            i Ломоносове
                            |, в 
                            i Горелово
                            |.
                        p Врачи-наркологи клиники «ДетоксМед» обеспечивают высокое качество услуг по выводу на дому из запойного состояния, 
                            |сделают кодировку и подшитие от алкоголя по самым низким ценам, дадут бесплатные консультации и рекомендации. 
                            |Быстрое прибытие врачей-наркологов в Петергоф всегда возможно в случае необходимости.
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug 
        include ./../components/sections/about-advantages/about-advantages3.pug 
        section.advantages-services.p-mb
            .container
                h2.section__title.mb Применение капельницы в процедурах по лечению запоя и похмелья
                .info.info-order.mbn
                    .info__txt
                        p Лечение запойного состояния состоит из нескольких этапов:
                        ol 
                            li Лечение собственно алкогольного опьянения  (отравление алкоголем).
                            li Лечение последствий запойного состояния (постинтоксикационный синдром, похмельный или абстинентный синдром ).
                        p В обоих случаях лечение начинается с применения инфузионной терапии, или капельниц снижающими эффекты отравления алкоголем, 
                            |а также устраняющим эффекты похмельного синдрома.
                        p Для лучших показателей эффективности по выведению из запоя и токсинов из организма применяется капельница. Она создает 
                            |качественное и полноценное поступление медикаментов и препаратов напрямую в организм, позволяет регулировать поток поступлений
                            | этих веществ. 
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/peter.jpg", alt="Причина образования")
                p Применяя капельницы, можно быть уверенным в результатах лечения как запойного состояния так и похмелья. В течении 5-ти минут 
                        |от начала использования «капельницы», пациент чувствует значительное улучшение самочувствия. Снижаются основные последствия 
                        |длительного злоупотребления:  тревога, беспокойство, бессонница, тошнота, головная боль, головокружение.
                p Если после вывода из запоя пациент хочет обеспечить лечение алкоголизма, то врач-нарколог обеспечит его предстоящей программой 
                        |лечения. По желанию пациента возможна процедура «кодирования» от 3х месяцев до 5-ти лет.
                p Все схемы лечения призваны в считанные минуты снизить явления абстиненции, восстановить нормальное сердцебиение, артериальное 
                        |давление, а значит, соответственно, снять угрозу для жизни.
        include ./../components/sections/form-home/form-region.pug 
        
        section.advantages-appeal.advantages-region.pt
            .container
                h2.section__title Лечение от алкоголизма в Стрельне
                .info
                    .info__txt
                        p Трудно представить, как можно злоупотреблять здоровьем, когда тебя окружает такое великолепие исторической архитектуры. 
                            |Ведь тем, людям, кто живет в этих местах, завидуют многие обделенные таким счастьем другие, у которых в районе ближайших 500 
                            |км либо тайга, либо пески, либо джунгли.
                        p Самая главная задача у больного алкоголизмом, чтобы он поверил в свои силы и смог побороть тягу к спиртному. Несомненно, 
                            |наш наркологический центр оказывает психологическую помощь пациентам, нацеленным на излечение от этой жуткой болезни. 
                            |Необходимо будет только желание выполнять персональную программу, построенную доктором для излечения от алкогольной зависимости.
                        p Для облегчения переходного периода к неприятию в своей жизни спиртных напитков, врачами наркологического центра «ДетоксМед» 
                            |может устанавливаться кодировка от алкоголя. Она помогает быстро, сразу перейти на уровень трезвой жизни.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/protrezvet-i-izbavitsja-ot-peregara.jpg", alt="Лечение в Стрельне")
        
        include ./../components/sections/publications/publications-region.pug
        include ./../components/sections/footer/footer.pug 