extends ./../layouts/main

block variables
    - let pageTitle = 'Цены на услуги';
    - let breadcrumbsHomepage = 'Главная / ';
    - let breadcrumbsText_1 = 'Цены';

    - let breadcrumbsHomepageLink = 'index.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        section.banner-page
            .container 
                .banner-page__block.banner-page__block-center
                    h1 Цены на услуги центра
        .container                 
            include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        include ./../components/sections/prices/prices.pug
        include ./../components/sections/guarantees/guarantees-2.pug
        include ./../components/sections/form-down/form-down.pug
        include ./../components/sections/footer/footer.pug