extends ./../layouts/main

block variables
    - let pageTitle = 'Цены';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Услуги / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Цены';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'services.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        include ./../components/sections/advantages-appeal/advantages-prices.pug
        include ./../components/sections/advantages-appeal/advantages-prices2.pug
        include ./../components/sections/advantages-appeal/advantages-prices3.pug
        include ./../components/sections/form-home/form-prices.pug
        section.advantages-appeal.advantages-prices-s.advantages-pt
            .container
                h2.section__title Лечение табакокурения
                .info.info-order
                    .info__txt
                        p Табачная зависимость — самая стойкая форма зависимости. Нет курильщика который не 
                            |задумывался об отказе от табака, однако табачная зависимость — одна из самых мощных 
                            |форм зависимости. Пациентов отказавшихся от табака, с первого дня начинает беспокоить 
                            |тревога, неусидчивость, психоэмоциональное напряжение. С целью снижения негативных последствий 
                            |в тяжёлых формах синдрома отмены табака, врач — нарколог назначает поддерживающую терапию. 
                            |Результат — снижение тяги к табаку и полный отказ от курения.
                        ul 
                            li 
                                h3 Лечение табачной зависимости
                                strong от 20 000 руб
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/prices2.jpg", alt="Лечение табакокурения")
        section.advantages-appeal.advantages-prices.advantages-prices-m
            .container
                h2.section__title Кодирование от алкоголизма
                .info
                    .info__txt
                        p Кодирование от алкоголизма —  это подчас единственный способ отказа от алкоголя на 
                            |запланированный период. Не многие могут справиться с непреодолимой тягой к употреблению 
                            |алкоголя. Поэтому ведущими мировыми фармацевтами были разработаны препараты по блокировке
                            | ферментов, участвующих в метаболизме этанола в организме человека. Кодирование от 
                            |употребления спиртного заключается в том, что при выпивании даже малого количества алкоголя, 
                            |человек получает сильное алкогольное отравление, что не дает возможности ему пить спиртное.
                            | Такие препараты действуют заданное производителем время. Также можно продлять кодировки по
                            | истечении их срока действия.
                        p Самый популярный способ кодирования от алкоголизма представляет собой введение препаратов Дисульфирама.
                            | После введения данной группы препаратов блокируется группа ферментов в печени, ответственная 
                            |за нормальную утилизацию алкоголя в организме.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/prices.jpg", alt="Лечение алкоголизма")
                p: em Введение препарата «Дисульфирам»
                ul 
                    li 
                        h3 На 1 месяц 
                        strong 1000 руб
                    li 
                        h3 На 6 месяцев
                        strong 2500 руб
            
                    li 
                        h3 На 1 год
                        strong 3500 руб
                    li 
                        h3 На 2 года
                        strong 4000 руб
                    li 
                        h3 На 3 года
                        strong 4500 руб
                    li 
                        h3 На 5 лет
                        strong 5300 руб
                p: em Введение препарата «Эспераль-гель»
                ul 
                    li 
                        h3 На 1 месяц 
                        strong 1000 руб
                    li 
                        h3 На 6 месяцев
                        strong 2600 руб
            
                    li 
                        h3 На 1 год
                        strong 3800 руб
                    li 
                        h3 На 2 года
                        strong 4300 руб
                    li 
                        h3 На 3 года
                        strong 4800 руб
                    li 
                        h3 На 5 лет
                        strong 5600 руб
        include ./../components/sections/advantages-appeal/advantages-prices4.pug
        include ./../components/sections/form-home/form-prices2.pug
        section.about-advantages.advantages-services.advantages-services--prices
            .container 
                h2.section__title Наши преимущества
                .block 
                    .block__box 
                        h3 Научная обоснованность
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#atom")
                            | Мы используем методы,которые имеют научное обоснование. Это позволяет достигать гарантированный результат.
                    .block__box  
                        h3 Инновационные методы
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#innovation")
                            | Использование только самых современных и передовых методик лечения синдрома зависимости.
                    .block__box  
                        h3 Строжайшая конфиденциальность
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#anonymous")
                            | Мы гарантируем полную анонимность лечения. Вы можете быть уверены, что не будете скомпрометированы.
                    .block__box  
                        h3 Максимальный комфорт
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#hospital")
                            | Наш стационар оснащён современным оборудованием. В палатах есть всё необходимое для комфортного проживания.
                    .block__box  
                        h3 Индивидуальный план лечения
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#list")
                            | Наши специалисты подберают наиболее эффективные методы восстановительной терапии под каждого пациента.
        include ./../components/sections/footer/footer.pug 
