extends ./../layouts/main

block variables
    - let pageTitle = 'Выведение из запоя в Пушкине';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Выведение из запоя в Пушкине';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        include ./../components/sections/about/about-pushkin.pug 
        include ./../components/sections/operating-principle/principle-region.pug 
        section.form.form-prices--stock.form-region
            .container
                .form
                    h2.form__title Только в этом месяце выведение из запоя от 1799 рублей!
                    h3 Заполните форму, чтобы узнать подробности.
                    form
                        input._req.phone-input(type="text" name="user-phone" placeholder="+ 7 ___ - __ - __" required="required")
                        input._req(type="text" name='user-name' placeholder="Ваше имя" required="required")
                        button.btn-send.btn-red Заказать звонок
                        .form__policy
                            input._req.chec#chec(type="checkbox" required="required" checked)
                            label.form-chec(for="chec") Вы соглашаетесь с 
                                a(href="#!" target="_blank") условиями обработки персональных данных
        section.advantages-appeal.advantages-region
            .container
                h2.section__title Лечение алкогольной зависимости в Пушкине
                .info
                    .info__txt
                        p Лечение алкоголизма — это процесс строго индивидуальный. Именно поэтому медицинский центр «ДетоксМед» 
                            |обеспечивает выезд врача-нарколога на дом в Пушкин, Павловск и районы: Московская Славянка, 
                            |Александровка, Глинки.  
                        p В случае отсутствия противопоказаний для проведения лечения запоя на дому проводятся процедуры 
                            |по выведению из запоя и детоксикации. Врач — нарколог выезжает в Пушкин, либо Павловск и 
                            |проводит максимальный перечень мероприятий по лечению запоя, острой алкогольной интоксикации, 
                            |похмелья.
                        p В случае наличия противопоказаний, пациент госпитализируется в наркологический стационар. 
                            |Для осуществления оперативного прекращения употребления алкоголя врач-нарколог может провести 
                            |процедуру «кодирования от алкоголизма» от 3-х месяцев до 5-ти лет. Психотерапевтическая поддержка 
                            |пациентов с зависимостью — также одно из направлений нашей работы.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/doctor-56.jpg", alt="Лечение алкогольной зависимости в Пушкине")
        include ./../components/sections/conclusion-drinking/conclusion-region.pug 
        section.advantages-services
            .container
                h2.section__title Мотивация пациента на лечение
                .info.info-order.info-after
                    .info__txt
                        p Восстановление целей пациента, восстановление утраченных внутрисемейных взаимоотношений. 
                            |Выведение из запоя — лишь первый этап на пути лечения Синдрома Зависимости от Алкоголя. 
                            |Очень важно сформировать понимание необходимости борьбы самого пациента с болезнью.
                        p Отказ пациента от лечения, отказ от заболевания и есть базовая проблема лечения зависимости. 
                            |Именно поэтому мотивация на лечение играет ключевую роль в нашей работе с пациентом. 
                            |Даже если пациент отказывается от помощи, на основании нежелания лечения, наши специалисты 
                            |мотивируют пациента на лечение и оказывают качественную своевременную помощь в мотивации на 
                            |лечение алкоголизма. После проведенного лечения мы выдаём рекомендации по посещению групп 
                            |Анонимных Алкоголиков в Пушкине.
                        p Многие пациенты страдающие алкоголизмом отрицая наличие алкоголизма, отказываются и от 
                            |соответствующей помощи родственников и близких. Врачи наркологического центра ДетоксМед,
                            | в нашей работе, ориентированы на полное восстановление здоровья пациента, как физического,
                            | так и психологического.
                    .info__img.info__img-mt
                        img(src="./wp-content/themes/detox-med/assets/img/Stock.jpg", alt="Мотивация пациента на лечение")
        include ./../components/sections/questions/questions-region.pug 
        include ./../components/sections/form-home/form-region.pug 
        section.advantages-appeal.advantages-region.pt
            .container
                h2.section__title Кодирование от алкоголизма в Пушкине
                .info
                    .info__txt
                        p Один из важнейших аспектов лечения алкогольной зависимости является полное или частичное 
                            |прекращение употребления алкоголя. В этот момент пациент должен привыкнуть жить без 
                            |психологической привязанности к спиртному, дать возможность восстановиться здоровью организма, 
                            |органов, которые подвергались в период запоя воздействию сильных токсических веществ, 
                            |образованных в ходе расщепления алкоголя в организме.
                        p Но не все могут выдержать жить без употребления алкоголя даже в небольшие периоды. Чтобы у 
                            |пациента была такая возможность, в медицинской практике реализуется кодирование от 
                            |алкоголя — введение химических веществ в организм, которые помогают блокировать 
                            |употребление спиртного.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/alcohol.jpg", alt="Кодирование от алкоголизма в Пушкине")
        include ./../components/sections/doctors/doctors-region.pug 
        include ./../components/sections/footer/footer.pug 