extends ./../layouts/main

block variables
    - let pageTitle = 'Отзывы';
    - let breadcrumbsHomepage = 'Главная / ';
    - let breadcrumbsText_1 = 'О центре / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Отзывы';

    - let breadcrumbsHomepageLink = 'index.html';
    - let breadcrumbsLink_1 = 'about.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        include ./../components/sections/form-home/form-reviews-max.pug
        include ./../components/sections/reviews/reviews.pug
        include ./../components/sections/form-home/form-reviews.pug
        include ./../components/sections/footer/footer.pug 
