extends ./../layouts/main

block variables
    - let pageTitle = 'Вывод из запоя Ржевка, Пороховые, Красногвардейский р-н';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Вывод из запоя Ржевка, Пороховые, Красногвардейский р-н';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';
block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        include ./../components/sections/about/about-rzhevka.pug 
        section.doctors-info.doctors-region
            .container
                h2.section__title Почему возникает опасность для здоровья при запое и после него
                .doctors-info__flex.info-order
                    .doctors-info__txt 
                        p Чрезмерное употребление алкоголя — это одна из главных причин возникновения опасных проблем 
                            |со здоровьем. Вначале алкоголь приносит удовольствие, повышает настроение, снимает стрессы и 
                            |усталость за счет влияния на центральную нервную систему. Но затем выпивающему регулярно спиртные 
                            |напитки приходится постоянно увеличивать потребляемую дозу алкогольных напитков, чтобы чувствовать
                            | такое опьянение как раньше. Поэтому все больше и больше поступает в организм алкоголя и все больше 
                            |и больше приходится организму его перерабатывать.
                        p В нашей печени этиловый спирт с помощью фермента алкогольдегидрогеназы превращается в ацетальдегид
                            | , после чего он превращается в уксусную кислоту. При большом количестве потупившего алкоголя 
                            |организм не справляется с полным превращением алкоголя в уксусную кислоту, в результате чего 
                            |ацетальдегид начинает накапливаться в организме. Он очень токсичен, и токсикация организма отходами 
                            |переработки алкоголя является причиной возникновения крайней опасности для здоровья пациента и 
                            |для его состояния.
                    .doctors-info__image 
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/ben-hershey.jpg", alt="Опасность для здоровья")
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/protrezvet-i-izbavitsja-ot-peregara.jpg", alt="Чрезмерное употребление алкоголя")
        section.symptoms
            .container
                h2.section__title Когда необходимо незамедлительно вызывать специалиста
                include ./../components/bem-blocks/steps/step.pug
                button.btn-send.btn-red.btn-viziv Вызвать нарколога
                p При выполнении услуг по выведению из запойного состояния, врач-нарколог может предоставить бесплатную консультацию и бесплатное медицинское обследование на дому, которое покажет текущее состояние больного и противопоказания к использованию некоторых методик по выведению из запоя.
                p Одним из самым популярным методом является капельница — она позволяет дозировать лекарственные препараты и точно вносить в организм необходимое количество лекарств. Также с помощью капельницы можно быстро переключать типы вводимых веществ. При использовании капельницы очень быстро можно привести организм заболевшего в порядок.
                p Наши врачи наркологического центра обеспечивают выведение из запоя также в 
                    a(href="") Токсово
                    |, в 
                    a(href="") Мурино
                    |, в 
                    a(href="") Парголово
                    |, во 
                    a(href="") Всеволожске
                    |, в 
                    a(href="") Выборге
                    |, в 
                    a(href="") Сестрорецке  
                    |   и в 
                    a(href="") Санкт-Петербурге  
                    |   в 
                    a(href="") Купчино
                    |.
        include ./../components/sections/questions/questions-region3.pug 
        include ./../components/sections/publications/publications-region.pug
        include ./../components/sections/footer/footer.pug 