extends ./../layouts/main

block variables
    - let pageTitle = 'Прерывание запоя в Шушарах';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Прерывание запоя в Шушарах';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        //- include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        section.about.about-region 
            .container 
                h1.main__title.main__titles Прерывание запоя в Шушарах
                .about__block
                    .about__block-img
                        img(src="./wp-content/themes/detox-med/assets/img/vyvod.jpg", alt="Вывод из запоя")
                    .about__block-txt
                        p Выведение из запоя и лечение алкоголизма на дому в Шушарах.
                        p Бесплатная консультация о вариантах вывода из запоя, лечения похмельного синдрома, лечения алкогольной зависимости.
                        p Бесплатное медицинское обследование с помощью врача-нарколога при оказании услуг. Врачи наркологического центра 
                            |«ДетоксМед» — профессионалы самого высокого класса и используют только самые современные методики и препараты. 
                            |Опыт работы врачей — от 6 лет и более. Лечение и выведение из запоя происходит полностью анонимно.
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug 
        include ./../components/sections/operating-principle/principle-region.pug 
        section.advantages-appeal.advantages-services.advantages-region
            .container
                h2.section__title Снятие похмельного синдрома и лечение алкоголизма в Шушарах
                .info.info-after.info-mb2
                    .info__txt
                        p Лучшие врачи-наркологи Санкт-Петербурга работают в нашей клинике, обеспечивая лечение этой опасной болезни алкогольной 
                            |зависимости. При необходимости, он немедленно выезжают к клиенту обеспечивая безопасность здоровья и жизни на дому у пациента. 
                            |Они используют самые современные методики по выводу из запойных состояний, устраняя последствия похмельного синдрома, лечение 
                            |влечения к спиртному.
                        p Не считайте эту зависимость просто, как простым бытовым случаем «ну, перепил немного», «с кем не бывает — все пьют». 
                            |Тяжесть положения обеспечивает принадлежность алкоголя к наркотической группе, даже несмотря на всеобщую доступность спиртного 
                            |в магазинах.
                        p Старайтесь звонить нам на самых ранних признаках алкогольной зависимости, тем самым увеличивая шанс вылечивания от 
                            |пристрастия к алкоголю.
                    .info__img.info__img-mt
                        img(src="./wp-content/themes/detox-med/assets/img/abstinentnyj-sindrom.jpg", alt="Мотивация пациента на лечение")
                p Помните, что на фоне похмельного синдрома, могут развиться опасные для жизни состояния — отёк головного мозга, нарушение ритма 
                    |сердца и др. Не допускайте моральной деградации больных зависимостью к спиртному — Ваших близких.
        include ./../components/sections/form-home/form-region2.pug 
        section.advantages-appeal.advantages-region.pt
            .container
                h2.section__title Выведение из запоя в Шушарах
                .info.info-order
                    .info__txt
                        p Лечение запоя и вывод из него в Шушарах проходит под самым пристальных контролем наших врачей. Они всегда готовы 
                            |помощь при любом опасном для здоровья случае, всегда рады провести бесплатную консультацию.
                        p Если нет противопоказаний врач — нарколог «ставит капельницу», и уже через 5 минут от начала лечения пациент чувствует 
                            |облегчение: проходит ощущение тревоги, беспокойства, снижается артериальное давление. По окончании капельницы врач — 
                            |нарколог оставляет таблетированные препараты, с целью поддерживающей терапии и рекомендации по дальнейшему лечению.
                        p В случае наличия противопоказаний, пациент госпитализируется в наркологический стационар. В случае согласия пациента 
                            |проводит кодирование от алкоголизма на период от 3-х месяцев до 5-ти лет. 
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/doctor-56.jpg", alt="Капельница")
        include ./../components/sections/conclusion-drinking/conclusion-region.pug 
        section.advantages-services
            .container
                h2.section__title Мотивация пациента на лечение
                .info.info-order.info-after
                    .info__txt
                        p Восстановление целей пациента, восстановление утраченных внутрисемейных взаимоотношений. Выведение из запоя — лишь 
                            |первый этап на пути лечения Синдрома Зависимости от Алкоголя. Очень важно сформировать понимание необходимости борьбы самого 
                            |пациента с болезнью.
                        p Отказ пациента от лечения, отказ от заболевания и есть базовая проблема лечения зависимости. Именно поэтому мотивация на 
                            |лечение играет ключевую роль в нашей работе с пациентом. Даже если пациент отказывается от помощи, на основании нежелания 
                            |лечения, наши специалисты мотивируют пациента на лечение и оказывают качественную своевременную помощь в мотивации на лечение 
                            |алкоголизма. После проведенного лечения мы выдаём рекомендации по посещению групп Анонимных Алкоголиков в Шушарах.
                        p Многие пациенты страдающие алкоголизмом отрицая наличие алкоголизма, отказываются и от соответствующей помощи родственников 
                            |и близких. Врачи наркологического центра ДетоксМед, в нашей работе, ориентированы на полное восстановление здоровья пациента, 
                            |как физического, так и психологического.
                    .info__img.info__img-mt
                        img(src="./wp-content/themes/detox-med/assets/img/Stock.jpg", alt="Мотивация пациента на лечение")
        include ./../components/sections/footer/footer.pug 