extends ./../layouts/main

block variables
    - let pageTitle = 'Выведение из запоя в Тосно';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Выведение из запоя в Тосно';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        //- include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        section.about.about-region 
            .container 
                h1.main__title.main__titles Выведение из запоя в Тосно
                .about__block
                    .about__block-img
                        img(src="./wp-content/themes/detox-med/assets/img/kirishi.jpg", alt="Вывод из запоя")
                    .about__block-txt
                        p Вывод из запоя и лечение алкоголизма на дому — 
                            i Тосно
                            |, 
                            i Ушаки
                            |, 
                            i Ульяновка
                            |, 
                            i Никольское
                            |, 
                            i Новолисино
                            |, 
                            i Форносово
                            |, 
                            i Поги
                            |.
                        p Наши врачи приезжают быстро, всегда имеют с собой необходимое медицинское оборудование для обследования пациента. 
                            |Низкая цена позволяет не переплачивать за услуги по выводу из запоя, по лечению алкогольной и других зависимостей. 
                            |Высокая квалификация врачей и большой опыт работы — гарантия полноценного и качественного получения такой услуги.
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug 
        section.doctors-info.doctors-region
            .container
                h2.section__title Выведение из запойного состояния в Тосно
                .doctors-info__flex.info-order.info-mb2
                    .doctors-info__txt 
                        p Наши врачи стараются дежурить около города Тосно для наибыстрейшего оказания помощи при запоях и лечении алкоголизма. 
                            |Они всегда имеют самое необходимое и современное медицинское оборудование для бесплатного обследования при выведении из 
                            |запоя, а также обеспечивают бесплатной консультацией. После проведения необходимых медицинских процедур врачи наркологической 
                            |клиники «ДетоксМед» обязательно оставляют необходимые для первого времени после вывода из запоя медикаменты.
                        p Всегда учтите, что длительное злоупотребление алкоголя всегда сопровождают болезненные состояния после принятия лишней 
                            |дозы алкоголя — это «синдром отмены» или похмельный синдром. Привыкший употреблять алкоголь организм уже перестроился под 
                            |переработку алкогольных напитков, постоянно употребляемых. Поэтому при прекращении поступления алкоголя возможны крайне 
                            |болезненные состояния опасные не только для здоровья, но для жизни больного алкоголизмом. 
                    .doctors-info__image 
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/ben-hershey.jpg", alt="Мурино")
                        .doctors-info__img
                            img(src="./wp-content/themes/detox-med/assets/img/protrezvet-i-izbavitsja-ot-peregara.jpg", alt="Выведение из запоя")
                p Потребность опохмелиться опять перестает в следующую стадию запоя. И здесь очень важно вовремя и правильно прервать это состояние 
                    |длительного запоя.
                p Выведение из запоя в Тосно — это весьма распространённый и удобный вариант лечения.
                p Врач-нарколог выезжает  в Тосно и проводит диагностические и лечебные мероприятия у кровати больного: измеряет артериальное давление, 
                    |оценивает состояние печени, сердца, проводит забор анализов крови. В случае отсутствия противопоказаний врач — нарколог «ставит капельницу», и уже через 5ть минут от начала лечения пациент чувствует облегчение: проходит ощущение тревоги, беспокойства, снижается артериальное давление.
                p По окончании капельницы врач — нарколог оставляет таблетированные препараты, с целью поддерживающей терапии и рекомендации по 
                    |дальнейшему лечению.
                p Получить детоксикацию организма от вредных продуктов распада алкоголя и заказать помощь в выводе из запоя, лечении алкогольной 
                    |зависимости можно также в 
                    a(href="") Пушкине
                    |, в 
                    a(href="") Купчино
                    |, в 
                    a(href="") Шушарах
                    |, в 
                    a(href="") Гатчине
                    |, в 
                    a(href="") Рыбацком
                    |, в 
                    a(href="") Кудрово
                    |, в 
                    a(href="") Всеволожске
                    |, в 
                    a(href="") Киришах
                    |.
        include ./../components/sections/form-home/form-region.pug 
        section.advantages-appeal.advantages-region.pt
            .container
                h2.section__title Причины возникновения алкогольной зависимости
                .info.info-mb2
                    .info__txt
                        p Одна из наиболее частых причин возникновения тяги к алкоголю является попытка снятия стресса с помощью спиртных напитков. 
                            |Получив первый опыт в реакции организма на употребление алкоголя, человек начинает воспринимать спиртные напитки как решение 
                            |в получении хорошего настроения, эйфории и устранения усталости. Потребляющий алкоголь для снятия стресса человек совершенно 
                            |не воспринимает его как будущую угрозу для своего здоровья и даже своей жизни. Все страшилки про алкоголизм он воспринимает как 
                            |«не про меня».
                        p Пытаясь повышать настроение и устранять усталость с помощью спиртного, человек может начать пить небольшие дозы алкогольных 
                            |напитков чуть ли не каждый день, еще больше укрепляя психологическую связь своего мозга с выпиванием спиртных напитков. 
                            |После частого такого «лечения» стресса для создания опьянения «как раньше» требуется все большее и большее количество 
                            |выпиваемого спиртного, что может приводить уже к физиологической зависимости к употреблению алкоголя.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/ispol.jpg", alt="Алкогольная зависимость")
                .info.info-order.info-mb2
                    .info__txt
                        p Вся жизнь обычно состоит из череды белых и темных полос. Некоторые полосы бывают темнее и, порой, настолько, что 
                            |человеку хочется уйти психологически от решения проблем или переживания неприятностей или горя. Применяя для этой цели
                            | спиртное, он подписывает себе великую проблему порой на всю жизнь — избавиться от тяги к алкоголю и возникающей затем 
                            |алкогольной зависимости люди часто не могут до конца своей жизни. А если к этому добавить тот вред, который может нанести 
                            |здоровью чрезмерное употребление алкоголя, то цена короткого такого «спасения» слишком велика.
                        p Старайтесь ни в коем случае не применять спиртные напитки для отрешения от психологических проблем, неприятностей 
                            |или горя. Это чревато в силу очень быстрого привыкания к выпиванию спиртного, возникновению алкогольной зависимости. 
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/spirtnyh.jpg", alt="Спиртные напитки")
                p Ведь Всемирная Организация Здравоохранения в 1975 году зафиксировала алкоголь как вещество, принадлежащее к группе наркотических веществ 
                    |и наносящее большой вред здоровью человека.
        include ./../components/sections/about-advantages/about-advantages3.pug 
        include ./../components/sections/footer/footer.pug 