extends ./../layouts/main

block variables
    - let pageTitle = 'Лечение алкоголизма';
    - let breadcrumbsHomepage = 'Главная / ';
    - let breadcrumbsText_1 = 'Услуги / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Лечение алкоголизма';

    - let breadcrumbsHomepageLink = 'index.html';
    - let breadcrumbsLink_1 = 'services.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/sections/banner/banner-alcoholism.pug
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        include ./../components/sections/doctors/doctors-services.pug
        section.advantages-services
            .container
                h2.section__title Воздействие алкоголя на человека
                .info
                    .info__txt
                        p Так почему же, несмотря на такую уверенность в себя пьющих алкоголь, большинство 
                            |из них не в состоянии контролировать количество выпитого спиртного и поддаются алкогольной 
                            |зависимости.
                        p Многие, кто идет на праздник, на свадьбу, на день рождения друга, на встречу с друзьями,
                            | уверены, что выпьют всего лишь пару, тройку рюмок водки или пару бокалов вина или 
                            |шампанского, ведь завтра на работу или за руль.
                        p Но, как правило, все происходит по другому сценарию и уже пациенту требуется эффективное
                            | лечение алкоголизма. Причина тут, прежде всего, в природе алкоголя и его воздействия 
                            |на человека.
                        p Поступая в наш организм, алкоголь быстро проникает во все его клетки. Благодаря особым 
                            |природным свойствам, алкоголь легко растворяется не только в воде, но и в жирах. 
                            |Поэтому он легко проникает во все уголки нашего организма. Больше всего этанол (спирт)
                            | концентрируется в мозгу и в печени. В случае ухудшения состояния пациента на дому 
                            |требуется принудительное лечение от алкоголизма в реабилитационном центре.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/protrezvet-i-izbavitsja-ot-peregara.jpg", alt="Воздействие алкоголя на человека")
        section.symptoms
            .container
                h2.section__title Когда необходимо незамедлительно вызывать специалиста
                .steps.step
                    ul 
                        li: p Пьющий потерял сознание
                        li: p  У него обильная рвота
                        li: p  Рвотные массы красного цвета
                        li: p  Заметен внутренний тремор
                        li: p  Он ведет себя агрессивно
                        li: p  Пьющий видит галлюцинации
                button.btn-send.btn-red Вызвать нарколога
                p На услуги срочного вывода из запоя цена варьируется в пределах разумного. 
                    |Анонимный вызов нарколога на дом предоставляется в условиях конфиденциальности. 
                    |Обращение к специалисту – шанс помочь близкому человеку прекратить вести аморальный образ жизни.
                    | Доктор сможет убедить пройти курс психотерапии, мотивировать на отказ от спиртного.
        
        section.about-advantages.advantages-services
            .container 
                h2.section__title Наши преимущества
                .block 
                    .block__box 
                        h3 Научная обоснованность
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#atom")
                            | Мы используем методы,которые имеют научное обоснование. Это позволяет достигать гарантированный результат.
                    .block__box  
                        h3 Инновационные методы
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#innovation")
                            | Использование только самых современных и передовых методик лечения синдрома зависимости.
                    .block__box  
                        h3 Строжайшая конфиденциальность
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#anonymous")
                            | Мы гарантируем полную анонимность лечения. Вы можете быть уверены, что не будете скомпрометированы.
                    .block__box  
                        h3 Максимальный комфорт
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#hospital")
                            | Наш стационар оснащён современным оборудованием. В палатах есть всё необходимое для комфортного проживания.
                    .block__box  
                        h3 Индивидуальный план лечения
                        p
                            i: svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#list")
                            | Наши специалисты подберают наиболее эффективные методы восстановительной терапии под каждого пациента.
                p Алкоголизм — это не болезнь. Это — вирус. Причём вирус, который способен заразить все клетки организма. 
                    |Проблема лечения алкоголизма заключается в исключительном нежелании пациента лечиться, потому-что в 
                    |сознании пациента понятие болезненности пристрастия отсутствует. Разум пациента, страдающего 
                    |алкоголизмом, живёт неосознанно, и стремится к достижению своей цели. Эффективное воздержание 
                    |от спиртного и отказ от алкогольной зависимости может сформироваться исключительно после жёсткой 
                    |мотивации пациента в необходимости отказа от алкоголя во имя сохранения собственной жизни, работы,
                    | семейных взаимоотношений.
                p Вызвать нарколога на дом в Санкт-Петербурге можно в режиме 24/7. Сотрудники нашей клиники готовы 
                    |обеспечить оперативный отклик на обращение, сделать все возможное, чтобы быстро добраться до 
                    |больного, облегчить его состояние.
                p Звоните в наркологический центр «ДетоксМед». Не нужно быть наедине с бедой, вместе мы сможем 
                    |обеспечить шансы на светлое будущее и жизнь вне пагубной зависимости!
        include ./../components/sections/form-home/form-home.pug
        include ./../components/sections/footer/footer.pug 
