extends ./../layouts/main

block variables
    - let pageTitle = 'Лечение наркомании в Санкт-Петербурге и области';
    - let breadcrumbsHomepage = 'Главная / ';
    - let breadcrumbsText_1 = 'Услуги / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Лечение наркомании в Санкт-Петербурге и области';

    - let breadcrumbsHomepageLink = 'index.html';
    - let breadcrumbsLink_1 = 'services.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/sections/banner/banner-services2.pug
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        include ./../components/sections/advantages-appeal/advantages-services-addiction.pug
        include ./../components/sections/advantages-appeal/advantages-services-addiction2.pug
        include ./../components/sections/operating-principle/services-principle.pug
        
        
        
        include ./../components/sections/conclusion-drinking/symptoms2.pug
        include ./../components/sections/about-advantages/about-advantages2.pug
        include ./../components/sections/footer/footer.pug 
