extends ./../layouts/main

block variables
    - let pageTitle = 'Вывод из запоя в Волосово';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Вывод из запоя в Волосово';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        section.about.about-region 
            .container 
                h1.main__title.main__titles Вывод из запоя в Волосово
                .about__block
                    .about__block-img
                        img(src="./wp-content/themes/detox-med/assets/img/volosovo.jpg", alt="Вывод из запоя")
                    .about__block-txt
                        p Выведение из запоя и лечение алкоголизма на дому в Волосово. 
                        p Звоните для получения бесплатной консультации. При проведении выведения из запоя на дому проводится бесплатное медицинское 
                            |обследование. Психологическая поддержка для живущих рядом с человеком, страдающим алкоголольной зависимостью.
                        p Врачи наркологического центра «ДетоксМед» — профессионалы самого высокого класса и используют только самые современные методики и 
                            |препараты. Опыт работы врачей — от 6 лет и более. Лечение и выведение из запоя происходит полностью анонимно.
        section.advantages-appeal.advantages-services.advantages-region
            .container
                h2.section__title Кодирование от алкоголизма в Волосово
                .info.info-after.info-mb2
                    .info__txt
                        p Для выведения из запоя и при лечении алкоголизма в Волосово и в Волосовском районе наши врачи наркологической клиники 
                            |«ДетоксМед» обязательно стараются получить помощь со стороны самого пациента для обеспечения лечения его от алкоголизма. 
                            |Для полноценного прерывания алкогольной зависимости такая помощь — бесценна. Для обеспечения быстрейшего избавления от этого 
                            |недуга чаще всего используется кодирование.
                        p: i Кодирование от алкоголя медикаментозным методом
                        p Для реализации этой методики используются вещества, способные нарушить метаболизм алкоголя на уровне ферментов. Это позволяет 
                            |изменить процессы расщепления спиртовых соединений в организме. Токсические вещества, которые раньше по цепочке образовывались 
                            |в ходе преобразования спирта, теперь начинают накапливаться, вызывая сильно неприятную физиологическую реакцию тела на выпивание 
                            |алкоголя. Это могут быть и аллергические реакции, и угнетенное состояние, и неврологические расстройства. Все они заставляют пациента 
                            |больше не пить. 
                    .info__img.info__img-mt
                        img(src="./wp-content/themes/detox-med/assets/img/prices.jpg", alt="Мотивация пациента на лечение")
                p Этот препарат возможен как в таблеточной форме, так и в форме инъекций. Другие применяемые вещества могут блокировать получение 
                    |удовольствия и эйфорические чувства от принятия алкоголя в центре головного мозга, отвечающего за это, при этом оставляя все 
                    |негативные воздействия от алкоголя на организм в силе. Это значит, что выпивая, человек нисколько не получает психологического удовольствия 
                    |от употребления алкоголя., что позволяет постепенно разрывать психологическую зависимость от алкогольных напитков. Всего эти методы в 
                    |простонародье называются как «химзащита» и «химическая защита», как «подшиться».
                .info.info-order
                    .info__txt.info__txt-center
                        p: i Психотерапевтические методы кодирования.
                        p В этих методиках используется мотивация к излечению самого пациента, психологическое развитие отвращения к употреблению 
                            |спиртного через внушение, обеспечение контроля за потреблением алкоголя.
                        p В таких методах также используются методики гипноза, самовнушения и другие авторские методики.
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/Stock.jpg", alt="Мотивация пациента на лечение")
        include ./../components/sections/about-advantages/about-advantages3.pug
        section.advantages-appeal.advantages-region
            .container
                h2.section__title Лечение алкоголизма в Волосово
                .info.info-mb2
                    .info__txt
                        p Для вызова на дом врача-нарколога необходимо позвонить в наркологический центр «ДетоксМед». После прибытия врача-нарколога 
                            |он осмотрит больного для бесплатной медицинской диагностики. На основании полученных данных врач выберет какую методику лучше 
                            |применять. Если больной находится в запое, то сначала производится выведения его из запоя. После прерывания запойного состояния
                            | через какое-то время можно использовать методики для кодирования пациента той или иной методикой.
                        p Применение самых современных медицинских диагностических аппаратов позволяет точно определять, какое состояние у пациента, 
                            |его жизненно важные показатели, возможности по выбору методов лечения алкоголизма. 
                        p Назначение лечения является сильно индивидуальным. Зависит от времени употребления алкоголя, стадии развития болезни, наличия 
                            |хронических заболеваний, состояния здоровья больного. 
                    .info__img
                        img(src="./wp-content/themes/detox-med/assets/img/doctor-56.jpg", alt="Капельница")
                p Врач оказывает также психотерапевтическую помощь как зависимому от алкоголизма, так созависимым, живущим рядом с ним близких и родных. 
                    |Несомненно, что более ранняя оказанная помощь не позволяет закрепляться зависимости. Необходимо разрушить психологическую связь 
                    |пациента и алкоголя. Тут может помощь только опытный врач.
        include ./../components/sections/publications/publications-region.pug
        include ./../components/sections/footer/footer.pug 