extends ./../layouts/main

block variables
    - let pageTitle = 'Выведение из запоя во Всеволожске';
    - let breadcrumbsHomepage = 'Главная / ';
    //- - let breadcrumbsText_1 = 'Статьи / ';
    //- - let breadcrumbsText_2 = 'О приеме / ';
    - let breadcrumbsText_3 = 'Выведение из запоя во Всеволожске';

    - let breadcrumbsHomepageLink = 'index.html';
    //- - let breadcrumbsLink_1 = 'articles.html';
    //- - let breadcrumbsLink_2 = 'reception.html';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/bem-blocks/bread-crumbs/bread-crumbs.pug
        section.about.about-region 
            .container 
                h1.main__title.main__titles Выведение из запоя во Всеволожске
                .about__block
                    .about__block-img
                        img(src="./wp-content/themes/detox-med/assets/img/vyborg.jpg", alt="Вывод из запоя")
                    .about__block-txt
                        p Вывод из запоя и лечение алкоголизма на дому — 
                            i Всеволожск
                            |, 
                            i Колтуши
                            |, 
                            i Павлово
                            |, 
                            i Янино
                            |, 
                            i Романовка
                            |, 
                            i Ковалево
                            |, 
                            i Воейково
                            |, 
                            i Коркино
                            |, 
                            i Рахья
                            |, 
                            i Коккорево
                            |.
                        p Бесплатная консультация о вариантах и возможностях по лечению алкогольной зависимости. Применяем самые современные 
                            |методики по лечению алкогольной зависимости, выведению из запоя и Кодирования от алкоголя.
        section.form.form-prices--stock.form-region
            .container
                .form
                    h2.form__title Только в этом месяце выведение из запоя от 1799 рублей!
                    h3 Заполните форму, чтобы узнать подробности.
                    form
                        input._req.phone-input(type="text" name="user-phone" placeholder="+ 7 ___ - __ - __" required="required")
                        input._req(type="text" name='user-name' placeholder="Ваше имя" required="required")
                        button.btn-send.btn-red Заказать звонок
                        .form__policy
                            input._req.chec#chec(type="checkbox" required="required" checked)
                            label.form-chec(for="chec") Вы соглашаетесь с 
                                a(href="#!" target="_blank") условиями обработки персональных данных
        include ./../components/sections/operating-principle/principle-region.pug 
        section.advantages-services
            .container
                h2.section__title Снятие похмельного синдрома в Павловске
                .info.info-after
                    .info__txt
                        p Несомненно, что проводить лечение от алкоголизма необходимо при полном понимании тяжести проблемы со стороны пациента. 
                            |Но ведь они многие не понимают всей сложности вопроса об алкогольной зависимости, считая, что в любой момент могут бросить 
                            |пить, совершенно не понимая, что алкоголь причисляется в медицинских кругах к группе наркотических веществ. Именно поэтому 
                            |наступает легкость привыкания к нему. Именно поэтому так тяжело избавиться от этой зависимости. Наши врачи применяют самые 
                            |эффективные современные методики по выведению из запоя и лечению алкоголизма, обеспечивая пациентов самыми качественными и 
                            |современными препаратами.
                        p Именно поэтому к нам обращаются жители Всеволожского района для лечения алкоголизма, вывода из запоя и для кодирования от
                            | алкоголя. Обеспечивая их качественными услугами, препаратами и медикаментами на основе широких и современных медицинских 
                            |знаний, врачи нашего наркологического центра обеспечивают пациентам после лечения долгую и счастливую жизнь без алкогольной 
                            |зависимости.
                    .info__img.info__img-mt
                        img(src="./wp-content/themes/detox-med/assets/img/abstinentnyj-sindrom.jpg", alt="Похмелье")
        section.questions-region.phone-style
            .container 
                h2.section__title Вопросы и ответы об алкоголе и алкоголизме
                ul  
                    li
                        h3 Возможно ли закодироваться лет на десять, пятнадцать?
                        p Максимально возможный срок кодирования от алкоголя составляет 5 лет, но Вы всегда можете продлить кодирование от
                            | употребления спиртного после окончания срока. Кроме того, сразу после кодирования можно начать прохождение 
                            |курса лечения от алкогольной зависимости. В случае успешного лечения Вам больше не потребуется кодировка от 
                            |алкоголя. Но прежде всего, постарайтесь насчет этих вопросов бесплатно проконсультироваться с врачом нашего 
                            |наркологического центра «ДетоксМед» по телефону 
                            a(href="tel:+7(812)372-66-30") +7 (812) 372-66-30
                            |.
                        
                    li 
                        h3 Почему мой муж не может бросить пить самостоятельно, ведь алкоголь приносит столько вреда?
                        p сли вкратце ответить на Ваш вопрос, то причина, по которой человек, зависящий от употребления алкоголя, не может 
                            |самостоятельно бросить пить, находится прежде всего в наркотических свойствах спирта (этанола). Это положение утверждено 
                            |в 1975 году Всемирной Организацией Здравоохранения, признавшей алкоголь наркотическим веществом вредным для человека. 
                            |Воздействуя на мозг, молекулы этанола вызывают крайне крепкое привыкание к его употреблению, при этом, в процессе 
                            |переработки спирта в организме человека образуются очень токсичное вещество ацетальдегид, который не успевая перерабатываться
                            | организмом при большом количестве выпитого алкоголя, отравляет тело и органы человека своей токсичностью. Алкоголь очень
                            | вреден для организма и в состоянии не переработанном, являясь мощнейшим стимулятором мозга, так и в полупереработанном 
                            |организмом состоянии, вызывая сильные отравления органов и систем человека, вызывая болезни и их хронические формы. 
                            |Наш наркологический центр поможет обеспечить лечение от алкогольной зависимости, детоксикацию организма при запоях и 
                            |частых употреблениях спиртных напитков. Вы всегда можете бесплатно проконсультироваться по этому и подобным вопросам с 
                            |врачом-наркологом по телефону 
                            a(href="tel:+7(812)372-66-30") +7 (812) 372-66-30
                            |.
        include ./../components/sections/publications/publications-region.pug
        include ./../components/sections/footer/footer.pug 