.fears {
    padding: 3.5rem 0 3rem 0;
    .main__title {
        color: #01120f;
        margin-bottom: 3rem;
    }
    h2 {
        margin-bottom: 5rem;
    }
    p {
        margin-bottom: 7.7rem;
        i {
            color: #11c0ab;
        }
    }
}
