section.fears
    .container 
        h1.main__title Вопрос-ответ
        h2.section__title Страхи
        p Когда Вы или Ваши близкие столкнулись с зависимостью, главным шагом к выздоровлению 
            |будет осознание проблемы и желание бороться с этим недугом. Если Вы зашли на сайт 
            |нашего наркологического центра “ДетоксМед”, значит этот шаг скорее всего уже сделан.
            | Конечно, сейчас в Вашей голове множество вопросов и страхов. Самые распространённые:
        include ./../../bem-blocks/steps/fears-steps.pug
        p 
            i Забудьте об этих переживаниях!  
            |В нашей клинике самая низкая цена на вывод из запоя! Все предоставляемые услуги 
            |100% анонимны. Коллектив высококлассных специалистов подбирает наиболее эффективные 
            |методы восстановительной терапии и индивидуальный план лечения. Кроме того, в нашем
            | центре предлагается широкий ассортимент мер по исключению риска срыва.