.form {
    padding: 4.5rem 0;

    // @media screen and (min-width: 768px) {
    //     padding: 4.5rem 0;
    // }

    // @media screen and (min-width: 1320px) {
    //     padding: 4.2rem 0 4.6rem 0;
    // }

    .btn--green {
        min-width: 13.6rem;
    }
}

.section__title--form {
    margin: 1.5rem 0 2.5rem 0;
    text-align: center;

    @media screen and (min-width: 1024px) {
        margin: 1.8rem 0 1.7rem 0;
    }
}

.section__description--form {
    max-width: 95.2rem;
    margin-bottom: 2.5rem;

    @media screen and (min-width: 768px) {
        margin-bottom: 2.3rem;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 3.9rem;
    }
}

.main-form {
    width: 100%;
    max-width: 90.1rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .inputs-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;

        @media screen and (min-width: 768px) {
            max-width: 57.5rem;
        }

        @media screen and (min-width: 1024px) {
            max-width: 90.1rem;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    input:not(:last-of-type) {
        margin-bottom: 2rem;

        @media screen and (min-width: 768px) {
            margin-bottom: 1.2rem;
        }

        @media screen and (min-width: 1024px) {
            margin: 0 2rem 0 0;
        }
    }

    input,
    textarea {
        width: 100%;
        max-width: 35.4rem;
        height: 5.4rem;

        @media screen and (min-width: 768px) {
            max-width: 57.5rem;
        }
    }

    textarea {

        @media screen and (min-width: 1024px) {
            max-width: 100%;
        }
    }

    .btn-send {
        align-self: center;
        margin-bottom: 1.8rem;
        padding: 1.6rem 5.88rem;

        @media screen and (min-width: 768px) {
            margin-bottom: 1rem;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: 1.5rem;
        }
    }
}

.main-form__user-name,
.main-form__user-phone,
.main-form__user-email {
    width: 28.7rem;
}

.main-form__user-message {
    width: 100%;
    min-height: 10.7rem;
    margin-bottom: 2.5rem;
}


.checkbox-wrap {
    text-align: center;
}

.form__policy-text {
    position: relative;
    width: 100%;
    max-width: 25rem;
    text-align: center;
    display: block;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        max-width: 100%;
    }
}

.form__policy-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

