section.problem-solution
    .problem-solution__inner 
        .problem-solution__content
            h3.problem-solution__title Не откладывайте решение вашей проблемы на завтра!
            .problem-solution__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. 
                | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
                | В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, 
                | используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без 
                | заметных изменений пять веков, но и перешагнул в электронный дизайн.
            a(href="#!").btn.btn--white.btn-consult Записаться на консультацию
        .content-block__img.content-block__img--problem-solution.gradient 
            img(src="./wp-content/themes/genesis/assets/img/consultation.jpg" alt="Консультация в центре наркологии и психотерапии в Тольятти" width="400" height="250")
