.problem-solution {
    padding: 3.5rem 2rem 2.3rem 2rem;
    border-radius: .5rem;
    background: $green;

    @media screen and (min-width: 560px) {
        padding-top: 4rem;
    }

    @media screen and (min-width: 768px) {
        padding-top: 5rem;
    }

    @media screen and (min-width: 1024px) {
        padding: 3rem 3.9rem 3rem 2.9rem;
    }

    @media screen and (min-width: 1320px) {
        padding: 3rem 3.9rem 3rem 2.9rem;
    }

    &__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .problem-solution__content {
        width: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1320px) {
            max-width: 64.6rem;
        }

        .problem-solution__title {
            margin-bottom: 1.2rem;
            text-align: center;
            @include OpenSans-Bold();
            font-size: 1.8rem;
            line-height: 2.5rem;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $gray6;

            @media screen and (min-width: 1024px) {
                text-align: initial;
            }

            @media screen and (min-width: 1320px) {
                margin-bottom: 1.4rem;
            }
        }

        .problem-solution__text {
            margin-bottom: 3.1rem;
            text-align: justify;
            @include OpenSans-Regular();
            font-size: 1.4rem;
            line-height: 2.2rem;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: $gray6;

            @media screen and (min-width: 1320px) {
                margin-bottom: 6.5rem;
            }
        }

        .btn--white {
            margin-top: auto;
            align-self: center;
            padding: 1.6rem 1.4rem;

            @media screen and (min-width: 1024px) {
                align-self: flex-start;
            }

            @media screen and (min-width: 1320px) {
                padding: 1.6rem 1.95rem;
            }
        }
    }

    .content-block__img--problem-solution {
        order: -1;
        width: 100%;
        max-width: 25rem;
        height: 17rem !important;
        overflow: hidden;
        margin-bottom: 2.2rem;

        @media screen and (min-width: 414px) {
            max-width: 31.3rem;
            height: 20rem !important;
        }

        @media screen and (min-width: 560px) {
            max-width: 45rem;
            height: 25rem !important;
        }
    
        @media screen and (min-width: 768px) {
            max-width: 59.8rem;
            height: 37.5rem !important;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: 0;
            height: 26.4rem !important;
            align-self: center;
        }
    
        @media screen and (min-width: 1320px) {
            order: 0;
            max-width: 42rem;
            height: 26.4rem !important;
            margin: 0;
        }

        img {
            width: 100%;
        }
    }

}