.steps.fears-steps
    ul 
        li Лечение слишком дорогое!
            i Страх
        li А что, если не хватит мотивации для завершения лечения?
            i Страх
        li В моём случае лечение не поможет!
            i Страх
        li Кто-то может узнать о том, что я проходил лечение от зависимости! 
            i Страх