.steps
    ul 
        li Врач оценивает состояние больного.
        li Определяет состав раствора для инфузий и концентрацию лекарств в нем.
        li Вводит в вену катетер, устанавливает капельницу.
        li Контролирует процесс детоксикации.
        li Оценивает состояние больного.
        li Дает рекомендации по дальнейшему восстановлению здоровья.
        li В телефонном режиме контролирует состояние пациента.