.steps.step
    ul 
        li: p Пьющий потерял сознание
        li: p  У него обильная рвота
        li: p  Рвотные массы красного цвета
        li: p  Заметен внутренний тремор
        li: p  Он ведет себя агрессивно
        li: p  Пьющий видит галлюцинации