.steps.step
    ul 
        li: p Пьющий потерял сознание
        li: p  У него обильная рвота
        li: p  Рвотные массы красного цвета
        li: p  Заметен внутренний тремор
        li: p  Он ведет себя агрессивно
        li: p  Пьющий видит галлюцинации
    button.btn-send.btn-red Вызвать нарколога
    p На услуги срочного вывода из запоя цена варьируется в пределах разумного. 
        |Анонимный вызов нарколога на дом предоставляется в условиях конфиденциальности. 
        |Обращение к специалисту – шанс помочь близкому человеку прекратить вести аморальный образ жизни. 
        |Доктор сможет убедить пройти курс психотерапии, мотивировать на отказ от спиртного.