section.publications
    .containers
        h2 Похожие публикации
        .swiper-container.slider-publications
            .swiper-wrapper.slider-publications__wrapper
                .swiper-slide.slider-publications__slide
                    .slider-publications__content
                        time 23.04.2021
                        .slider-publications__img 
                            img(src="./wp-content/themes/detox-med/assets/img/pochemu-alkogol-schitaetsja-vrednym.jpg", alt="Алкоголь вреден")
                        .slider-publications__info
                            .tag 
                                a(href="!#") Алкогольная зависимость
                                a(href="!#") Интересное
                                a(href="!#") Полезное
                            h3 Почему алкоголь считается вредным?
                            p Многие люди не понимают, чем вреден алкоголь. Распространено мнение, что проблемы могут возникнуть 
                                |только при злоупотреблении спиртными напитками. ...
                            a(href="") Читать
                .swiper-slide.slider-publications__slide
                    .slider-publications__content
                        time 17.04.2021
                        .slider-publications__img 
                            img(src="./wp-content/themes/detox-med/assets/img/kak-ostatsja-trezvym-v-period-prazdnikov 1.jpg", alt="Как остаться трезвым во время праздников")
                        .slider-publications__info
                            .tag 
                                a(href="!#") Алкогольная зависимость
                                a(href="!#") Интересное
                                a(href="!#") Полезное
                            h3 Как остаться трезвым в период праздников?
                            p Алкоголизм – это болезнь нынешнего и прошлых веков. 
                                |Приводит к желанию чрезмерно употреблять спиртные напитки воспитание человека, закладка убеждений с детства, ...
                            a(href="") Читать
                .swiper-slide.slider-publications__slide
                    .slider-publications__content
                        time 17.04.2021
                        .slider-publications__img 
                            img(src="./wp-content/themes/detox-med/assets/img/alkogolik-v-seme.jpg", alt="Как остаться трезвым во время праздников")
                        .slider-publications__info
                            .tag 
                                a(href="!#") Алкогольная зависимость
                                a(href="!#") Интересное
                                a(href="!#") Полезное
                                a(href="!#") Алкогольная зависимость
                                a(href="!#") Интересное
                                a(href="!#") Полезное
                            h3 Как остаться трезвым в период праздников?
                            p Алкоголизм – это болезнь нынешнего и прошлых веков. ...
                            a(href="") Читать
                .swiper-slide.slider-publications__slide
                    .slider-publications__content
                        time 17.04.2021
                        .slider-publications__img 
                            img(src="./wp-content/themes/detox-med/assets/img/vrach-sergej-kovalev.jpg", alt="Как остаться трезвым во время праздников")
                        .slider-publications__info
                            .tag 
                                a(href="!#") Интересное
                            h3 Как остаться трезвым в период праздников?
                            p Алкоголизм – это болезнь нынешнего и прошлых веков. 
                                | Когда в доме есть алкоголик — это значит будут частые ссоры. Он не сможет контролировать свое 
                                |употребление спиртного и будет, скорей всего, часто напиваться, порой пропуская работу, 
                                |не выполняя домашние поручения по дому — купить что-то в магазине, прибрать дом, сварить ужин, проконтролировать дете...
                            a(href="") Читать
        .publications__prev ➔ 
        .publications__next ➔ 
//- watchOverflow: true,