section.publications
    .containers
        h2.section__title Интересные статьи по этой теме
        .swiper-container.slider-publications
            .swiper-wrapper.slider-publications__wrapper
                .swiper-slide.slider-publications__slide
                    .publications__content
                        time(datetime="2021-04-23") 23.04.2021
                        .publications__left
                            .publications__content-img
                                img(src="./wp-content/themes/detox-med/assets/img/pochemu-alkogol-schitaetsja-vrednym.jpg", alt="Алкоголь вреден")
                            .tag 
                                a(href="!#") Алкоголизм
                                a(href="!#") Кодирование
                                a(href="!#") Психология
                        .publications__content-info
                            time(datetime="2021-04-23") 23.04.2021
                            .tag 
                                a(href="!#") Алкоголизм
                                a(href="!#") Кодирование
                                a(href="!#") Психология
                            a(href="alcoholic-in-family.html"): h3 Почему алкоголь считается вредным?
                            p Многие люди не понимают, чем вреден алкоголь. Распространено мнение, что проблемы могут возникнуть 
                                |только при злоупотреблении спиртными напитками. ...
                            a(href="alcoholic-in-family.html") Читать 
                                i ➔
                .swiper-slide.slider-publications__slide
                    .publications__content
                        time(datetime="2021-04-17") 17.04.2021
                        .publications__left
                            .publications__content-img
                                img(src="./wp-content/themes/detox-med/assets/img/kak-ostatsja-trezvym-v-period-prazdnikov1.jpg", alt="Как остаться трезвым во время праздников")
                            .tag 
                                a(href="!#") Алкоголизм
                                a(href="!#") Кодирование
                                a(href="!#") Психология
                        .publications__content-info
                            time(datetime="2021-04-17") 17.04.2021
                            .tag 
                                a(href="!#") Алкоголизм
                                a(href="!#") Кодирование
                                a(href="!#") Психология
                            a(href="!#"): h3 Как остаться трезвым в период праздников?
                            p Алкоголизм – это болезнь нынешнего и прошлых веков. 
                                |Приводит к желанию чрезмерно употреблять спиртные напитки воспитание человека, закладка убеждений с детства, ...
                            a(href="") Читать 
                                i ➔

        .publications__prev ➔ 
        .publications__next ➔ 
//- watchOverflow: true,