.publications {
    width: 100%;
    padding-bottom: 10rem;
    h2 {
        margin-bottom: 5rem;
        &:after,
        &:before {
            display: none;
        }
        @media (min-width: 1200px) {
            margin-left: 12rem;
        }
    }
    .containers {
        position: relative;
    }
}

.slider-publications {
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(1, 18, 15, 0.1);
    z-index: -1;
    width: 100%;
    max-width: 54.5rem;
    margin: 0 auto;
    // @media (min-width: 900px) {
    //     max-width: 54.5rem;
    // }
    @media (min-width: 1400px) {
        max-width: 117rem;
    }

    // содержимое
}
// .swiper-wrapper.slider-publications__wrapper {
//     @media (min-width: 1400px) {
//         align-items: stretch;
//     }
// }

.publications__content {
    /* Для карточек */
    padding: 2rem 0 4rem 0;
    border-radius: 20px;
    // box-shadow: 0px 5px 10px rgba(1, 18, 15, 0.05);
    @media (min-width: 900px) {
        display: flex;
        justify-content: space-between;
        align-self: center;
        position: relative;
        padding: 0 0 3rem 0;
    }
    @media (min-width: 1400px) {
        min-height: 100%;
        max-height: 100%;
    }
    time {
        margin-left: 1rem;
        @media (min-width: 900px) {
            display: none;
        }
    }
    .tag {
        display: none;
        margin-bottom: 2rem;
        text-align: left;
        @media (min-width: 414px) {
            text-align: left;
        }
        @media (min-width: 900px) {
            display: block;
            margin-left: 1rem;
        }
        a {
            text-align: left;
            display: inline-block;
            @include Nunito-Regular();
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 170%;
            color: rgba(1, 18, 15, 0.7);
            position: relative;
            transition: all 0.3s;
            margin-right: 1rem;
            margin-bottom: 0.7rem;
            text-decoration: underline 1px solid #11c0ab;
            @media (min-width: 540px) {
                text-decoration: none;
            }
            &:hover {
                transition: all 0.3s;
                text-shadow: rgba(1, 18, 15, 0.7) 0.5px 0px, rgba(1, 18, 15, 0.7) 0.5px 0.5px,
                    rgba(1, 18, 15, 0.7) 0.5px 0px, rgba(1, 18, 15, 0.7) 0.5px 0.5px;

                &::before {
                    transform: scaleX(0);
                }
            }
            &::before {
                @media (min-width: 540px) {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0.1rem;
                    background-color: #11c0ab;
                    transform: scaleX(1);
                    transition: transform 0.5s;
                }
            }
        }
    }
}
.publications__left {
    @media (min-width: 900px) {
        max-width: 26.6rem;
        min-width: 26.6rem;
    }
}
.publications__content-img {
    min-width: 100%;
    max-width: 100%;

    max-height: 25rem;
    background: #c4c4c4;
    border-radius: 20px;
    margin-bottom: 3rem;
    overflow: hidden;
    @media (min-width: 900px) {
        min-height: 17.7rem;
        max-height: 17.7rem;
        max-width: 26.6rem;
        min-width: 26.6rem;
        margin-bottom: 1rem;
    }

    img {
        min-width: 100%;
        max-height: 100%;
        border-radius: 20px;
        transform: scale(1);
        transition: all 0.8s;
        &:hover,
        &:focus {
            transform: scale(1.1);
            transition: all 0.8s;
        }
    }
}
.publications__content-info {
    padding: 0 1rem;
    text-align: left;
    @media (min-width: 900px) {
        text-align: left;
        max-width: 25.3rem;
        min-width: 25.3rem;
    }
    @media (min-width: 1400px) {
        min-height: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }
    a {
        display: inline-block;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.7rem;
        color: #11c0ab;
        position: relative;
        margin-top: auto;
        transition: all 0.3s;
        &:hover,
        &:focus {
            // color: #01120f;
            transition: all 0.5s;
            text-shadow: rgba(17, 192, 171, 0.4) 0px 2px, rgba(17, 192, 171, 0.4) -2px 2px,
                rgba(17, 192, 171, 0.4) -2px 0px, rgba(17, 192, 171, 0.4) -2px -2px, rgba(17, 192, 171, 0.4) 0px -2px,
                rgba(17, 192, 171, 0.4) 2px -2px;
            text-shadow: rgba(1, 18, 15, 0.7) 0.5px 0px, rgba(1, 18, 15, 0.7) 0.5px 0.5px,
                rgba(1, 18, 15, 0.7) 0.5px 0px, rgba(1, 18, 15, 0.7) 0.5px 0.5px;
            // transform: translate(0.3rem);
            animation-duration: 1s;
            transition: all 0.3s;
        }
    }
    // i {
    //     display: inline-block;
    //     text-align: left;
    //     font-style: normal;
    //     font-weight: normal;
    //     font-size: 1.5rem;
    //     line-height: 170%;
    //     color: rgba(1, 18, 15, 0.8);
    //     margin-bottom: 1rem;
    //     @media (min-width: 900px) {
    //         margin-bottom: 0.5rem;
    //     }
    // }
    h3 {
        margin-bottom: 2rem;
        text-align: left;
        transition: all 0.3s;
        &:hover,
        &:focus {
            color: #11c0ab;
            transition: all 0.5s;
            text-shadow: rgba(1, 18, 15, 0.7) 0.5px 0px, rgba(1, 18, 15, 0.7) 0.5px 0.5px,
                rgba(1, 18, 15, 0.7) 0.5px 0px, rgba(1, 18, 15, 0.7) 0.5px 0.5px;
            animation-duration: 1s;
            transition: all 0.3s;
        }
    }
    p {
        margin-bottom: 2rem;
        text-align: left;
    }

    time {
        display: none;

        @media (min-width: 900px) {
            margin-left: 0;
            display: inline-block;
        }
        @media (min-width: 1024px) {
            text-align: left;
        }
    }
    .tag {
        display: block;
        margin-bottom: 2rem;
        text-align: left;
        @media (min-width: 414px) {
            text-align: left;
        }
        @media (min-width: 900px) {
            display: none;
        }
    }
}

.swiper-slide.slider-publications__slide {
    width: 100%;
    z-index: -1;
    @media (min-width: 1400px) {
        height: 100% !important;
    }
}
// .swiper-wrapper.slider-publications__wrapper {
//     max-height: 60rem;
// }
.slider-publications__slide.swiper-slide-active {
    border-radius: 20px;

    position: relative;
}
.publications__prev,
.publications__next {
    color: #11c0ab;
    font-size: 3rem;
    font-weight: bold;
    font-style: normal;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 0;
    position: absolute;

    // @media (min-width: 900px) {
    //     bottom: -7rem;
    // }
    // @media (min-width: 1160px) {
    //     bottom: 38%;
    // }
    &:hover,
    &:focus {
        color: #01120f;
        transform: scale(1.1);
        text-shadow: rgba(17, 192, 171, 0.4) 0px 2px, rgba(17, 192, 171, 0.4) -2px 2px, rgba(17, 192, 171, 0.4) -2px 0px,
            rgba(17, 192, 171, 0.4) -2px -2px, rgba(17, 192, 171, 0.4) 0px -2px, rgba(17, 192, 171, 0.4) 2px -2px;
        transition: all 0.3s;
    }
}
.publications__next {
    transform: rotate(180deg);
    margin-right: auto;
    left: 7%;
    top: 7rem;
    // transform: translateY(33rem) rotate(180deg);
    @media (min-width: 768px) {
        left: 4%;
        transform: translateY(40rem) rotate(180deg);
    }

    @media (min-width: 900px) {
        left: 10%;
        transform: translateY(21.2rem) scale(1.1) rotate(180deg);
    }
    @media (min-width: 1400px) {
        left: 0%;
    }
    &:hover,
    &:focus {
        transform: scale(1.1) rotate(180deg);

        transition: all 0.3s;
        @media (min-width: 768px) {
            transform: translateY(40rem) scale(1.1) rotate(180deg);
        }
        @media (min-width: 900px) {
            transform: translateY(21.2rem) scale(1.1) rotate(180deg);
        }
    }
}
.publications__prev {
    margin-left: auto;
    right: 7%;
    top: 7rem;
    // transform: translateY(33rem);
    @media (min-width: 768px) {
        right: 4%;
        transform: translateY(40rem);
    }
    @media (min-width: 900px) {
        right: 10%;
        transform: translateY(21.2rem);
    }
    &:hover,
    &:focus {
        transform: scale(1.1);
        @media (min-width: 768px) {
            transform: translateY(40rem) scale(1.1);
        }
        @media (min-width: 900px) {
            transform: translateY(21.2rem) scale(1.1);
        }
    }
    @media (min-width: 1400px) {
        right: 0%;
    }
}
