section.guarantees
    .container 
        h2.section__title Гарантии
        p Мы оказываем наркологическую помощь на дому и предоставляем вызов нарколога на дом 
            |недорого и 100% анонимно. Врач может приехать на вызов в течение 30 минут и поможет быстро 
            |убрать похмелье. Не стоит заниматься самолечением. При самостоятельном резком прерывании 
            |запоя на фоне длительного запоя на 2-4 сутки может наступить алкогольный делирий. В данном 
            |случае наблюдается резкое ухудшение психического здоровья. Больной видит образы, слышит голоса, 
            |которые приказывают ему покончить с собой или нанести увечья окружающим людям. Мы предлагаем низкие 
            |цены на прерывание запоя на дому, оказываем профессиональную помощь при запое и обеспечиваем качество 
            |оказываемых услуг. Проведение детоксикационных мероприятий и возможность прокапаться на дому в СПб у 
            |больного, так и в условиях наркологического стационара. В последнем варианте стоимость на выведение из 
            |запоя будет включать в себя услуги содержания больного с целью быстро восстановиться после алкоголя. 
            |Но в данном случае также есть преимущества:
        ul 
            li исключение соблазна достать и употребить спиртное;
            li круглосуточное наблюдение за состоянием больного;
            li коррекция схемы лечения в зависимости от наличия симптомов абстиненции;
            li обеспечение должной мотивации на прохождение курса психологической коррекции.
        p Наркологический центр ДетоксМед осуществляет вывод из запоя 
            i не только в Петербурге, но и по области
            |. Предлагаем 
            i широкий ассортимент мер по исключению риска срыва
            |. Мы всегда 
            i честны с нашими клиентами
            |. Запой – первый признак зависимости. Избавиться от нее посредством детокса нереально. 
            |Поможет комплексное лечение, включающее мотивирование пациента на здоровый образ жизни, 
            |когнитивно-поведенческую терапию, групповые тренинги, семейную терапию, социализацию. Обращайтесь, 
            |сделаем все возможное, чтобы помочь решить вашу проблему!