section.guarantees
    .container
        include ./../../bem-blocks/guarantees/guarantees.pug
        include ./../../bem-blocks/advantages/advantages.pug
        .content-block.content-block--guarantees
            .content-block__img.content-block__img--guarantees.gradient
                img(src="./wp-content/themes/genesis/assets/img/guarantees.jpg" alt="Наши гарантии" width="665" height="375")
            .content-block__text.content-block__text--guarantees.text
                p В нашем центре вы сможете получить специализированную психологическую консультацию 
                    | по вопросам семьи и брака, отношениям в паре с партнёром. Можете воспользоваться 
                    | консультацией по сексуальным взаимоотношениям, по вопросам воспитания детей, 
                    | по супружеским конфликтам. Нередко к психологу обращаются чтобы обсудить и получить поддержку 
                    | в случае неверности одного из супругов, пережить состояние горя в случае утраты близкого человека.
                p Прежде чем назначить тот или иной вид профилактики наркомании или кодирования от алкоголизма 
                    | в Тольятти врачи наркологи проведут обследование пациента. Это позволит выявить противопоказания, 
                    | избежать обострения хронических заболеваний. При обращении в клинику мы гарантируем: 
                    | полную анонимность, индивидуальный подход, поддержку пациентов после прохождения лечебного 
                    | и реабилитационного курса.
        .gray-block.gray-block--guarantees
            .section__subtitle.section__subtitle--guarantees #[i Здоровье физическое и душевное – самое ценное], 
                | #[strong что у нас есть. #[br] Как говорится: “Было бы здоровье, остальное купишь”.] #[br] #[span Не откладывайте на завтра, “с понедельника”, в “долгий ящик” то, что можно уже сделать прямо сейчас. Ведь промедление порой “смерти подобно”.]
            a(href="#!").btn.btn--blue.btn-free-consult Бесплатная консультация
