section.post
    article.post__text
        h2 Отделить человека от проблемы
        p Важно ощущение комфорта и свободы, чтобы консультация прошла с пользой для человека. Для этого психолог 
            | создает атмосферу уважения, сотрудничества, заботы и веры в способности человека.
        p В начале консультации психолог строит беседу таким образом, что бы совместно с человеком выяснить, 
            | что его беспокоит, что вызывает страдание. Затем консультант и человек подбирают название, того что беспокоит, дают проблеме имя. Например, проблема может получить имя Апатия.
        p Психолог вместе с клиентом исследуют как Апатия возникла его жизни, какими «стратегиями» и «тактиками» 
            | она пользуются, что бы захватить его жизнь, какие факторы поддерживают существование проблемы,
            | когда Апатия может проявить свою силу, а когда апатии не удается подчинить себе человека. При помощи 
            | этого исследования проблема «отделяется» от личности человека.
        img(src="./wp-content/themes/genesis/assets/img/post-img.jpg" alt="Как проходят консультации психолога?" width="800" height="320")
        h2 Отделить человека от проблемы
        p Важно ощущение комфорта и свободы, чтобы консультация прошла с пользой для человека. Для этого психолог 
            | создает атмосферу уважения, сотрудничества, заботы и веры в способности человека.
        p В начале консультации психолог строит беседу таким образом, что бы совместно с человеком выяснить, 
            | что его беспокоит, что вызывает страдание. Затем консультант и человек подбирают название, того что беспокоит, дают проблеме имя. Например, проблема может получить имя Апатия.
        p Психолог вместе с клиентом исследуют как Апатия возникла его жизни, какими «стратегиями» и «тактиками» 
            | она пользуются, что бы захватить его жизнь, какие факторы поддерживают существование проблемы,
            | когда Апатия может проявить свою силу, а когда апатии не удается подчинить себе человека. При помощи 
            | этого исследования проблема «отделяется» от личности человека.
        img(src="./wp-content/themes/genesis/assets/img/post-img.jpg" alt="Как проходят консультации психолога?" width="800" height="320") 
        h2 Отделить человека от проблемы
        p Важно ощущение комфорта и свободы, чтобы консультация прошла с пользой для человека. Для этого психолог 
            | создает атмосферу уважения, сотрудничества, заботы и веры в способности человека.
        p В начале консультации психолог строит беседу таким образом, что бы совместно с человеком выяснить, 
            | что его беспокоит, что вызывает страдание. Затем консультант и человек подбирают название, того что беспокоит, дают проблеме имя. Например, проблема может получить имя Апатия.
        p Психолог вместе с клиентом исследуют как Апатия возникла его жизни, какими «стратегиями» и «тактиками» 
            | она пользуются, что бы захватить его жизнь, какие факторы поддерживают существование проблемы,
            | когда Апатия может проявить свою силу, а когда апатии не удается подчинить себе человека. При помощи 
            | этого исследования проблема «отделяется» от личности человека.
        img(src="./wp-content/themes/genesis/assets/img/post-img.jpg" alt="Как проходят консультации психолога?" width="800" height="320") 
    .post__doctor
        img(src="./wp-content/themes/genesis/assets/img/doctor-post.jpg" alt="Королёва Екатерина Александровна" width="349" height="352") 
        .btn.btn--green Автор
        .post__author Елена Иванова
        .post__position Медицинский психолог
        button.btn.btn--blue.btn-consult Получить консультацию