.post {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: flex-start;
    }

    &__text {
        width: 100%;
        max-width: 80rem;
        margin-bottom: 3rem;

        @media screen and (min-width: 1024px) {
            margin: 0 2rem 0 0;
        }

        h2 {
            text-align: center;
            align-self: flex-start;
            margin-bottom: 1.5rem;
    
            @media screen and (min-width: 1320px) {
                text-align: initial;
                margin-bottom: 3rem;
            }
        }
    
        p {
            margin-bottom: 1.5rem;
        }
    }

    img {
        width: 100%;
        max-width: 80rem;
        height: 16rem;

        @media screen and (min-width: 768px) {
            height: 26rem;
        }

        @media screen and (min-width: 1320px) {
            height: 32rem;
        }

        &:not(:last-of-type) {
            margin: 1.5rem 0 1rem 0;

            @media screen and (min-width: 1320px) {
                margin: 2.3rem 0 2rem 0;
            }
        }
    }

    &__doctor{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 38.8rem;
        padding: 2rem;
        background: $gray6;
        border-radius: .5rem;

        @media screen and (min-width: 1024px) {
            position: sticky;
            top: 0;
        }

        @media screen and (min-width: 1320px) {
            position: sticky;
            top: 7rem;
        }

        img {
            margin-bottom: 2rem;
        }

        .btn--green {
            min-width: 10.4rem;
            padding: .6rem 0;
            margin-bottom: 1rem;
        }
    }

    &__author {
        margin-bottom: .2rem;
    }

    &__position {
        margin-bottom: 2rem;
    }
}
