section.about
    .container
        .about__inner
            .about__img 
                img(src="./wp-content/themes/genesis/assets/img/doctor-1.jpg" alt="Андрей Геннадьевич Ткач" width="307" height="472")
            .about__content
                .doctor__name Меня зовут Андрей Геннадьевич Ткач
                .doctor__position Я врач психиатр-нарколог, психотерапевт, руководитель Центра наркологии и 
                    | психотерапии «Генезис»
                .specialists__data.clinic__info
                    p Клиника лечения алкоголизма «Генезис» образована и зарегистрирована мной в 2001 году как 
                        | медицинский и исследовательский проект для разрешения актуальных вопросов понимания и
                        | лечения химических зависимостей, таких как: алкоголизм, наркомания, табакокурение.
                    p Клиника вывода из запоя «Генезис» – это продолжение моей частной практики в области наркологии 
                        | и психотерапии открытой в 1994 г. За более чем 20-летнюю деятельность, я, как врач нарколог 
                        | и психотерапевт, накопил огромный исследовательский и лечебный опыт, который готов предложить 
                        | всем попавшим в беду, под названием алкоголизм, наркомания.
                ul
                    li Всем тем, кто готов бросить пить, курить, употреблять различные наркотические вещества.
                    li Всем, кто испытывает определённые жизненные затруднения: страдает от невроза, 
                        | жалуется на стресс, депрессию или бессонницу, недоволен своими взаимоотношениями с другими 
                        | людьми, не удовлетворён собой, своим партнёром – мужем или женой в браке.
                    li Всем, кто ищет ответы на извечные вопросы бытия: «Кто я?», «Зачем я?» «Для чего живу?».
                    li Всем тем, кто хочет развить свои способности, улучшить свои взаимоотношения с 
                        | другими людьми или узнать новое из мира психологии, психотерапии, наркологии.
        .gray-block.gray-block--guarantees
            .section__subtitle.section__subtitle--guarantees Мы гарантируем #[i бережное и внимательное отношение] ко всем клиентам. 
                | Все методы лечения обладают высокой эффективностью и безопасностью, поскольку 
                | проводятся настоящими профессионалами
        section.advantages
            .btn.btn--green Преимущества
            h2.section__title.section__title--about Наши преимущества
            .numbers
                .numbers-block 
                    .green-square.green-square--advantages
                        svg(width="45" height="45")
                            use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#advantage-1")
                    .counts__text.counts__text--advantages Анонимно и конфиденциально
                .numbers-block 
                    .green-square.green-square--advantages
                        svg(width="45" height="45")
                            use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#advantage-2")
                    .counts__text.counts__text--advantages Работаем со сложными случаями
                .numbers-block 
                    .green-square.green-square--advantages
                        svg(width="45" height="45")
                            use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#advantage-3")
                    .counts__text.counts__text--advantages Эффективная программа
                .numbers-block 
                    .green-square.green-square--advantages
                        svg(width="45" height="45")
                            use(xlink:href="./wp-content/themes/genesis/assets/img/icons/sprite.svg#advantage-4")
                    .counts__text.counts__text--advantages Восстановление здоровья и психики