.about {
    padding: 0 0 4.5rem 0;

    .about__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: initial;
            margin-bottom: 0;
        }

        @media screen and (min-width: 1320px) {
            justify-content: space-between;
        }

        .about__img {
            margin-bottom: 3rem;

            @media screen and (min-width: 1024px) {
                margin: 0 3.3rem 0 0;
            }
        }

        .about__content {
            width: 100%;

            @media screen and (min-width: 1024px) {
                max-width: 59rem;
            }

            @media screen and (min-width: 1200px) {
                max-width: 76rem;
            }

            @media screen and (min-width: 1320px) {
                max-width: 85rem;
            }

            .doctor__name,
            .doctor__position {
                @include OpenSans-Bold();
                font-size: 1.4rem;
                line-height: 2.2rem;
                color: $gray2;
            }

            .doctor__name {
                margin-bottom: 1rem;

                @media screen and (min-width: 1320px) {
                    margin-bottom: 0;
                }
            }

            .doctor__position {
                margin-bottom: 4rem;
            }

            .clinic__info {
                @include OpenSans-Light();
                font-size: 1.4rem;
                line-height: 2.2rem;
                color: #000;

                p:not(:last-of-type) {
                    margin-bottom: .8rem;
                }

                p:last-of-type {
                    margin-bottom: 4rem;
                }
            }

            ul {
                padding-left: 2.6rem;

                li {
                    @include Raleway-Regular();
                    font-size: 1.4rem;
                    line-height: 1.9rem;
                    color: $gray5;

                    &:not(:last-of-type) {
                        margin-bottom: 1.6rem;
                    }
                }
            }
        }
    }

    ul li::before {
        width: 1.2rem;
        height: 1.2rem;
        top: .9rem;
    }

    .advantages {
        margin-bottom: 0;
        padding: 9rem 0;
    }

    .gray-block--guarantees {
        margin-top: 9rem;
    }
}

.section__title--about {
    margin: 1.8rem 0 1.7rem 0;
}