section.about-treatment
    .container
        h2.section__title О лечении алкоголизма
        include ./../../bem-blocks/about-service__list/about-service__list.pug
        include ./../../bem-blocks/about-service__list/about-service__address.pug