.about-advantages {
    padding-top: 5rem;
    padding-bottom: 10rem;
    .block__box {
        @media (min-width: 1200px) {
            max-width: 36rem;
            min-width: 36rem;
        }
    }
}
