.about-advantages {
    padding-top: 0rem;
    padding-bottom: 10rem;
    .block__box {
        @media (min-width: 1200px) {
            max-width: 36rem;
            min-width: 36rem;
        }
    }
}

.advantages-encoding {
    padding-top: 10rem !important;
}
.advantages-services--prices {
    padding-top: 10rem;
}
