section.schedule-content
    .container
        .schedule-content__inner
            .schedule__block
                ul.schedule__list 
                    li.schedule__item #[strong Понедельник-пятница:] #[span с 10:00 до 20:00]
                    li.schedule__item #[strong Суббота:] #[span с 10:00 до 13:00 (по предварительной записи)] 
                    li.schedule__item #[strong Воскресенье:] #[span выходной]
                a(href="#!").btn.btn--blue.btn--blue-schedule.btn-call Обратный звонок
            .picture__block
                img(src="./wp-content/themes/genesis/assets/img/schedule.jpg" alt="Расписание" width="593" height="320")