section.about.about-region 
    .container 
        h1.main__title.main__titles Вывод из запоя Гатчина
        .about__block
            .about__block-img
                img(src="./wp-content/themes/detox-med/assets/img/gatchina.jpg", alt="Клиника")
            .about__block-txt
                p Выведение из запоя и лечение алкоголизма: 
                    i Гатчина
                    |, 
                    i Коммунар
                    |, 
                    i Вырица
                    |, 
                    i Сиверский
                    |, 
                    i Гатчинский район
                    |.
                p Профессиональное выведение из запоя на дому в Гатчине. Анонимно. Круглосуточно. 
                    |Лечение алкогольной зависимости. Быстрая помощь.
                p Современные методики по лечению алкоголизма. Качественные препараты, современная 
                    |медицинская аппаратура обеспечат качественное медицинское обслуживание.