section.about 
    .container 
        h1.main__title.main__titles О центре
        .about__block
            .about__block-img
                img(src="./wp-content/themes/detox-med/assets/img/national-cancer-max.jpg", alt="Клиника")
            .about__block-txt
                p Наркологический центр «ДетоксМед» — лечение алкогольной зависимости по европейским стандартам. 
                p Мы собрали воедино команду профессиональных специалистов, современные и уникальные методики лечения. 
                    |Наш медицинский центр ориентирован на инновационные методы лечения всех видов зависимости, а коллектив 
                    |высококлассных специалистов подберёт наиболее эффективные методы восстановительной терапии и индивидуальный план лечения. 
                    |Оперативно и круглосуточно реагируем на вызов врача на дом и вывод из запоя с выездом в СПб и по области.