section.about.about-region 
    .container 
        h1.main__title.main__titles Выведение из запоя в Кирише
        .about__block
            .about__block-img
                img(src="./wp-content/themes/detox-med/assets/img/kirishi.jpg", alt="Выведение из запоя в Кирише")
            .about__block-txt
                p Вывод из запоя и лечение алкогольной зависимости на дому — Кириши.
                p Большой опыт работы врачей нашего наркологического центра «ДетоксМед» позволяет 
                    |качественно и быстро обеспечивать вывод из запоя с помощью самых современных методик
                    | и препаратов. Современная база медицинской аппаратуры, имеющаяся всегда в наличии при 
                    |вызове дежурного врача-нарколога, это основа для правильной диагностики состояния больного.