section.about.about-region 
    .container 
        h1.main__title.main__titles Выведение из запоя в Пушкине
        .about__block
            .about__block-img
                img(src="./wp-content/themes/detox-med/assets/img/pushkin.jpg", alt="Выведение из запоя в Пушкине")
            .about__block-txt
                p Вывод из запоя и лечение алкоголизма на дому — 
                    i Пушкин, Павловск, Федоровское, Тярлево, Славянка, Коммунар
                    |. Бесплатная консультация о прекращении запоев с последующим лечением алкогольной зависимости. 
                    |Время приезда врача в Пушкин от 15 мин. Высокая квалификация наших врачей позволяет гарантировать 
                    |результат, используем только самые современные методики и препараты. Одна из лучших клиник 
                    |Санкт-Петербурга.