section.about.about-region 
    .container 
        h1.main__title.main__titles Выведение из запоя Красное Село
        .about__block
            .about__block-img
                img(src="./wp-content/themes/detox-med/assets/img/krasnoe-selo.jpg", alt="Выведение из запоя Красное Село")
            .about__block-txt
                p Вывод из запоя и лечение алкоголизма на дому в Красном Селе.
                p Наши врачи всегда имеют с собой необходимое медицинское оборудование для обследования пациента. 
                    |Низкая цена позволяет не переплачивать за услуги по выводу из запоя, по лечению алкогольной и 
                    |других зависимостей. Высокая квалификация врачей и большой опыт работы — гарантия полноценного 
                    |и качественного получения такой услуги. Вас будет обслуживать одна из лучших наркологических 
                    |клиник Санкт-Петербурга