section.about.about-region 
    .container 
        h1.main__title.main__titles Выведение из запоя в Адмиралтейском районе Санкт-Петербурга
        .about__block
            .about__block-img
                img(src="./wp-content/themes/detox-med/assets/img/admiralty.jpg", alt="Выведение из запоя в Адмиралтейском районе")
            .about__block-txt
                p Выведение из запоя и лечение алкоголизма в Адмиралтейском районе Санкт-Петербурга - 
                    i метро Садовая, Технологический институт, Фрунзеская.
                p Бесплатная консультация и обследование при выведении из запоя с последующим эффективным 
                    |лечением алкогольной зависимости. Время приезда врача до вашего дома от 15 мин. 
                    |Используем только самые современные методики и препараты. Высокая квалификация врачей-наркологов.