section.about.about-region 
    .container 
        h1.main__title.main__titles Выведение из запоя в Выборге
        .about__block
            .about__block-img
                img(src="./wp-content/themes/detox-med/assets/img/vyborg.jpg", alt="Выведение из запоя в Выборге")
            .about__block-txt
                p Вывод из запоя и лечение алкоголизма на дому в Выборге Ленинградской области.
                p Опытные врачи наркологического центра клиники «ДетоксМед» качественно и быстро выведут из 
                    |запоя, используя качественные современные препараты, методики и медицинскую аппаратуру 
                    |для диагностики состояния пациента. Дежурный врач-нарколог обеспечит получение срочной 
                    |наркологической помощи даже ночью.