section.about.about-region 
    .container 
        h1.main__title.main__titles Вывод из запоя Ржевка, Пороховые, Красногвардейский р-н
        .about__block
            .about__block-img
                img(src="./wp-content/themes/detox-med/assets/img/rzhevka.jpg", alt="Вывод из запоя Ржевка")
            .about__block-txt
                p Выводим из запоя в районе 
                    i Ржевки
                    |, 
                    i Пороховых
                    |, 
                    i м.Ладожская
                    |, 
                    i м.Новочеркасская
                    |, в 
                    i Красногвардейском районе
                    |. На выезде работают лучшие врачи-наркологи Петербурга со стажем от 6 лет.
                p Красногвардейский район расположен на северо-востоке Санкт-Петербурга на правобережье 
                    |Невы вдоль восточной части Полюстрово, захватывая Большую Охту, Малую Охту, Пороховые, Ржевку и Жерновку.
                p Высокая квалификация врачей наркологического центра «ДетоксМед» и современные методики, 
                    |а также препараты обеспечивают профессиональные услуги по детоксикации организма после запоя, 
                    |по лечению алкоголизма и выведению из запойного состояния. Лечение и выведение из запоя происходит 
                    |полностью анонимно.