section.about.about-region 
    .container 
        h1.main__title.main__titles Вывод из запоя в Парголово
        .about__block
            .about__block-img
                img(src="./wp-content/themes/detox-med/assets/img/pargolovo.jpg", alt="Вывод из запоя в Парголово")
            .about__block-txt
                p Вывод из запоя и лечение алкоголизма — 
                    i Парголово
                    |, 
                    i Левашово
                    |, 
                    i Юкки
                    |, 
                    i Порошкино
                    |, 
                    i Шувалово
                    |, 
                    i Выборгское ш.
                    |, 
                    i пр. Энгельса
                    |, 
                    i м.Озерки
                    |, 
                    i м.Просвещение
                    |, 
                    i м.Парнас
                    |.
                p Бесплатная консультация о прекращении запоев с последующим лечением алкогольной зависимости.  
                    |Высокая квалификация наших врачей позволяет гарантировать результат, используем только самые 
                    |современные методики и препараты. Одна из лучших клиник Санкт-Петербурга.