.method-block.method-block--alcoholism
    .section__title-block
        h2.section__title.section__title--bg «Блокирование алкогольного центра»
    .method-block__inner
        .method-block__text.text
            p #[strong Эта методика состоит как минимум из двух частей:]
            p #[strong Сеанс психотерапии], целью которого является выявление устойчивых проалкогольных убеждений больного, 
                | которые управляют поведением больного, но которые он не осознаёт. Эти убеждения являются 
                | психологическим ядром – центром любой химической зависимости – алкоголизма, наркомании, табакокурения.
            p #[strong Своевременное выявления и коррекция этих убеждений] – гарантия устойчивой трезвости. 
                | Одновременно в сознании создаётся образ будущей трезвой жизни. Сознание очищается. 
                | Психика входит в новый режим трезвости, и это состояние фиксируется на следующем этапе лечения.
            p  #[strong Блокада АЦ] – вводится специальный препарат, подавляющий активность «алкогольного центра» и 
                | обеспечивающий вместе с твёрдыми трезвенническими установками избавление от зависимости.
            ul 
                li Длительность сеанса 1,5 – 2 часа
        .method-block__img.gradient
            img(src="./wp-content/themes/genesis/assets/img/alcohol-block.jpg" alt="Блокирование алкогольного центра" width="595" height="375") 
