.gray-block.gray-block--guarantees
    .section__subtitle.section__subtitle--guarantees Мы гарантируем #[i бережное и внимательное отношение] ко всем клиентам. 
        | Все методы лечения обладают высокой эффективностью и безопасностью, поскольку 
        | проводятся настоящими профессионалами