section.treatment
    .container
        .btn.btn--green Шаги лечения
        h2.section__title.section__title--treatment Как проходит лечение?
        include ./../../bem-blocks/treatment-steps/treatment-steps.pug
        include ./../../bem-blocks/problem-solution/problem-solution.pug