button {
    @include Nunito-Regular();
    background-color: transparent;
}
.header__btn-version {
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #01120f;
}
.btn-red {
    padding: 1.1rem 2.7rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #ffffff;
    border-radius: 100px;
    min-width: 19rem;
    max-width: 20rem;
    position: relative;
    background-color: #f04242;
    overflow: hidden;
    transform: scale3d(1);
    transition: all 2s;
    &:hover {
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-name: btn__red;
        animation-iteration-count: infinite;

        // transform: skew(10deg, 10deg);
        // // transform: scale(1.1);
        // transition: all 0.3s;
        // &::after {
        //     left: 120%;
        // }
    }
}
.btn-green {
    padding: 1.1rem 2.7rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #ffffff;
    border-radius: 100px;
    min-width: 19rem;
    max-width: 3.6rem;
    position: relative;
    background-color: #11c0ab;
    overflow: hidden;
    transform: scale3d(1);
    transition: all 2s;
    box-shadow: 0px 3px 20px rgba(17, 192, 171, 0.3);
    &:hover {
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-name: btn__green;
        animation-iteration-count: infinite;
    }
    @media (min-width: 540px) {
        max-width: 36rem;
        min-width: 36rem;
    }
}
.button {
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
    color: #11c0ab;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #11c0ab;
    border-radius: 100px;
    z-index: 0;
    padding: 1.2rem;
    max-width: 23.2rem;
    min-width: 23.2rem;

    display: block;
    transition: transform 1s ease;
    position: relative;
    &:hover {
        animation: pulse 1s;
        box-shadow: 0 0 0 2em rgba(#fff, 0);
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #11c0ab;
    }
}
// .btn {
//     display: inline-block;
//     text-align: center;
//     font-size: 1.4rem;
//     border-radius: 0.5rem;

//     &--green {
//         padding: 0.5rem 1.1rem;
//         @include OpenSans-Regular();
//         line-height: 2.2rem;
//         color: $gray6;
//         background: $green;
//     }

//     &--white {
//         &:hover {
//             color: $gray6;
//         }
//     }

//     &--blue,
//     &--white {
//         position: relative;
//         z-index: 1;
//         background-color: transparent;
//         transition: all 0.4s;

//         &::after,
//         &::before {
//             content: "";
//             position: absolute;
//             height: 100%;
//             top: 0;
//             left: 0;
//             border-radius: 0.5rem;
//             transition: all 0.4s;
//         }

//         &:focus::before,
//         &:hover::before,
//         &:active::before {
//             width: 100%;
//             transition: all 0.4s;
//         }

//         &:active::before {
//             box-shadow: none;
//         }
//     }

//     &--blue {
//         padding: 1.6rem 2rem;
//         @include OpenSans-Bold();
//         line-height: 1.9rem;
//         color: $white;
//         background: $blue;

//         &::after {
//             width: 100%;
//             background-color: $blue;
//             z-index: -2;
//         }

//         &::before {
//             width: 0;
//             background-color: $green;
//             box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
//             z-index: -1;
//         }
//     }

//     &--white {
//         @include OpenSans-Bold();
//         font-size: 1.4rem;
//         line-height: 1.9rem;
//         color: $gray2;
//         border-radius: 0.5rem;

//         &::after {
//             width: 100%;
//             background-color: $gray6;
//             z-index: -2;
//         }

//         &::before {
//             width: 0;
//             background-color: $blue;
//             box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
//             z-index: -1;
//         }
//     }
// }
@keyframes btn__red {
    0% {
        transform: scale(1.1);
        box-shadow: 0px 5px 10px rgba(1, 18, 15, 0.35), 0px 5px 10px rgba(1, 18, 15, 0.15),
            0px 5px 10px rgba(1, 18, 15, 0.15);
    }
    25% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0px 5px 10px rgba(1, 18, 15, 0.35), 0px 5px 10px rgba(1, 18, 15, 0.15),
            0px 5px 10px rgba(1, 18, 15, 0.15);
    }

    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.1);
        box-shadow: 0px 5px 10px rgba(1, 18, 15, 0.35), 0px 5px 10px rgba(1, 18, 15, 0.15),
            0px 5px 10px rgba(1, 18, 15, 0.15);
    }
}

@keyframes btn__green {
    0% {
        transform: scale(1.1);
        box-shadow: 0px 3px 20px rgba(17, 192, 171, 0.7);
    }
    25% {
        transform: scale(0.8);
        box-shadow: 0px 3px 20px rgba(17, 192, 171, 0.3);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0px 3px 20px rgba(17, 192, 171, 0.7);
    }

    75% {
        transform: scale(0.8);
        box-shadow: 0px 3px 20px rgba(17, 192, 171, 0.3);
    }
    100% {
        transform: scale(1.1);
        box-shadow: 0px 3px 20px rgba(17, 192, 171, 0.7);
    }
}
