// Основной заголовок страницы H1
.main__title {
    @include Nunito-Bold();
    font-size: 3.2rem;
    line-height: 146.4%;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;

    // @media screen and (min-width: 414px) {
    //     font-size: 2.4rem;
    //     line-height: 3.3rem;
    // }

    @media screen and (min-width: 1200px) {
        max-width: 68rem;
        font-size: 4.4rem;
        line-height: 146.4%;
        text-align: left;
    }
}
.main__titles {
    position: relative;
    color: #01120f;
    padding-left: 2rem;
    text-align: left;
    margin-bottom: 9.6rem;
    &::after {
        position: absolute;
        content: "";
        width: 1rem;
        height: 1rem;
        top: 0;
        left: 0;
        background-color: #11c0ab;
        border-radius: 50%;
        transform: translate(0rem, 1.8rem);
        @media screen and (min-width: 356px) {
            transform: translate(0rem, 1.8rem);
        }
        @media screen and (min-width: 411px) {
            width: 1.3rem;
            height: 1.3rem;
            transform: translate(0rem, 1.5rem);
        }
        @media screen and (min-width: 1200px) {
            transform: translate(0rem, 2.5rem);
        }
    }
    @media screen and (min-width: 540px) {
        align-self: flex-start;
    }
    @media screen and (min-width: 1200px) {
        width: 100%;
        text-align: left;
        margin-bottom: 9.6rem;
    }
}
// p {
//     @include Nunito-Regular();
//     font-size: 2rem;
//     line-height: 3rem;
//     font-style: normal;
//     font-weight: bold;
//     color: #ffffff;

//     @media screen and (min-width: 414px) {
//         font-size: 2.4rem;
//         line-height: 3.3rem;
//     }

//     @media screen and (min-width: 768px) {
//         font-style: normal;
//         font-weight: normal;
//     }
// }
// Заголовок секции H2
.section__title {
    @include Nunito-Bold();
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.5rem;
    position: relative;
    margin-bottom: 5rem;
    width: 100%;
    padding-left: 2rem;
    &::after {
        position: absolute;
        content: "";
        width: 1rem;
        height: 1rem;
        top: 0;
        left: 0;
        background-color: #11c0ab;
        border-radius: 50%;
        transform: translate(0rem, 95%);
        @media screen and (min-width: 355px) {
            transform: translate(0rem, 95%);
        }
        @media screen and (min-width: 411px) {
            width: 1.3rem;
            height: 1.3rem;
            transform: translate(0rem, 75%);
        }
    }
    @media screen and (min-width: 1200px) {
        width: 100%;
        text-align: left;
    }
}
h3 {
    @include Nunito-Bold();
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.7rem;
    color: #01120f;
}
a {
    @include Nunito-Regular();
    text-decoration: none;
}
p,
li,
i {
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 170%;
}
ol {
    padding: 0;
    margin: 0;
}
