//-  главный контейнер слайдера 
.swiper-container.slider-specialists
    //- обязательная оболочка
    .swiper-wrapper
        //- слайды
        .swiper-slide
            .slider-specialists__img 
                img(src="./wp-content/themes/detox-med/assets/img/losev.jpg", alt="")
            .slider-specialists__info
                i Врач психиатр-нарколог I категории, психотерапевт.
                h3 Лосев Александр Александрович
                p Опыт в наркологии 12 лет. Более 1000 пролеченных пациентов. «Мы стремимся восстановить не только 
                    |утраченное здоровье, но также восстановить отношения в семье. Именно поэтому Наша цель: 
                    |продлить жизнь и наполнить её счастьем. »
                button.btn-red Вызвать врача
        .swiper-slide
            p.img
                img(src="./wp-content/themes/detox-med/assets/img/adhy-savala.jpg", alt="")
        .swiper-slide
            p.img
                img(src="./wp-content/themes/detox-med/assets/img/national-cancer.jpg", alt="")
        .swiper-slide
            p.img
                img(src="./wp-content/themes/detox-med/assets/img/martha-dominguez.jpg", alt="")
        .swiper-slide
            p.img
                img(src="./wp-content/themes/detox-med/assets/img/martha-gouveia.jpg", alt="")
        .swiper-slide
            p.img
                img(src="./wp-content/themes/detox-med/assets/img/martha-unsplash.jpg", alt="")
    .prev ⟶
    .next ⟵