.slider-specialists {
    max-width: 100%;
    width: 100%;
    max-width: 41.5rem;
    margin: 0 auto;
    @media (min-width: 900px) {
        max-width: 94.6rem;
    }
    // содержимое
    &__img {
        min-width: 100%;
        max-width: 100%;
        background: #c4c4c4;
        border-radius: 20px 70px 70px 70px;
        margin-bottom: 3rem;
        overflow: hidden;
        @media (min-width: 900px) {
            min-height: 36rem;
            max-height: 36rem;
            max-width: 36rem;
            min-width: 36rem;
            margin-bottom: 0;
        }

        img {
            min-width: 100%;
            max-height: 100%;
            border-radius: 20px 70px 70px 70px;
            transform: scale(1);
            transition: all 0.8s;
            @media (min-width: 900px) {
                height: 100%;
            }
            &:hover,
            &:focus {
                transform: scale(1.1);
                transition: all 0.8s;
            }
        }
    }
    &__info {
        padding: 0 1.5rem;
        padding-bottom: 5rem;
        text-align: center;
        @media (min-width: 900px) {
            text-align: left;
            max-width: 46.5rem;
            min-width: 46.5rem;
            padding-right: 5.8rem;
            padding-bottom: 3rem;
            padding-top: 3rem;
        }

        i {
            display: inline-block;
            text-align: left;
            font-style: normal;
            font-weight: normal;
            font-size: 1.5rem;
            line-height: 170%;
            color: rgba(1, 18, 15, 0.8);
            margin-bottom: 1rem;
            @media (min-width: 900px) {
                margin-bottom: 0.5rem;
            }
        }
        h3 {
            margin-bottom: 2rem;
            text-align: left;
        }
        p {
            margin-bottom: 2rem;
            text-align: left;
        }
    }
}
.slider-specialists__content {
    background: #ebf7f5;
    /* Для карточек */

    box-shadow: 0px 5px 10px rgba(1, 18, 15, 0.05);
    border-radius: 20px 70px 20px 19px;
    @media (min-width: 900px) {
        display: flex;
        justify-content: space-between;
        align-self: center;
        border-radius: 20px 20px 20px 70px;
    }
}
// .swiper-slide.slider-specialists__slide {
// }
.prev,
.next {
    color: #11c0ab;
    font-size: 3rem;
    font-weight: bold;
    font-style: normal;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    @media (min-width: 620px) {
        position: absolute;
        top: 45rem;
    }
    @media (min-width: 900px) {
        bottom: -7rem;
        top: auto;
    }
    @media (min-width: 1160px) {
        bottom: 38%;
    }
    &:hover,
    &:focus {
        color: #01120f;
        transform: scale(1.1);
        text-shadow: rgba(17, 192, 171, 0.4) 0px 2px, rgba(17, 192, 171, 0.4) -2px 2px, rgba(17, 192, 171, 0.4) -2px 0px,
            rgba(17, 192, 171, 0.4) -2px -2px, rgba(17, 192, 171, 0.4) 0px -2px, rgba(17, 192, 171, 0.4) 2px -2px;
        transition: all 0.3s;
    }
}
.next {
    left: 1rem;
    transform: rotate(180deg);
    margin-right: auto;
    margin-top: -3rem;
    @media (min-width: 620px) {
        margin-top: 0;
    }
    @media (min-width: 1160px) {
        left: 0;
    }
    &:hover,
    &:focus {
        transform: scale(1.1) rotate(180deg);

        transition: all 0.3s;
    }
}
.prev {
    right: 1rem;
    margin-left: auto;
    margin-top: 4rem;
    @media (min-width: 620px) {
        margin-top: 0;
    }
    @media (min-width: 1160px) {
        right: 0;
    }
}

// .swiper-first,
// .swiper-second,
// .swiper-third,
// .swiper-fourth,
// .swiper-fifth {
//     max-width: 28rem;
//     margin: 0 auto;

//     @media screen and (min-width: 414px) {
//         max-width: 31.6rem;
//     }

//     @media screen and (min-width: 768px) {
//         max-width: 33rem;
//     }

//     @media screen and (min-width: 900px) {
//         max-width: 68.5rem;
//     }

//     @media screen and (min-width: 1024px) {
//         max-width: 80rem;
//     }

//     @media screen and (min-width: 1320px) {
//         max-width: 99.1rem;
//     }

//     .swiper-wrapper {
//         @media screen and (min-width: 1320px) {
//             flex-wrap: wrap;
//         }
//     }

//     .slide-licenses {
//         overflow: hidden;

//         @media screen and (min-width: 1320px) {
//             width: calc(100% / 12 * 4);
//             max-width: 31rem;
//             margin: 0 1rem 1rem 1rem;
//         }
//     }
// }
