//-  главный контейнер слайдера 
.swiper-container.slider-specialists
    //- обязательная оболочка
    .swiper-wrapper.slider-specialists__wrapper
        //- слайды
        .swiper-slide.slider-specialists__slide
            .slider-specialists__content
                .slider-specialists__img 
                    img(src="./wp-content/themes/detox-med/assets/img/losev.jpg", alt="Лосев Александр Александрович")
                .slider-specialists__info
                    i Врач психиатр-нарколог I категории, психотерапевт.
                    h3 Лосев Александр Александрович
                    p Опыт в наркологии 12 лет. Более 1000 пролеченных пациентов. «Мы стремимся восстановить не только 
                        |утраченное здоровье, но также восстановить отношения в семье. Именно поэтому Наша цель: 
                        |продлить жизнь и наполнить её счастьем. »
                    button.btn-red.btn-viziv Вызвать врача
        .swiper-slide.slider-specialists__slide
            .slider-specialists__content
                .slider-specialists__img 
                    img(src="./wp-content/themes/detox-med/assets/img/vasiliev.jpg", alt="Васильев Пётр Михайлович")
                .slider-specialists__info
                    i Врач психиатр- нарколог II категории, психотерапевт.
                    h3 Васильев Пётр Михайлович
                    p Опыт в наркологии 6 лет. Более 500 пролеченных пациентов.
                        |«Зависимость - это наш профиль. В наших силах помочь восстановиться после интоксикации, 
                        |вернуть здоровье, вернуть энергию в вашу жизнь. »
                    button.btn-red.btn-viziv Вызвать врача
.prev ➔ 
.next ➔ 
//- watchOverflow: true,