.narcology-center-text.text
    p Можно выделить вторую фазу формирования алкоголизма – убеждённость в возможности употребления алкоголя. 
        | Спросите любого взрослого человека: «Можно ли употреблять алкоголь». 99% ответят: «Да, можно». 
        | Аргументация здесь простая: «все пьют», «даже доктора по телевизору рекомендуют употреблять небольшие 
        | количества алкоголя» и т.п. убеждения со ссылкой на источники, показанные по ТВ или апелляция к тому, 
        | что так делает большинство.