section.doctors-info 
    .container
        .doctors-info__flex
            .doctors-info__txt 
                p Наркологический центр «ДетоксМед» — лечение алкогольной зависимости по европейским стандартам. 
                p Мы собрали воедино команду профессиональных специалистов, современные и уникальные методики лечения. 
                    |Наш медицинский центр ориентирован на инновационные методы лечения всех видов зависимости, а коллектив 
                    |высококлассных специалистов подберёт наиболее эффективные методы восстановительной терапии и индивидуальный 
                    |план лечения. Оперативно и круглосуточно реагируем на вызов врача на дом и вывод из запоя с выездом в Свенкт-Петербург и по области.
            .doctors-info__image 
                .doctors-info__img
                    img(src="./wp-content/themes/detox-med/assets/img/national-cancer-max.jpg", alt="Клиника")
                .doctors-info__img
                    img(src="./wp-content/themes/detox-med/assets/img/palata.jpg", alt="Палата")

