section.doctors-info.doctors-region
    .container
        h2.section__title Куда приезжают наши врачи
        .doctors-info__flex.info-order
            .doctors-info__txt 
                p Наши врачи приезжают на вызовы в городе Пушкине очень быстро. Список главных улиц, на которые 
                    |приезжает врач-нарколог: Октябрьский бульвар, улицы Баболовская, Гусарская, Ленинградская, Радищева,
                    | Саперная, Павловское ш., Московское ш., Кузьминское ш., Петербургское ш., Волхонское ш., Красносельское ш.
                p Вызовы по лечению алкоголизма на дому, для выведения из запоев на дому и для кодирования от 
                    |алкоголизма наши медики принимают из районов 
                    a(href="") Купчино
                    |, 
                    a(href="") Шушары
                    |, 
                    a(href="gatchina.html") Гатчина
                    |, 
                    a(href="") Рыбацкое
                    |, 
                    a(href="") Кудрово
                    |, 
                    a(href="") Всеволожск
                    |,
                    a(href="")  Колпино
                    |, 
                    a(href="") Петергоф
                    |, 
                    a(href="") Металлострой
                    |, 
                    a(href="") Павловск
                    |.
            .doctors-info__image 
                .doctors-info__img
                    img(src="./wp-content/themes/detox-med/assets/img/cerkovnyy-korpus.jpg", alt="Церковный корпус")
                .doctors-info__img
                    img(src="./wp-content/themes/detox-med/assets/img/ekaterininskiy-dvorec.jpg", alt="Екатерининский дворец")
