.doctors {
    padding-top: 0rem;
    padding-bottom: 10rem;
}
.doctors-info {
    width: 100%;
    padding-bottom: 10rem;
    &__flex {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 900px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__txt {
        width: 100%;
        max-width: 55.5rem;
        margin-bottom: 3rem;
        @media screen and (min-width: 900px) {
            margin-bottom: 0;
            margin-right: 2.3rem;
        }
        p {
            margin-bottom: 0.8rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__image {
        width: 100%;
        max-width: 56.2rem;
        max-height: 38.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media screen and (min-width: 900px) {
            min-height: 38.5rem;
        }
    }
    &__img {
        width: 100%;
        background: #c4c4c4;
        border-radius: 20px;
        overflow: hidden;
        @media screen and (min-width: 480px) {
            min-width: 45.7rem;
            min-height: 30.3rem;
            max-width: 45.7rem;
            max-height: 30.3rem;
        }
        @media screen and (min-width: 900px) {
            min-width: 45.7rem;
            min-height: 30.3rem;
            max-width: 45.7rem;
            max-height: 30.3rem;
        }
        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 20px;
            @media screen and (min-width: 480px) {
                min-width: 45.7rem;
                min-height: 30.3rem;
                max-width: 45.7rem;
                max-height: 30.3rem;
            }
            @media screen and (min-width: 900px) {
                min-width: 45.7rem;
                min-height: 30.3rem;
                max-width: 45.7rem;
                max-height: 30.3rem;
            }
        }
        &:last-child {
            position: relative;
            transform: translate(0%, -50%);
            max-width: 27.8rem;
            max-height: 18.4rem;

            align-self: flex-start;
            @media screen and (min-width: 480px) {
                max-width: 27.8rem;
                max-height: 18.4rem;
                min-width: 27.8rem;
                min-height: 18.4rem;
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                max-width: 27.8rem;
                max-height: 18.4rem;

                @media screen and (min-width: 480px) {
                    max-width: 27.8rem;
                    max-height: 18.4rem;
                    min-width: 27.8rem;
                    min-height: 18.4rem;
                }
            }
        }
    }
}
.doctors-services {
    padding: 0rem 0 10rem 0;
}
