section.doctors 
    .container
        h1.main__title.main__titles Наши специалисты
        include ./../../bem-blocks/doctors__block/doctors__block.pug
        include ./../../bem-blocks/doctors__block/doctors__block2.pug

