section.questions.questions-open.rights
    .container 
        h1.main__title.main__titles Права и обязанности граждан в сфере охраны здоровья

        .accordion-first.open
            article.accordion__item
                h3 Статья 18. Право на охрану здоровья
                p 1. Каждый имеет право на охрану здоровья.
                    br 
                    | 2. Право на охрану здоровья обеспечивается охраной окружающей среды, созданием безопасных условий труда, благоприятных 
                    |условий труда, быта, отдыха, воспитания и обучения граждан, производством и реализацией продуктов питания соответствующего
                    | качества, качественных, безопасных и доступных лекарственных препаратов, а также оказанием доступной и качественной медицинской помощи.
            article.accordion__item
                h3 Статья 19. Право на медицинскую помощь
                p 
            article.accordion__item
                h3 Статья 20. Информированное добровольное согласие на медицинское вмешательство и на отказ от медицинского вмешательства
                p
            article.accordion__item
                h3 Статья 21. Выбор врача и медицинской организации
                p
            article.accordion__item
                h3 Статья 22. Информация о состоянии здоровья
                p
            article.accordion__item
                h3 Статья 23. Информация о факторах, влияющих на здоровье
                p
            article.accordion__item
                h3 Статья 24. Права работников, занятых на отдельных видах работ, на охрану здоровья
                p
            article.accordion__item
                h3 Статья 25. Права военнослужащих и лиц, приравненных по медицинскому обеспечению к военнослужащим, а также граждан, проходящих альтернативную гражданскую службу, граждан, подлежащих призыву на военную службу (направляемых на альтернативную гражданскую службу), и граждан, поступающих на военную службу или приравненную к ней службу по контракту, на охрану здоровья
                p
            article.accordion__item
                h3 Статья 26. Права лиц, задержанных, заключенных под стражу, отбывающих наказание в виде ограничения свободы, ареста, лишения свободы либо административного ареста, на получение медицинской помощи
                p
            article.accordion__item
                h3 Статья 27. Обязанности граждан в сфере охраны здоровья
                p
            article.accordion__item
                h3 Статья 28. Общественные объединения по защите прав граждан в сфере охраны здоровья
                p