section.site-map 
    .container 
        h1.main__title.main__titles Карта сайта
        ul 
            li 
                a(href="")  О центре
                ul 
                    li: a(href="")  Врачи
                    li: a(href="")  Вопрос-ответ
                    li: a(href="")  Лицензии
                    li: a(href="")  Отзывы
                    li: a(href="")  Как бросить алкоголь
            li
                a(href="")  Услуги
                ul 
                    li: a(href="")  Вывод из запоя на дому
                    li: a(href="")  Лечение алкоголизма
                    li: a(href="")  Лечение наркомании
                    li: a(href="")  Лечение табакокурения
                    li: a(href="")  Кодирование от алкоголизма
                    li: a(href="")  Капельница ДетоксМед24
            li: a(href="")  Цены
            li: a(href="")  Оплата
            li
                a(href="")  Статьи
                ul 
                    li: a(href="")  Кодирование от алкоголизма в Санкт-Петербурге
                    li: a(href="")  Как остаться трезвым в период праздников
                    li: a(href="")  Алкоголик в семье
                    li: a(href="")  Как лучше закодироваться от алкоголя
                    li: a(href="")  Как быстро протрезветь?
                    li: a(href="")  Алкогольный коктейль — польза или вред?
                    li: a(href="")  Кодирование от алкоголизма в Санкт-Петербурге
                    li: a(href="")  Как остаться трезвым в период праздников
                    li: a(href="")  Алкоголик в семье
                    li: a(href="")  Как лучше закодироваться от алкоголя
                    li: a(href="")  Как быстро протрезветь?
                    li: a(href="")  Алкогольный коктейль — польза или вред?
                    li: a(href="")  Кодирование от алкоголизма в Санкт-Петербурге
                    li: a(href="")  Как остаться трезвым в период праздников
                    li: a(href="")  Алкоголик в семье
                    li: a(href="")  Как лучше закодироваться от алкоголя
                    li: a(href="")  Как быстро протрезветь?
                    li: a(href="")  Алкогольный коктейль — польза или вред?
                    li: a(href="")  Кодирование от алкоголизма в Санкт-Петербурге
                    li: a(href="")  Как остаться трезвым в период праздников
                    li: a(href="")  Алкоголик в семье
                    li: a(href="")  Как лучше закодироваться от алкоголя
                    li: a(href="")  Как быстро протрезветь?
                    li: a(href="")  Алкогольный коктейль — польза или вред?
            li: a(href="")  Контакты
            li
                a(href="")  Главная
                ul 
                    li: a(href="")  Выведение из запоя в Пушкине
                    li: a(href="")  Выведение из запоя Выборг
                    li: a(href="")  Алкоголик в семье
                    li: a(href="")  Как лучше закодироваться от алкоголя
                    li: a(href="")  Как быстро протрезветь?
                    li: a(href="")  Алкогольный коктейль — польза или вред?
                    li: a(href="")  Кодирование от алкоголизма в Санкт-Петербурге
                    li: a(href="")  Как остаться трезвым в период праздников
                    li: a(href="")  Алкоголик в семье
                    li: a(href="")  Как лучше закодироваться от алкоголя
                    li: a(href="")  Как быстро протрезветь?
                    li: a(href="")  Алкогольный коктейль — польза или вред?
                    li: a(href="")  Кодирование от алкоголизма в Санкт-Петербурге
                    li: a(href="")  Как остаться трезвым в период праздников
                    li: a(href="")  Алкоголик в семье
                    li: a(href="")  Как лучше закодироваться от алкоголя
                    li: a(href="")  Как быстро протрезветь?
                    li: a(href="")  Алкогольный коктейль — польза или вред?
                    li: a(href="")  Кодирование от алкоголизма в Санкт-Петербурге
                    li: a(href="")  Как остаться трезвым в период праздников
                    li: a(href="")  Алкоголик в семье
                    li: a(href="")  Как лучше закодироваться от алкоголя
                    li: a(href="")  Как быстро протрезветь?
                    li: a(href="")  Алкогольный коктейль — польза или вред?