section.medical-help
    .container
        .btn.btn--green Наши услуги
        h2.section__title.section__title--alcoholism-treatment.section__title--medical-help Получите профессиональную медицинскую помощь
        ul
            li Для вывода из запоя врач на дом сможет приехать в течение 30-40 минут
            li Используем современные эффективные лицензированные препараты
            li Срочная наркологическая помощь
            li Срочное снятие абстинентного состояния и ломки
            li Полная детоксикация организма и токсичных продуктов распада
            li Пробуждение без похмельного состояния, восстановление психоэмоционального состояния
            li Рекомендация врача о том, что помогает от похмелья
            li Улучшение самочувствия пациента уже через 30 минут
            li Если помощь нужна не вам, убедитесь, что человек, которому она требуется, 
                | согласен на визит специалиста. Вывод из запоя без согласия пациента обсуждается в индивидуальном порядке.