.contacts 
    a(href="tel:+7(812)900-89-02") +7 (812) 900-89-02
    a(href="tel:+7(931)354-90-01") +7 (931) 354-90-01
//-     a(href="") 
//-         svg(width="45" height="45")
//-             use(xlink:href="./wp-content/themes/detox-med/assets/img/icons/sprite.svg#advantage-1")