.contacts {
    position: relative;
    animation-duration: 1s;
    animation-timing-function: ease;
    padding-left: 4.8rem;

    a {
        display: block;
        margin-bottom: 0.5rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #01120f;
        font-feature-settings: "case" on, "cpsp" on;
        transition: all 0.5s;
        // transition: all 1s ease-out;

        &:hover,
        &:focus {
            color: #11c0ab;
            transition: all 0.5s;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &:hover,
    &:focus {
        color: #11c0ab;
        transition: all 0.5s;
        animation-name: icon;
        transition: all 0.5s;
    }
    &::after {
        position: absolute;
        content: "";
        background: url("../img/icons/phone.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 2rem;
        height: 3.32rem;
        top: 0rem;
        left: 0rem;
        transform: translate(0.5rem, 0.9rem);
    }
}
