section.avtors
    .container 
        .avtors__block
            .avtors__block-box
                .avtors__block-img 
                    img(src="./wp-content/themes/detox-med/assets/img/vrach-sergej-kovalev.jpg", alt="Врач Сергей Ковалев")
                .avtors__block-name
                    i Автор статьи
                    h6 Сергей Ковалев
                    p Врач 
                        i психиатр-нарколог,  
                        |  психотерапевт.
            .avtors__block-box
                time(datetime="2021-03-30") 30.03.2021
                .tag 
                    a(href="!#") Кодирование
                    a(href="!#") Алкоголизм
                    a(href="!#") Психология

