section.quote
    .container 
        .quote__block 
            .quote__block-img
                img(src="./wp-content/themes/detox-med/assets/img/losev.jpg", alt="Главный врач")
            .quote__block-txt
                p Главнй врач наркологического центра “ДетоксМед”
                h3 Лосев Александр Александрович
                blockquote 
                    p Наркологический центр «ДетоксМед» - концептуальный медицинский центр! 
                        |Основанный в 2016 году, он развивается и совершенствует методы диагностики и лечения алкогольной, 
                        |наркотической и игровой зависимости. У нас работают специалисты высшей категории, а рабочие места 
                        |постоянно оснащаются наиболее современным и высококлассным оборудованием. 
                    p С момента основания “ДетоксМед” в нем ведётся активная борьба за восстановление счастливой, активной жизни наших пациентов!
                    p Для нас важен результат! Именно поэтому я смело могу заявить, что если Вы действительно хотите 
                        |выйти из запоя, избавиться от зависимости, мы обязательно добьёмся этой цели!