.tab.quit-alcohol.encoding-tab
    .tabs__nav.quit-alcohol__nav
        a.tabs__link.tabs__link_active(href="#content-1") Приём таблеток
        a.tabs__link(href="#content-2") Вшивание ампулы
        a.tabs__link(href="#content-3") Инъекция препарата
        a.tabs__link(href="#content-4") Психотерапевтический
        a.tabs__link(href="#content-5") Гипноз
    .tabs__content.quit-alcohol__steps
        .tabs__pane.tabs__pane_show#content-1
            h3 Кодирование путем приема таблеток
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/medikamentoznoe.jpg", alt="Таблетки")
                .quit-alcohol__txt
                    p Таблетки данного метода созданы на основе французского препарата «Дисульфирам». Этот препарат нарушает естественный ход 
                        |окисления спирта в теле человека, за счет чего при выпивании любого количества спиртного промежуточный результат переработки 
                        |ацетальдегид не перерабатывается и вызывает сильное отравление организма человека, не давая возможности употреблять алкоголь совсем.
                    p Кроме того, применяют также препараты типа Налтрексон (Naltrexone), а также его аналогов: Продексона, Вивитрола, Антаксона 
                        |и других. Эти препараты обеспечивают блокировку опиоидных рецепторов, вызывающих получение удовольствия от выпивания спиртного.
                        | С помощью такого типа медпрепаратов прекращается получение удовольствия от выпивки, что приводит к снижению алкогольной зависимости.
            button.btn-red.btn Получить консультацию
        .tabs__pane#content-2
            h3 Кодирование вшиванием ампулы
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/encodin.jpg", alt="Вшивание ампулы")
                .quit-alcohol__txt
                    p При так называемой Химзащите (вшивание ампул) происходит внедрение в тело контейнеров с популярным для кодирования препаратом 
                        |«Дисульфирам». После такой операции у человека блокируется фермент, преобразующий очень токсичный ацетальдегид в безобидную 
                        |уксусную кислоту.
                    p В ходе такого кодирования выпивающий спиртное человек практически сразу получает сильное алкогольное отравление, которое не дает 
                        |возможности получить удовольствие от выпивки спиртного, блокирует дальнейшее употребление алкоголя.
            button.btn-red.btn Получить консультацию
        .tabs__pane#content-3
            h3 Кодирование инъекцией (уколом) препарата
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/vaccination.jpg", alt="Инъекция")
                .quit-alcohol__txt
                    p С помощью уколов вводятся инъекции препарата для блокирования полного метаболизма алкоголя. Он препятствует дальнейшей 
                        |переработке ацетальдегида и обеспечивает мощные симптомы отравления алкоголем при любой попытке выпить спиртное.
                    p Прекращение алкогольной зависимости путем кодирования может быть основано также на блокаде опиоидных рецепторов, которые 
                        |отвечают за получение удовольствия от выпивания алкогольных напитков. Если препараты на основе «Дисульфирама» при 
                        |употреблении алкоголя вызывает симптомы острого отравления производной окисления этанола ацетальдегидом, то при применении 
                        |налктрексона решивший выпить алкоголь человек просто не ощутит удовольствия и эйфории от выпивки как раньше до кодирования.
                        | Состояние опьянения наступает, но не более — удовольствия и эйфорического состояния не будет.
                    p Такое методы, как правило, применяют в условиях стационара наркологической клиники.
            button.btn-red.btn Получить консультацию
        .tabs__pane#content-4
            h3 Психотерапевтический способ кодирования
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/Stock.jpg", alt="Психотерапия")
                .quit-alcohol__txt
                    p Разработанный еще в советское время метод психотерапевтического воздействия на сознание человека доктором Александром 
                        |Романовичем Довженко широко применялся в СССР для лечения алкоголизма. В основе этого метода были применены практики 
                        |гипноза, стрессовой терапии, методы психотерапевтического воздействия. Врач делал гипнотическое внушение и давал установку 
                        |пациенту на трезвое ведение жизни. Если пациент нарушал трезвость, то включалась данная ему в ходе психотерапевтического 
                        |воздействия программа негативного последствия нарушения трезвости.
            button.btn-red.btn Получить консультацию
        .tabs__pane#content-5
            h3 Гипноз
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/pexels1.jpg", alt="Гипноз")
                .quit-alcohol__txt
                    p Метод кодирования путем гипноза. Существует несколько методик такого кодирования на сегодняшний день, схема которых, 
                        |как правило, не разглашается публично. Методики применяются либо при групповом гипнозе, либо при индивидуальном. 
                        |Также различаются на директивный и скрытый методы.
            button.btn-red.btn Получить консультацию