.prices-tabs 
    .prices-tabs__nav
        a.prices-tabs__link.tabs__link_active(href="#content-1") Вывод из запоя на дому
        a.prices-tabs__link(href="#content-2") Лечение наркомании
        a.prices-tabs__link(href="#content-3") Лечение алкоголизма
        a.prices-tabs__link(href="#content-4") Лечение табакокурения
    .prices-tabs__content
        .tabs__pane.tabs__pane_show#content-1
            i Приезд врача от 15-ти минут
            p Вызвать нарколога на дом с целью вывода из запоя на дому, прерывание запоя 
                |и оказании помощи при похмелье — это возможность остановить запойное состояние не выходя из дома.
            p Состояние похмелья является состоянием жизнеугрожающим, поскольку 
                |сопровождается отёком головного мозга и повышенным артериальным давлением. Метод лечения капельницей от похмелья – это проверенный и эффективный способ нейтрализации тяги к алкоголю и симптомов похмелья, а значит и угрозы для жизни.
            p Через 2 минуты после постановки капельницы проходят симптомы похмелья — головная боль, 
                |тошнота, тревога, ощущение внутренней дрожи, бессонница, восстанавливается аппетит. 
                |После проведения данной процедуры пациент погружается в медикаментозный сон, который в 
                |норме продолжается в течении от 3-х до 12 часов. Результат проведения данной процедуры зависит 
                |от продолжительности алкогольного эксцесса, тяжести состояния пациента, а также от выбранной схемы лечения.
            include ./../../bem-blocks/cost/cost.pug
        .tabs__pane#content-2
            p amet consectetur adipisicing elit. Voluptatum recusandae quibusdam eligendi nemo 
        .tabs__pane#content-3
            p Voluptatum recusandae quibusdam eligendi nemo 
        .tabs__pane#content-4
            p Voluptatum recusandae quibusdam eligendi nemo 