.prices-tabs 
    .prices-tabs__nav
        a.prices-tabs__link.tabs__link_active(href="#content-1") Вывод из запоя на дому
        a.prices-tabs__link(href="#content-2") Лечение наркомании
        a.prices-tabs__link(href="#content-3") Лечение алкоголизма
        a.prices-tabs__link(href="#content-4") Лечение табакокурения
    .prices-tabs__content
        .tabs__pane.tabs__pane_show#content-1
            i Приезд врача от 15-ти минут
            p Вызвать нарколога на дом с целью вывода из запоя на дому, прерывание запоя 
                |и оказании помощи при похмелье — это возможность остановить запойное состояние не выходя из дома.
            p Состояние похмелья является состоянием жизнеугрожающим, поскольку 
                |сопровождается отёком головного мозга и повышенным артериальным давлением. Метод лечения капельницей от похмелья – это проверенный и эффективный способ нейтрализации тяги к алкоголю и симптомов похмелья, а значит и угрозы для жизни.
            p Через 2 минуты после постановки капельницы проходят симптомы похмелья — головная боль, 
                |тошнота, тревога, ощущение внутренней дрожи, бессонница, восстанавливается аппетит. 
                |После проведения данной процедуры пациент погружается в медикаментозный сон, который в 
                |норме продолжается в течении от 3-х до 12 часов. Результат проведения данной процедуры зависит 
                |от продолжительности алкогольного эксцесса, тяжести состояния пациента, а также от выбранной схемы лечения.
            include ./../../bem-blocks/cost/cost.pug
        .tabs__pane#content-2
            p В настоящее время, проблема лечения наркомании стоит крайне остро. Неприятное состояние связанное 
                |с обрывом приёма наркотиков, приводит пациентов за наркологической помощью. Эффективное снижение 
                |явлений абстиненции, является важнейшей и самой главной задачей в терапии наркоманий при вызове
                | врача нарколога на дом. В состоянии пациента преобладают, тревога беспокойство, бессонница, 
                |тягостные и мучительные боли в мышцах и суставах. Подобное состояние может продолжаться до 
                |нескольких недель. Снять данное состояние может инфузионная терапия с применением.
            p Нарколог на дому в СПб буквально за 2 минуты после установки капельницы устранит у пациента симптомы 
                |абстиненции — головная боль, тошнота, тревога, ощущение внутренней дрожи, бессонница, восстанавливается
                | аппетит. После проведения данной процедуры пациент погружается в медикаментозный сон, который в норме
                | продолжается в течении от 3-х до 12 часов. Результат проведения данной процедуры зависит от 
                |продолжительности приёма наркотических препаратов, тяжести состояния пациента, а также от выбранной
                | схемы лечения.
            include ./../../bem-blocks/cost/cost-2.pug
        .tabs__pane#content-3
            i Существует 2 подхода к лечению алкоголизма:
            p Полный отказ от употребления алкоголя на длительный период — кодирование от алкоголизма.
                |Полный отказ возможен в случае применения препаратов блокирующих ферменты алкогольдегидрогеназы.

            include ./../../bem-blocks/cost/cost-3.pug
        .tabs__pane#content-4
            i ЛЕЧЕНИЕ ТАБАЧНОЙ ЗАВИСИМОСТИ
            p Табачная зависимость — самая стойкая форма зависимости. Нет курильщика который не 
                |задумывался об отказе от табака, однако табачная зависимость — одна из самых мощных 
                |форм зависимости. Пациентов отказавшихся от табака, с первого дня начинает беспокоить
                | тревога, неусидчивость, психоэмоциональное напряжение. С целью снижения негативных 
                |последствий в тяжёлых формах синдрома отмены табака, врач — нарколог назначает 
                |поддерживающую терапию. Результат — снижение тяги к табаку и полный отказ от курения.
            include ./../../bem-blocks/cost/cost.pug