.tab.quit-alcohol
    .tabs__nav.quit-alcohol__nav
        a.tabs__link.tabs__link_active(href="#content-1") 1 шаг
        a.tabs__link(href="#content-2") 2 шаг
        a.tabs__link(href="#content-3") 3 шаг
        a.tabs__link(href="#content-4") 4 шаг
        a.tabs__link(href="#content-5") 5 шаг
        a.tabs__link(href="#content-6") 6 шаг
        a.tabs__link(href="#content-7") 7 шаг
        a.tabs__link(href="#content-8") 8 шаг
        a.tabs__link(href="#content-9") 9 шаг
        a.tabs__link(href="#content-10") 10 шаг
    .tabs__content.quit-alcohol__steps
        .tabs__pane.tabs__pane_show#content-1
            h3 1 шаг — необходимо признать, что мозг — это, фактически, наш злейший враг!
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/step1.jpg", alt="1 шаг")
                .quit-alcohol__txt
                    p Все проблемы с которыми мы сталкиваемся возникают изначально в его глубинах (страх, тревога, нежелание)
                        |, это и есть работа головного мозга. Он чинит нам препятствия, создаёт сложности, 
                        |формирует привычки и не даёт с ними справиться.
                    p Выпивая спиртное, мы получаем огромное количество выделенного мозгом от контакта 
                        |с алкоголем дофамина, нейромедиатора, отвечающего за радость, эйфорию, 
                        |удовольствие в головном мозге. Это количество настолько велико, что затмевает даже 
                        |самые радостные моменты нашей жизни. Такой «нетрудовой» поток радости и удовольствия 
                        |исходит именно от воздействия алкоголя на мозг. Поэтому он, получив «дешевые» 
                        |удовольствия через спиртное и обретя крепкую привязанность к нему, пытается добиться — типа,
                        | «хочу еще таких удовольствий, хочу больше такой быстрой радости, хочу быстро снять стресс 
                        |от жизни» самым простым путем, выпив алкоголя, не пытаясь решать навалившиеся трудные задачи, 
                        |а потом получать удовольствие от 
                        a(href="http://")  их решения.
            button.btn-red.btn Получить консультацию
        .tabs__pane#content-2
            h3 2 шаг — необходимо признать, что мозг — это, фактически, наш злейший враг!
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/alkogolik-v-seme.jpg", alt="1 шаг")
                .quit-alcohol__txt
                    p Все проблемы с которыми мы сталкиваемся возникают изначально в его глубинах (страх, тревога, нежелание)
                        |, это и есть работа головного мозга. Он чинит нам препятствия, создаёт сложности, 
                        |формирует привычки и не даёт с ними справиться.
                    p Выпивая спиртное, мы получаем огромное количество выделенного мозгом от контакта 
                        |с алкоголем дофамина, нейромедиатора, отвечающего за радость, эйфорию, 
                        |удовольствие в головном мозге. Это количество настолько велико, что затмевает даже 
                        |самые радостные моменты нашей жизни. Такой «нетрудовой» поток радости и удовольствия 
                        |исходит именно от воздействия алкоголя на мозг. Поэтому он, получив «дешевые» 
                        |удовольствия через спиртное и обретя крепкую привязанность к нему, пытается добиться — типа,
                        | «хочу еще таких удовольствий, хочу больше такой быстрой радости, хочу быстро снять стресс 
                        |от жизни» самым простым путем, выпив алкоголя, не пытаясь решать навалившиеся трудные задачи, 
                        |а потом получать удовольствие от их решения.
            button.btn-red.btn Получить консультацию
        .tabs__pane#content-3
            h3 3 шаг — необходимо признать, что мозг — это, фактически, наш злейший враг!
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/baner-home1-s.jpg", alt="1 шаг")
                .quit-alcohol__txt
                    p Все проблемы с которыми мы сталкиваемся возникают изначально в его глубинах (страх, тревога, нежелание)
                        |, это и есть работа головного мозга. Он чинит нам препятствия, создаёт сложности, 
                        |формирует привычки и не даёт с ними справиться.
                    p Выпивая спиртное, мы получаем огромное количество выделенного мозгом от контакта 
                        |с алкоголем дофамина, нейромедиатора, отвечающего за радость, эйфорию, 
                        |удовольствие в головном мозге. Это количество настолько велико, что затмевает даже 
                        |самые радостные моменты нашей жизни. Такой «нетрудовой» поток радости и удовольствия 
                        |исходит именно от воздействия алкоголя на мозг. Поэтому он, получив «дешевые» 
                        |удовольствия через спиртное и обретя крепкую привязанность к нему, пытается добиться — типа,
                        | «хочу еще таких удовольствий, хочу больше такой быстрой радости, хочу быстро снять стресс 
                        |от жизни» самым простым путем, выпив алкоголя, не пытаясь решать навалившиеся трудные задачи, 
                        |а потом получать удовольствие от их решения.
            button.btn-red.btn Получить консультацию
        .tabs__pane#content-4
            h3 4 шаг — необходимо признать, что мозг — это, фактически, наш злейший враг!
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/ben-hershey.jpg", alt="1 шаг")
                .quit-alcohol__txt
                    p Все проблемы с которыми мы сталкиваемся возникают изначально в его глубинах (страх, тревога, нежелание)
                        |, это и есть работа головного мозга. Он чинит нам препятствия, создаёт сложности, 
                        |формирует привычки и не даёт с ними справиться.
                    p Выпивая спиртное, мы получаем огромное количество выделенного мозгом от контакта 
                        |с алкоголем дофамина, нейромедиатора, отвечающего за радость, эйфорию, 
                        |удовольствие в головном мозге. Это количество настолько велико, что затмевает даже 
                        |самые радостные моменты нашей жизни. Такой «нетрудовой» поток радости и удовольствия 
                        |исходит именно от воздействия алкоголя на мозг. Поэтому он, получив «дешевые» 
                        |удовольствия через спиртное и обретя крепкую привязанность к нему, пытается добиться — типа,
                        | «хочу еще таких удовольствий, хочу больше такой быстрой радости, хочу быстро снять стресс 
                        |от жизни» самым простым путем, выпив алкоголя, не пытаясь решать навалившиеся трудные задачи, 
                        |а потом получать удовольствие от их решения.
            button.btn-red.btn Получить консультацию
        .tabs__pane#content-5
            h3 5 шаг — необходимо признать, что мозг — это, фактически, наш злейший враг!
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/losev.jpg", alt="1 шаг")
                .quit-alcohol__txt
                    p Все проблемы с которыми мы сталкиваемся возникают изначально в его глубинах (страх, тревога, нежелание)
                        |, это и есть работа головного мозга. Он чинит нам препятствия, создаёт сложности, 
                        |формирует привычки и не даёт с ними справиться.
                    p Выпивая спиртное, мы получаем огромное количество выделенного мозгом от контакта 
                        |с алкоголем дофамина, нейромедиатора, отвечающего за радость, эйфорию, 
                        |удовольствие в головном мозге. Это количество настолько велико, что затмевает даже 
                        |самые радостные моменты нашей жизни. Такой «нетрудовой» поток радости и удовольствия 
                        |исходит именно от воздействия алкоголя на мозг. Поэтому он, получив «дешевые» 
                        |удовольствия через спиртное и обретя крепкую привязанность к нему, пытается добиться — типа,
                        | «хочу еще таких удовольствий, хочу больше такой быстрой радости, хочу быстро снять стресс 
                        |от жизни» самым простым путем, выпив алкоголя, не пытаясь решать навалившиеся трудные задачи, 
                        |а потом получать удовольствие от их решения.
            button.btn-red.btn Получить консультацию
        .tabs__pane#content-6
            h3 6 шаг — необходимо признать, что мозг — это, фактически, наш злейший враг!
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/step1.jpg", alt="1 шаг")
                .quit-alcohol__txt
                    p Все проблемы с которыми мы сталкиваемся возникают изначально в его глубинах (страх, тревога, нежелание)
                        |, это и есть работа головного мозга. Он чинит нам препятствия, создаёт сложности, 
                        |формирует привычки и не даёт с ними справиться.
                    p Выпивая спиртное, мы получаем огромное количество выделенного мозгом от контакта 
                        |с алкоголем дофамина, нейромедиатора, отвечающего за радость, эйфорию, 
                        |удовольствие в головном мозге. Это количество настолько велико, что затмевает даже 
                        |самые радостные моменты нашей жизни. Такой «нетрудовой» поток радости и удовольствия 
                        |исходит именно от воздействия алкоголя на мозг. Поэтому он, получив «дешевые» 
                        |удовольствия через спиртное и обретя крепкую привязанность к нему, пытается добиться — типа,
                        | «хочу еще таких удовольствий, хочу больше такой быстрой радости, хочу быстро снять стресс 
                        |от жизни» самым простым путем, выпив алкоголя, не пытаясь решать навалившиеся трудные задачи, 
                        |а потом получать удовольствие от их решения.
            button.btn-red.btn Получить консультацию
        .tabs__pane#content-7
            h3 7 шаг — необходимо признать, что мозг — это, фактически, наш злейший враг!
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/step1.jpg", alt="1 шаг")
                .quit-alcohol__txt
                    p Все проблемы с которыми мы сталкиваемся возникают изначально в его глубинах (страх, тревога, нежелание)
                        |, это и есть работа головного мозга. Он чинит нам препятствия, создаёт сложности, 
                        |формирует привычки и не даёт с ними справиться.
                    p Выпивая спиртное, мы получаем огромное количество выделенного мозгом от контакта 
                        |с алкоголем дофамина, нейромедиатора, отвечающего за радость, эйфорию, 
                        |удовольствие в головном мозге. Это количество настолько велико, что затмевает даже 
                        |самые радостные моменты нашей жизни. Такой «нетрудовой» поток радости и удовольствия 
                        |исходит именно от воздействия алкоголя на мозг. Поэтому он, получив «дешевые» 
                        |удовольствия через спиртное и обретя крепкую привязанность к нему, пытается добиться — типа,
                        | «хочу еще таких удовольствий, хочу больше такой быстрой радости, хочу быстро снять стресс 
                        |от жизни» самым простым путем, выпив алкоголя, не пытаясь решать навалившиеся трудные задачи, 
                        |а потом получать удовольствие от их решения.
            button.btn-red.btn Получить консультацию
        .tabs__pane#content-8
            h3 8 шаг — необходимо признать, что мозг — это, фактически, наш злейший враг!
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/step1.jpg", alt="1 шаг")
                .quit-alcohol__txt
                    p Все проблемы с которыми мы сталкиваемся возникают изначально в его глубинах (страх, тревога, нежелание)
                        |, это и есть работа головного мозга. Он чинит нам препятствия, создаёт сложности, 
                        |формирует привычки и не даёт с ними справиться.
                    p Выпивая спиртное, мы получаем огромное количество выделенного мозгом от контакта 
                        |с алкоголем дофамина, нейромедиатора, отвечающего за радость, эйфорию, 
                        |удовольствие в головном мозге. Это количество настолько велико, что затмевает даже 
                        |самые радостные моменты нашей жизни. Такой «нетрудовой» поток радости и удовольствия 
                        |исходит именно от воздействия алкоголя на мозг. Поэтому он, получив «дешевые» 
                        |удовольствия через спиртное и обретя крепкую привязанность к нему, пытается добиться — типа,
                        | «хочу еще таких удовольствий, хочу больше такой быстрой радости, хочу быстро снять стресс 
                        |от жизни» самым простым путем, выпив алкоголя, не пытаясь решать навалившиеся трудные задачи, 
                        |а потом получать удовольствие от их решения.
            button.btn-red.btn Получить консультацию
        .tabs__pane#content-9
            h3 9 шаг — необходимо признать, что мозг — это, фактически, наш злейший враг!
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/step1.jpg", alt="1 шаг")
                .quit-alcohol__txt
                    p Все проблемы с которыми мы сталкиваемся возникают изначально в его глубинах (страх, тревога, нежелание)
                        |, это и есть работа головного мозга. Он чинит нам препятствия, создаёт сложности, 
                        |формирует привычки и не даёт с ними справиться.
                    p Выпивая спиртное, мы получаем огромное количество выделенного мозгом от контакта 
                        |с алкоголем дофамина, нейромедиатора, отвечающего за радость, эйфорию, 
                        |удовольствие в головном мозге. Это количество настолько велико, что затмевает даже 
                        |самые радостные моменты нашей жизни. Такой «нетрудовой» поток радости и удовольствия 
                        |исходит именно от воздействия алкоголя на мозг. Поэтому он, получив «дешевые» 
                        |удовольствия через спиртное и обретя крепкую привязанность к нему, пытается добиться — типа,
                        | «хочу еще таких удовольствий, хочу больше такой быстрой радости, хочу быстро снять стресс 
                        |от жизни» самым простым путем, выпив алкоголя, не пытаясь решать навалившиеся трудные задачи, 
                        |а потом получать удовольствие от их решения.
                        | «хочу еще таких удовольствий, хочу больше такой быстрой радости, хочу быстро снять стресс 
                        |от жизни» самым простым путем, выпив алкоголя, не пытаясь решать навалившиеся трудные задачи, 
                        |а потом получать удовольствие от их решения.
            button.btn-red.btn Получить консультацию
        .tabs__pane#content-10
            h3 10 шаг — необходимо признать, что мозг — это, фактически, наш злейший враг!
            .quit-alcohol__flex
                .quit-alcohol__img 
                    img(src="./wp-content/themes/detox-med/assets/img/step1.jpg", alt="1 шаг")
                .quit-alcohol__txt
                    p Все проблемы с которыми мы сталкиваемся возникают изначально в его глубинах (страх, тревога, нежелание)
                        |, это и есть работа головного мозга. Он чинит нам препятствия, создаёт сложности, 
                        |формирует привычки и не даёт с ними справиться.
            button.btn-red.btn Получить консультацию