section.chronic-alcoholism
    .container
        .btn.btn--green Хронический алкоголизм
        h2.section__title.section__title--alcoholism-treatment Хронический алкоголизм
        .section__description.section__description--alcoholism-treatment Чтобы поставить предварительный диагноз «хронический алкоголизм», 
            | достаточно убедиться в присутствии хотя бы двух симптомов из перечисленных ниже:
        ul
            li полностью отсутствует рвотная реакция на прием большого количества алкоголя;
            li если человек не может самостоятельно остановиться и пьёт обязательно «до отруба»;
            li способен пить несколько дней подряд;
            li на следующий день не может вспомнить, что происходило вчера во время пьянки;
            li утром испытывает “похмелье” и опохмеляется;
            li начинает пить даже в том случае, когда его ждут очень важные и неотложные дела;
