section.quit-alcohol
    .container
        h2.section__title Как бросить пить?
        p Поэтому тем, кто понимает свое «будущее», куда катится их жизнь при частом 
            |употреблении спиртного, и желающим избавиться от этой нарастающей зависимости, 
            |фактически бороться приходится с самим мозгом, у которого начинает присутствовать 
            |стабильная психологическая связь и потребность к употреблению алкоголя для получения
            | каких-то ярких быстрых «радостных» моментов в жизни после выпивки спиртного.
        include ./../../bem-blocks/prices-tabs/quit-alcohol__steps.pug