section.why
    .container
        h1.main__title.main__titles Почему мозг хочет выпить алкоголя?
        .why__flex
            .why__img 
                img(src="./wp-content/themes/detox-med/assets/img/why.jpg", alt="Почему мозг хочет выпить алкоголя?")
            .why__txt 
                p Все знают, что избавиться от 
                    i алкогольной зависимости 
                    |и бросить пить очень трудно, 
                    |а для многих — практически невозможно. Употребление спиртного крепко держит в 
                    |своих цепких руках. Перебороть психологическую зависимость, которой управляет
                    | ваш собственный мозг — тяжелейшая задача, ведь не мозг подчиняется вам в 
                    |большинстве случаев, а ваше тело подчиняется мозгу. Хочет тело попить воды, 
                    |и вы будете искать воду. Захочет тело поесть, оно дает сигнал мозгу и он, 
                    |управляя вами, ищет еду. А захочет мозг получить дозу алкоголя, и вам очень 
                    |захочется выпить. Так почему же возникает желание у нашего тела, а, фактически, 
                    |у нашего мозга, выпить алкогольного напитка?

                p Здесь надо искать, когда начинает возникать связь мозга и выпивки. 
                    |Все могут отметить, что начало потребление у человека алкоголя 
                    |связывается прежде всего с хорошими и яркими событиями — праздниками, 
                    |свадьбами, днями рождения и корпоративами. И вспоминая все эти праздники вы помните,
                    | а значит и ваш мозг помнит только радость веселье, хорошее настроение. Если и 
                    |бывало плохо от излишнего перепития спиртного, то это бывало на следующий день 
                    |и всегда находится оправдание этому — мол, перепил, с кем не бывает, но ведь было весело.
        p Также многие замечают, что выпивая после трудного рабочего дня рюмочку, другую алкоголя 
            |или даже легкого пивного напитка типа пива, сразу за этим наступает освобождение от стресса,
            | приходит хорошее настроение, отступает усталость. Специалистами это объясняется тем, 
            |что алкоголь фактически находится в группе наркотических веществ, и всемирная организация 
            |здравоохранения приравняла в 1975 году алкоголь к наркотику. Поступая в наш мозг, а для него 
            |фактически нет преград для доступа в нашем тела, он влияет на дофаминовые нейроны, которые 
            |возбуждаются и начинают вырабатывать дофамин, фактически вырабатывая гормон счастья и удовольствия. 
            |Мозг чувствует наступление этого периода и начинает это связывать с поступлением алкоголя, что, 
            |собственно, и приводит к образованию крепкой устойчивой положительной психологической связи между 
            |употреблением алкоголя и мозгом. Затем, чтобы получать такие же по степени «удовольствия» надо 
            |выпивать больше, затем еще больше и чаще, так как чувствительность дофаминовых рецепторов 
            |притупляется все больше и больше. И, фактически, человек плавно перетекает на вторую стадию 
            |алкоголизма, когда существует не только психологическая связь, но и появляется физиологическая 
            |зависимость от употребления алкоголя, требующая незамедлительного 
            i лечения от алкогольной зависимости.