.video {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 132rem;
    height: 25rem;
    margin: 5rem 0;

    @media (min-width: 560px) {
        height: 40rem;
    }

    @media (min-width: 768px) {
        height: 50rem;
    }

    @media (min-width: 992px) {
        height: 60rem;
    }

    @media (min-width: 1200px) {
        height: 70rem;
    }

    iframe {
        height: 100%;
        width: 100%;
    }

}
