.hamburger-menu
    input#menu__toggle(type="checkbox")
    label.menu__btn(for="menu__toggle"): span
    .menu__box
        include ./../../bem-blocks/header-nav/header-nav.pug
        .menu__box-bottom
            include ./../../bem-blocks/contacts/contacts.pug
            include ./../../bem-blocks/contacts/contacts2.pug
            include ./../../bem-blocks/social/social.pug
            button.header__btn-ring.btn-call Обратный звонок
