// /* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
    @media (min-width: 1200px) {
        display: none;
    }
}
input#menu__toggle[type="checkbox"] + label {
    &::before {
        background: transparent;
    }
    &::after {
        width: 0;
        height: 0;
        border: none;
        border-width: 0;
        transform: rotate(0deg);
    }
}
.hamburger-menu {
    position: relative;
    top: 0;
    right: 0;
    .menu__box-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .addres,
    .contacts,
    .social {
        margin-bottom: 3rem;
        @media (min-width: 1200px) {
            display: none;
        }
    }
    .addres {
        margin-left: -1rem;
        width: 18.4rem;
    }
    .btn-red {
        @media (min-width: 1200px) {
            display: none;
        }
    }
}
/* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: relative;
    // top: 0.5rem;
    top: 0;
    margin-left: auto;
    right: 2rem;
    width: 3rem;
    width: 3rem;
    height: 2.6rem;
    cursor: pointer;
    z-index: 91;
    transform: translatey(1.3rem);

    @media (min-width: 1200px) {
        display: none;
    }
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: #11c0ab;
    transition-duration: 0.25s;
    border-radius: 20px;
}
.menu__btn > span::before {
    content: "";
    top: -8px;
}
.menu__btn > span::after {
    content: "";
    top: 8px;
}
/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    overflow-x: auto;
    height: 0%;
    width: 0%;
    max-width: 41.1rem;

    top: 0;
    right: -100%;
    // transition-duration: 1s;
    background: #ebf7f5;
    @media (min-width: 640px) {
        width: 100%;
        max-width: 100%;
        background: linear-gradient(to left, #ebf7f5 52%, rgba(0, 0, 0, 0.1) 48%);
        border-radius: 0 0 0 90%;
    }
    @media (min-width: 900px) {
        width: 100%;
        max-width: 100%;
        background: none;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 50%, #ebf7f5 50%);
    }
    padding: 8rem 2rem;
    transition: all 0.4s;
    z-index: 90;
    .social ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .contacts {
        &::after {
            transform: translate(0.5rem, 1.5rem);
        }
        a {
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .social {
        li {
            margin-right: 4rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    button {
        margin-bottom: 3rem;
    }
    @media (min-width: 1200px) {
        display: block;
        width: 100%;
        background: transparent;
        position: inherit;
        visibility: visible;
        overflow: initial;
        height: 100%;
        width: 100%;
        max-width: 100rem;
        top: 0;
        right: 0;
        padding: 0;
    }
}

.menu__box-bottom {
    @media (min-width: 640px) {
        margin-left: auto;
        width: 48%;
    }
    @media (min-width: 1200px) {
        display: none;
    }
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
    height: 100%;
    width: 100%;
    // transition-duration: 0.7s;
    transition: all 0.4s;
    z-index: 90;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.4));
    @media (min-width: 640px) {
        background: linear-gradient(to left, #ebf7f5 52%, rgba(0, 0, 0, 0.6) 48%);
        border-radius: 0;
    }
    @media (min-width: 900px) {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 50%, #ebf7f5 50%);
    }
}
