nav.header__nav
    ul.header__nav-list
        li.header__nav-item
            a.header__item-link(href="about.html"): span.open О центре
            ul.header__drop-menu.reset
                li.header__drop-item
                    a.header__drop-link(href="doctors.html") Врачи
                li.header__drop-item
                    a.header__drop-link(href=".html") Вопрос-ответ
                li.header__drop-item
                    a.header__drop-link(href=".html") Лицензии
                li.header__drop-item
                    a.header__drop-link(href=".html") Отзывы
        li.header__nav-item
            a.header__item-link(href="services.html"): span.open Услуги
            ul.header__drop-menu
                li.header__drop-item
                    a.header__drop-link(href=".html") Вывод из запоя на дому
                li.header__drop-item
                    a.header__drop-link(href="#") Лечение алкоголизма
                li.header__drop-item
                    a.header__drop-link(href="#") Лечение наркомании
                li.header__drop-item
                    a.header__drop-link(href="#") Лечение табакокурения
                li.header__drop-item
                    a.header__drop-link(href="#") Кодирование от алкоголизма
                li.header__drop-item
                    a.header__drop-link(href="#") Капельница ДетоксМед24
        li.header__nav-item
            a.header__item-link(href="prices.html") Цены
        li.header__nav-item
            a.header__item-link(href=".html") Оплата
        li.header__nav-item
            a.header__item-link(href="articles.html") Статьи
        li.header__nav-item
            a.header__item-link(href="contacts.html") Контакты