nav.header__nav
    ul.header__nav-list
        li.header__nav-item
            a.header__item-link(href="about.html"): span.link-arow О центре
            ul.header__drop-menu.reset
                li.header__drop-item
                    a.header__drop-link(href="staff.html") Специалисты
                li.header__drop-item
                    a.header__drop-link(href="licenses.html") Лицензии
                li.header__drop-item
                    a.header__drop-link(href="schedule.html") Расписание
                li.header__drop-item
                    a.header__drop-link(href="reception.html") Правила записи на первичный приём
                li.header__drop-item
                    a.header__drop-link(href="treatment-metods.html") Методы лечения
                li.header__drop-item
                    a.header__drop-link(href="narcology.html") Наркология
        li.header__nav-item
            a.header__item-link(href="services.html"): span.link-arow Услуги центра
            ul.header__drop-menu
                li.header__drop-item
                    a.header__drop-link(href="alcoholism-treatment.html") Лечение алкоголизма
                li.header__drop-item
                    a.header__drop-link(href="#") Снятие алкогольной интоксикации
                li.header__drop-item
                    a.header__drop-link(href="#") Кодирование от алкоголизма
                li.header__drop-item
                    a.header__drop-link(href="#") Лечение наркомании
                li.header__drop-item
                    a.header__drop-link(href="#") Вывод из запоя
                li.header__drop-item
                    a.header__drop-link(href="#") Лечение табакокурения
                li.header__drop-item
                    a.header__drop-link(href="#") Услуги психотерапевта
                li.header__drop-item
                    a.header__drop-link(href="#") Услуги психолога
        li.header__nav-item
            a.header__item-link(href="prices.html") Цены на услуги
        li.header__nav-item
            a.header__item-link(href="doctor-at-home.html") Вызов врача на дом
        li.header__nav-item
            a.header__item-link(href="reviews.html") Отзывы
        li.header__nav-item
            a.header__item-link(href="blog.html") Блог
        li.header__nav-item
            a.header__item-link(href="contacts.html") Контакты