.post {
    width: 100%;
    article {
        width: 100%;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .main__title {
        width: 100%;
        color: #01120f;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    img {
        border-radius: 20px;
        // margin: 0 auto;
        margin-bottom: 1rem;
    }
    h2 {
        margin: 3rem 0;
        @include Nunito-Bold();
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.7rem;
        color: #01120f;

        width: 100%;
    }
    a {
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 170%;
        color: #000;
        display: inline-block;
        position: relative;
        transition: all 0.3s;

        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1rem;
            background-color: #11c0ab;
            transform: scaleX(1);
            transition: transform 0.5s;
        }
        &:hover,
        &:focus {
            transition: all 0.3s;
            text-shadow: rgba(1, 18, 15, 0.7) 1px 0px, rgba(17, 192, 171, 0.4) 1px 1px, rgba(17, 192, 171, 0.4) 1px 0px,
                rgba(17, 192, 171, 0.4) 1px 1px;
            &::before {
                transform: scaleX(0);
            }
        }
    }
}
.article {
    h4 {
        @include Nunito-Bold();
        font-style: normal;
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 170%;
        color: #01120f;
        margin-bottom: 1rem;
    }
}
// // вариант 2
// .post {
//     .main__title {
//         width: 100%;
//         color: #01120f;
//         text-align: center;
//         margin-bottom: 5rem;
//         @media screen and (min-width: 1200px) {
//             max-width: 100%;
//         }
//     }

//     p {
//         max-width: 100%;
//         display: inline-flex;
//         flex-wrap: wrap;
//         justify-content: space-between;
//         img {
//             margin-bottom: 3rem;
//             margin-top: 3rem;
//             @media (min-width: 1200px) {
//                 margin-top: 0;
//                 margin-bottom: 1.5rem;
//             }
//         }
//     }

//     figure {
//         margin: 0;
//         display: inline-flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         margin-bottom: 5rem;
//         @media (min-width: 768px) {
//             max-width: 28rem;
//             margin-right: 2rem;
//         }

//         @media (min-width: 900px) {
//             max-width: 36rem;
//         }
//         &:last-child {
//             float: right;
//         }
//         picture {
//             margin-bottom: 2rem;
//             order: 1;
//             @media (min-width: 1200px) {
//                 margin-right: 3rem;
//             }
//         }
//         figcaption {
//             float: left;
//             margin-bottom: 2rem;
//             @include Nunito-Bold();
//             font-style: normal;
//             font-weight: bold;
//             font-size: 1.6rem;
//             line-height: 170%;
//             color: #01120f;
//             margin-bottom: 1rem;
//             order: 0;
//             align-self: flex-start;
//             @media (min-width: 768px) {
//                 max-width: 28rem;
//             }
//             @media (min-width: 900px) {
//                 max-width: 36rem;
//             }
//         }
//         picture {
//             display: block;
//             @media (min-width: 768px) {
//                 max-width: 28rem;
//             }
//             @media (min-width: 900px) {
//                 max-width: 36rem;
//             }
//         }
//     }
//     a {
//         font-style: normal;
//         font-weight: normal;
//         font-size: 1.6rem;
//         line-height: 170%;
//         color: #000;
//         display: inline-block;
//         position: relative;
//         transition: all 0.3s;

//         &::before {
//             position: absolute;
//             content: "";
//             bottom: 0;
//             left: 0;
//             width: 100%;
//             height: 0.1rem;
//             background-color: #11c0ab;
//             transform: scaleX(1);
//             transition: transform 0.5s;
//         }
//         &:hover,
//         &:focus {
//             transition: all 0.3s;
//             text-shadow: rgba(1, 18, 15, 0.7) 1px 0px, rgba(17, 192, 171, 0.4) 1px 1px, rgba(17, 192, 171, 0.4) 1px 0px,
//                 rgba(17, 192, 171, 0.4) 1px 1px;
//             &::before {
//                 transform: scaleX(0);
//             }
//         }
//     }

//     ul {
//         counter-reset: number;
//     }
//     li {
//         font-style: normal;

//         font-size: 1.6rem;
//         line-height: 170%;
//         color: #01120f;

//         position: relative;

//         margin-bottom: 2rem;
//         &:last-child {
//             margin-bottom: 0;
//         }
//         &::before {
//             position: absolute;
//             counter-increment: number;
//             content: counter(number) ".";
//             top: 0;
//             left: 0;
//         }
//         h4 {
//             padding-left: 2rem;
//             @include Nunito-Bold();
//             font-weight: bold;
//         }
//         &:last-child {
//             margin-bottom: 0;
//         }
//     }
// }
// .post {
//     p {
//         min-width: 0;
//         align-self: center;
//         margin-right: 3rem;
//         max-width: fit-content;
//     }
// }
.post {
    ul {
        counter-reset: number;
    }
    li {
        font-style: normal;

        font-size: 1.6rem;
        line-height: 170%;
        color: #01120f;

        position: relative;

        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            position: absolute;
            counter-increment: number;
            content: counter(number) ".";
            top: 0;
            left: 0;
        }
        h4 {
            padding-left: 2rem;
            @include Nunito-Bold();
            font-weight: bold;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    figure {
        margin: 0;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 36rem;
        align-self: center;
        &:last-child {
            @media (min-width: 900px) {
                margin: 0 auto;
            }
        }
        @media (min-width: 768px) {
            max-width: 28rem;
        }

        @media (min-width: 900px) {
            max-width: 36rem;
        }
        &:last-child {
            float: right;
        }
        picture {
            margin-bottom: 2rem;
            order: 1;
            @media (min-width: 1200px) {
                margin-right: 3rem;
            }
        }
        figcaption {
            float: left;
            margin-bottom: 2rem;
            @include Nunito-Bold();
            font-style: normal;
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 170%;
            color: #01120f;
            margin-bottom: 1rem;
            order: 0;
            align-self: flex-start;
            @media (min-width: 768px) {
                max-width: 28rem;
            }
            @media (min-width: 900px) {
                max-width: 36rem;
            }
        }
        picture {
            display: block;
            @media (min-width: 768px) {
                max-width: 28rem;
            }
            @media (min-width: 900px) {
                max-width: 36rem;
            }
        }
    }
    p {
        margin: 0 auto;
        margin-bottom: 2rem;
        
        @media (min-width: 900px) {
            margin: 0;
            margin-bottom: 2rem;
        }
    }
}
