section.post
    .container 
        article 
            h1.main__title Алкоголик в семье
            p Мало из домочадцев может предположить, что такое несчастье как алкоголизм может 
                |коснуться и его дома. Вроде всего хватает. Почему же алкогольная зависимость может придти и 
                |в ваш дом? Почему это заболевание может захватить практически кого угодно?
                br
                br
            img.aligncenter(src="./wp-content/themes/detox-med/assets/img/alkogolik-v-seme.jpg", alt="Алкоголик в семье")
                
                
            h2 Почему в семье возникают проблемы если есть алкоголик?
            img.alignleft(src="./wp-content/themes/detox-med/assets/img/alkogolik-v-seme-jeto-vsegda-problema-dlja-okruzhajushhih.jpg", alt="")
            p Алкоголь приносит много несчастья в семью. Вначале это не 
                |кажется каким-то катастрофичным событием. Но по мере 
                |развития болезни становится очевидным, что в семью пришла 
                |беда. Когда в доме есть алкоголик — это значит будут частые 
                |ссоры. Он не сможет контролировать свое употребление спиртного 
                |и будет, скорей всего, часто напиваться, порой пропуская работу, 
                |не выполняя домашние поручения по дому — купить что-то в 
                |магазине, прибрать дом, сварить ужин, проконтролировать детей.
                
            h2 
                br
                |
                br
                |Почему алкоголик не может остановиться в употреблении алкоголя?
            p Алкоголь — это наркотик. Это определение было провозглашено еще в 1975 году Всемирной Организацией Здравоохранения. 
                    |Таким определением уже сказана половина того, почему человеку крайне тяжело отказываться от употребления 
                    |спиртных напитков. Воздействуя на мозг при попадании в организм, спирт заставляет его области, отвечающие 
                    |за радость, удовольствие и счастье, выделять вещества для раздражения этих рецепторов.
                    br
            
            p После выпивания спиртосодержащего напитка, человек попадает
                | в плен искусственно созданных ощущений эйфории и 
                |удовольствия, причем уровень этих ощущений может намного 
                |превышать уровень ощущений обычных радостей, которые 
                |сопровождают нашу жизнь. Это приводит к плохим результатам. 
                |Подстроившись под новые уровни, центральная нервная система 
                |уже не воспринимает достаточно ярко те уровни большого счастья, 
                |которые бывают у нас обычно — хорошая погода, красивая природа, 
                |хорошие отношения в семье и отличные показатели на работе, радость 
                |результатами жизни. Человеку создается впечатление, что без выпивки 
                |алкоголя все время чего-то  не хватает. И он снова и снова 
                |прикладывается к бутылке, чтобы получить сверхдозу эйфории.
                | Мозг пьющего человека пытается активно заставить повторить 
                |алкогольные опьянения, в ходе которых образуется такая мощная 
                |эйфория, веселье, радость, удовольствие. Получается замкнутый 
                |круг — алкоголь дает мнимое эйфорическое воздействие на мозг, 
                |мозг хочет потреблять алкоголь из-за этого эйфорического эффекта. 
                |Причем разомкнуть этот замкнутый круг мало кому удается
            img.alignright(src="./wp-content/themes/detox-med/assets/img/pjanyj-chelovek-vsegda-navodit-besporjadok-v-dome.jpg", alt="Пьяный человек")
            h2 Какие признаки есть для определения алкоголика?
            ul
                li 
                    h4 Признак ожидания
                    |Этот признак дает возможность определить, ожидает ли человек события, на котором он может 
                    |без проблем и без какого-то контроля со стороны семьи распивать спиртные напитки. Если, 
                    |допустим, намечается череда каких-то событий, например, в пятницу будет происходить встреча друзей, 
                    |потом какой-то кооператив на работе, затем через какое-то время день рождения дальнего друга. Эти события, например, 
                    |мужем сильно ожидаются и идет тщательная подготовка к ним. И после всех этих событий муж приходит домой в сильном опьянении, 
                    |то стоит задуматься, что он ожидал такого сорта события для, в общем-то, одного — выпить и насладиться бесконтрольностью 
                    |выпивки спиртного.
                    br 
                    |Тот человек, которого не интересует алкоголь, будет гораздо спокойнее относится к 
                    |этим событиям и не обязательно напиваться на таких праздниках
                li 
                    h4 Воспоминания о прошедших праздниках
                    |Разница таких воспоминаний человека без проблем с алкоголем и алкоголезависимого может состоять 
                    |в том, что обычный человек будет рассказывать о празднике обширно, про кухню, еду, гостей. 
                    |Если же расспросить про праздник зависимого от алкоголя, то можно больше услышать о выпивке на столе, 
                    |кто и чего пил, а кто сильно напился.
                li 
                    h4 Признак оправдывания
                    |Тот человек, который и сам понимает, что что-то происходит не так, что его тянет к алкоголю, 
                    |а отказаться он никак не может, то он будет невольно оправдываться за выпитое спиртное, за ситуации, 
                    |якобы способствующие выпиванию спиртных напитков. Например, пришел в гости к другу, а он поругался с женой. 
                    |Пришлось, мол, успокаивать друга и выпить с ним водки, например. Он пытается заранее защитить себя от возможного 
                    |упрека, почему пришел домой пьяный.
                    br
                    | Если же у человека нет проблем с алкогольной зависимостью, то ему и незачем оправдываться в таких ситуациях.
                li 
                    h4 Признак скованности в трезвом состоянии
                    |Большая разница между поведением человека в трезвом состоянии и в пьяном состоянии — еще один повод задуматься 
                    |об алкогольной зависимости. Если, например, в трезвом состоянии он очень скован, молчалив, 
                    |а в пьяном состоянии максимально раскован и рот на закрывается, то возможность болеть алкогольной 
                    |зависимостью такого человека очень велика.
            
            h2 Что может принести в семью алкоголик?
            
            figure.alignright
                picture: img(src="./wp-content/themes/detox-med/assets/img/alkogolizm-chasto-privodit-k-izmenam.jpg", alt="Измены")
                figcaption Измены
            p.aligncenter
                |
                br
                |Алкоголик в пьяном состоянии не контролирует 
                | себя ни в количестве выпитого, ни в действиях.
                | Поэтому измены — достаточно частые явления
                | в семьях, где находятся алкоголики. Пройдите 
                | лечение алкоголизма в наркологическом 
                | центре ДетоксМед.
                br 
                |
            figure.alignleft
                picture: img(src="./wp-content/themes/detox-med/assets/img/prezhde-vsego-ot-alkogolika-v-seme-stradajut-deti.jpg", alt="Страдают дети")
                figcaption Страдают дети
            figure.alignnone 
                picture: img(src="./wp-content/themes/detox-med/assets/img/upotreblenie-alkogolja-javljaetsja-osnovnym-istochnikom-ssor-v-seme.jpg", alt="Причина cсор")
                figcaption Ссоры
                