.post {
    width: 100%;
    article {
        width: 100%;
    }
    .article__top {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10rem;
        p {
            margin-bottom: 3rem;
        }
        img {
            max-width: 100%;
        }
    }
    .main__title {
        width: 100%;
        color: #01120f;
        text-align: center;
        margin-bottom: 5rem;
    }
    img {
        border-radius: 20px;
    }
    h2 {
        margin-bottom: 3rem;
        @include Nunito-Bold();
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.7rem;
        color: #01120f;
    }
    p {
        margin-bottom: 2rem;
    }
    img {
        display: block;
        margin: 0 auto;
        @media (min-width: 1200px) {
        }
    }
}
.article {
    &__block {
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 1200px) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        h2,
        p {
            min-width: 100%;
        }
    }
    h2 {
        margin-bottom: 3rem;
    }
    &__block-img {
        margin: 0 auto;
        margin-bottom: 3rem;
        align-self: baseline;
        @media (min-width: 1200px) {
            margin: 0;
            img {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }
    &__block-txt {
        @media (min-width: 1200px) {
            max-width: 55.3rem;
            min-width: 55.3rem;
        }
        p {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 8rem;
        @media (min-width: 810px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        }
        p {
            margin-bottom: 2rem;
            @media (min-width: 810px) {
                max-width: 36rem;
                min-width: 35rem;
                align-self: center;
            }
            @media (min-width: 1200px) {
                margin-right: 3rem;
            }
            i {
                position: relative;
                color: #11c0ab;
                @media (min-width: 600px) {
                    color: #01120f;

                    border-bottom: 1px solid #11c0ab;
                }
            }
        }
    }
    &__bottom-box {
        margin-bottom: 2rem;
        @media (min-width: 810px) {
            max-width: 36rem;
            min-width: 35rem;
            margin-right: 2rem;
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        @media (min-width: 1200px) {
            margin-right: 3rem;
            &:nth-child(2n) {
                margin-right: 3rem;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }

        h4 {
            @include Nunito-Bold();
            font-style: normal;
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 170%;
            color: #01120f;
            margin-bottom: 1rem;
        }
        p {
            @include Nunito-Regular();
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 170%;
            color: #01120f;
            max-width: 35rem;
            margin: auto 0;
        }
        img {
            max-width: 100%;
            border-radius: 20px;
            margin-bottom: 1rem;
            @media (min-width: 540px) {
                max-width: 36rem;
            }
        }
        i {
            display: inline-block;
            position: relative;
            padding-bottom: 0.3rem;
            transition: all 0.3s;
            text-decoration: underline 1px solid #11c0ab;
            @media (min-width: 411px) {
                text-decoration: none;
            }
            &::before {
                @media (min-width: 411px) {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0.1rem;
                    background-color: #11c0ab;
                    transform: scaleX(1);
                    transition: transform 0.5s;
                }
            }
        }
    }
}
.article__block {
    &:nth-child(3) {
        .article__block-img {
            order: 3;
        }
        .article__block-txt {
            order: 2;
            margin-bottom: 3rem;
            @media (min-width: 1200px) {
                margin-bottom: 0;
            }
        }
    }
}
dl {
    counter-reset: number;
    margin-bottom: 10rem;
}
dt {
    @include Nunito-Bold();
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 170%;
    color: #01120f;

    position: relative;
    padding-left: 2rem;
    margin-bottom: 2rem;
    &::before {
        position: absolute;
        counter-increment: number;
        content: counter(number) ".";
        top: 0;
        left: 0;
    }
}
dd {
    @include Nunito-Regular();
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 170%;
    color: #01120f;

    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    p {
        margin-top: 0.8rem;
        margin-bottom: 0;
    }
}
// вариант 2
.post {
    article {
        width: 100%;
        padding-bottom: 5rem;
    }
    .main__title {
        width: 100%;
        color: #01120f;
        text-align: center;
        margin-bottom: 5rem;
        @media screen and (min-width: 1200px) {
            max-width: 100%;
        }
    }
    p {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10rem;

        i {
            @media (min-width: 1200px) {
                max-width: 55.3rem;
                min-width: 55.3rem;
            }
        }
        img {
            margin-bottom: 1.5rem;
            margin-top: 3rem;
            @media (min-width: 1200px) {
                margin-top: 0;
            }
        }
    }
    dd {
        p {
            &:first-child {
                margin-bottom: 0;
            }
        }
    }
    figure {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        @media (min-width: 820px) {
            display: inline-block;
        }
        &:last-child {
            float: right;
        }
        &:first-of-type {
            em {
                margin-bottom: 2rem;
            }
            @media (min-width: 768px) {
                display: flex;
                justify-content: center;
                flex-direction: row;
                em {
                    margin-right: 3rem;
                    margin-bottom: 0;
                }
                figcaption {
                    align-self: center;
                }
            }
        }
        figcaption {
            float: left;
            margin-bottom: 2rem;

            p {
                display: block;
                margin-bottom: 0;
            }
            @media (min-width: 540px) {
                max-width: 36rem;
            }
        }
        em {
            display: block;
            @media (min-width: 540px) {
                max-width: 36rem;
            }
        }
    }
    a {
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 170%;
        color: #000;
        display: inline-block;
        position: relative;
        transition: all 0.3s;

        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1rem;
            background-color: #11c0ab;
            transform: scaleX(1);
            transition: transform 0.5s;
        }
        &:hover,
        &:focus {
            transition: all 0.3s;
            text-shadow: rgba(1, 18, 15, 0.7) 1px 0px, rgba(17, 192, 171, 0.4) 1px 1px, rgba(17, 192, 171, 0.4) 1px 0px,
                rgba(17, 192, 171, 0.4) 1px 1px;
            &::before {
                transform: scaleX(0);
            }
        }
    }
}
