.box-content.text
    h2.section__title Реализация идеи возможности употребления алкоголя — пьянство
    p Разберёмся же, что такое алкоголь.
    p Алкоголь – это, как явствует из ГОСТА от 1972 г. – наркотик. 
        |Он действует на нервную систему и вызывает уменьшение или даже полное прекращение
        | чувствительности – анестезию, «обезчувстливание» – по-русски, ко всему, что в 
        |есть в психике – мыслям, чувствам, ощущениям, и к боли в теле. Алкоголь также вызывает
        | изменения в головном мозге, которые мозг, возбуждаясь, воспринимает как ощущение удовольствия 
        |(эйфория). Эти особенности алкоголя – вызывать анестезию и эйфорию, составляют наркотическое действие.
    p Другая особенность – алкоголь проявляет свойства растворителя. Растворяет жиры. 
        |Попав в мозг, он растворяет оболочки нервных клеток – нейронов, 
        |которые на 60 % состоят из жиров. Нейроны «оставшись без шкурки», естественно, погибают. 
        |Кроме того алкоголь растворяет жировую смазку эритроцитов – клеток крови, переносящих 
        |кислород к клеткам организма, в результате чего эритроциты склеиваются и превращаются в 
        |тромбы, закупоривающие мелкие сосуды головного мозга, что приводит к кислородному голоданию 
        |клеток мозга и их гибели. В этом заключается токсическое действие алкоголя. Смерть нейронов 
        |субъективно человеком не воспринимается, тем более что мозг в момент опьянения, находится под
        | действием наркотической обесчувствленности.