.box-content.box
    p ГОСТ от 1972 года: 
        br
        br
        |ГОСУДАРСТВЕННЫЙ СТАНДАРТ 
        br
        |   СОЮЗА ССР 
        br
        |———————————————————————
        br
        |СПИРТ ЭТИЛОВЫЙ 
        br
        |РЕКТИФИКОВАННЫЙ ТЕХНИЧЕСКИЙ
        br
        |ТЕХНИЧЕСКИЕ УСЛОВИЯ
        br
        |ГОСТ 18300–72
        br
        |Издание официальное
        br
        |ГОСУДАРСТВЕННЫЙ КОМИТЕТ СТАНДАРТОВ СССР
        br
        |Москва
        br
        |———————————————————————
        br
        |Утвержден и введен в действие Постановлением Государственного комитета стандартов Совета Министров СССР от 26.12.1972 № 2329
        br
        |———————————————————————
        br
        |5. ТРЕБОВАНИЯ БЕЗОПАСНОСТИ
        br
        br
        |5.1 ЭТИЛОВЫЙ СПИРТ — легко воспламеняющаяся, бесцветная жидкость с характерным запахом, 
        strong относится к сильнодействующим наркотикам, вызывающим сначала возбуждение, а затем паралич нервной системы.