.boxs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3.7rem 0 1rem 0;
    @media (min-width: 1320px) {
        padding: 4.7rem 0 3.1rem 0;
    }
}
.box-content {
    width: 100%;
    // text-align: left;
    @media (min-width: 1200px) {
        width: 48%;
    }
    @media (min-width: 1320px) {
        max-width: 59.5rem;
        padding: 0;
    }
    p {
        @include OpenSans-Regular();
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 154.4%;
        color: $gray2;
        width: 100%;
        margin-bottom: 1.4rem;
        @media (min-width: 1320px) {
            max-width: 53.7rem;
        }
    }
    .section__title {
        // text-align: left;
        margin-bottom: 1.7rem;

        @media (min-width: 1200px) {
            text-align: initial;
        }
    }
}

.box {
    width: 100%;
    padding: 2.8rem 2.2rem;
    background: $gray6;
    border-radius: 10px;
    margin-bottom: 3rem;
    @media (min-width: 1200px) {
        width: 48%;
    }
    @media (min-width: 1320px) {
        padding: 2.8rem 2.2rem;
        max-width: 57.9rem;
        // margin-right: 3.6rem;
        margin-bottom: 0rem;
    }
    p {
        // border-bottom: 2px dashed rgb(151, 7, 7);
        @include OpenSans-Regular();
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 160%;
        color: $gray2;
        width: 100%;
        overflow: hidden;
        @media (min-width: 1320px) {
            max-width: 49.1rem;
        }
    }
}
