section.privacy-policy
    .container 
        h1.main__title.main__titles Политика конфиденциальности
        h2.privacy-policy__title  Общие положения
        p 1.1. Настоящая Политика обработки персональных данных (далее — Политика обработки ПД) ООО «Клиника Святого Петра» (далее — Оператор), 
            |ИНН 4716043725, расположенного по адресу: 187032, Ленинградская область, Тосненский район, пос. Тельмана, д.28 А, помещение 2, разработана 
            |в соответствии с Конституцией Российской Федерации, Трудовым кодексом Российской Федерации, Гражданским кодексом Российской Федерации, 
            |Федеральным законом от 27 июля 2006 года Не 149-ФЗ «Об информации, информационных технологиях и о защите информации», Федеральным законом 
            |27 июля 2006 года Мг 152-ФЗ «О персональных данных», постановлением Правительства РФ от 01.11.2012 М: 1119 «Об утверждении требований к 
            |защите персональных данных при их обработке в информационных системах персональных данных». иными федеральными законами и нормативно-правовыми актами.
        p 1.2. Политика обработки ПД разработана с целью обеспечения защиты прав и свобод субъекта персональных данных при обработке его персональных 
            |данных (далее—ПД).
        p 1.3. Положения Политики служат основой для разработки локальных нормативных актов, регламентирующих в ООО «Клиника Святого Петра» вопросы 
            |обработки персональных данных работников ООО «Клиника Святого Петра» и других субъектов персональных данных.
        h2.privacy-policy__title  Цели обработки персональных данных
        p Персональные данные обрабатываются Оператором в следующих целях:
        ol
            li  осуществление и выполнение возложенных законодательством Российской Федерации на Оператора функций, полномочий и обязанностей, в частности:
                ul 
                    li выполнение требований законодательства в сфере труда и налогообложения;
                    li ведение текущего бухгалтерского и налогового учёта, формирование, изготовление и своевременная подача бухгалтерской налоговой и статистической отчётности;
                    li выполнение требований законодательства по определению порядка обработки и защиты ПД граждан, являющихся клиентами или контрагентами ООО «Клиника Святого Петра» (далее — субъекты персональных данных).
            li  осуществления прав и законных интересов ООО «Клиника Святого Петра» в рамках осуществления видов деятельности, предусмотренных Уставом и иными локальными нормативными актами ООО «Клиника Святого Петра», или третьих лиц, либо достижения общественно значимых целей;
            li  оказание медицинских услуг;
            li  аналитической и статистической работы в процессе улучшения качества услуг, качества интернет-ресурсов компании;
            li  для предоставления пользователям информации на интересующие их темы, которую они согласились получать, для sms и email-рассылки новостей, акций, информации по новым услугам;
            li в иных законных целях.
        h2.privacy-policy__title  Правовое основание обработки персональных данных
        p Обработка ПД осуществляется на основе следующих федеральных законов и нормативно-правовых актов:
        ol
            li  Конституции Российской Федерации;
            li  Трудового кодекса Российской Федерации;
            li  Федерального закона от 27 июля 2006 года № 152-ФЗ «0 персональных данных»;
            li  Федерального закона «Об информации, информационных технологиях и о защите информации» от 27.07.2006 N 149-ФЗ.
            li  Положения об особенностях обработки персональных данных, осуществляемой без использования средств автоматизации. Утверждено постановлением Правительства Российской Федерации от 15 сентября 2008 года 687.
            li  Постановления от 1 ноября 2012 r. N 1119 06 утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных.
            li  приказ ФСТЭК России № 55, ФСБ России № 86, Мининформсвязи России 20 от 13 февраля 2008 г. «Об утверждении Порядка проведения классификации информационных систем персональных данных»;
            li  приказ ФСТЭК России от 18 февраля 2013 г. № 21 «Об утверждении состава и содержания организационных и технических мер по обеспечению безопасности персональных данных при их обработке в информационных системах персональных данных»;
            li  приказ Роскомнадзора от 05 сентября 2013 г. № 996 «Об утверждении требований и методов по обезличиванию персональных данных»;
            li  Приказ ФНС от 17 ноября 2010 г. № ММВ-7-3/611 «Об утверждении формы сведений о доходах физических лиц и рекомендации по ее заполнению, формата сведений о доходах физических лиц в электронном виде, справочников».
            li  Иные нормативные правовые акты Российской Федерации и нормативные документы уполномоченных органов государственной власти.
        h2.privacy-policy__title  Перечень действий с персональными данным
        p При обработке ПД Оператор будет осуществлять следующие действия с ПД:
        ul
            li сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование,
                | передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
        h2.privacy-policy__title Состав обрабатываемых персональных данных
        p 5.1. Обработке Оператором подлежат ПД следующих субъектов ПД:
        ul
            li сотрудники Оператора;
            li клиенты Оператора (ФИО, адрес, дата рождения, номер телефона, email, IP-адрес, ссылка на профиль в соцсетях‚ номер банковской карты);
            li контрагенты Оператора;
            li физические лица, обратившиеся к Оператору в порядке, установленном Федеральным законом «О порядке рассмотрения обращений граждан 
                |Российской Федерации».
        p 5.2. Состав ПД каждой из перечисленных в п. 5.1 настоящего Положения категории субъектов определяется согласно нормативным документам, 
            |перечисленным в разделе 3 настоящего Положения, а также нормативным документам Учреждения, изданным для обеспечения их исполнения.
        p 5.3. В случаях, предусмотренных действующим законодательством, субъект персональных данных принимает решение о предоставлении его ПД Оператору
            | и дает согласие на их обработку свободно, своей волей и в своем интересе.
        p 5.4. Оператор обеспечивает соответствие содержания и объема обрабатываемых ПД заявленным целям обработки и, в случае необходимости, принимает
            | меры по устранению их избыточности по отношению к заявленным целям обработки.
        p 5.5. Обработка специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных
            | или философских убеждений, в ООО «Клиника Святого Петра» не осуществляется.
        h2.privacy-policy__title Обработка персональных данных
        p 6.1. Обработка персональных данных в ООО «Клиника Святого Петра» осуществляется следующими способами:
        ul
            li неавтоматизированная обработка персональных данных;
            li автоматизированная обработка персональных данных с передачей полученной информации по информационно-телекоммуникационным сетям или без таковой;
            li смешанная обработка персональных данных.
        h2.privacy-policy__title Обеспечение защиты персональных данных при их обработке Оператором
        p Оператор принимает меры, необходимые и достаточные для обеспечения выполнения обязанностей, предусмотренных Федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных» и принятыми в соответствии с ним нормативными правовыми актами. Оператор самостоятельно определяет состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Федеральным законом от 27 июля 2006 года № 152 О персональных данных», постановлением Правительства от 15 сентября 2008 года 687 «Об утверждении Положения об особенностях обработки персональных данных, осуществляемой без использования средств автоматизации», постановлением Правительства от 01 ноября 2012 года № 1119 «Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных», приказом ФСТЭК от 18 февраля 2013 года № 21 Об утверждении состава и содержания организационных и технических мер по обеспечению безопасности персональных данных при их обработке в информационных системах персональных данных», и другими нормативными правовыми актами, если иное не предусмотрено федеральными законами.
        p К таким мерам относятся:
        ul
            li назначение Оператором ответственного за организацию обработки персональных данных;
            li издание Оператором документов, определяющих политику оператора в отношении обработки персональных данных, локальных актов по вопросам обработки персональных данных, а также локальных актов, устанавливающих процедуры, направленные на предотвращение и выявление нарушений законодательства Российской Федерации, устранение последствий таких нарушений;
            li применение правовых, организационных и технических мер по обеспечению безопасности персональных данных;
            li осуществление внутреннего контроля и (или) аудита соответствия обработки персональных данных Федеральному закону «О персональных данных» и принятым в соответствии с ним нормативным правовым актам, требованиям к защите персональных данных, политике Оператора в отношении обработки персональных данных, локальным актам Оператора;
            li определение оценки вреда, который может быть причинен субъектам персональных данных в случае нарушения Федерального закона «О персональных данных», соотношение указанного вреда и принимаемых оператором мер, направленных на обеспечение выполнения обязанностей, предусмотренных Федеральным законом «О персональных данных»;
            li ознакомление сотрудников Оператора, непосредственно осуществляющих обработку персональных данных, с положениями законодательства Российской Федерации о персональных данных, в том числе требованиями к защите персональных данных, документами, определяющими политику Оператора в отношении обработки персональных данных, локальными актами по вопросам обработки персональных данных, и (или) обучение указанных сотрудников.
        p 7.2. Оператор при обработке персональных данных принимает необходимые правовые, организационные и технические меры или обеспечивает их принятие для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных.
        h2.privacy-policy__title Право субъекта персональных данных на доступ к его персональным данным.
        p 8.1. Субъект ПД вправе требовать от Оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.
        p 8.2. Сведения предоставляются субъекту персональных данных или его представителю оператором при обращении либо при получении запроса субъекта персональных данных или его представителя. Запрос должен содержать номер основного документа, удостоверяющего личность субъекта персональных данных или его представителя, сведения о дате выдачи указанного документа и выдавшем его органе, сведения, подтверждающие участие субъекта персональных данных в отношениях с Оператором (номер договора, дата заключения договора, условное словесное обозначение и (или) иные сведения), либо сведения, иным образом подтверждающие факт обработки персональных данных Оператором, подпись субъекта персональных данных или его представителя. Запрос может быть направлен в форме электронного документа и подписан электронной подписью в соответствии с законодательством Российской Федерации.
        p 8.3. Оператор вправе отказать субъекту персональных данных в выполнении повторного запроса. Такой отказ должен быть мотивированным. Обязанность представления доказательств обоснованности отказа в выполнении повторного запроса лежит на Операторе.
        p 8.4. Субъект персональных данных имеет право на получение информации, касающейся обработки его персональных данных, в том числе содержащей:
        p подтверждение факта обработки персональных данных Оператором;
        p правовые основания и цели обработки персональных данных;
        p цели и применяемые Оператором способы обработки персональных данных;
        p наименование и место нахождения Оператора, сведения о лицах (за исключением сотрудников оператора), которые имеют доступ к персональным данным или которым могут быть раскрыты персональные данные на основании договора с оператором или на основании федерального закона;
        p обрабатываемые персональные данные, относящиеся к соответствующему субъекту персональных данных, источник их получения, если иной порядок представления таких данных не предусмотрен федеральным законом;
        p сроки обработки персональных данных, в том числе сроки их хранения;
        p порядок осуществления субъектом персональных данных прав, предусмотренных Федеральным законом «О персональных данных»;
        p информацию об осуществленной или о предполагаемой трансграничной передаче данных;
        p наименование или фамилию, имя, отчество и адрес лица, осуществляющего обработку персональных данных по поручению Оператора, если обработка поручена или будет поручена такому лицу.
        p 8.5. Если субъект персональных данных считает, что оператор осуществляет обработку его персональных данных с нарушением требований Федерального закона «О персональных данных» или иным образом нарушает его права и свободы, субъект персональных данных вправе обжаловать действия или бездействие оператора в орган, уполномоченный по вопросам защиты прав субъектов персональных данных, или в судебном порядке.
        p 8.6. Субъект персональных данных имеет право на защиту своих прав и законных интересов, в том числе на возмещение убытков и (или) компенсацию морального вреда в судебном порядке.