.slider-our-clinic {
    max-width: 100%;
    min-width: 100%;

    .swiper-scrollbar {
        background: rgba(17, 192, 171, 0.3);
        border-radius: 20px;
        height: 0.5rem;
        cursor: pointer;
        @media (min-width: 1024px) {
            bottom: 2rem;
        }
        @media (min-width: 1200px) {
            bottom: 0.3rem;
        }
        .swiper-scrollbar-drag {
            background: #11c0ab;
            border-radius: 20px;
            height: 1rem;
            top: -0.2rem;
        }
        @media (min-width: 1200px) {
            transform: translateX(50%);
            max-width: 55.5rem;
            min-width: 55.5rem;
        }
    }
    // содержимое слайдов
    &__img {
        width: 100%;
        height: 100%;
        transform: scale(1);
        transition: all 0.8s;
        img {
            width: 100%;
            height: 100%;
        }
        &:hover,
        &:focus {
            transform: scale(1.1);
            transition: all 0.8s;
        }
    }
}
.swiper-container.slider-our-clinic {
    padding-bottom: 4rem;
    @media (min-width: 620px) {
        padding-bottom: 0;
    }
    @media (min-width: 1200px) {
        padding-bottom: 4rem;
    }
}
.swiper-wrapper.slider-our-clinic__wrapper {
    width: 100%;
    height: 100%;
    @media (min-width: 1200px) {
        margin-bottom: 0;
    }
    @media (min-width: 1200px) {
        height: 55.5rem;
    }
}
.swiper-slide.slider-our-clinic__slide {
    @media (min-width: 1200px) {
        height: calc((100% - 3.8rem) / 2);
    }
    overflow: hidden;
    background: #c4c4c4;
    border-radius: 20px;

    overflow: hidden;
}
.our-clinic-prev,
.our-clinic-next {
    display: none;
    color: #11c0ab;
    font-size: 3rem;
    font-weight: bold;
    font-style: normal;
    cursor: pointer;
    transition: all 0.3s;
    @media (min-width: 1360px) {
        display: block;
        position: absolute;
        top: 51%;
    }
    &:hover,
    &:focus {
        color: #01120f;
        transform: scale(1.1);
        text-shadow: rgba(17, 192, 171, 0.4) 0px 2px, rgba(17, 192, 171, 0.4) -2px 2px, rgba(17, 192, 171, 0.4) -2px 0px,
            rgba(17, 192, 171, 0.4) -2px -2px, rgba(17, 192, 171, 0.4) 0px -2px, rgba(17, 192, 171, 0.4) 2px -2px;
        transition: all 0.3s;
    }
}
.our-clinic-next {
    right: -7rem;
}
.our-clinic-prev {
    left: -7rem;
    transform: rotate(180deg);
    &:hover,
    &:focus {
        transform: scale(1.1) rotate(180deg);

        transition: all 0.3s;
    }
}
.our-clinic-prev.swiper-button-disabled,
.our-clinic-next.swiper-button-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
}
// overliu

.img__overlay
// .eye svg
{
    position: absolute;
    opacity: 0;
    transition: all 0.3s linear;
    cursor: pointer;
}

.img__overlay {
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.5rem;
}

// .eye svg {
//     z-index: 100;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     opacity: 0;
//     width: 5rem;
//     height: 5rem;
//     fill: #fff;
//     pointer-events: none;

//     @media screen and (min-width: 1320px) {
//         width: 10rem;
//         height: 10rem;
//     }
// }

.swiper-lisences--small-first,
.swiper-lisences--small-second {
    .eye svg {
        width: 5rem;
        height: 5rem;
    }
}

.slider-our-clinic__slide:hover .img__overlay,
.slider-our-clinic__slide:hover .eye svg {
    opacity: 1;
    cursor: zoom-in;
}
