//- главный контейнер слайдера 
.swiper-container.slider-our-clinic
    //- обязательная оболочка
    .swiper-wrapper
        //- слайды
        .swiper-slide
            .slider-our-clinic__img
                img.minimized(src="./wp-content/themes/detox-med/assets/img/palata.jpg" data-full="./wp-content/themes/detox-med/assets/img/palata-max.jpg" width="316" height="474", alt="" )
                .img__overlay
        .swiper-slide
            .slider-our-clinic__img
                img.minimized(src="./wp-content/themes/detox-med/assets/img/adhy-savala.jpg" data-full="./wp-content/themes/detox-med/assets/img/adhy-savala-max.jpg" width="316" height="474", alt="" )
                .img__overlay
        .swiper-slide
            .slider-our-clinic__img
                img.minimized(src="./wp-content/themes/detox-med/assets/img/national-cancer.jpg" data-full="./wp-content/themes/detox-med/assets/img/national-cancer-max.jpg" width="316" height="474", alt="" )
                .img__overlay
        .swiper-slide
            .slider-our-clinic__img
                img.minimized(src="./wp-content/themes/detox-med/assets/img/martha-dominguez.jpg" data-full="./wp-content/themes/detox-med/assets/img/martha-dominguez-max.jpg" width="316" height="474", alt="" )
                .img__overlay
        .swiper-slide
            .slider-our-clinic__img
                img.minimized(src="./wp-content/themes/detox-med/assets/img/martha-gouveia.jpg" data-full="./wp-content/themes/detox-med/assets/img/martha-gouveia-max.jpg" width="316" height="474", alt="" )
                .img__overlay
        .swiper-slide
            .slider-our-clinic__img
                img.minimized(src="./wp-content/themes/detox-med/assets/img/martha-unsplash.jpg" data-full="./wp-content/themes/detox-med/assets/img/martha-unsplash-max.jpg" width="316" height="474", alt="" )
                .img__overlay

        .swiper-slide
            .slider-our-clinic__img
                img.minimized(src="./wp-content/themes/detox-med/assets/img/martha-unsplash.jpg" data-full="./wp-content/themes/detox-med/assets/img/martha-unsplash-max.jpg" width="316" height="474", alt="" )
                .img__overlay
        .swiper-slide
            .slider-our-clinic__img
                img.minimized(src="./wp-content/themes/detox-med/assets/img/martha-unsplash.jpg" data-full="./wp-content/themes/detox-med/assets/img/martha-unsplash-max.jpg" width="316" height="474", alt="" )
                .img__overlay
        .swiper-slide
            .slider-our-clinic__img
                img.minimized(src="./wp-content/themes/detox-med/assets/img/martha-unsplash.jpg" data-full="./wp-content/themes/detox-med/assets/img/martha-unsplash-max.jpg" width="316" height="474", alt="" )
                .img__overlay
    .swiper-scrollbar
.our-clinic-prev ➔ 
.our-clinic-next ➔
