section.banner.banner-addiction.banner-main-services
    .container 
        .banner__block
            h1.main__title Лечение наркомании в 
                br
                |Санкт-Петербурге и области
            p Нарколог на дому в СПб буквально за 2 минуты
            button.btn-red Вызвать врача