section.banner.banner-smoking.banner-main-services
    .container 
        .banner__block
            h1.main__title Лечение табакокурения
            p Результат — снижение тяги к табаку и полный отказ от курения.
            button.btn-red.btn-viziv Вызвать врача
    include ./../../bem-blocks/advantages/advantages.pug