section.banner.banner-detox.banner-main-services
    .container 
        .banner__block
            h1.main__title 
                i Специальное предложение 
                |“ДетоксМед24” - капельница + кодирование 
            p Уникальное предложение: всего за 4000р. — усиленная капельница + кодирование от алкоголя на месяц.
            button.btn-red.show-modal-2.btn(data-toggle="modal-2") Вызвать врача