.banner {
    width: 100%;
    margin: 0 auto;
    &__block {
        width: 100%;
        height: 100%;
        // padding: 16.3rem 0 10rem 0;
        // padding: 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 1200px) {
            align-items: flex-start;
            justify-content: center;
            margin-top: -3rem;
        }
    }
    h1 {
        position: relative;
        // margin-bottom: 4rem;
        margin-bottom: 3rem;
        z-index: 0;
        font-size: 2.8rem;
        line-height: 146.4%;
        @media (min-width: 411px) {
            font-size: 3rem;
        }
        @media (min-width: 620px) {
            font-size: 3.6rem;
        }
        @media (min-width: 1200px) {
            margin-bottom: 4rem;
            &::after,
            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                z-index: -1;
            }
            &::after {
                width: 6.5rem;
                height: 6.5rem;
                background: url("../img/icons/marcer2.svg") 100% 100% / cover no-repeat;
                transform: translate(-7rem, -5.3rem);
            }
            &::before {
                width: 9rem;
                height: 9rem;
                background: url("../img/icons/marcer.svg") 100% 100% / cover no-repeat;
                transform: translate(-5.5rem, -4rem);
            }
        }
    }
    p {
        // margin-bottom: 4rem;
        margin-bottom: 3rem;
        max-width: 48rem;
        font-style: normal;
        font-weight: normal;
        // font-size: 18px;
        font-size: 1.6rem;
        line-height: 146.4%;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        @media (min-width: 620px) {
            font-size: 1.8rem;
        }
        @media (min-width: 1200px) {
            margin-bottom: 4rem;
            font-size: 2.2rem;
            text-align: left;
        }
    }
    .btn-red {
        min-width: 23.2rem;
        margin-bottom: 3rem;
    }
}
.banner-main {
    @media (min-width: 0) {
        background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/baner-home1-s.jpg");
        background-size: cover;

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/baner-home1-s@2x.jpg");
            background-size: cover;
        }
    }
    padding: 5rem 0 0 0;

    @media (min-width: 411px) {
        min-height: 40rem;
        height: 60vh;
    }
    @media (min-width: 414px) {
        min-height: 50rem;
        height: 60vh;
    }
    @media (min-width: 540px) {
        min-height: 49.5rem;
        height: 65.1vh;
    }
    @media (min-width: 768px) {
        min-height: 65.5rem;
        height: 64.4vh;
        padding: 10.3rem 0 0rem 0;
    }
    @media (min-width: 1024px) {
        min-height: 62.2rem;
        height: 64.4vh;
    }
    @media (min-width: 1200px) {
        // min-height: 67.9rem;
        // height: 83vh;
        min-height: 56rem;
        height: 77vh;
        // background: url("../img/baner-home1.jpg") 100% 100% / cover no-repeat;
        background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/baner-home1.jpg");
        background-size: cover;
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            // background: url("../img/baner-home1@2x.jpg") 100% 100% / cover no-repeat;
            background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/baner-home1@2x.jpg");
            background-size: cover;
        }
    }
    @media (min-width: 1360px) {
        padding: 16.3rem 0 0rem 0;
    }
    .banner__block {
        @media (min-width: 768px) {
            justify-content: flex-start;
        }

        @media (min-width: 1200px) {
            display: block;
            margin-top: 0;
        }
    }
}
.banner-addiction {
    @media (min-width: 0) {
        background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-addiction-s.jpg");
        background-size: cover;

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-addiction-s@2x.jpg");
            background-size: cover;
        }
    }
    padding: 5rem 0 0 0;

    @media (min-width: 411px) {
        min-height: 40rem;
        height: 60vh;
    }
    @media (min-width: 414px) {
        min-height: 50rem;
        height: 60vh;
    }
    @media (min-width: 540px) {
        min-height: 49.5rem;
        height: 65.1vh;
    }
    @media (min-width: 768px) {
        min-height: 65.5rem;
        height: 64.4vh;
        padding: 10.3rem 0 0rem 0;
    }
    @media (min-width: 1024px) {
        min-height: 62.2rem;
        height: 64.4vh;
    }
    @media (min-width: 1200px) {
        // min-height: 67.9rem;
        // height: 83vh;
        min-height: 56rem;
        height: 77vh;
        // background: url("../img/baner-home1.jpg") 100% 100% / cover no-repeat;
        background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-addiction.jpg");
        background-size: cover;
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            // background: url("../img/baner-home1@2x.jpg") 100% 100% / cover no-repeat;
            background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-addiction@2x.jpg");
            background-size: cover;
        }
    }
    @media (min-width: 1360px) {
        padding: 16.3rem 0 0rem 0;
    }
}
.banner-alcoholism {
    @media (min-width: 0) {
        background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-alcoholism-s.jpg");
        background-size: cover;

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-alcoholism-s@2x.jpg");
            background-size: cover;
        }
    }
    padding: 5rem 0 0 0;

    @media (min-width: 411px) {
        min-height: 40rem;
        height: 60vh;
    }
    @media (min-width: 414px) {
        min-height: 50rem;
        height: 60vh;
    }
    @media (min-width: 540px) {
        min-height: 49.5rem;
        height: 65.1vh;
    }
    @media (min-width: 768px) {
        min-height: 65.5rem;
        height: 64.4vh;
        padding: 10.3rem 0 0rem 0;
    }
    @media (min-width: 1024px) {
        min-height: 62.2rem;
        height: 64.4vh;
    }
    @media (min-width: 1200px) {
        // min-height: 67.9rem;
        // height: 83vh;
        min-height: 56rem;
        height: 77vh;
        // background: url("../img/baner-home1.jpg") 100% 100% / cover no-repeat;
        background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-alcoholism.jpg");
        background-size: cover;
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            // background: url("../img/baner-home1@2x.jpg") 100% 100% / cover no-repeat;
            background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-alcoholism@2x.jpg");
            background-size: cover;
        }
    }
    @media (min-width: 1360px) {
        padding: 16.3rem 0 0rem 0;
    }
}
.banner-smoking {
    @media (min-width: 0) {
        background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-smoking-s.jpg");
        background-size: cover;

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-smoking-s@2x.jpg");
            background-size: cover;
        }
    }
    padding: 5rem 0 0 0;

    @media (min-width: 411px) {
        min-height: 40rem;
        height: 60vh;
    }
    @media (min-width: 414px) {
        min-height: 50rem;
        height: 60vh;
    }
    @media (min-width: 540px) {
        min-height: 49.5rem;
        height: 65.1vh;
    }
    @media (min-width: 768px) {
        min-height: 65.5rem;
        height: 64.4vh;
        padding: 10.3rem 0 0rem 0;
    }
    @media (min-width: 1024px) {
        min-height: 62.2rem;
        height: 64.4vh;
    }
    @media (min-width: 1200px) {
        // min-height: 67.9rem;
        // height: 83vh;
        min-height: 56rem;
        height: 77vh;
        // background: url("../img/baner-home1.jpg") 100% 100% / cover no-repeat;
        background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-smoking.jpg");
        background-size: cover;
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            // background: url("../img/baner-home1@2x.jpg") 100% 100% / cover no-repeat;
            background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-smoking@2x.jpg");
            background-size: cover;
        }
    }
    @media (min-width: 1360px) {
        padding: 16.3rem 0 0rem 0;
    }
}
.banner-encoding {
    @media (min-width: 0) {
        background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-encoding-s.jpg");
        background-size: cover;

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-encoding-s@2x.jpg");
            background-size: cover;
        }
    }
    padding: 5rem 0 0 0;

    @media (min-width: 411px) {
        min-height: 40rem;
        height: 60vh;
    }
    @media (min-width: 414px) {
        min-height: 50rem;
        height: 60vh;
    }
    @media (min-width: 540px) {
        min-height: 49.5rem;
        height: 65.1vh;
    }
    @media (min-width: 768px) {
        min-height: 65.5rem;
        height: 64.4vh;
        padding: 10.3rem 0 0rem 0;
    }
    @media (min-width: 1024px) {
        min-height: 62.2rem;
        height: 64.4vh;
    }
    @media (min-width: 1200px) {
        // min-height: 67.9rem;
        // height: 83vh;
        min-height: 56rem;
        height: 77vh;
        // background: url("../img/baner-home1.jpg") 100% 100% / cover no-repeat;
        background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-encoding.jpg");
        background-size: cover;
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
            // background: url("../img/baner-home1@2x.jpg") 100% 100% / cover no-repeat;
            background-image: linear-gradient(to top, rgba(2, 37, 33, 0.5)), url("../img/banner-encoding@2x.jpg");
            background-size: cover;
        }
    }
    @media (min-width: 1360px) {
        padding: 16.3rem 0 0rem 0;
    }
}
.banner-main-services {
    .banner__block {
        @media (min-width: 768px) {
            justify-content: center;
        }
        @media (min-width: 1200px) {
            display: flex;
            margin-top: -3rem;
        }
    }
}
