section.banner.banner-alcoholism.banner-main-services
    .container 
        .banner__block
            h1.main__title Лечение алкоголизма
            p Выезд врача круглосуточно и 100% анонимно!
            button.btn-red.btn-viziv Вызвать врача