section.banner.banner-main
    .container 
        .banner__block
            h1.main__title Помогаем быстро, эффективно и безопасно вернуться к счастливой жизни
            p Выводим из запоя, кодируем от алкоголизма, оказываем наркологическую помощь.
            button.btn-red.btn-viziv Вызвать врача
    include ./../../bem-blocks/advantages/advantages.pug


