section.banner.banner-encoding.banner-main-services
    .container 
        .banner__block
            h1.main__title Кодирование от алкоголизма
            p Помогаем справиться с непреодолимой тягой к употреблению алкоголя!
            button.btn-red.btn-viziv Вызвать врача