section.banner.banner-main.banner-main-services
    .container 
        .banner__block
            h1.main__title Вывод из запоя на дому
            p Выезд врача круглосуточно и 100% анонимно!
            button.btn-red Вызвать врача