.content-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 1024px) {
        width: 100%;
        flex-direction: row;
        align-items: initial;
        flex-wrap: nowrap;
    }

    &__img,
    &__text {
        width: 100%;

        @media screen and (min-width: 1320px) {
            width: 50%;
        }
    }

    &__img {
        width: 100%;
        max-width: 29rem;
        height: 17rem;
        overflow: hidden;
        margin-bottom: 2.9rem;
        border-radius: 1rem;

        @media screen and (min-width: 414px) {
            max-width: 35.7rem;
            height: 15.6rem;
        }

        @media screen and (min-width: 768px) {
            max-width: 57.5rem;
            height: 29.1rem;
            margin-bottom: 3.4rem;
        }

        @media screen and (min-width: 1024px) {
            margin: 0 2rem 0 0;
        }

        @media screen and (min-width: 1320px) {
            max-width: 57.9rem;
            height: 25.3rem;
            // margin: 0 5.5rem 0 0;
        }

        img {
            height: 100%;
            border-radius: 1rem;
        }
    }

    &__text {

        @media screen and (min-width: 1024px) {
            max-width: 42rem;
        }

        @media screen and (min-width: 1320px) {
            max-width: 55.1rem;
        }

        p:not(:last-child) {
            margin-bottom: 1.9rem;

            @media screen and (min-width: 1320px) {
                margin-bottom: 1.5rem;
            }
        }

        .content-block__text-title {

            @media screen and (min-width: 1024px) {
                text-align: initial;
            }
        }
    }
}

.content-block__img--recommendation {
        order: -1;
        width: 100%;
        max-width: 25rem;
        height: 17rem;
        overflow: hidden;

        @media screen and (min-width: 414px) {
            max-width: 31.3rem;
            height: 20rem;
        }

        @media screen and (min-width: 560px) {
            max-width: 45rem;
            height: 25rem;
        }

        @media screen and (min-width: 768px) {
            max-width: 59.8rem;
            height: 37.5rem;
        }

        @media screen and (min-width: 1024px) {
            height: 26.4rem;
        }

        @media screen and (min-width: 1320px) {
            order: 0;
            max-width: 42rem;
            height: 26.4rem;
        }

        img {
            width: 100%;
        }
}

.content-block__img--alcoholism-treatment {

    @media screen and (min-width: 1320px) {
        width: 57.9rem;
        height: 28.5rem;
        overflow: hidden;
    }
}

.content-block__img--alcoholism-causes {

    @media screen and (min-width: 768px) {
        width: 66.5rem;
        height: 29.1rem;
    }

    @media screen and (min-width: 1320px) {
        width: 57.9rem;
        height: 38.1rem;
        overflow: hidden;
    }
}

.content-block--narcology {
    // margin-top: 1rem;

    // @media screen and (min-width: 1320px) {
    //     margin-top: 2rem;
    // }

    .content-block__img {

        @media screen and (min-width: 560px) {
            width: 35.5rem;
            height: 19.6rem;
        }
    }

    &:first-of-type {

        .content-block__img {

            @media screen and (min-width: 1320px) {
                width: 57.9rem;
                height: 30rem;
            }

            img {
                width: 100%;
            }
        }
    }

    &:nth-of-type(2) {

        .content-block__img {
            
            @media screen and (min-width: 1320px) {
                width: 57.9rem;
                height: 36.8rem;
            }

            img {
                width: 100%;
            }
        }
    }

    .content-block__text {
        max-width: 56.1rem;
    }
}

.content-block__img--doctor-call {

    @media screen and (min-width: 1320px) {
        height: 30rem;
    }
}

.content-block__text--doctor-call {
    display: flex;
    flex-direction: column;

    .btn--blue {
        margin-top: auto;
        align-self: center;

        @media screen and (min-width: 1200px) {
            align-self: flex-start;
        }
    }
}

.alcoholism-causes,
.alcoholism-treatment {

    .content-block {

        @media screen and (min-width: 1320px) {
            align-items: initial;
        }
    }
}